[2019-08-24 20:18] NGame1 commented on #1420
Where you defined the GreenColor resource. If it is in App.xaml that's why
Then I should refer you to the #1237

This code

    <Grid BorderThickness="20">
        <Grid.BorderBrush>
            <LinearGradientBrush StartPoint="0,0" EndPoint="1,1">
                <GradientStop Color="Blue" Offset="0.25"/>
                <GradientStop Color="Purple" Offset="0.5"/>
                <GradientStop Co

[2019-08-25 01:45] davidjohnoliver commented on #1420
@NGame1 At the moment Uno doesn't support per-page/per-control style definitions (#119). Generally you should define your styles in a separate file within a top-level `ResourceDictionary`.

@TopperDEL The generated code can be a bit confusing.
[code]

Note that the `[NotImplemented]` attribute is actually excluded by the conditional for all platforms, indicating that `LinearGradientBrush` _is_ imp

[2019-08-25 13:16] wallyh010 opened #1423 "Cannot find guidance for running Wasm in IIS"
- what version of uno and what platforms you are using it with?
latest pre-release version
- what do you like?
ease of creating UI
- what is lacking?
cannot find reliable guidance for running in IIS (not express)

[2019-08-25 15:54] VGFP opened #1424 "Uno platform and Machine Learning"
## What would you like clarification on:

Does WebAssembly supports machine learning models? I know that UWP supports ONNX but is it going to work on WebAssembly? I have also a similar question: adding models to iOS and Android is the same as on Xamarin or are there any differences? It would be nice to have that clarified in your docs.

## Concern?

- [ ] Usage in industry
- [ ] Clarification of c

[2019-08-25 16:08] artemious7 opened #1425 "Cannot run the WASM project from template"
## Current behavior
The WASM project from the Uno App Template doesn't run. When I hit F5 to start the app with debugging on IIS Server, it builds successfully, opens Chrome browser window for a second and then closes and stops debugging. Sometimes I can see the Uno logo saying that the app is loading, but eventually it closes.
With Ctrl+F5 instead of F5 it runs successfully and displays Hello Wor

[2019-08-26 02:13] ghuntley opened #1426 "Add manifest.json in the default Uno WASM app solution template"
## What would you like to be added:

1. https://twitter.com/mzikmunddev/status/1165163264398901248?s=12
1. https://nicksnettravels.builttoroam.com/uno-as-a-pwa/

## Why is this needed:

![image](https://user-images.githubusercontent.com/127353/63660668-c3120400-c7fa-11e9-9770-5a40c0b48ccd.png)

## For which Platform:

- [ ] iOS
- [ ] Android
- [ ] WebAssembly
- [ ] Windows
- [x] Solution Templates

[2019-08-26 02:37] ghuntley commented on #1422
Howdy Stefano, sorry to hear that. This GitHub issue is the right place to share feedback it's always good to know about problems folks are experiencing. It might be a Visual Studio for Windows or configuration issue on your end though. I'm also running 16.2.3 w/1.45.0.1862 but haven't experienced this. Have tried creating a new app and a new library. Let's go through some basics shall we?

1. Wha

[2019-08-26 03:27] ghuntley commented on #1424
Howdy @vgfp, let's see if I can help you out. First up I need to clarify what the the Uno Platform is and is not. It's best to think of Uno as a user interface bridge that allows WinUI/UWP-based code (ie. Windows.UI.Xaml aka C# and XAML) to run on iOS, Android, and WebAssembly.

![](https://s3.amazonaws.com/uno-website-assets/wp-content/uploads/2019/08/21141002/diagram.png)

Libraries for Xamarin

[2019-08-26 03:33] ghuntley commented on #1423
Howdy @wallyh010, thanks for the feedback. Wondering if you have come across and read https://github.com/unoplatform/Uno.Wasm.Bootstrap#unowasmbootstrap?

[2019-08-26 03:56] #1364 closed

[2019-08-26 03:56] ghuntley commented on #1364
Closing off as has been merged as part of https://github.com/unoplatform/uno/pull/1383

[2019-08-26 07:49] NGame1 opened #1427 "Adding Name to a Resource fails on build"
## Current behavior
this code is fine:

    <UserControl.Resources>
        <LinearGradientBrush x:Key="TurnedOnLightGradiantColor" StartPoint="0,0.5" EndPoint="1,0.5">
            <LinearGradientBrush.GradientStops>
                <GradientStop Color="#897de3" Offset="0.5"/>
                <GradientStop Color="#764294" Offset="1"/>
            </LinearGradientBrush.GradientStops>
        </Line

[2019-08-26 07:59] pdecostervgls commented on #1401
I'll have to revisit this issue, since I currently have an app on Android which does have rounded buttons.

[2019-08-26 08:24] ghuntley opened #1428 "BindableProgressBar does not support IAttributeSet, defStyleAttr or defStyleRes"
## What would you like to be added:

Android.Widget.ProgressBar supports four constructors:

[code]

Currently [BindableProgressBar](https://github.com/unoplatform/uno/blob/master/src/Uno.UI/Controls/BindableProgressBar.Android.cs) only exposes

[code]

## Why is this needed:

ProgressBar has two modes:

1. A spinner.
1. A horizontal progress bar.

To create a horizontal progress bar the style mus

[2019-08-26 09:06] ghuntley opened #1430 "BindableUIProgressView does not support coder, frame or style"
## What would you like to be added:

UIKit.UIProgressView supports four constructors:

[code]

Currently [BindableUIProgressView ](https://github.com/unoplatform/uno/blob/master/src/Uno.UI/Controls/BindableUIProgressView.iOS.cs) only exposes

[code]

## Why is this needed:

Enable more scenarios, such as `UIProgressViewStyle.Bar`

## For which Platform:

- [x] iOS
- [ ] Android
- [ ] WebAssembly
-

[2019-08-26 09:15] ghuntley commented on #1430
Going to leave this as a `help wanted` and `good first issue`. See https://github.com/unoplatform/uno/pull/1429 as an example of what needs to be done.

[2019-08-26 12:25] jeromelaban commented on #1426
The main issue for this is about firefox's cache invalidation, particularly during debugging sessions.

Related https://github.com/unoplatform/Uno.Wasm.Bootstrap/issues/102

[2019-08-26 17:07] artemious7 commented on #1425
I suspected it :-)
I searched for it and couldn't find any info that debugging in WASM is not possible with F5.
Is it possible to make it more obvious right when I face this situation? For example,
[code]

[2019-08-27 02:26] #1428 closed

[2019-08-28 14:14] MatFillion opened #1440 "Support for Android 10 Compilation"
## What would you like to be added:
TargetFramework MonoAndroid100

## Why is this needed:
Apps that want to built/compile using Android Q's API Level need this.
## For which Platform:

- [ ] iOS
- [x] Android
- [ ] WebAssembly
- [ ] Windows

## Anything else we need to know?

[2019-08-28 20:27] #900 closed, assigned to nobody

[2019-08-29 00:14] davidjohnoliver opened #1444 "Implement ListViewItemPresenter and GridViewItemPresenter"
## What would you like to be added:
Support the `ListViewItemPresenter` and `GridViewItemPresenter` elements.

## Why is this needed:
These are used by the default `ListViewItem` and `GridViewItem` templates on Windows as they provide an ultra-lightweight way of supporting the most commonly-required visual states, improving `ListView` rendering performance. At present Uno is using the `ListViewIte

[2019-08-29 01:28] Daoting opened #1445 "Type "BinaryPrimitives" is in both "System.Memory.dll" and "mscorlib" in release 1.45.0 on iOS"
## Current behavior
error CS0433: 类型“BinaryPrimitives”同时存在于“System.Memory, Version=4.0.1.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51”和“mscorlib, Version=2.0.5.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e”中

## Expected behavior

## How to reproduce it (as minimally and precisely as possible)
`var length = BinaryPrimitives.ReadUInt32BigEndian(header.AsSpan(1));`

## Environment

Nuge

[2019-08-29 09:04] Delaire commented on #1192
Same error with Visual Studio 2019 Preview (version: 16.3.0) Preview 2.0

[2019-08-29 11:32] NGame1 opened #1446 "Unable to set LinearGradientBrush as TextBlock Foreground"
## Current behavior
TextBlock will be White or Transparent but it doesn't get any color.

    <Page.Resources>
            <LinearGradientBrush x:Key="MyGradColor"  StartPoint="0,0.5" EndPoint="1,0.5">
                <LinearGradientBrush.GradientStops>
                    <GradientStop Color="#eee998" Offset="0.33"/>
                    <GradientStop Color="#ffc7e6" Offset="0.66"/>

[2019-08-29 12:08] weitzhandler commented on #1385
The Uno.UI was referenced in the ReactiveUI.Uno project but the constructors weren't there.

[2019-08-29 12:26] jeromelaban commented on #1385
Thanks, I'll be taking a look at what Uno does in the ReactiveUI repo. Will let you know, but overall those constructors will stay :)

[2019-08-29 12:42] jeromelaban commented on #1385
So from what I can see, the generators are working properly, generating the ctors where there should be:
![image](https://user-images.githubusercontent.com/5839577/63940834-4d937700-ca38-11e9-8c09-d25676e45d25.png)
With those files in the generated folder:
![image](https://user-images.githubusercontent.com/5839577/63940873-613edd80-ca38-11e9-8833-897d2e0e60f2.png)

Where I see you may have an issu

[2019-08-29 15:06] artemious7 opened #1447 "Clarify NotImplementedException messages"
## What would you like to be added:
Messages to `NotImplementedExceptions` with explanation what exactly is not implemented and what should a user do about it.
Instead of

     throw new NotImplementedException();

let's make it like:

     throw new NotImplementedException("AcrylicBrush is not implemented in Uno.
               Please, use <win:AcrylicBrush/> to use it in UWP only, and change it

[2019-08-29 15:19] carldebilly commented on #1362
I tried the original report (with a ListView & tag `UnoIssue1362`) and I confirm I see the bug.  I upgraded `Uno.UI` to latest _stable_ version:
[code]

Reported problem solved.

But I'm not sure the @ghuntley's problem with SampleApps is related...

[2019-08-29 19:06] agneszitte-nventive opened #1448 "[iOS/Android] Opacity is not working when used on a LinearGradientBrush"
## Current behavior

Opacity property is not working on iOS and Android when used on a LinearGradientBrush.

iOS
![image](https://user-images.githubusercontent.com/16295702/63968312-6a966d00-ca6d-11e9-93e3-65750db9bfe7.png)

Android
![image](https://user-images.githubusercontent.com/16295702/63968493-df69a700-ca6d-11e9-8ccf-b061f7cac7e2.png)

## Expected behavior

Opacity property should work on i

[2019-08-29 19:13] MartinZikmund opened #1449 "Unusual label appearing on iOS"
## Current behavior

This is a very unusual problem which my brother spotted while testing my Uno-based app.

For some reason it randomly displayed a label with view model name at the bottom of the view (don't mind the WASM namespace, that is an accidental rename issue):

![image](https://user-images.githubusercontent.com/1075116/63969263-c5e25280-caa1-11e9-8fab-3b6481a46a99.png)

I haven't been a

[2019-08-29 21:08] MelbourneDeveloper commented on #1362
@carldebilly , @ghuntley thanks for looking in to this. Unfortunately the problem is different with the latest version. The ListBox doesn't show up at all. I made the ListBox red to highlight the issue. You can see it in UWP, but not on Wasm (Firefox, Edge or Chrome).

Wasm (Firefox,Edge,Chrome):
![image](https://user-images.githubusercontent.com/16697547/63976444-b3ddcf80-caf4-11e9-9db2-0dcfffe49

[2019-08-29 21:12] weitzhandler commented on #1385
As long as they're generated it shouldn't be an issue.

[2019-08-29 21:18] weitzhandler commented on #1385
For some reason, before I created those constructors by hand and referenced the RxUI repo in my project, my project's generated constructors couldn't find the base constructors. That was before the `AttachHandlers`.

See https://github.com/reactiveui/ReactiveUI/pull/2116.

[2019-08-30 02:01] ghuntley commented on #1448
FYI - there's another LinearGradientBrush issue open atm at https://github.com/unoplatform/uno/issues/1446

[2019-08-30 02:02] ghuntley commented on #1445
Thanks for reaching out!

We require the template to be filled out when submitting all issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Can you please provide a project that reproduces this issue?

T

[2019-08-30 16:52] #1352 closed

[2019-08-30 17:56] jeromelaban commented on #1449
This looks like an invalid binding operation. This can sometimes happen as a result of re-binding, or because a datatemplate value is being databound.

You can try forcefully setting the DataContext to null, so it does not get propagated down from the parent.

[2019-08-30 18:26] jeromelaban opened #1451 "[Wasm][SkiaSharp] RuntimeError: memory access out of bounds"
## Current behavior

In random cases, the runtime fails to render SKXamlCanvas content with the following error `RuntimeError: memory access out of bounds`.

## Expected behavior
The rendering does not fail.

## How to reproduce it (as minimally and precisely as possible)

No clear repro steps.

## Environment

Nuget Package:

Package Version(s):

Affected platform(s):
- [ ] iOS
- [ ] Android
- [x

[2019-08-31 11:02] NGame1 opened #1453 "Add ContainerContentChanging Event in ListView"
## What would you like to be added:
Need ContainerContentChanging in ListView

## Why is this needed:
I need to use it for odd/even differentiation between listview items
## For which Platform:

- [x] iOS
- [x] Android
- [x] WebAssembly
- [x] Windows

## Anything else we need to know?
Something like this:
[code]

[2019-09-02 17:27] artemious7 opened #1461 "[Skia][WASM] Cannot build with Uno.SkiaSharp NuGets. Even SkiaSharpTest won't build"
## Current behavior

When I add Uno.SkiaSharp NuGets to my WASM project, build fails.
Even the [Uno.Samples/SkiaSharpTest](https://github.com/unoplatform/Uno.Samples/tree/master/UI/SkiaSharpTest) sample app doesn't build for WASM, no matter what version of Uno.SkiaSharp or Uno.UI packages I use.

The build output:
[code]

## Expected behavior
It should build successfully.

## How to reproduce it (

[2019-09-02 22:29] artemious7 commented on #1461
I manually copied the files from C:\Users\User\AppData\Local\Temp\mono-wasm-f5cfc67c8ed\release directory to ...\release-dynamic directory. The app was built successfully and launched, but with no content and with this error in Google Chrome's console logs:

[localhost-1567463168786.log](https://github.com/unoplatform/uno/files/3567167/localhost-1567463168786.log)

[2019-09-03 01:27] jeromelaban commented on #1461
Thank you for your report! The issue you're observing is rather odd, as it seems that the mono SDK may not have been unpacked properly as there should be the `release-dynamic` folder in the temp directory.

The error you're seeing while copying `release` into `release-dynamic` is expected, as the `release` runtime does not support dllimports.

Could you try deleting the `C:\Users\User\AppData\Loca

[2019-09-03 04:30] DysnomianC opened #1462 "When the namespace of a class that extends from Windows.UI.Xaml.DependencyObject contains "Uno", the solution fails to build."
## Current behavior

When the namespace of a class that extends from `Windows.UI.Xaml.DependencyObject` contains "Uno" there are compile errors in the generated file, eg:

in project `MyProject.Uno.iOS` and file `MyDependencyObject.cs`.

## Expected behavior

Project to build with no compile errors.

## How to reproduce it (as minimally and precisely as possible)

Create new uno project called "My

[2019-09-03 06:57] artemious7 commented on #1461
It worked!
Thanks a lot 👍

[2019-09-03 06:58] artemious7 commented on #1461
It was quite weird though, because I had the same situation on two machines

[2019-09-03 09:39] pkar70 opened #1463 "[UWP] Cannot compile "Internal compiler error: Microsoft.NetNative.targets 697""
Hi,

I tried to convert my app from UWP/C# to Uno.
Uno/UWP compiles ok in Debug, but in Release compilation fails.

Error: Internal compiler error: Object reference not set to an instance of an object. C:\Program Files (x86)\Microsoft SDKs\UWPNuGetPackages\microsoft.net.native.compiler\1.7.3\tools\Microsoft.NetNative.targets 697

More detailed build log:
I have some clues:
1> Dependency "mscorlib,

[2019-09-03 14:19] carldebilly commented on #1362
Ok I'll reopen this issue.

[2019-09-03 21:19] dr1rrb opened #1468 "AnalyticsInfo is not implemented"
## What would you like to be added:
`Windows.System.Profile.AnalyticsInfo`

## Why is this needed:
To check the `VersionInfo.DeviceFamily` (like `VersionInfo.DeviceFamily == "Windows.Mobile"`)

## For which Platform:
- [x] iOS
- [x] Android
- [x] WebAssembly
- [ ] Windows

[2019-09-03 21:32] BrianDT opened #1469 "Full XAML structured Path Geometry definitions are not drawn under WASM."
Running under WASM the example of a Path defined as a full XAML Geometry group from the documentation page
https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/shapes
does not load
[code]
If the four RectangleGeometry and EllipseGeometry lines are removed then the XAML will load but nothing is drawn.

A primary reason for using this fuller definition rather than the string def

[2019-09-04 04:17] ghuntley commented on #1461
indeed, I'll keep this issue open for the next week or so. If it happens again please bump the thread with more information otherwise the robot will automatically close.

[2019-09-04 04:20] ghuntley commented on #1463
Thanks for reaching out!

Sorry to hear you are experiencing troubles porting your application. We'd like to work with you and help make it possible. Are you able to cut up your application to min-viable which reproduces this issue and share it with us? If you can't share your application then create a new app using the Uno solution wizard and reproduce it in there.

[2019-09-04 04:47] ghuntley commented on #1462
Howdy @DysnomianC. We'd greatly appreciate it if you could send in a pull-request. This document (WIP) should help you out https://gist.github.com/ghuntley/a9bf61f0184d3b040c9a46f43dfc7280#cross-targeting-override. Let us know if you experience any friction or have any questions.

[2019-09-04 07:12] pkar70 commented on #1463
App is very small, I can send it in ZIP file - but it looks like "hard coded" (in Uno.Core 1.28) reference to version 2.0.5.0 (of mscorlib, system...).

[2019-09-04 13:36] peternary opened #1473 "Grid rows in DataTemplate with no visible content affect layout in Android ListView"
## Current behavior

Grid rows that contain either a collapsed control or no control still appear to reserve space in a ListView datatemplate, shrinking available space for content-containing rows.

## Expected behavior

Empty/unused grid rows should not reserve any space, as in UWP.

## How to reproduce it (as minimally and precisely as possible)

In the attached project, launch in Android - the

[2019-09-04 13:58] ghuntley commented on #1463
Can you please attach it to GitHub or push it to a repository? https://help.github.com/en/articles/file-attachments-on-issues-and-pull-requests

[2019-09-04 14:18] ghuntley commented on #1462
Lovely 💖💖

[2019-09-04 14:18] #1462 closed

[2019-09-04 14:34] pkar70 commented on #1463
[BackupSMS_Uno.UWPShared.zip](https://github.com/unoplatform/uno/files/3574975/BackupSMS_Uno.UWPShared.zip)
I think these files should be enough.

Changing reference Uno.Core from 1.27.0 to 1.28.0
changes "build OK" to build "Error: Internal compiler error: Object reference not set to an instance of an object."

Visual Studio version info:
Microsoft Visual Studio Community 2017
Version 15.9.15
Vis

[2019-09-04 16:06] dr1rrb opened #1477 "Image does not inherits from FrameworkElement"
## What would you like to be added:
The `Image` control should inherit from `FrameworkElement` instead of `UIImageView` on iOS and `ImageView` on Android

## Why is this needed:
To be able to manipulate images like any other controls

## For which Platform:
- [x] iOS
- [x] Android
- [ ] WebAssembly
- [ ] Windows

## Notes:
This needs to be fixed prior to https://github.com/unoplatform/uno/issues/4

[2019-09-04 16:43] jeromelaban opened #1478 "Page.NavigatedTo is invoked after Page.Loaded"
## Current behavior
During a frame navigation , `Page.NavigatedTo` is invoked after `Page.Loaded`.

## Expected behavior
`Page.NavigatedTo` is invoked before `Page.Loaded`,

## Environment
Package Version(s): 1.45

Affected platform(s):
- [x] iOS
- [x] Android
- [x] WebAssembly
- [ ] Windows
- [ ] Build tasks

Visual Studio
- [ ] 2017 (version: )
- [ ] 2019 (version: )
- [ ] for Mac (version: )

R

[2019-09-04 17:41] pkar70 opened #1479 "[Droid] BottomAppBar is 'missing'"
When I try to port app to Uno, BottomAppBar is lost.

## Current behavior
No Page.BottomAppBar is visible.

## Expected behavior
Should be visible.

## How to reproduce it (as minimally and precisely as possible)

I created even new Solution/Project, and changed MainPage.xaml to this:

<Page
    x:Class="testAppBar.MainPage"
    xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"

[2019-09-04 20:43] dr1rrb opened #1480 "Drag and Drop support"
## What would you like to be added:
`UIElement.< DragEnter | DragLeave | DragOver | DragStarting | Drop | DropCompleted >` events, and the matching overridable methods `Control.< OnDragEnter(DragEventArgs) | OnDragLeave(DragEventArgs) | OnDragOver(DragEventArgs) | OnDrop(DragEventArgs) >`

## Why is this needed:
Cause I like to drag and drop stuff ... and it matches the UWP API.

## For which Plat

[2019-09-04 20:44] wallyh010 opened #1481 "How\where to configure BaseURL for Wasm app that uses WasmHttpHandler"
How\where to configure BaseURL (http://localhost:8080) for Wasm app that uses WasmHttpHandler?
Something like App.config or Web.config?
Is there a file in \bin\Debug\netstandard2.0\dist that can be configured for example?

And once the value is configured, how is it loaded in App.xaml.cs ?

Sorry to ask about something that should be so simple, but I've read the documentation, looked at the exampl

[2019-09-04 21:03] wallyh010 commented on #1423
Realized that Visual Studio was adding a web.config file to the root of project MyProject.Wasm.  This web.config file included "IISSupport" launcher commands.
Updated my IIS web app to point to : Source\MyProject\bin\Debug\netstandard2.0\dist.
Now if I can just figure out where and how to access a configurable value for a BaseURL used to communicate with a REST API service. Submitted a different t

[2019-09-04 21:16] RCTycooner opened #1482 "VS 19 keeps freezing when trying to add Uno Library project"
Hi,

## Current behavior

I'm trying to add an Uno Platform "Cross-Platform Library" to a solution containing an Uno's Cross-Platform App. Visual studio keeps freezing (default frosting/not-responding overlay) while trying to add such a project.

## Expected behavior

That the project is added without a fuss :)

## How to reproduce it (as minimally and precisely as possible)

- Open VS
- Create a

[2019-09-04 21:20] wallyh010 commented on #1482
Did you try running Visual Studio in Admin mode?

[2019-09-04 21:24] RCTycooner commented on #1482
Just found a fix:

I compared the sln files of my original solution with a test-sln where I tried the workaround as I stated above.

The only difference was this line:
_(original solution)_
VisualStudioVersion = 16.0.29209.62

_(new solution)_
VisualStudioVersion = 16.0.29215.179

After changing this line in the original solution and reloading it, I was able to add the library project.

[2019-09-04 22:40] DysnomianC commented on #1462
Thanks for including this change and guiding me through the process. 😄

[2019-09-05 00:13] jeromelaban commented on #1482
Thanks for the report!

This is an issue with the way the SDK Libraries are handled by Visual Studio, something that appears only when creating a library for the first time when the nuget cache is empty.

The workaround is the following:
- Create a file named `workaround.csproj` with the following content:
[code]
- Using a Visual Studio Command Prompt, run the following command in the folder conta

[2019-09-05 07:14] RCTycooner commented on #1482
It could indeed be related to the cache, it seems to be working in all cases now. (I haven't cleared the nuget cache of course)

[2019-09-05 07:17] RCTycooner commented on #1422
This seems similar to my issue I posted yesterday (I didn't find this thread back then, my apologies for the duplicate)
https://github.com/unoplatform/uno/issues/1482

A solution was posted over there, suggesting it is an issue with the nuget cache.

[2019-09-05 07:21] ghuntley commented on #1422
Going to close this one out and keep https://github.com/unoplatform/uno/issues/1482 open instead.

[2019-09-05 07:21] #1422 closed

[2019-09-05 07:24] ghuntley commented on #1482
Hmm. Let's keep this one open. This definitely isn't the first-time experience we want folks to have with the Uno platform. If it happens to you again (or anyone else) please raise a Visual Studio for Windows feedback ticket via https://docs.microsoft.com/en-us/visualstudio/ide/feedback-options?view=vs-2019#report-a-problem

[2019-09-05 08:22] ghuntley commented on #1481
Howdy @wallyh010, thanks so much for opening up the issue. It's actionable feedback to the team that documentation needs to improve. 👍

Over at https://github.com/nventive/Uado you'll find an application which demonstrates how to conditionally switch HttpHandlers on a per-platform basis. We'll be moving it shortly over to https://github.com/unoplatform to improve discoverability:

![image](https:/

[2019-09-05 08:24] ghuntley commented on #1481
If you have any other q's about documentation, please raise a new GitHub issue. I'm going to leave this one open as `help wanted`. Our documentation is over at https://github.com/unoplatform/uno/tree/master/doc - if this helped we'd <3 a documentation pull-request.

[2019-09-05 08:36] ghuntley opened #1486 "Conditionally run CI based upon contents that have changed."
## What would you like to be added:

A little bit of smarts to make CI cycle time faster, some ideas:

- If PR is to README.md then don't run CI.
- If PR is to docs/* then don't build src/* (nb. may not be possible - is there a dependency on uwpsyncgenerator?)

## Why is this needed:

This PR https://github.com/unoplatform/uno/pull/1485/files took and hour to build :p

## Anything else we need to

[2019-09-05 08:38] ghuntley commented on #1375
@all-contributors please add @rockfordlhotka for his blogpost at http://www.lhotka.net/weblog/UnoPlatformAndWebAssemblyWithCSLAV5.aspx

[2019-09-05 08:38] ghuntley commented on #1375
@all-contributors please add @rockfordlhotka for his blog at http://www.lhotka.net/weblog/UnoPlatformAndWebAssemblyWithCSLAV5.aspx

[2019-09-05 09:13] ghuntley commented on #1449
Let us know if you can reproduce it @MartinZikmund. 👍

[2019-09-05 11:06] ghuntley commented on #1375
@all-contributors please add @nickrandolph for his blog at https://nicksnettravels.builttoroam.com/uno-as-a-pwa/

[2019-09-05 13:03] wallyh010 commented on #1481
I see that UnoHttpClientHandler conditionally inherits from a Wasm, IOS or Android HttpClientHandler; however, the URI for the BaseAddress for the associated HttpClient is created using hard-coded internal constants which are compiled into the code which is what I don't want.

public const string AzureDevOpsRepositoryPath = "https://dev.azure.com/"; //<-- Configure externally
public const string B

[2019-09-05 13:15] carldebilly commented on #1387
The fix has been merged into "master" branch, Package v`1.46.221-dev.2630`

[2019-09-05 13:15] #1387 closed

[2019-09-05 14:07] ghuntley commented on #1481
Ah, so you are after insights how to do https://docs.microsoft.com/en-us/dotnet/api/system.configuration.configurationmanager.appsettings but on WebAssembly?

[2019-09-05 14:25] wallyh010 commented on #1481
Something like that; however, I don't think ConfigurationManager works in UWP applications and therefore will not work in the Wasm app either.  My research indicates that a possible solution involves adding a configurable text file to Assets; however, this strategy has failed because StorageFile.GetFileFromApplicationUriAsync is not implemented in Uno.Ui.
The following blog article describes what

[2019-09-05 14:46] dr1rrb opened #1490 "WriteableBitmap.Invalidate does nothing"
## Current behavior
Even inf not flagged as `NotImplemented` the `WriteableBitamap.Invalidate` does nothing.

## Expected behavior
It works

## Environment
Affected platform(s):
- [x] iOS
- [x] Android
- [x] WebAssembly
- [ ] Windows
- [ ] Build tasks

[2019-09-05 16:39] ghuntley opened #1492 "Implement Windows.UI.Input.PointerUpdateKind"
## What would you like to be added:

https://docs.microsoft.com/en-us/uwp/api/windows.ui.input.pointerupdatekind

## Why is this needed:

https://github.com/unoplatform/Uno.Xamarin.Forms/pull/9#discussion_r321335826

## For which Platform:

- [x] iOS
- [x] Android
- [x] WebAssembly
- [ ] Windows

## Anything else we need to know?

https://github.com/unoplatform/uno/blob/master/src/Uno.UWP/Generate

[2019-09-06 13:07] NGame1 commented on #1446
Hi there, gradient color doesn't apply on Grid and Border in IOS too
it's fine on Android and Windows.

[2019-09-06 13:09] davidjohnoliver commented on #1446
@NGame1 Can you specify which property it's not applying to? `BorderBrush` or `Background`?

[2019-09-06 13:16] NGame1 commented on #1446
I edited my reply I tried on Border, It didn't work
Now I tried on Background and it worked on Grid and also, worked on Border control too

[2019-09-06 14:07] dr1rrb commented on #1492
The implementation is done in https://github.com/unoplatform/uno/issues/1492

[2019-09-06 14:15] jeromelaban commented on #1397
This is already supported, and enhanced by #1491 :)

[2019-09-06 14:15] #1397 closed

[2019-09-06 15:32] MartinZikmund commented on #1449
Couldn't yet. Will let you know if I do find a way to reproduce

[2019-09-06 15:35] MartinZikmund commented on #1468
`DeviceForm` is clear, but what should it return for `DeviceFamily`? Something like `Android.Mobile`, etc.?

[2019-09-06 16:21] yowl opened #1494 "Wasm: ContentDialog Closing support"
## What would you like to be added:
The Closing event
## Why is this needed:
To get parity with UWP and allow scenarios where the closing should be prevented

## For which Platform:

- [ ] iOS
- [ ] Android
- [x ] WebAssembly
- [ ] Windows

## Anything else we need to know?

See https://github.com/yowl/UnoStandardRefTest2/tree/contentdialog-closing for an example

[2019-09-06 16:21] yowl opened #1495 "Wasm: ContentDialog Closing support"
## What would you like to be added:

The Closing event

## Why is this needed:
To get parity with UWP and allow scenarios where the closing should be prevented

## For which Platform:

- [ ] iOS
- [ ] Android
- [x] WebAssembly
- [ ] Windows

## Anything else we need to know?

See https://github.com/yowl/UnoStandardRefTest2/tree/contentdialog-closing for an example

[2019-09-06 16:30] NGame1 commented on #1338
Same issue on IOS but seems the IOS behavior is not similar to Android.

[2019-09-06 16:50] yowl opened #1496 "Add support for `CalendarView`"
## What would you like to be added:
CalendarView https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Controls.CalendarView

## Why is this needed:
There is no alternative giving a similar compact view

## For which Platform:

- [ ] iOS
- [ ] Android
- [x] WebAssembly
- [ ] Windows

## Anything else we need to know?

[2019-09-07 00:18] #1492 closed

[2019-09-07 00:33] ghuntley commented on #1496
`CalendarView` isn't [currently implemented on any platform](https://github.com/unoplatform/uno/blob/master/src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/CalendarView.cs). Noted, your preference for `WebAssembly` first.

[2019-09-07 00:58] yowl commented on #1496
I'll see if the Telerik one will come up.

[2019-09-07 01:28] ghuntley commented on #1494
Looks like GitHub raised two issues during creation. Closing this as duplicate of https://github.com/unoplatform/uno/issues/1495

[2019-09-07 01:28] #1494 closed

[2019-09-07 01:39] ghuntley commented on #1495
Looks like ContentDialog has implementations for all platforms:

- https://github.com/unoplatform/uno/blob/master/src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/ContentDialog.cs
- https://github.com/unoplatform/uno/blob/master/src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Controls/ContentDialogClosingDeferral.cs
- https://github.com/unoplatform/uno/blob/master/src/Uno.UI/Generated/3.0.0.0/Wi

[2019-09-07 04:39] ghuntley commented on #1495
Confirming that I've been able to reproduce this. Looking closer at the implementations it doesn't look like `Closing` OR `Closed` event is wired up for any platform.

![image](https://user-images.githubusercontent.com/127353/64469845-9526ab00-d17c-11e9-8ed6-6aa677a9698b.png)

Will need to come back to this but the fix should be somewhat straight forward:

[code]

[2019-09-07 05:11] ghuntley opened #1500 "[wasm] Store AppSettings externally in some sort of editable text file such as .config, .json or .xml so these values can be changed depending the on the deployment hosting target"
## What would you like to be added:

Enable folks to store AppSettings externally in some sort of editable text file such as .config, .json or .xml so these values can be changed depending the on the deployment hosting target.

## Why is this needed:

## For which Platform:

- [ ] iOS
- [ ] Android
- [x] WebAssembly
- [ ] Windows

## Anything else we need to know?

See https://github.com/unoplatfo

[2019-09-07 05:13] ghuntley commented on #1481
There's no support for post-compile AppSettings at this point, but we cadd support for it in the [bootstrapper](https://github.com/unoplatform/Uno.Wasm.Bootstrap). https://github.com/unoplatform/uno/issues/1500 has been raised to track this.

[2019-09-07 13:37] wallyh010 commented on #1481
Thank you for your time in addressing this issue.

[2019-09-07 14:13] yowl commented on #1495
Ok, please note the deferred action available from the closing event.  On phone so don't have the link, but its in the properties for the args .

Sent from my Windows 10 device

From: Geoffrey Huntley<mailto:notifications@github.com>
Sent: Friday, September 6, 2019 23:39
To: unoplatform/uno<mailto:uno@noreply.github.com>
Cc: Scott Waye<mailto:scott.waye@hubse.com>; Author<mailto:author@noreply.git

[2019-09-09 15:53] pkar70 commented on #1479
I make some test. Changed Padding to Margin, run it, and test some values at runtime.
uiCmdBar.Height = 0
uiCmdBar.ActualHeight = 0
uiCmdBar.MinHeight = 0
uiCmdBar.MaxHeight = infinity
uiCmdBar.Visibility = Visible
uiCmdBar.PrimaryCommands = set of 9 elements

[2019-09-09 17:46] crogeniks commented on #1479
Here's a sample project that replicates this issue.
[PageBottomAppBar.zip](https://github.com/unoplatform/uno/files/3591862/PageBottomAppBar.zip)

[2019-09-09 18:02] crogeniks opened #1509 "[Droid][WASM] CommandBar isn't visible"
## Current behavior

The `Command` bar doesn't show up properly in WASM and Android

- WASM
-- `Command` bar is visible, but Icons are clipped(not 100% reproducible)
--
![image](https://user-images.githubusercontent.com/1256256/64554562-abae3d00-d309-11e9-9a17-8aea66c1ed8c.png)
-- Opening the Secondary Commands does "nothing" and freeze the `CommandBar`

- Android
-- Command bar is visible, but sh

[2019-09-09 18:06] pkar70 commented on #1479
Why change from "bug" to "enhancement"?
Documentation (https://platform.uno/docs/articles/implemented/windows-ui-xaml-controls-page.html) says that Page.BottomAppBar is supported on all platforms?

[2019-09-09 18:49] davidjohnoliver commented on #1479
The documentation is in error on this one. Those docs are built by a tool which looks for the `[NotImplemented]` attribute, which is missing from `BottomAppBar`.

In reality there's no existing code to support this feature, that's why it counts as an enhancement rather than a bug.

[2019-09-09 19:54] MartinZikmund opened #1511 "Add Launcher.QueryUriSupportAsync API"
## What would you like to be added:

Support of the `Launcher.QueryUriSupportAsync` API.

## Why is this needed:

To check whether an `Uri` scheme can be launched.

## For which Platform:

- [x] iOS
- [x] Android
- [ ] WebAssembly
- [ ] Windows

## Anything else we need to know?

[2019-09-09 21:00] vincentcastagna opened #1513 "[iOS + Android + WASM] Column/RowSpacing property not working"
## Current behavior

Spacing property on Grid is not working (column and row).
## Expected behavior

Spacing property should work on these platforms.

## How to reproduce it (as minimally and precisely as possible)

Create a Grid, add two StackPanel as children, set the Column/RowSpacing property to 20. It's working fine on UWP but not on others platforms.

Note : Spacing property on StackPanel is

[2019-09-10 04:08] ghuntley commented on #1513
Looks like https://github.com/nventive/Uado/pull/111 was a PR to work-around. Work is still needed within Uno to correct the behavior.

[2019-09-10 04:35] ghuntley commented on #1509
Howdy @crogeniks.

The clipping on symbols on WebAssembly is likely related to https://github.com/unoplatform/uno/issues/1332 or https://github.com/unoplatform/uno/issues/693. Maintenance of glyphs is currently quite manual and there's a issue open over at https://github.com/unoplatform/uno/issues/967 to automate the processes.

In case you missed it - CommandBar [has two modes](https://platform.u

[2019-09-10 04:53] ghuntley opened #1514 "The [NotImplemented] attribute is missing from `BottomAppBar`"
## Current behavior

From https://github.com/unoplatform/uno/issues/1479#issuecomment-529615549

## Expected behavior

1. Inspect https://github.com/unoplatform/uno/tree/master/src/Uno.UI/UI/Xaml/Controls/Page and https://github.com/unoplatform/uno/tree/master/src/Uno.UI/UI/Xaml/Controls/AppBar
1. If the implementation does not exist then for each not implemented member in https://github.com/unopl

[2019-09-10 04:54] ghuntley commented on #1479
Have opened up https://github.com/unoplatform/uno/issues/1514#issue-491449327 to track this as a super easy issue to introduce new contributors to how the documentation is generated. If this remains open for too long then one of the members of the core team should pick it up and implement.

[2019-09-10 07:42] pkar70 commented on #1509
How can I change CommandBar mode to XamlDefaultCommandBar?

[2019-09-10 07:51] pkar70 commented on #1509
And, in SecondaryCommands, AppBarToggleButton is not shown (only AppBarButton). At least in Android.

[2019-09-10 07:53] TopperDEL commented on #1509
I've asked me the same Question just a second ago. The documentation talks About different modes, but it is not clear how to set them.

[2019-09-10 12:08] ghuntley commented on #1509
That's good feedback — have raised issue to improve clarity of the documentation. The modes can be switched between by changing the control templates.

[code]

The default modes for Uno are configured via https://github.com/unoplatform/uno/blob/935a845df9540d5b626538453a34b815bdebaa83/src/Uno.UI/UI/Xaml/Style/Generic/GenericStyles.cs#L25

[2019-09-10 12:23] ghuntley opened #1515 "How can I change the CommandBar mode?"
https://github.com/unoplatform/uno/issues/1509#issuecomment-529814425

[2019-09-10 12:27] ghuntley commented on #1481
Have been thinking about this some more. It's possible to pass in configuration into webassembly applications via the query string. It's not ideal but if you are looking for a solution right now do something like this:

[code]

This was lifted from the calculator app.

[2019-09-10 13:13] pkar70 commented on #1509
But...
`    <Page.Resources>
        <Style TargetType="CommandBar" BasedOn="NativeDefaultCommandBar" />
    </Page.Resources>
`
ends with:
Implicit styles in inline resources are not supported (Page, Line 1:2)

[2019-09-10 13:44] davidjohnoliver commented on #1509
@pkar70 You need to put it in a standalone `ResourceDictionary` file or in `Application.Resources`.

[2019-09-10 14:10] TopperDEL commented on #1509
This is still not working for me. It keeps saying "The property Binding.BasedOn is unkown."

[2019-09-10 15:50] #1490 closed

[2019-09-10 15:54] dr1rrb opened #1516 "Invalid binding breaks the dependency property inheritance"
## Current behavior
If you write something like:
[code]
The horizontal `HorizontalScrollBarVisibility` will be set to`DependencyProperty.UnsetValue`.

## Expected behavior
 `HorizontalScrollBarVisibility` should still be set to the inherited value.

## Environment
Affected platform(s):
- [x] iOS
- [x] Android
- [x] WebAssembly
- [ ] Windows
- [ ] Build tasks

[2019-09-10 15:58] dr1rrb opened #1517 "`ScrollViewer` attached properties are not inherited"
## Current behavior
If you set the attahced `ScrollViewer.HorizontalScrollBarVisibility` property on a control, the `HorizontalScrollBarVisibility` property of a nested `ScrollViewer` won't be set properly.

## Expected behavior
Attached property of `ScrollViewer` should be inherited as UWP.

## Environment
Affected platform(s):
- [x] iOS
- [x] Android
- [x] WebAssembly
- [ ] Windows
- [ ] Build t

[2019-09-10 15:59] dr1rrb commented on #1517
Note: I've fixed it, will create a PR for this one soon

[2019-09-10 20:53] vincentcastagna opened #1521 "[Android] GridView as impact on random ListView rendering"
## Current behavior

Using a `GridView` and/or implementing a style for `GridViewItem` seems to cause ListView not to display correctly on different pages and w/o any link between them. After investigation, the ListView is empty and does not contain anything in its `ItemsSource` (but the bound property contains elements)

## Expected behavior

Using a `GridView` (or any child component related to

[2019-09-10 21:40] pkar70 commented on #1332
I looked throu source, and although I'm not expert in this code, maybe problem is:

https://github.com/unoplatform/uno/blob/master/src/Uno.UI/FeatureConfiguration.cs
line 203
#if !ANDROID
shouldn't it be:
#if !__ANDROID__
?

[2019-09-11 03:20] ghuntley opened #1522 "Graduate these repositories from nventive to unoplatform on GitHub"
## What would you like to be changed:

For each one of these GitHub repositories move them to the `unoplatform` organization.

First pass:
- [x] https://github.com/nventive/Uado
- [x] https://github.com/nventive/Uno.CodeGen
- [x] https://github.com/nventive/Uno.Core
- [x] https://github.com/nventive/Uno.PackageDiff
- [x] https://github.com/nventive/Uno.MonoAnalyzers

Second pass:
- [ ] https://git

[2019-09-11 03:51] ghuntley opened #1523 "attribute previous contributors"
## Anything else we need to know?

The projects README.md does not acknowledge all contributors. Let's fix this.

[2019-09-11 03:53] ghuntley commented on #1523
Let's start with the easiest one.

@all-contributors please add microsoft for code, doc, example, test

[2019-09-11 05:52] #1523 closed

[2019-09-11 08:52] pkar70 opened #1527 "[Droid] WebView failing with Uri too long"
## Current behavior
When I use `webViewer.NavigateToString(sHtml)` after displaying page, app fails with:

[code]

## Expected behavior

Windows.UI.Xaml.Controls.WebView+InternalClient.OnPageFinished doesn't fail.

## How to reproduce it (as minimally and precisely as possible)

Use NavigateToString

## Environment
Nuget Package:

Package Version(s):

Affected platform(s):
- [ ] iOS
- [X] Android

[2019-09-11 12:52] wallyh010 commented on #1481
Do you know if there is a way to get the hostname (my.domain.com) from a WebAssembly application?

[2019-09-11 15:35] Kavignon opened #1529 "Is it possible to have F# documentation here?"
## What would you like to be added:
Show how to build Uno apps with F#.
## Why is this needed:
C# isn’t the only language for .NET development and is actually more verbosed. F# functional nature make sense in app development and makes it clearer and less bug-prone when compared to C#.

## For which Platform:

- [ ] iOS
- [ ] Android
- [ ] WebAssembly
- [ ] Windows

## Anything else we need to know

[2019-09-11 19:21] jeromelaban opened #1530 "Support for TextElement.ContentStart"
## What would you like to be added:
Support for `TextElement.ContentStart` and related.

## Why is this needed:
https://github.com/xamarin/Xamarin.Forms/blob/bd31e1e9fc8b2f9ad94cc99e0c7ab058174821f3/Xamarin.Forms.Platform.UAP/TextBlockExtensions.cs#L37

[2019-09-12 00:21] jeromelaban opened #1533 "[Wasm] TextBlock measure is incorrect if the initial max width is zero"
##  Current behavior
For a valid TextBlock, the following measure log can happen:

[code]

## Expected behavior

The measured textblock has a proper value.

## How to reproduce it (as minimally and precisely as possible)

TBD

## Environment

Nuget Package:

Package Version(s):

Affected platform(s):
- [ ] iOS
- [ ] Android
- [ ] WebAssembly
- [ ] Windows
- [ ] Build tasks

Visual Studio
- [ ] 201

[2019-09-12 01:26] DysnomianC opened #1534 "[Android] Custom text box does not display."
## Current behavior

Custom text box class doesn't display. Width, height, visible and enabled are all as expected but nothing visible in ui and nothing to tap on or interact with. Occurs with both emulator and on physical phone.

## Expected behavior

The custom text box is visible and able to be interacted with.

## How to reproduce it (as minimally and precisely as possible)

Create new Uno pro

[2019-09-12 02:07] ghuntley commented on #1529
👋 You won't need to sell us on the merits of functional programming. I'm a big fan of the church of λ. Anyway this would be a good topic for blog posts and examples. UnoConf.com is coming up next week so there won't be much movement on this until it's over. Happy to help if you want to pitch in?

ps: Jerome did some hacking in this department back in Jan w/Elmish — https://github.com/nventive/Elmi

[2019-09-12 02:53] ghuntley commented on #1534
Related to an issue that @davidjohnoliver is working on at the moment regarding styles. The workaround for now is to define a style for the inherited class.

[2019-09-12 03:57] Kavignon commented on #1529
I don't know much about Uno to be honest. I started to go through the documentation and was wondering if F# could be a thing.
Nice to know it could very much be a thing!
@ghuntley What would be the necessary steps to undertake to get some F# samples good to go? The Uno platform doesn't support native F# code from the get-go? What are the current limitations and what kind of support is required in

[2019-09-12 04:05] DysnomianC commented on #1534
I haven't been able to get this workaround to work.

I've tried defining an empty style like
[code]
I've tried copying the base style for a text box
[code]
I'm consuming the style with
[code]
(The styles are defined in App.xaml) but the text box still doesn't appear on android.

Could you provide and example of how the workaround is supposed to work?

[2019-09-12 11:45] carldebilly opened #1535 "[WASM] Grid-XXXX: Invalid measured size [-Infinity;YYY]. NaN or Infinity are invalid desired size."
# Bug
The following exception can appear on WASM:
[code]

## How to reproduce it (as minimally and precisely as possible)
Coming from the following XAML code:

[code]
* If you remove the `MinWidth`, the problem will go away.

## Affected platform(s):
- [ ] iOS
- [ ] Android
- [X] WebAssembly
- [ ] Windows

Package version `1.46.228-dev.2681`

[2019-09-13 08:23] pkar70 opened #1540 "[droid] BitmapIcon (in AppbarButton in AppBar) not scaled"
## Current behavior
Icon is cropped, not scaled.

## Expected behavior
Icon is scaled.

## How to reproduce it (as minimally and precisely as possible)
Add icon to Assets subdirectory, e.g. 48x48 px

In AppBarButton, about half of icon is displayed (upper half).

## Environment

Nuget Package: 1.45.0
Package Version(s):

Affected platform(s):
- [ ] iOS
- [X] Android
- [ ] WebAssembly
- [ ] Windows

[2019-09-13 08:29] pkar70 opened #1541 "[droid] BitmapIcon (in AppbarButton in CommandBar) is displayed as gray square"
## Current behavior
Icon is presented as gray square.

## Expected behavior
Icon is properly rendered.

## How to reproduce it (as minimally and precisely as possible)
Add icon to Assets subdirectory, e.g. 48x48 px

In AppBarButton, about half of icon is displayed (upper half).

## Environment

Nuget Package: 1.45.0
Package Version(s):

Affected platform(s):
- [ ] iOS
- [X] Android
- [ ] WebAssemb

[2019-09-13 09:12] pkar70 commented on #1541
Sorry, my error. Icon cannot be without transparency.

[2019-09-13 09:12] #1541 closed

[2019-09-13 15:36] ghuntley opened #1544 "Recommendations to WebServer configuration for hosting WebAssembly applications"
## What would you like clarification on:

Opening in response to [feedback in Gitter](https://gitter.im/uno-platform/Lobby?at=5d7bb4fda6f4896449fbb423) where Igor didn't have a smooth experience with hosting a Uno application on nginx.

Most webservers don't [yet] know how to properly serve WebAssembly applications and execution will fail with errors such as:

Over at https://github.com/unoplatfor

[2019-09-13 16:36] XiaotianNetlift commented on #1355
The underlying issue: https://github.com/unoplatform/uno/issues/1535

[2019-09-13 18:04] #1355 closed

[2019-09-14 13:39] wallyh010 commented on #1481
This works:
During deployment, update uno-config.js to include:
    config.environmentVariables["hostname"] = "my.domain.com";

In App.OnLaunch() call:
    var hostName = Environment.GetEnvironmentVariable("hostname");

[2019-09-14 14:32] ghuntley opened #1547 "Improve discoverability of managing the iPhone/Android notch"
## On which page?

https://platform.uno/docs/articles/faq.html

## What's wrong?

The knowledge in https://github.com/unoplatform/uno/blob/master/src/Uno.UI.Toolkit/VisibleBoundsPadding.md isn't discoverable enough. Let's promote it as a page in our documentation?

## Any feedback?

[2019-09-14 15:07] yowl commented on #1481
If you want the url where your wasm comes from you could do:
[code]
With some stripping to get up to where your index.html is.

[2019-09-14 18:27] davidjohnoliver commented on #1547
Duplicate of https://github.com/unoplatform/uno/issues/1324 ;)

[2019-09-14 21:24] wallyh010 commented on #1481
That's awesome! I was just looking for "javascript interop" today for this very reason, but could not find the details for how to do it.  Thanks for that solution.

[2019-09-15 00:28] Xiaoy312 commented on #1486
We could probably update the `.vsts-ci.yml` with triggers like:
[code]
ref: https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#triggers

---

Or, alternatively modify the `allcontributors` bot to append these in its commits:
- `[skip ci]` or `[ci skip]`
- `skip-checks: true` or `skip-checks:true`
- `[skip azurepipelines]` or `[azurepipelines skip]`
-

[2019-09-15 01:00] wallyh010 commented on #1481
An alternative method for getting the base url of the running Wasm app:

`        private static string GetBaseUrl()
        {
            var baseUrl = BaseUrl;
#if __WASM__
            var indexUrl = Uno.Foundation.WebAssemblyRuntime.InvokeJS("window.location.href;");
            Uri uri = new Uri(indexUrl);
            baseUrl = $"{uri.Scheme}://{uri.Host}:{uri.Port}";
#endif
            return

[2019-09-15 03:46] #1424 closed

[2019-09-15 06:47] BenDerPan commented on #1361
@ghuntley  Hey, I build a emitter library [Uno.Emitter](https://github.com/BenDerPan/Uno.Emitter]) which support Uno Wasm and it's based on Uno.Wasm.Websocket, I build a simple example which can work now, but it's not perfect now(need docs, more features like other emitter client libraries). I hope Uno.Emitter can be a member of Uno-Platform :).
when I upload my beta release to nuget, there is a p

[2019-09-15 07:02] BenDerPan commented on #1361
@ghuntley  the example app [demo](https://github.com/BenDerPan/Uno.Emitter/tree/master/src/Example/EmitterApp)

[2019-09-15 13:08] HaoLife opened #1548 "CommandBar's Primaryin Commands don't show"
## Current behavior

 CommandBar does not show primaryinCommands in the 1.45.0 version and 1.46.x latest version, and this feature is displayed normally in 1.44.1.

The reason is to add a style

## Expected behavior
PrimaryinCommands Normal Display

## How to reproduce it (as minimally and precisely as possible)

## Environment

Nuget Package:

Package Version(s):
 1.45.0  - 1.46.x

Affected platf

[2019-09-16 15:04] XiaotianNetlift commented on #1486
It seems that the [`skipCi` options](https://github.com/all-contributors/all-contributors-bot/pull/216) for all-contributors bot isn't released yet. D:

[2019-09-16 18:16] Kavignon commented on #1529
@saint4eva I'm sorry for bad-mouthing C#. I love C# and it's thanks to it that I fell in love with software development. Again, sorry.

I was pointing to the fact that F# can be better suited for a certain kind of tasks. There are certain historical issues to F# such as even though coming from Microsoft, it's never been recognized as a first-class citizen for .NET development until recently.

C# i

[2019-09-16 18:18] Kavignon commented on #1529
@jeromelaban Long time no talk; it's been a few years! I can see you've created a separated fork for Elmish. What are the current limitations around the F# tooling that makes it not work out of the box and where would you and @ghuntley like to get some support in? I'm no expert, but I'd love to help a bit here! Uno looked pretty cool and was thinking some F# doc could be great to see for the F# co

[2019-09-16 20:41] JhonH3avy opened #1550 "Telerik RadCalendar date selection not working"
## Current behavior

The calendar at the moment of selection of any date, the calendar selects incorrectly the date and sometimes jump to the next month. This behavior is currently happening in the Uno fork of the Telerik controls repo, but, if I try to implement the control using the control projects directly the behavior changes, so the event of date selection is not event being called, so there

[2019-09-16 20:49] dr1rrb opened #1551 "[iOS][Android] UIElement implements INotifyPropertyChanged"
## Current behavior
On iOS and Android, the base class of `UIElement` (`BindableUIView` on Android and `BindableView` for iOS) implements the `INotifyPropertyChanged` **but**:

1. UWP's `UIElement` does not implements this interface
1. The event is **NOT** raised by any sub class (and especially not by the `DependencyProperty`)

## Expected behavior
`UIElement` does not implement this interface

#

[2019-09-17 12:46] jeromelaban opened #1552 "[Wasm] Shapes are not consistent with WinUI"
## Current behavior

The following XAML:

[code]

Produces the following results:
![wasm output](https://user-images.githubusercontent.com/5839577/65042634-3fde5c80-d927-11e9-8fe1-f2027d890403.png)
![windows output](https://user-images.githubusercontent.com/5839577/65042641-453ba700-d927-11e9-88ec-4dabaf391a71.png)

## Expected behavior

The Windows behavior is the same as the Wasm behavior.

## E

[2019-09-17 12:46] ghuntley commented on #1361
Thanks Ben, I'll be in a position from next week onwards to look at this. UnoConf is in less than 72 hours! 🎉

[2019-09-17 14:02] zipswich commented on #1552
[code]
![image](https://user-images.githubusercontent.com/6095671/65048522-46260600-d932-11e9-85d1-47634dcfe78b.png)

[2019-09-17 16:22] pkar70 commented on #1548
Try BitmapIcon type.
FontIcon/SymbolIcon/PathIcon are not implemented (yet), and there is breaking change between 1.44 and 1.45 - in 1.45, if there is any Icon, Label is not showed (Content takes precedence over Label).

[2019-09-17 18:27] dr1rrb opened #1554 "FrameworkElement default Measure/Arrange override imeplementation"
## Current behavior
If you create a `Panel` which arrange all its items and then invoke `base.ArrangeOverride(finalSize)` the first item is re-arranged stretched, while on windows it seems to do nothings.

## Expected behavior
The arranged items are not re-arranged ...

**BUT**

It seems that on UWP you can invoke the base to arrange items (for instance if you only alter the `finalSize` and call t

[2019-09-17 19:58] yowl opened #1557 "ContentDialog does not show itemscontrol ItemsSource"
## Current behavior

The ContentDialog content is empty

## Expected behavior

Should show the ItemsControl with the ItemsSource bound as per UWP

## How to reproduce it (as minimally and precisely as possible)

Download https://github.com/yowl/ContentDialogItems and run the Wasm head

## Environment

Nuget Package:
1.46.230-dev.2723
Package Version(s):

Affected platform(s):
- [ ] iOS
- [ ] Andro

[2019-09-18 03:26] BenDerPan commented on #1361
Best wishes for UnoConf！！！: )  👍 🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉

[2019-09-18 12:53] peternary opened #1559 "[WASM] Controls inside a disabled ContentControl are not disabled"
## Current behavior

In WASM a custom ContentControl's child elements are not disabled if the ContentControl itself is disabled.  In UWP disabling the ContentControl disables the children as well.

## Expected behavior

WASM behavior should match UWP.

## How to reproduce it (as minimally and precisely as possible)

In the attached project there are 3 controls - one regular TextBox, one disabled T

[2019-09-18 14:39] HaoLife commented on #1548
Is it ok if I don't set the Content and Icon properties?

[2019-09-19 02:14] #1445 closed

[2019-09-19 17:49] peternary opened #1561 "[WASM] TextBox natural width is too large"
## Current behavior

A ContentControl does not lay out contents correctly if a custom ControlTemplate is used.

## Expected behavior

Layout should match that in UWP

## How to reproduce it (as minimally and precisely as possible)

~~Build the attached project for UWP and observe layout of content inside ContentControl.  Load the same project in WASM and observe that contents are laid out incorrec

[2019-09-19 20:32] TopperDEL opened #1562 "[droid] Support CommandParameter on AppBarButton"
## Current behavior

A set CommandParameter on a AppBarButton ist not available on Android (don't know About iOs and WASM).

## Expected behavior

A CommandParameter is usable like on UWP.

## How to reproduce it (as minimally and precisely as possible)

Add an AppBarButton like this:

[code]
The string "Photo" is available within the command on UWP, but not on Android.
## Environment

Nuget Packa

[2019-09-20 17:31] carldebilly opened #1564 "Add "too long path" detection mechanism"
Sometimes when a user is cloning a project from github, the default location could be in a place where the path would be too long and will cause problem during the compilation.

Those errors are hard to detect and the error message is unclear.

## What would you like to be added:
Add a "too long path" detection mechanism to warn the user when it's compiled from a very long path.

## For which Plat

[2019-09-20 18:46] anaselhajjaji opened #1568 "StackOverflow issue when I try to debug WASM from Visual Studio 2019"
## Current behavior

When I hit IIS Express button from visual studio to debug the application directly created from the template. Chrome is closed, debugging stopped and a StackOverflow message is seen on the traces.

## Expected behavior

Should be able to run and debug the starter app.

## How to reproduce it (as minimally and precisely as possible)

Just create a new application using the Visu

[2019-09-20 18:48] ajpinedam commented on #1562
@TopperDEL  I followed your steps and could not reproduce the issue you reported.

I am sending a string value as a `CommandParameter` and I am successfully receiving it as part of the `Command` execution.

Could you please update with your `Command` implementation.

Also, are you using any MVVM Framework? If so, which one and version.

Thanks.

[2019-09-20 18:52] TopperDEL commented on #1562
Strange. I can clearly reproduce it. I'm using no MVVM-Framework. You can see my coding here:

https://github.com/TopperDEL/uplink.net/blob/0d62407980c8d8151a80c265291032dec0c261a0/uplink.NET/uplink.NET.Sample/uplink.NET.Sample.Shared/Pages/BucketContentPage.xaml#L16

Did you try it on Android?

[2019-09-20 19:12] ajpinedam commented on #1562
Yes, tested on Android and the rest of the platforms. Used both the latest stable **1.45.0** but also the version you are using **1.46.28-dev.2681**

Will check your code. Thanks for the update @TopperDEL

[2019-09-20 19:17] TopperDEL commented on #1562
Damn it, I found my error.

On Android I'm using a click-handler (see https://github.com/TopperDEL/uplink.net/blob/70ccd6a4b44f35e07daac2fc18a4a236f5a8cb0c/uplink.NET/uplink.NET.Sample/uplink.NET.Sample.Shared/Pages/BucketContentPage.xaml.cs#L43) as the command did not work for whatever reason (have to check that again). But there I'm providing my null-value.

PICNIC - Problem in Chair not in Code

[2019-09-20 19:20] Yortw opened #1569 "Double 'Clear Text' Button in TextBox on MS Edge for WASM Project"
## Current behavior

When running the module 9 sample app from the Uno Workshop, targeting WASM and running in the *Edge* browser, the text field will show two separate 'clear' buttons. One provided by edge and one provided by Uno (or the control style in the app?). The Uno button clears the text and removes both buttons, however the Edge button clears the text but leaves the Uno clear button visi

[2019-09-20 19:27] #1562 closed

[2019-09-20 19:58] ajpinedam commented on #1562
@TopperDEL  Good! I missed that one! Nice you found it.

[2019-09-20 20:03] ajpinedam commented on #1568
@anaselhajjaji Debug is not available for WASM at the moment, this is a limitation on the VS Debugger. For WASM only, you will need to run the solution with Ctrl+F5 (Start without debugging).

[2019-09-20 20:33] anaselhajjaji commented on #1568
@ajpinedam Thank you, it works this way.

[2019-09-20 20:33] #1568 closed

[2019-09-21 03:34] michael-hawker commented on #39
@weitzhandler agree with @Massimo37 I didn't realize you could do converters with markup extensions 🎉, I thought you would at least still have needed the bits they hadn't implemented yet from WPF for that. I totally want to convert all our Toolkit ones now... almost...

[This WPF example](https://github.com/Hybrid-SyntaX/Automated-Attendance-System-Using-Face-Recognition/blob/master/code/AAS.GUI.C

[2019-09-21 16:29] weitzhandler commented on #433
[Whoa](https://platform.uno/docs/articles/get-started.html), I think this issue can be closed now.

[2019-09-21 19:06] TopperDEL opened #1574 "[Droid]TextBox.CharacterCasing is not respected"
## Current behavior
If I set the Property CharacterCasing on TextBox via XAML (e.g. to "Lower"), it works on UWP but not on Android. Did not test WASM and iOs.

## Expected behavior
The CharacterCasing is respected on Android, too.

## How to reproduce it (as minimally and precisely as possible)
Add a TextBox to a page and set it's CharacterCasing to "Lower". On UWP you can't enter uppercase Chara

[2019-09-21 20:15] TopperDEL commented on #18
I did a sample-app for another open source component called "uplink.NET" (see [here](https://github.com/TopperDEL/uplink.net)). The library helps connecting to the storj-network ([storj.io](https://storj.io)) a private, secure and decentralized storage network.

The sample app shows how to use the library to upload and download files. It currently works on UWP and Android. iOs is not supported bec

[2019-09-22 15:39] anaselhajjaji opened #1575 "REST API call using refit is not working on WASM"
Using the sample app: https://github.com/anaselhajjaji/UnoBench

## Current behavior

Running the WASM version of the app leads to an empty screen.

## Expected behavior

The list should be shown as for UWP app.

## How to reproduce it (as minimally and precisely as possible)

Run the WASM sample => empty screen.

## Environment

Nuget Package:

![image](https://user-images.githubusercontent.com/3

[2019-09-22 20:46] XamlFlair commented on #39
@michael-hawker  As of now the support for MarkupExtension wouldn't work with the OnDevice markup extension of the WCT, simply for the fact that it doesn't specify the MarkupExtensionReturnType attribute. I would need to look into that further to see if can be optional.

[2019-09-22 21:05] Massimo37 commented on #39
@michael-hawker  I was unable to repro your x:Bind issue you mentioned, I copied your converter and tried it with an x:Bind and it worked without error. 🤨

[2019-09-23 00:19] michael-hawker commented on #39
@massimo37 strange, I'm on 18362 and get this error at runtime:
[code]

[2019-09-23 00:59] Massimo37 commented on #39
@michael-hawker  Can you provide me with a sample project that produces this error?

[2019-09-23 01:05] HaoLife commented on #1509
NativeDefaultCommandBar needs conditional compilation, he only supports ios and Android

[2019-09-23 01:07] #1548 closed

[2019-09-23 01:35] michael-hawker commented on #39
Just change the 2nd binding in my gist above to this:

[code]

[2019-09-23 01:42] Massimo37 commented on #39
Thanks, I'll report back once I have something 👍

[2019-09-23 15:04] davidjohnoliver opened #1583 "ComboBox doesn't open inside a ContentDialog"
## Current behavior

## Expected behavior

## How to reproduce it (as minimally and precisely as possible)

## Environment

Nuget Package:

Package Version(s):

Affected platform(s):
- [x] iOS
- [x] Android
- [ ] WebAssembly
- [ ] Windows
- [ ] Build tasks

Visual Studio
- [ ] 2017 (version: )
- [ ] 2019 (version: )
- [ ] for Mac (version: )

Relevant plugins
- [ ] Resharper (version: )

## Anythi

[2019-09-23 15:06] jeromelaban opened #1584 "[X.F] TabbedPage does not render content properly"
## How to reproduce it (as minimally and precisely as possible)

[code]

## Environment

Nuget Package:

Package Version(s): 2.0-dev

Affected platform(s):
- [ ] iOS
- [ ] Android
- [x] WebAssembly
- [ ] Windows
- [ ] Build tasks

Visual Studio
- [ ] 2017 (version: )
- [ ] 2019 (version: )
- [ ] for Mac (version: )

Relevant plugins
- [ ] Resharper (version: )

## Anything else we need to know?

[2019-09-23 16:44] anaselhajjaji commented on #1575
I fixed it myself, I found that for http calls we should use Uno.UI.Wasm.WasmHttpHandler()
Automatically, we shouldn't expect refit working to simplify rest api call.
I updated my sample in github: https://github.com/anaselhajjaji/UnoBench

[2019-09-23 16:44] #1575 closed

[2019-09-23 18:17] MartinZikmund commented on #1511
Done.

[2019-09-23 18:17] #1511 closed

[2019-09-23 19:13] MartinZikmund opened #1586 "Implement Gyrometer"
##  What would you like to be added:

`Windows.Devices.Sensors.Gyrometer`

## Why is this needed:

🔁

## For which Platform:

- [x] iOS
- [x] Android
- [x] WebAssembly
- [ ] Windows

[2019-09-24 04:42] #1461 closed

[2019-09-24 10:36] SuperJMN opened #1589 "WebAssembly head rendering issue"
# Summary
I've created a control that is similar to the `PropertyGrid` control by Xceed (https://github.com/xceedsoftware/wpftoolkit/wiki/PropertyGrid). The control itself uses Reflection internally, but the look&feel is pretty simple. However, the WebAssembly head doesn't render it properly.

UWP on the left <=> WebAssembly head on the side.
![image](https://user-images.githubusercontent.com/3109

[2019-09-24 14:09] MatFillion opened #1590 "Should remove all references to UIWebView"
## Current behavior

Uno has some code using UIWebView (for iOS < 8 support). It is already using WKWebView for the rest.
AppStore will give you this warning.
_ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView APIs . See https://developer.apple.com/documentation/uikit/uiwebview for more information._

## Expected behavior

We probably don't need to

[2019-09-24 14:27] #1557 closed

[2019-09-24 14:28] yowl commented on #1557
Thanks!

[2019-09-24 14:29] davidjohnoliver commented on #1583
Fixed for WASM by #1566. Not working on Android, not tested on iOS.

[2019-09-24 15:22] ghuntley commented on #1324
Resolved in https://github.com/unoplatform/uno/pull/1563

[2019-09-24 15:22] #1324 closed

[2019-09-24 16:23] jeromelaban opened #1592 "[Wasm] FrameworkTemplatePool and DataContext issue with ContentPresenter"
##  Current behavior

When using the provided sample below, the content of the first two pivot items is showing invalid or empty content when `FrameworkTemplatePool.IsPoolingEnabled = true;`.

In the `TabbedPageStyle` the item template uses a `FormsPresenter` with the  `ContainedPageTemplate` style, and for some reason the `DataContext` in the `ContentTemplatedRoot` instance materialized is not be

[2019-09-24 17:02] MartinZikmund opened #1593 "Geolocator on WASM"
## What would you like to be added:

`Geolocator` implementation for WASM.

## Why is this needed:

🗺

## For which Platform:

- [ ] iOS
- [ ] Android
- [x] WebAssembly
- [ ] Windows

[2019-09-24 17:03] ghuntley opened #1594 "Examples how to use Uno with gRPC"
## What would you like to be added:

Instructions how to use grpc w/Uno (specifically WebAssembly)

## Why is this needed:

Pre-emptive request as there were announcements recently at .NET conf about grpc.

## For which Platform:

- [x] iOS
- [x] Android
- [x] WebAssembly
- [ ] Windows

## Anything else we need to know?

- https://grpc.io/blog/grpc-on-dotnetcore/
- https://github.com/grpc/grpc-web

[2019-09-24 18:03] carldebilly opened #1595 "Hardware Keyboard Events"
# Hardware keyboard events

## Current situation
* On WASM, both KeyDown & KeyUp events are supported

## Missing implementations
* Event `PreviewKeyDown`
* Event `PreviewKeyUp`
* Event `CharacterReceived`

[2019-09-24 18:04] ghuntley commented on #433
Agreed, especially since the workshops from unoconf have been open-sourced -> https://github.com/unoplatform/workshops/tree/master/uno-bootcamp

[2019-09-24 18:04] #433 closed

[2019-09-24 18:07] ghuntley commented on #443
ICYMI - The workshop from UnoConf has been open-sourced and contains all of my notes from onboarding/joining the team. It's a fantastic resource for learning how to build applications with Uno and also how to work with the source-code under the hood.

https://github.com/unoplatform/workshops/tree/master/uno-bootcamp

[2019-09-24 18:17] agneszitte-nventive opened #1596 "System.Drawing.Color isn't available for iOS"
## Current behavior

System.Drawing.Color isn't available for iOS
![image](https://user-images.githubusercontent.com/16295702/65538664-cc63be80-ded5-11e9-9ffe-315eb3274572.png)

## Expected behavior

System.Drawing.Color should be available for iOS like it's already available for UWP/Android/Wasm.

## Environment

Package Version(s): Uno.UI 1.45.0

Affected platform(s):
- [x] iOS
- [ ] Android
- [

[2019-09-24 18:39] #1584 closed

[2019-09-24 19:19] jeromelaban opened #1597 "[Android] UI Tests are not using https images"
## Current behavior

The UI Tests samples are using many http:// unsecure Uris, and this is against the new Android 9. defaults.

## Expected behavior

All samples use external https:// images, and the related samples are restored.

## Environment

Nuget Package:

Package Version(s): 2.0-dev.x

Affected platform(s):
- [ ] iOS
- [x] Android
- [ ] WebAssembly
- [ ] Windows
- [ ] Build tasks

Visual

[2019-09-24 19:52] juliecantin opened #1598 "ListView.Header has no DataContext"
## Current behavior

When a ListView has a Header, the content of that header does not inherit the ListView's DataContext. You must use HeaderTemplate instead and set Header="{Binding}"

## Expected behavior

When a ListView has a Header, the content of that header inherits the ListView's DataContext.

## How to reproduce it (as minimally and precisely as possible)

https://github.com/jcantin-nven

[2019-09-24 20:00] jeromelaban commented on #1596
`System.Drawing.Color` should not be used anywhere in the Uno API set. Aside from that, this is a Xamarin-specific issue.

[2019-09-24 21:33] weitzhandler commented on #443
@ghuntley thank you!

[2019-09-24 21:52] ghuntley commented on #1569
<3 Thanks for raising this.

[2019-09-24 22:07] XiaotianNetlift opened #1599 "[Android] DoubleAnimation cause clipping issue"
## Current behavior
Since the [recent change](https://github.com/unoplatform/uno/pull/1373), `DoubleAnimation` causes certain controls like (`WebView`) to expand to full-screen, and ignoring its own's or parent's layout constraints (`Grid.Row`, `Grid.Column`, `Margin`, etc..).

## Expected behavior
`DoubleAnimation` should not cause any clipping issue.

## How to reproduce it (as minimally and pre

[2019-09-25 13:27] MartinZikmund opened #1601 "Uno.UI can't be compiled under VS 2019.3"
## Current behavior

Compiling Uno.UI under VS 2019.3 crashes with a number of errors:

## Expected behavior

Should not crash

## How to reproduce it (as minimally and precisely as possible)

Try to compile Uno.UI under VS 2019.3

## Environment

Nuget Package: -

Package Version(s): -

Affected platform(s):
- [x] iOS
- [x] Android
- [x] WebAssembly
- [x] Windows
- [x] Build tasks

Visual Studio

[2019-09-25 13:31] MartinZikmund commented on #1601
Same problem occurs when trying to build a Uno-based app with Uno class library, which also uses older version of MSBuild.Sdk.Extras. The project template should be updated as well

[2019-09-25 13:42] MartinZikmund opened #1602 "SamplesApp.Wasm does not compile on VS 2019.3"
## Current behavior

In addition to #1601 , I have found out SamplesApp.Wasm does have problem compiling due to the following line in `ImageBrush_SameWithDelay.xaml.cs`:

	Dispatcher.RunAsync(Windows.UI.Core.CoreDispatcherPriority.Normal, () => _ctx.ImgSource = "https://lh5.ggpht.com/lxBMauupBiLIpgOgu5apeiX_YStXeHRLK1oneS4NfwwNt7fGDKMP0KpQIMwfjfL9GdHRVEavmg7gOrj5RYC4qwrjh3Y0jCWFDj83jzg");

Apparen

[2019-09-25 13:47] ghuntley commented on #1601
Related to https://github.com/unoplatform/uno/pull/1572

[2019-09-25 13:47] ghuntley commented on #1602
Related to https://github.com/unoplatform/uno/pull/1572

[2019-09-25 13:47] MartinZikmund commented on #1601
Thanks, did not notice this one

[2019-09-25 13:55] ghuntley commented on #1601
nps.

[2019-09-25 17:28] MatFillion commented on #1598
Same applies to ListView.Footer

[2019-09-25 17:57] jabak opened #1606 "NavigationView - ItemInvoked not fired when settings item is selected"
## Current behavior

When selecting the navigationview settings item ItemInvoked eventhandler is not fired on Android

## Expected behavior

When selecting the navigationview settings item ItemInvoked eventhandler should be fired on Android as it does on Windows/UWP

## How to reproduce it (as minimally and precisely as possible)

* Start Visual Studio 2019
* Create new project using Uno Platform

[2019-09-25 18:54] dr1rrb opened #1607 "Root element of a ControlTemplate cannot be reterived using GetTemplateChild"
## Current behavior
When giving a name to the root element of a template, we cannot resolve it using the `GetTemplateChild` as it not registered in the `NameScope`

## Expected behavior
It works!

## How to reproduce it (as minimally and precisely as possible)
[code]
[code]

`_rootPanel` will be `null` while `_subPanel` is resolved properly.

## Environment
Nuget Package: Uno.UI
Package Version(s)

[2019-09-25 19:01] jeromelaban commented on #1495
@davidjohnoliver is there some work left on this issue ?

[2019-09-25 19:01] davidjohnoliver commented on #1495
No, I think we can close it.

[2019-09-25 19:01] #1495 closed

[2019-09-25 19:22] MartinZikmund opened #1608 "Document false positive App Store Connect issues"
## Current behavior

When publishing a Release version of my app to Apple App Store.

ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of apps that use **UIWebView** APIs . See https://developer.apple.com/documentation/uikit/uiwebview for more information.

The unusual thing is that my code does not use any photo-related Uno APIs nor any `WebView` control anywhere.

Last su

[2019-09-25 19:30] MartinZikmund commented on #1608
The workaround is to provide purpose statements for each of the permissions, I have so far found several references of a similar problem:

- https://github.com/jamesmontemagno/PermissionsPlugin/issues/136
- https://github.com/jamesmontemagno/PermissionsPlugin/issues/112
- https://montemagno.com/optimizing-xamarin-apps-libraries-with-the-linker/

[2019-09-25 20:20] jeromelaban opened #1610 "[Wasm] Secondary commands do not appear in a popup in XAML CommandBar style"
##  Current behavior
Adding secondary commands in a CommandBar does not display a flyout.

## Expected behavior
Secondary commands are displayed properly.

## How to reproduce it (as minimally and precisely as possible)
Create a CommandBar with secondary commands. See https://github.com/unoplatform/uno/pull/1609 for a basic sample.

## Environment

Nuget Package:

Package Version(s):

Affected pla

[2019-09-25 20:23] jeromelaban opened #1611 "[Wasm] Grid TranslateTransform is reset on layout arrange"
## Current behavior
The `TranslateTransform` value of a UIElement is reset when it is arranged.

## Expected behavior
The transform is kept applied.

## How to reproduce it (as minimally and precisely as possible)
- Use the CommandBar sample introduced in https://github.com/unoplatform/uno/pull/1609
- Click on a toolbar button, notice the app bar grows when it should not (it should only grow with

[2019-09-25 20:26] jeromelaban opened #1612 "[Wasm] The XAML CommandBar does not support the OpenUp states"
##  Current behavior

Adding a CommandBar at the bottom of the screen makes for an incorrect animation.

## Expected behavior

A bottom positioned Commandbar should open "up" properly.

## How to reproduce it (as minimally and precisely as possible)

Use the sample introduced in https://github.com/unoplatform/uno/pull/1609, and expand the bar at the bottom.

## Environment

Nuget Package:

Package

[2019-09-25 22:18] trampster commented on #95
Eto.Forms also supports linux using GTK#. And it supports developing on linux using vscode. Until Uno can do that it's a non starter for us.

[2019-09-26 01:11] davidjohnoliver commented on #1608
We're aware of the `UIWebView` issue, it'll be fixed when this PR is merged: https://github.com/unoplatform/uno/pull/1591

I'm not sure what's triggering the `NSPhotoLibraryUsageDescription` message, I do see the same line in our apps' `Info.plist`s however.

[2019-09-26 05:57] ajpinedam commented on #1574
@ghuntley  @davidjohnoliver Would you assign this one to me?

[2019-09-26 14:09] godrose commented on #1364
@ghuntley
Still happens to me
Env.: Windows 10 X64 , VS 2019 16.3
Repro steps:

1. Use Uno Platform App template
2. Update to the latest pre-release `Uno` packages
3. Compile

Expected: It just works
Actual: It doesn't (the same invalid file name error)

[2019-09-26 14:34] ghuntley commented on #1364
howdy @godrose, please add https://github.com/unoplatform/uno/pull/1383/files#diff-52c74e8822fe84d5af09976a7745e1f2R23 until https://github.com/unoplatform/uno/issues/1382 is resolved. If that doesn't resolve please open a new GitHub issue as discussions on closed issues don't raise notifications.

[2019-09-26 14:43] ghuntley opened #1614 "Increase the target and minimum versions of Windows in the Uno solution templates"
## Current behavior

## Environment

Affected platform(s):
- [ ] iOS
- [ ] Android
- [ ] WebAssembly
- [x] Windows
- [ ] Build tasks

Visual Studio
- [ ] 2017 (version: )
- [x] 2019 (version: )
- [ ] for Mac (version: )

Relevant plugins
- [ ] Resharper (version: )

## Anything else we need to know?

Opening as a easy "help wanted" issue for hacktoberfest.

Adjust https://github.com/unoplatform/un

[2019-09-26 14:46] ghuntley commented on #1568
@anaselhajjaji debugging WASM is done via the developer tools in Google Chrome - see https://github.com/unoplatform/uno/blob/master/doc/articles/debugging-wasm.md

[2019-09-26 15:49] zzyzy commented on #1614
Can I do this?

[2019-09-26 17:12] pkar70 commented on #1614
I think minimum Win version should be 15063 - as this version is on (not only my) phone :)

[2019-09-26 17:33] ghuntley commented on #1575
Howdy @anaselhajjaji see https://github.com/anaselhajjaji/uno-platform-sample/issues/1

[2019-09-26 18:47] Cheesebaron commented on #1596
System.Drawing.Color is available if you add OpenTK as a Framework Reference.

[code]

If Uno,UI or some other library is using System.Drawing.Color, you should probably consider adding this dependency.

[2019-09-27 01:18] godrose opened #1619 "Variables' values are not displayed when Chrome Debugging is used"
## How to reproduce it (as minimally and precisely as possible)

1. Use BugTracker Sample
2. Start Chrome Debugging
3. Add a breakpoint inside any setter (`Type` for instance)
4. Modify issue type

## Current behavior

The value of new issue type which is represented by `value` variable can't be displayed

## Expected behavior

The value of new issue type which is represented by `value` variable s

[2019-09-27 10:48] gagandeepp commented on #1426
CAn you assign this to me?

[2019-09-27 10:57] sakkshm commented on #1375
Hey, do you have a repository of your website which I can contribute to!
I want to contribute for hacktoberfest and i am interested in web development and graphics!

[2019-09-27 10:58] jeromelaban commented on #1426
This issue depends on https://github.com/unoplatform/Uno.Wasm.Bootstrap/issues/102 as it introduces a difficult workflow for debugging.

[2019-09-27 11:00] jeromelaban commented on #1619
This is a work in progress by the mono team, this may get adressed by an update of the [bootstrapper](https://github.com/unoplatform/Uno.Wasm.Bootstrap) but we're still working on it.

[2019-09-27 11:43] jeromelaban opened #1620 "[Wasm] Add documentation on how to use Reactive Extensions with Uno"
## What would you like clarification on:
Add documentation on how to use [Reactive Extensions](https://github.com/dotnet/reactive), and the [Reactive.Wasm](https://www.nuget.org/packages/Reactive.Wasm/1.0.1-preview.12) package.

## Concern?

- [ ] Usage in industry
- [ ] Clarification of capabilities
- [ ] Getting started with Uno
- [x] Developing with Uno
- [ ] Contributing to the Uno project
- [

[2019-09-27 14:38] jeromelaban opened #1621 "`TemplateBinding` evaluation is incorrect"
## Current behavior

The templated parent is propagated through dependency property inheritance, but should be assigned when the XAML is parsed/loaded.

This has the effect of having nested controls in control templates to use an incorrect for their template bindings.

## Expected behavior

The TemplatedParent is set through XAML parsing/loading.

## How to reproduce it (as minimally and precisely

[2019-09-27 14:46] TonyHenrique opened #1622 "Build error when Run the WASM Project in Visual Studio 2019 Preview"
## Current behavior

On the UNO WASM Project, when I hit the Run button, Visual Studio starts building the solution, then this error appears:

[code]

## Expected behavior

Should Build sucessfully and open a Web Browser window with my project

## How to reproduce it (as minimally and precisely as possible)

[UNOApp6.zip](https://github.com/unoplatform/uno/files/3663091/UNOApp6.zip)

## Environmen

[2019-09-27 19:21] jeromelaban opened #1625 "[Android] AutoSuggesBox popup opens showing only the first item"
## Current behavior

When opening an `AutoSuggestBox` popup on android, the list opens up on the first item only. Interacting with the list shows the full list.

## Expected behavior

The list should show the proper number of items initially.

## How to reproduce it (as minimally and precisely as possible)

Use the Android PeoplePicker from the community toolkit: https://github.com/unoplatform/Uno

[2019-09-28 02:11] MartinZikmund commented on #1323
I was looking into this a bit more. Copy-pasting matching resources from UWP will produce mostly working app, except for a two issues:

- `TextBlock` foreground stays black even for `RequestedTheme=Dark`  (the default `Foreground` is hardcoded in the dependency property) - not sure how to fix this
- There are some missing resources even in the light theme, but also many resources which are present

[2019-09-28 13:05] wallyh010 opened #1627 "mono.js error in Debug mode"
# What version of uno and what platforms you are using it with?
2.0.236-dev.2800

The error below occurs when using a Debug build.  Looks like a mono.js related failure.
The error does not occur when running in Release mode.

Let me know if you need more information to reproduce.

The following Exception message is caught after returning from posting to a REST API using the WasmHttpHandler.

[code

[2019-09-28 16:09] gagandeepp commented on #1620
@jeromelaban  assign this to me

[2019-09-28 16:10] gagandeepp commented on #1597
@jeromelaban assign this to me

[2019-09-28 19:03] jeromelaban commented on #1589
@SuperJMN to troubleshoot, one good strategy is to determine what's being displayed. What's visible and what's not, what's present and what's not.

Since you're a browser, you can determine if the controls are present or not in the HTML DOM:

- If they are, maybe they're not visible for some reason, like incorrect measuring.
- If they're not, maybe it's a binding issue, or maybe it's a templating

[2019-09-28 19:41] jeromelaban commented on #1597
Thank you for your help!

[2019-09-29 01:26] jeromelaban commented on #1323
@MartinZikmund copy and pasting should be mostly right, but it has to come from the proper generic,xaml version (17763 in case). I did something similar for the CommandBar/AppBar in https://github.com/unoplatform/uno/pull/1623. For the TextBlock, this may have to do with @davidjohnoliver's work on styling, particularly with the ImplicitTextBlock's behavior.

The separation in SystemResources.xaml

[2019-09-29 02:09] MartinZikmund commented on #1323
@jeromelaban I resolved the `TextBlock` problem by setting the appropriate foreground value based on the theme with dependency property default value precedence (thus overwriting the default Black, but not interfering with further styling)

[2019-09-29 09:53] SuperJMN commented on #1589
@jeromelaban Thanks for the guidance! I've been researching a bit and the problem seems to lie down to this style:

[code]

The problem isn't the style itself, that is applied correctly, but the line that uses the `ContentControl`

`<ContentControl Background="Red" HorizontalContentAlignment="Stretch" VerticalAlignment="Stretch" Grid.Column="1"  />`

The `ContentControl` is not rendered at all. Is

[2019-09-29 10:10] SuperJMN commented on #1589
I've found a workaround doing this:

[code]

Anyways, the `ContentControl` Binding doesn't work:

`Content="{Binding Editor}"`

[2019-09-29 14:01] RanadeepPolavarapu commented on #1515
I can take this.

[2019-09-29 14:58] jeromelaban commented on #1601
Fixed by #1572

[2019-09-29 14:58] #1601 closed

[2019-09-29 15:12] jeromelaban commented on #1602
Fixed by #1609

[2019-09-29 15:12] #1602 closed

[2019-09-29 15:52] rei2hu commented on #1394
Hello, I would like to try fixing this bug!

[2019-09-30 06:42] smikis commented on #1569
Seems like good first issue to tackle. Can I take this?

[2019-09-30 08:56] artemious7 opened #1629 "Implement Windows.Data.Pdf"
## What would you like to be added:
Implement Windows.Data.Pdf APIs (PdfDocument, ..)

## Why is this needed:
To build a PDF-viewer app in Uno. PdfDocument allows to render PDF files to image files and display them in the app directly without using an external app or WebView.

## For which Platform:

- [x] iOS
- [x] Android
- [x] WebAssembly ? (not yet sure if it's possible)
- [ ] Windows

## Anyt

[2019-09-30 11:31] jeromelaban commented on #1569
@smikis Sure, let us know what you find here !

[2019-09-30 11:37] jeromelaban commented on #857
Reopening this issue, it is not fixed.

Setting `FeatureConfiguration.ContentPresenter.UseImplicitContentFromTemplatedParent` to `true` restores the new behavior.

[2019-09-30 11:38] jeromelaban commented on #1589
Good troubleshooting! Indeed, there's an issue with the `ContentControl.Content` behavior. We're working on it (#1405) but there are still some issues with the behavior (#857).

For now, you need to explicitly specify the Content template binding.

[2019-09-30 11:40] jeromelaban commented on #1627
This looks like the code is trying to allocate 3GB of memory, which is not particularly realistic.

Would you have sample that we can look at ?

[2019-09-30 11:41] jeromelaban commented on #1622
Seems like it was related to the VS debugger, can you confirm ?

[2019-09-30 11:43] SuperJMN commented on #1589
Thanks! So, how would be the XAML after the workaround? I don't know what you mean by "explicitly specifying the content template binding".

[2019-09-30 11:49] jeromelaban commented on #1629
@artemious7 thanks for taking a stab at it!

Seems like a straight forward implementation that only rasterizes the PDF. The basic task is to take a sample that works on the platforms you need:
- Create a [set of samples](https://github.com/unoplatform/uno/blob/master/doc/articles/uno-development/working-with-the-samples-apps.md#working-with-the-samples-applications)
- Implement the classes that ar

[2019-09-30 11:51] jeromelaban commented on #1589
You found the proper modification:

[code]

The `xamarin:` namespace is required if you share this XAML with windows (the behavior is incorrect on windows).

[2019-09-30 11:51] jeromelaban commented on #1394
@rei2hu Thanks! Let us know what you find in this issue!

[2019-09-30 11:53] SuperJMN commented on #1589
Nice! Thank you! but how's the xamarin namespace prefix declared?

[2019-09-30 12:10] jeromelaban commented on #95
@trampster we announced at UnoConf in our road map that we'll make architectural changes to allow for other rendering backends to be added more easily.

GTK# can be one of those.

[2019-09-30 12:28] TonyHenrique commented on #1622
F5 (Debug, Start Debugging):
![image](https://user-images.githubusercontent.com/6307623/65878402-660eee00-e364-11e9-9b95-4062e50acb72.png)

Control+F5 (Debug, Start WithoutDebugging):
![image](https://user-images.githubusercontent.com/6307623/65878545-b5551e80-e364-11e9-877d-372bf11ef97c.png)

![image](https://user-images.githubusercontent.com/6307623/65878511-a0788b00-e364-11e9-86b0-b515dcc56eb8.

[2019-09-30 13:25] jeromelaban opened #1630 "[Android/WASM] The TextBox_Disable test does not pass"
## Expected behavior

The test passes.

## How to reproduce it (as minimally and precisely as possible)

Run this test:
https://github.com/unoplatform/uno/blob/59a911c4d1eeecfa709217f2e2b7430aea0251b8/src/SamplesApp/SamplesApp.UITests/UnoSamples_Tests.Keyboard.cs#L391

## Environment

Nuget Package:

Package Version(s):

Affected platform(s):
- [ ] iOS
- [x] Android
- [x] WebAssembly
- [ ] Windows

[2019-09-30 13:30] jeromelaban opened #1631 "[Android] The NonDismissiblePopup UI Test does not pass"
## Expected behavior

This test should pass.

## How to reproduce it (as minimally and precisely as possible)

See this code:
https://github.com/unoplatform/uno/blob/b4839fef7bfb1b16939023cf5bc77adf6d2bcaef/src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/PopupTests/UnoSamples_Popup_Simple_Tests.cs#L66

## Environment

Nuget Package:

Package Version(s):

Affected platform(s):
- [ ] iOS

[2019-09-30 13:35] jeromelaban opened #1632 "[Android] The CheckBox_DoubleTapValidation UI Test is failing"
## Current behavior

The test does not pass.

## How to reproduce it (as minimally and precisely as possible)

See this test:
https://github.com/unoplatform/uno/blob/a1c1057e956070765343cf95db3524f55f9fc739/src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ButtonTests/UnoSamples_Tests.Button_IsEnabled_Automated.cs#L206

## Environment

Nuget Package:

Package Version(s):

Affected platfor

[2019-09-30 13:36] jeromelaban opened #1633 "[Android] The NoToolTip_On_Open is failing"
## Current behavior

The test does not pass.

## How to reproduce it (as minimally and precisely as possible)

See this test:
https://github.com/unoplatform/uno/blob/74b7d5d0e953fcdd94223f32f51665af7ce15c60/src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/ToolTipTests/ToolTip_Tests.cs#L16

## Environment

Nuget Package:

Package Version(s):

Affected platform(s):
- [ ] iOS
- [x] Android

[2019-09-30 13:38] jeromelaban opened #1634 "[Android] The DatePickerFlyout_HasDataContextTest is failing"
## Current behavior

The test does not pass.

## Expected behavior

See this code:
https://github.com/unoplatform/uno/blob/743aacfb78134b61b638808ccae25d9f70e1c301/src/SamplesApp/SamplesApp.UITests/Windows_UI_Xaml_Controls/DatePickerTests/UnoSamples_Tests.DatePicker.cs#L20

## How to reproduce it (as minimally and precisely as possible)

## Environment

Nuget Package:

Package Version(s):

Affecte

[2019-09-30 13:40] jeromelaban opened #1635 "[Android] The Elevation_Validation UI Test is failing"
## Current behavior

The test is failing.

## How to reproduce it (as minimally and precisely as possible)

See this code:
https://github.com/unoplatform/uno/blob/f7bca73cc7aa34595dd36c3db50c9365e58e9ba8/src/SamplesApp/SamplesApp.UITests/Toolkit/UnoSamples_Tests.Elevation.cs#L21

## Environment

Nuget Package:

Package Version(s):

Affected platform(s):
- [ ] iOS
- [x] Android
- [ ] WebAssembly
-

[2019-09-30 13:46] ghuntley opened #1636 "Create a tutorial how to consume webservices in UNO platform"
## What would you like clarification on:

Opening up GitHub issue to track this common request:

## Concern?

- [ ] Usage in industry
- [x] Clarification of capabilities
- [x] Getting started with Uno
- [x] Developing with Uno
- [ ] Contributing to the Uno project
- [ ] Publishing your application
- [ ] Support
- [ ] Other (please specify):

## For which Platform:

- [x] iOS
- [x] Android
- [x] We

[2019-09-30 13:47] HrushikeshBodas commented on #1514
@ghuntley can you assign this to me?

[2019-09-30 13:57] ghuntley commented on #1636
**re: web service in shared project**

In Visual Studio, a shared project is just a list of files. Referencing a shared project in an ordinary .csproj project causes those files to be included in the project. They're treated in exactly the same way as the files inside the project.

It's important to be aware that the code in a shared-project file is compiled separately for each platform head. If y

[2019-09-30 14:09] ghuntley commented on #1514
Welcome @HrushikeshBodas. ICYMI - https://github.com/unoplatform/workshops/blob/master/uno-bootcamp/modules/07-Working-with-Uno/README.md#-walk-through-the-code-base has a bunch of information about the internals of Uno and will be useful knowledge to have as part of sending in a PR.

[2019-09-30 16:34] MartinZikmund commented on #626
Bringing this up as per Twitter conversation with @snickler, Andrew Hoefling and S Ravi Kumar.

[2019-09-30 17:55] MartinZikmund commented on #18
I have brought my old Windows Phone app for purchasing SMS tickets to Android and iOS via Uno Platform. It is doing rather well, especially on Android where it has already over 3000 downloads and counting :-) . It uses some of the new APIs like SMS compose and JumpLists.

iOS App Store: https://apps.apple.com/us/app/czech-sms-ticket/id1477710726
Android Play Store: https://play.google.com/store/ap

[2019-09-30 18:59] #1614 closed

[2019-09-30 19:59] ghuntley opened #1643 "Improve documentation to provide clarity how to implement/contribute a feature"
## What's wrong?

Feedback from https://gitter.im/uno-platform/Lobby?at=5d911ee1bf625112c0038f64

https://gitter.im/uno-platform/Lobby?at=5d1dde106658420b1cf3bb23
but it was not very clear. I made Uno.UI to build successfully with my new feature, and now I want to make a NuGet package to test it locally. I found some info here
https://github.com/unoplatform/uno/blob/master/build/_HOW-TO-BUILD-AND-

[2019-09-30 20:03] ghuntley commented on #1643
This information is scattered between three documents:

1. https://github.com/unoplatform/uno/blob/master/build/_HOW-TO-BUILD-AND-DEBUG-APPS.md
1. https://github.com/unoplatform/uno/blob/master/doc/articles/uno-development/debugging-uno-ui.md
1. https://github.com/unoplatform/workshops/tree/master/uno-bootcamp/modules/07-Working-with-Uno

Thoughts:

- Move content from `build/_HOW-TO-BUILD-AND-DEB

[2019-09-30 20:14] ghuntley commented on #1643
I highly recommend watching the following talk to glean insights to the desired outcome:

[![](http://img.youtube.com/vi/FJHsnqyvOjY/0.jpg)](http://www.youtube.com/watch?v=FJHsnqyvOjY "")

When someone is looking at the "contribute to Uno" documentation they are looking to do a "task" based outcome. The internals _may_ matter to the contributor but ultimately what they want to do is contribute to

[2019-09-30 20:31] MartinZikmund commented on #1643
I have documented my first time contribution to Uno Platform on my blog as a three-part series:
https://blog.mzikmund.com/2019/03/contributing-to-the-uno-platform-part-1/
https://blog.mzikmund.com/2019/04/contributing-to-the-uno-platform-part-2/
https://blog.mzikmund.com/2019/04/contributing-to-uno-platform-part-3/

[2019-10-01 06:58] artemious7 commented on #1629
How do we workaround unavailability of `IRandomAccessStream` ? `Windows.Data.Pdf.PdfPage` has only this way of rendering a pdf page, requiring this type:

        public IAsyncAction RenderToStreamAsync(IRandomAccessStream outputStream, PdfPageRenderOptions options)

The caller will use Stream instead of IRandomAccessStream, and the actual implementation will also use Stream. So I made a simple wo

[2019-10-01 13:43] davidjohnoliver commented on #1629
@artemious7 That's a valid approach. How much effort do you think it'd be to actually add a concrete implementation of `IRandomAccessStream`? (Probably wrapping `System.IO.Stream` in the same way, but allowing caller code to work with the `IRandomAccessStream` API)

[2019-10-01 13:51] artemious7 commented on #1629
@davidjohnoliver I tried to port such code from `corefx`, but there's lots of code and lots of dependencies on different classes.  `IRandomAccessStream` has methods like:

    IAsyncOperation<bool> FlushAsync()
    IAsyncOperationWithProgress<IBuffer, uint> ReadAsync(IBuffer buffer, uint count, InputStreamOptions options)

I didn't find an easy way to convert `Task<bool>` into `IAsyncOperation<boo

[2019-10-01 13:57] jeromelaban commented on #1629
`IRandomAcesssStream` can be a stubbed in something that does not do much, and wraps an actual `System.IO.Stream`: https://github.com/unoplatform/uno/blob/9cab171885728f0db228392b503ba534fafb7bbf/src/Uno.UI/UI/Xaml/Media/Imaging/WriteableBitmap.cs#L15

and that needs to (and can only) be used through a `System.IO.Stream`. That can makes the implementation a lot easier to build.

[2019-10-01 13:59] davidjohnoliver commented on #1629
There's a helper already to make an `IAsyncOperation` from a `Task`: https://github.com/unoplatform/uno/blob/master/src/Uno.Foundation/AsyncOperation.cs

[2019-10-01 14:23] mkwhalen commented on #1643
I'd be happy to work on this!

[2019-10-01 14:39] #1515 closed

[2019-10-01 16:51] BrianDT opened #1665 "Command bar icons not displayed or displayed in wrong colour."
The sample referred to  below contains a command bar with one icon.

On UWP the display is as expected, displaying white icons and white ellipsis on a dark background.
On Android and iOS no icon is displayed
On WASM the command bar icon is displayed, but the ellipsis does not obey the foreground colour change. The secondary menu is not displayed.

Project displaying issue at:
https://github.com/Br

[2019-10-01 17:17] Sai-Adarsh commented on #1620
@jeromelaban Shall I work on this?

[2019-10-01 18:38] gagandeepp commented on #1597
how to test this? Do I need to run Uno.UI.Tests ???

[2019-10-01 19:18] jeromelaban commented on #1597
@gagandeepp yes, but you can also rely on the CI output to determine if the Urls work properly.

[2019-10-01 19:58] TopperDEL commented on #1332
On Android it is working now as expected - so from my Point of view this one can be closed.

[2019-10-01 19:58] #1332 closed

[2019-10-01 21:29] MartinZikmund opened #1674 "Control background does not work"
## Current behavior

When `Background` is set on elements like `Page` or `ContentControl`, the background is not actually shown in WebAssembly.

## Expected behavior

Background brush should be reflected in app.

## How to reproduce it (as minimally and precisely as possible)

Create a `Page` and set its `Background` to `Blue`. Run on WASM and observe the background is still default white.

## Env

[2019-10-01 22:14] jeromelaban commented on #1674
If I were to guess, I'd say that's because `Page` has no default style, and that it uses the implicit `ContentControl` behavior. Adding the default one will probably fix it.

[2019-10-02 08:27] greenorb007 commented on #1636
Please help me out with this i am able to understand the issue but don'tknow how to work on issues and how to add the tutorial.

[2019-10-02 08:44] sjain1234 opened #1677 "bug filing template link is broken in CONTRIBUTING.md file"
## On which page?
CONTRIBUTING.md

## What's wrong?
When we click on "bug filing template" link, it  opens  webpage saying"Page not found ".
Please fix it.

## Any feedback?
Please validate all the urls on every uno documentation page.

[2019-10-02 09:17] MartinZikmund commented on #1674
You mean adding a default style? I am confused why it works on Android and iOS and not on WASM.

Also I was looking [here](https://github.com/unoplatform/uno/blob/3b9641f94a6cb8aaa5a2abc7d44da0becd1cf981/src/Uno.UI/UI/Xaml/Controls/Control/Control.cs#L59) - I am a bit confused about why the property works differently than others, could you please give me some background (pun intended) on this?

[2019-10-02 11:09] greenorb007 commented on #1595
I understanded the thing to do but i am currently new in the open source and don't know how to get started with the issues and how to resolve them, so please help me in this.

[2019-10-02 11:15] jeromelaban commented on #1674
The default style for `ContentControl` may be different on Wasm, this will be addressed by the styles update.

And as `Page` has no default style, it relies on that default behavior. Try adding one.

[2019-10-02 19:10] Niladri24dutta commented on #1430
@ghuntley Can I work on this? already created a fork for my changes following the changes for #1429 . Is there any unit test case that I need to update?

[2019-10-02 19:23] anchepiece commented on #1430
Hello @ghuntley, @Niladri24dutta :wave:,

Thanks to the Uno team for open sourcing this platform.

It looks like there are a few places where surfacing some constructors would be useful. If @Niladri24dutta takes this issue, could you create new issues to track based on priority?

[2019-10-02 19:47] ghuntley opened #1688 "The type [T] is not known by the MetadataProvider, either add the Bindable attribute or add it to the TypeMetadataConfig.xml"
## What would you like clarification on:

## Concern?

- [x] Developing with Uno

## For which Platform:

- [x] iOS
- [x] Android
- [x] WebAssembly
- [ ] Windows

## Anything else we need to know?

[2019-10-02 19:53] tacoelho commented on #1688
I´d like to try this one.

[2019-10-02 19:58] ghuntley commented on #1688
@tacoelho welcome to Uno :wave:. The change will involve improving the error message found over at https://github.com/unoplatform/uno/blob/master/src/SourceGenerators/Uno.UI.SourceGenerators/BindableTypeProviders/BindableTypeProvidersGenerationTask.cs#L225 and potentially authoring some documentation.

@dr1rrb can provide specific insights as to what the error message means, the implications and w

[2019-10-02 20:08] smikis commented on #1569
I added class which hides additional clear button for input fields in  Internet Explorer / Edge. Please advice if I did something wrong and I'll try to fix it

[2019-10-02 20:36] tacoelho commented on #1688
Hi @dr1rrb !

What types of metadata are allowed or they´re free to be defined by the user? What´s their purpose? If it´s defined by the user I understand that this message means that it wasn´t added and the error is thrown.  Could you please provide more details?

[2019-10-02 20:51] carldebilly commented on #1561
Problem reproduced on the Playground: https://playground.platform.uno/#4057807b

`ContentControl` seems innocent here, it seems to be when we're putting a `TextBox` in a `Grid`'s column with a `Width="*"`.

Will continue to investigate...

[2019-10-02 20:56] jeromelaban commented on #1451
The skiasharp nuget packages have been updated to include the latest changes from the official skiasharp repo. Could you take it for spin and see if it helps?

Thanks!

[2019-10-02 23:27] EisenbergEffect commented on #1116
Just thought I'd check in here and see how things are going. I'm very interested in pure C#+Skia. It looks like the WebGL issue hasn't progressed since June. Can anyone provide a bit of a status report? Thanks!

[2019-10-02 23:40] gagandeepp commented on #1677
Please approve and merge

[2019-10-03 00:17] jeromelaban commented on #1116
Hi @EisenbergEffect, thanks for asking! The WebGL update is still on the roadmap, we've announed it at UnoConf for future work.

At this time, the bulk of the work is stabilizing the SkiaSharp support for Wasm using software rendering, and [there was an update today](https://github.com/unoplatform/Uno.SkiaSharp/pull/13) that includes a lot of changes made for the past few months in the official Sk

[2019-10-03 00:40] jeromelaban commented on #1688
This message is primarily a performance warning, which only happens in debug configuration.

It means that if you do not add the `[Bindable]` attribute on the mentioned type, reflection is going to be used instead. Reflection is pretty slow during lookups, and then invocations.

That being said, generic types cannot use that attribute, but this message is still displayed by the binding engine anyw

[2019-10-03 02:18] EisenbergEffect commented on #1116
@jeromelaban Thanks for the update. Please ping this issue when WebGL rendering drops. I'd love to give it a try. I've been using CanvasKit WebGL with TypeScript quite a bit this year and I'd like to compare the experience and performance to an equivalent C# implementation of my work.

[2019-10-03 02:52] imagentleman opened #1698 "The Microsoft Xamarin installation instructions link in the Getting Started returns 404"
## On which page?

https://platform.uno/docs/articles/getting-started-tutorial-1.html

## What's wrong?

In the prerequisites sections (https://platform.uno/docs/articles/getting-started-tutorial-1.html#prerequisites) the link to the xamarin installation docs (https://docs.microsoft.com/en-us/xamarin/get-started/installation/index.md) returns 404.

## Any feedback?

[2019-10-03 05:05] mkan0141 opened #1702 "Fix repository user name in uno-toolchain-telemetry.md"
## On which page?
https://platform.uno/docs/articles/uno-toolchain-telemetry.html

## What's wrong?
The repository user name is different.

old:  nventive/uno
new: unoplatform/uno

## Any feedback?

[2019-10-03 12:56] tacoelho commented on #1688
Thanks @jeromelaban I guess preventing the message to be displayed is the best way to go. I’ll work on that.

[2019-10-03 13:14] dr1rrb commented on #1688
Definitely agree that preventing the message when useless is the best solution, but we can still update the message to explain the effects (i.e. the performance hit due to the usage of the reflection).

[2019-10-03 15:05] jeromelaban opened #1706 "[Wasm][XF] The Switch renderer is not working"
## Current behavior

The Switch control does not appear in the gallery:
https://xf-uno-wasm-staging.azurewebsites.net/

## Expected behavior

The Switch renderer is working properly.

## Environment

Nuget Package: 2.0-dev.x

Package Version(s):

Affected platform(s):
- [ ] iOS
- [ ] Android
- [x] WebAssembly
- [ ] Windows
- [ ] Build tasks

Visual Studio
- [ ] 2017 (version: )
- [ ] 2019 (version

[2019-10-03 15:07] jeromelaban opened #1707 "[Wasm] Improve persistence synchronization"
##  What would you like to be added:

Storing files in persisted folders are not properly synchronized with emscripten's backend.

## Why is this needed:
Storing files should be working.

## For which Platform:

- [ ] iOS
- [ ] Android
- [x] WebAssembly
- [ ] Windows

## Anything else we need to know?

[2019-10-03 15:10] jeromelaban opened #1708 "[Wasm] ContentDialog initial placement is incorrect"
## Current behavior

When opening a `ContentDialog` its initial placement is incorrect, and interacting with it places it at the proper location.

## Expected behavior
The initial placement is correct.

## Environment

Nuget Package: 2.0.263-dev.2923

Package Version(s):

Affected platform(s):
- [ ] iOS
- [ ] Android
- [x] WebAssembly
- [ ] Windows
- [ ] Build tasks

Visual Studio
- [ ] 2017 (vers

[2019-10-03 15:57] tacoelho commented on #1688
Alright, I´ll do both. Thanks for the tips, @dr1rrb @jeromelaban

[2019-10-03 16:46] yashk2000 opened #1713 "Grammatical errors in documentation"
## On which page?
[u o/_HOW-TO-BUILD-AND-DEBUG-APPS.md
](https://github.com/unoplatform/uno/blob/master/build/_HOW-TO-BUILD-AND-DEBUG-APPS.md)
## What's wrong?
Grammatical errors in documentation

[2019-10-03 17:26] ghuntley commented on #1430
Welcome to Uno :wave: I'm chuffed to see two brand new faces to the project digging in and asking to help.

@Niladri24dutta I've assigned this issue to you. Dig in!

@anchepiece rather than open a GitHub issue and pull-request per control could you please instead batch them in a single pull-request?

Here's what you both gotta know, we don't require or need test coverage for `src/Uno.UI/Controls/B

[2019-10-03 17:42] carldebilly commented on #1561
Investigations finished. There's 2 components in this problem:
1. The _natural_ width (when no constrains nor stretches are speficied on it)  of a `<TextBox>` is too large. On Windows, it's 64px. On Wasm it's about 225px. That's not a big deal, except when you're using it in an `Auto` width column.
2. The actual problem here is caused by the clipping not being applied correctly on wasm.  The first

[2019-10-03 18:06] carldebilly commented on #2
I think this problem has been fixed a while ago.

[2019-10-03 18:07] #2 closed

[2019-10-03 20:26] ghuntley opened #1717 "Automatically deploy PR artifacts to a website so folks can click on a URL when reviewing the PR"
## What would you like to be added:

1. [x] Automatically build pull-requests
1. [ ] Create Azure Blob Storage
1. [ ] Create Azure DevOps deploy task
    1. [ ] Take pull-request # from GitHub and create blobstorage/$pullRequestId folder and replacing existing WASM content
    1. [ ] Take pull-request # from GitHub and create blobstorage/$pullRequestId folder and replacing existing APK content

[2019-10-03 21:16] BradChase2011 opened #1718 "[Wasm][XF] "System.TypeLoadException: Invalid generic instantiation"
# Current behavior

When running the Xamarin Forms target and using any styles in the forms XAML, it crashes on loading the main page.  On the IStyle.Apply and IStyle.Unapply, it crashes out with:

[code]

This is in X.F code:

[code]

I guess my question is, why would this happen on WASM but not on iOS/Droid/UWP/WPF/macOs (i run the same app on them all).  Is this a common issue that maybe I need

[2019-10-03 22:55] kharaone commented on #1564
isn't that supposed to be not an issue anymore on windows 10 + .net 4.6.2+ ?

[2019-10-04 06:50] AgentJ08 opened #1719 "Inconsistency in content"
## On which page?
https://github.com/unoplatform/uno/blob/master/doc/articles/using-uno-ui.md
## What's wrong?
Many inconsistent line breaks

[2019-10-04 10:01] pdecostervgls opened #1721 "[iOS] ProgressRing not visible when in ListView"
## Current behavior

On iOS, the ProgressRing doesn't show when it is located within a ListView.

iOS | UWP
--- | ---
![image](https://user-images.githubusercontent.com/47024956/66198580-fcad1900-e69c-11e9-9b1f-560638b51ea8.png) | ![image](https://user-images.githubusercontent.com/47024956/66198932-d2a82680-e69d-11e9-925b-a54e77d200c4.png)

## Expected behavior

The ProgressRing gets shown when it

[2019-10-04 15:20] ghuntley commented on #1357
The workshop has been released and is open-source 🎉

https://github.com/unoplatform/workshops

[2019-10-04 15:20] #1357 closed

[2019-10-04 15:24] #1277 closed

[2019-10-04 15:57] NicolasChampagne commented on #1634
The DatePickers child seems to have no dependencyproperties

[2019-10-04 16:59] ghuntley commented on #221
Related - https://github.com/unoplatform/uno/pull/1256

[2019-10-04 17:52] XiaotianNetlift opened #1724 "[Android] touch events are not dispatched properly with transform"
## I'm submitting a...
Bug report (I searched for similar issues and did not find one)

##  Current behavior
The origin control, where a press-hold-and-drag gesture begins, doesn't receive the `MotionEvent.ACTION_UP` or `MotionEvent.ACTION_CANCEL` event if that occurs on a region that doesn't have the same `Transform` property as the origin control along its visual tree.

## Expected behavior
The

[2019-10-04 17:53] XiaotianNetlift commented on #1724
Xaml:
[code]

XButton.cs:
[code]

[2019-10-04 18:05] dr1rrb commented on #1724
Please check with https://github.com/unoplatform/uno/pull/1256, it should be fixed.

[2019-10-04 18:05] MatFillion commented on #1724
Related issue : https://nventive.visualstudio.com/Umbrella/_workitems/edit/163128

[2019-10-04 18:09] MaximeDionNventiveCom opened #1725 "Inconsistent behavior for ListView Footer placement [iOS, Android] vs Uwp"
## Current behavior

If a listview with footer does not contain enought item to cover the screen the footer is at the bottom of the list who's streching to cover the whole page on UWP but on iOS and Android the footer hangs directly under the last ListItem. Adding a background to the ListView hows that the list does cover the full page on iOS and Android.

## Expected behavior

The footer of the L

[2019-10-04 19:04] XiaotianNetlift commented on #1724
Can confirm. It is fixed with #1256:
commit 5dbf8ea32e74672a6f05494a4a95d2d2d56a0e9c (HEAD -> feature/iosTouches, origin/feature/iosTouches)

[2019-10-05 11:11] pkar70 commented on #1527
As it seems, short strings are ok:
`uiWeb.NavigateToString("<html><body><p>test</body><html>");`

but long strings leads to error:
`            string sTmp;`
`            sTmp = "<html><body>";`
`            for (int i = 0; i < 1000; i++)`
`            {`
`                string sLinia = "Linia " + i.ToString() + " ";`
`                sLinia = sLinia.PadRight(1000, 'x');`
`                sTmp =

[2019-10-05 18:21] hawkerm opened #1731 "WASM head not running in VS 2019 with default template"
## Current behavior
Started a new project in VS 2019 16.3.2 with the default Uno platform app project. Am able to run Android and UWP heads, but WASM head fails to load in Firefox and new Edge.  In new Edge, clearly get this error message:

[code]

Verified that `dist` directory indeed doesn't exist.

## Expected behavior
Base template to run 'Hello, World!' example.

## How to reproduce it (as mi

[2019-10-05 18:36] hawkerm commented on #1731
Ah, this is related/possible duplicate of #1376.  I had .NET Core 2.2 installed but for VS 2017, you apparently need a different version of the SDK for VS 2019.  So, once I installed that version of the .NET Core 2.2 SDK, I was able to run the sample.

[2019-10-05 18:38] hawkerm commented on #1731
I was also previously prompted to install the .NET 4.6.2 developer tools, but that showed up in the output with a link.

[2019-10-05 19:08] gevart commented on #1328
Hello world!
I'm very fond of Uno and also came across this issue while working on a project so I wanted to help. I'm new to GitHub but hope it'll not prevent me from being of service :)

[2019-10-05 19:12] wallyh010 commented on #1627
The error only occurs in the Google Chrome browser.
My Version 77.0.3865.90 (Official Build) (64-bit)

My OS: Microsoft Windows 10 Pro
My Version: 10.0.17763 Build 17763

The original error in the initial post is what is returned when running the REST service in IIS.
The solution\projects attached to this message are using IISExpress and returns the error message below which is probably just a dif

[2019-10-06 11:05] techierathore commented on #626
Thanks @MartinZikmund , I would love to join you guys and see how I can support.

[2019-10-06 11:09] kazo0 commented on #1595
@greenorb007 I'd love to look at this one and walk you through it so you can see how to get Uno up and running and how to submit a pull request!

[2019-10-06 11:15] kazo0 commented on #1327
I can take this if no one is looking into it yet

[2019-10-06 11:18] MartinZikmund commented on #1327
@kazo0 hi, sorry this is already resolved as part of #1628

[2019-10-06 11:19] MartinZikmund commented on #1327
Completely forgot to link this to the PR :-)

[2019-10-06 11:20] MartinZikmund commented on #1317
#1628 implements this

[2019-10-06 11:21] MartinZikmund commented on #1323
#1628 implements this

[2019-10-06 11:26] kazo0 commented on #1155
Is this currently being worked on? I can take it if not

[2019-10-06 19:31] pkar70 opened #1735 "[droid/WASM] DatePicker strange flyout"
## Current behavior

`  <AppBarButton x:Uid="resDay" Label="Kalendarz" Icon="Calendar" Name="uiKalend">`
`           <AppBarButton.Flyout>`
`                       <Flyout >`
`                            <DatePicker Name="uiDay" DateChanged="uiDayAndro_Changed" />`
`                      </Flyout>`
`         </AppBarButton.Flyout>`
`    </AppBarButton>`

On tapping, displays this (WASM head)
![ann

[2019-10-06 21:57] greenorb007 commented on #1595
ok so you are going to help me on this right! @kazo0

[2019-10-07 01:11] kazo0 commented on #1595
@greenorb007, sure. To start, you should read through the docs for setting up the Uno solution (https://platform.uno/docs/articles/uno-development/debugging-uno-ui.html) and try and get the samples all up and running. We can take a look at the issue from there.

[2019-10-07 06:47] pdecostervgls commented on #1155
Not actively no, feel free to take a stab at it :) Thanks in advance!

[2019-10-07 10:45] MartinZikmund commented on #1586
Done :-)

[2019-10-07 10:45] #1586 closed

[2019-10-07 14:24] peternary opened #1741 "[DROID] ApplicationData.Current null in App constructor"
## Current behavior

On Droid, if you attempt to access ApplicationData.Current in the App constructor it is null.  This should be available so things like user-selected themes could be pulled from the LocalSettings store before the App InitializeComponent call is made.

## Expected behavior

ApplicationData.Current should be usable in App constructor.

In the attached project, attempt to start in

[2019-10-08 03:05] hawkerm opened #1754 "Skia drawCircle and drawPoint prevent all rendering when used on WASM"
## Current behavior
Trying to use `drawCircle` or `drawPoint` with a Skia canvas on WASM causes all rendering commands to not function.

## Expected behavior
Able to draw circle or points.

## How to reproduce it (as minimally and precisely as possible)
1. Run the `SkiaSharp.Extended.Svg` example from the Uno repo in WASM, see that it works
2. At the bottom of the render [function in MainPage.xaml

[2019-10-08 03:18] #1719 closed

[2019-10-08 03:34] anchepiece commented on #1430
@ghuntley Thanks, pushed this work into the single pull referenced. Feedback and suggestions welcome.

[2019-10-08 07:25] jeromelaban opened #1763 "[Wasm] Loaded even is raised too early"
## Current behavior

The Loaded event is raised too early, making `FrameworkElement.ActualWidth` and `ActualHeight` provide incorrect values.

## Expected behavior

The Loaded event should provide access to the `FrameworkElement.ActualWidth` and `ActualHeight` properties.

## How to reproduce it (as minimally and precisely as possible)

See https://github.com/unoplatform/Uno.Xamarin.Forms.Platform

[2019-10-08 11:41] ghuntley opened #1764 "The type or namespace name '_View' could not be found (are you missing a using directive or an assembly reference?)"
## Current behavior

[code]

Enabling `DefineConstants` at `DEBUG` causes WASM head to fail with The type or namespace name '_View' could not be found on the github.com/unoplatform/workshop app.

## Environment

Nuget Package: latest

Package Version(s):

Affected platform(s):
- [ ] iOS
- [ ] Android
- [x] WebAssembly
- [ ] Windows
- [ ] Build tasks

Visual Studio
- [ ] 2017 (version: )
- [ ] 2019

[2019-10-08 11:54] ghuntley commented on #1764
Related - https://github.com/KirillOsenkov/MSBuildStructuredLog/issues/262

[2019-10-08 12:22] mkwhalen commented on #1731
I can confirm that fixed the issue for me as well on VS 2019

[2019-10-08 12:57] artemious7 opened #1765 ""Invalid file name: It must contain only [^a-zA-Z0-9_.]+" when App Bundle enabled"
## Current behavior
Debug build success. Release build fails with a few errors all saying:
"Invalid file name: It must contain only [^a-zA-Z0-9_.]+"

## Expected behavior
Build successfully.

## How to reproduce it (as minimally and precisely as possible)
In latest Uno app template published in Marketplace for VS 2019, for Android project enabled Android App Bundle generation with this line in .cs

[2019-10-08 14:16] vincentcastagna commented on #1765
This PR is supposed to fix this issue, isn't it  ? https://github.com/unoplatform/uno/pull/1616/files

[2019-10-08 16:07] artemious7 commented on #1765
This line
`<AndroidUseAapt2>false</AndroidUseAapt2>`

should have fixed it, but the problem is still there. I checked, this line is present in project.
Also the strange thing is that it builds fine in Release mode in Azure Pipelines, but fails to build on my machine.

[2019-10-08 17:40] MartinZikmund opened #1767 "Invalid this keyword generated"
## Current behavior

`Storyboard` `TargetName` property generates a `this.` reference in the generated code, which is invalid as it resides in a `static StaticResources` class.

## Expected behavior

The generated code should be valid.

## How to reproduce it (as minimally and precisely as possible)

Create a new app and add with the following XAML:

[code]

Try to compile and note the error in ge

[2019-10-08 18:06] MartinZikmund opened #1769 "Support LinearColorKeyFrame animation"
## What would you like to be added:

`LinearColorKeyFrame` to allow animation of `Color`

## Why is this needed:

Cool gradient animations

## For which Platform:

- [x] iOS
- [x] Android
- [x] WebAssembly
- [ ] Windows

## Anything else we need to know?

[2019-10-08 18:07] MartinZikmund commented on #1765
Try to close VS and then delete `bin` and `obj` folders in the project. Then rebuild and see if it helped

[2019-10-08 19:31] artemious7 commented on #1765
That was the first thing I did. Moreover, it was a clean new project from template

[2019-10-08 19:46] artemious7 commented on #1765
@MartinZikmund I also tried the same project on another machine with VS 2019, the same problem. Please, try it on your machine. I attached the repro project in the description.

![image](https://user-images.githubusercontent.com/16724889/66427812-6c186500-ea1d-11e9-9cdf-9a817ea1f086.png)

[2019-10-08 23:23] #587 closed

[2019-10-09 01:34] ghuntley commented on #28
:wave: had the opportunity to dig into this and this is what I found.

1. File -> New "MyApp.Uno"
2. Update to latest pre-release of Uno.* packages
3. Building on WASM and Android results in

[code]

4. Adding `global:: namespace` to ConfigureFilters resolves

[code]

4. Android and WebAsm compile fine.
5. iOS untested, pending macOS configuration on Geoff's end due to Catalina release.

[2019-10-09 01:59] #1381 closed

[2019-10-09 01:59] ghuntley commented on #1381
Hotfixes have been PR'ed into Batman stable.

[2019-10-09 02:00] ghuntley commented on #1731
Ugh, that's no good folks. Thanks for letting us know that you ran into problems. Now that UnoConf is over I'll pickup https://github.com/unoplatform/uno/pull/1384 once again. Closing as duplicate of existing.

[2019-10-09 02:00] #1731 closed

[2019-10-09 02:01] ghuntley commented on #1731
If you see any inaccuracies in the getting started documentation, please send in a pull-request btw :)

[2019-10-09 02:02] ghuntley commented on #1627
@wallyh010 do you have sample that we can look at ?

[2019-10-09 02:17] ghuntley commented on #1721
Potentially related https://github.com/unoplatform/uno/pull/1320

[2019-10-09 02:19] #1713 closed

[2019-10-09 02:19] #1702 closed

[2019-10-09 02:19] #1698 closed

[2019-10-09 02:20] #1677 closed

[2019-10-09 02:24] ghuntley commented on #1622
howdy @TonyHenrique, Microsoft hasn't authored the Visual Studio integration with WebAssembly debugging yet thus it's important to start your debugging session by the "start WITHOUT debugging" menu option. See https://github.com/unoplatform/uno/blob/master/doc/articles/debugging-wasm.md for more information.

[2019-10-09 02:26] ghuntley commented on #1589
@SuperJMN https://github.com/unoplatform/workshops/tree/master/uno-bootcamp/modules/04-Create-rich-responsive-UIs#-xaml-with-uno or specifically https://platform.uno/docs/articles/platform-specific-xaml.html

[2019-10-09 02:33] ghuntley commented on #1619
:wave: have added a brand new GitHub issue category to track this category - `area/wasm-devtools`

[2019-10-09 02:45] ghuntley commented on #1463
@pkar70 since creating/using the virtual machine, have you run into this problem?

[2019-10-09 03:39] ghuntley commented on #1636
@greenorb007, welcome to GitHub. This might be too much for you to take on right now. I'd be happy to jump on a call to explain open-source/how GitHub works? https://ghuntley.com/meet

[2019-10-09 03:39] ghuntley commented on #1636
@codetronaut it's yours!

[2019-10-09 04:33] MartinZikmund commented on #1323
Do-ne! 🎉🎉🎉🎉

[2019-10-09 04:33] #1323 closed

[2019-10-09 04:33] MartinZikmund commented on #1317
Do-ne! 🎉🎉🎉🎉

[2019-10-09 04:33] #1317 closed

[2019-10-09 04:33] MartinZikmund commented on #1327
Do-ne! 🎉🎉🎉🎉

[2019-10-09 04:33] #1327 closed

[2019-10-09 04:58] MartinZikmund commented on #1765
@artemious7  I am not at my dev PC right now, but please try to copy the `<AndroidUseAapt2>false</AndroidUseAapt2>` line to the release `PropertyGroup` in Android .csproj as well, like this:

[code]

[2019-10-09 05:03] MartinZikmund commented on #1765
You are right, even with `<AndroidUseAapt2>false</AndroidUseAapt2>` in Release configuration it seems it fails 😕 .

[2019-10-09 06:50] geisterfurz007 commented on #1564
Whereabouts would a check like that need to be added?
I know this isn't labeled Good first issue but I would still love to try and help out with this :)

[2019-10-09 07:42] pkar70 commented on #1463
As it works with Uno.Core 1.27.0, I almost forgot about this problem...
Just tried: build within VM, VStudio 2019, release x86, Uno.Core 1.28.0. Same error.
Changing back to 1.27.0: build OK.

[2019-10-09 09:43] pkar70 commented on #227
Yes, please add this event...

[2019-10-09 13:10] jeanplevesque opened #1776 "Using Button.Click handler in code behind doesn't work when used in a DataTemplate"
## Current behavior
Button.Click handler in code behind **is not** called when the button is in a DataTemplate in the Page's Resources.

## Expected behavior
Button.Click handler in code behind **is** called when the button is in a DataTemplate in the Page's Resources.

## How to reproduce it
1. Create a new Page and add a DataTemplate in the Page.Resources.
1. In that DataTemplate add a Button an

[2019-10-09 13:53] SuperJMN opened #1778 "Support for Headers in ListView"
## What would you like to be added:

Support for `ListView.Header`, +`ListView.HeaderTemplate`

## Why is this needed:
It helps simplify XAML layouts

## For which Platform:

- [X] iOS
- [X] Android
- [X] WebAssembly
- [ ] Windows

[2019-10-09 13:54] davidjohnoliver commented on #1778
`Header` and `HeaderTemplate` should be working on iOS and Android, are you encountering any problems on those platforms?

It's not implemented on WASM yet, see this issue for tracking: https://github.com/unoplatform/uno/issues/234

[2019-10-09 14:53] MakanWG commented on #1473
The collapsed controls don't seem to change anything to the issue.
Using the provided sample project, I noticed that the empty RowDefinitions are enough to replicate the issue : The ListViewItems are still kind of shrinked if you remove the Textblocks.

So investigating more about those I found in the [documentation](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.rowdefinition.h

[2019-10-09 15:55] gevart commented on #1328
Am I right in the assumption that ProgressRing was working in Wasm at some point?
Or maybe it's just not implemented yet?

[2019-10-09 16:02] davidjohnoliver commented on #1328
@gevart The WASM-specific code is [an empty stub](https://github.com/unoplatform/uno/blob/master/src/Uno.UI/UI/Xaml/Controls/ProgressRing/ProgressRing.wasm.cs), so it looks like it was never implemented.

The iOS and Android implementations are currently using native types. For WASM, a good starting point might be to use the proper UWP style from `generic.xaml` and see if it works, if you set the

[2019-10-09 16:32] greenorb007 commented on #1636
@ghuntley can i do this all in a seperate link or blog type or anywhere else? And please guide me a little on how should i start this.

[2019-10-09 16:34] weitzhandler commented on #982
https://github.com/microsoft/microsoft-ui-xaml/issues/1403

[2019-10-09 16:36] codetronaut commented on #1636
@ghuntley Please tell me how should I start this, also should I write a separate blog for this or medium post or anything else?

[2019-10-09 17:37] MartinZikmund opened #1780 "Support .scale-XYZ images on WASM"
## What would you like to be added:

Currently images provided with multiple scales don't render on WASM at all:

For example with:

    <Image Source="/Assets/Test.png" />

The rendered HTML contains just `Test.png`, although such image does not actually exist.

This can be resolved using the `<img>` `srcset` attribute, which allows us to specify multiple different scales for each image based on

[2019-10-09 17:37] MartinZikmund commented on #1780
I will try this

[2019-10-09 18:59] gevart commented on #1328
Thanks for the hint @davidjohnoliver, I'll try

[2019-10-09 19:04] MartinZikmund opened #1781 "Dragging Image on WASM shows "drag""
##  Current behavior

Dragging an Image in WASM shows "drag UI" with preview of the image.

## Expected behavior

By default, images on UWP are not draggable, so the drag UI should not be present on WASM as well.

## How to reproduce it (as minimally and precisely as possible)

Place an <Image> on MainPage, launch and try to drag it with mouse on WASM.

## Environment

Nuget Package: latest

Packa

[2019-10-09 20:07] MartinZikmund commented on #1780
@davidjohnoliver Is there a built-in way to find out all available `.scale-` versions of an image or should I implement it from the start?

[2019-10-09 20:47] weitzhandler commented on #1385
Is there a way to have an Uno page/control with constructor parameters?
How about a uniform virtual method that's always invoked upon initialization/loading?

[2019-10-09 21:10] MartinZikmund opened #1785 "React to theme changes at runtime"
## What would you like to be added:

If user does not specify default theme using `RequestedTheme` in App.xaml, app should change its theme even in runtime when OS theme is changed.

## Why is this needed:

To make the app look at home during the day and during the night. ☀🌛

## For which Platform:

- [x] iOS
- [x] Android
- [x] WebAssembly
- [ ] Windows

## Anything else we need to know?

Functio

[2019-10-09 21:16] weitzhandler commented on #1385
Trying to figure out how

[2019-10-09 22:21] weitzhandler commented on #1385
Please check out my PR.

[2019-10-09 22:31] weitzhandler commented on #1385
Please check out my PR, that can make things easier.
But we need to find a way to allow constructors with parameters, to enable DI.

[2019-10-10 01:49] ghuntley opened #1788 "RegEx used by GitHub actions to automatically label pull-requests requires tweaking"
## Current behavior

https://github.com/unoplatform/uno/pull/1787

## Expected behavior

- Pull-requests to be automatically labeled as per `.github/labeler.yml` and https://github.com/unoplatform/uno/pull/1773

## How to reproduce it (as minimally and precisely as possible)

See https://github.com/unoplatform/uno/pull/1787 and https://github.com/actions/labeler

## Anything else we need to know?

[2019-10-10 05:22] jotaro-sama commented on #1788
Is this the issue to be addressed or is there more? I'll do what I can to find what is causing the issue.

[2019-10-10 05:42] jotaro-sama commented on #1788
Is this the only issue to be addressed, or is there something else as well?

Anyway, I guess I'll try figuring out what's causing the issue. I'll let you know and post a PR if I manage to fix this!

[2019-10-10 06:38] ghuntley commented on #1741
howdy @Pedrocssg, thanks for providing the reproduction. I can confirm reproducibility on Android when used in the App constructor whilst usage afterwards works fine.

[2019-10-10 06:43] pkar70 opened #1791 "[droid] Graylisted API used by Uno (or its libraries)"
## Current behavior
 When I ported my UWP app to Uno:Droid, and upload app to Play Store, I get 12 warnings: "The following APIs are greylisted and Google can’t guarantee that they will work on existing versions of Android. Some may be already be restricted for your target SDK"

As I don't use Android API directly, all uses are from Uno (or its libraries).

Full data - below (as it is very long).

[2019-10-10 07:26] jeromelaban commented on #1791
All the stack traces you provided are containing google-provided code, not Uno. It may be related to some support library version. Which version of the sdk are you using ? 8.0 or 9.0 ?

[2019-10-10 07:33] pkar70 commented on #1791
Target framework: 9.0 (Pie).

[2019-10-10 07:36] jeromelaban commented on #1791
Then there may be some referencing incorrect versions of support libraries. Where do you see those issues ?

[2019-10-10 07:44] MartinZikmund commented on #1741
I wonder if the Android problem is related to the issue I was seeing when implementing RequestedTheme support. I think there is a problem in that accessing ApplicationContext in App constructor fails, as the App instance is created *before* the Android Application base constructor runs - hence it does not exist yet. I got into a `StackOverflowException` this way, as attempt to use ApplicationConte

[2019-10-10 07:56] pkar70 commented on #1791
I'm not sure what do you mean by "where" - this issues were reported in "Pre-launch report", section "Android compatibility". Report was created in Google Play Console, after I uploaded .apk file.

[2019-10-10 11:51] yowl commented on #1496
Telerik progress can be seen in https://github.com/unoplatform/uno/issues/1550

[2019-10-10 12:10] peternary commented on #28
I'm still getting this issue with latest Uno build.  Sample project attached.
[Test2.Uno.zip](https://github.com/unoplatform/uno/files/3712438/Test2.Uno.zip)

[2019-10-10 12:54] zipswich opened #1794 "Dark theme does not work for Android"
## Current behavior

Added RequestedTheme="Dark" to App.xaml, but the background is still white on Android

## Expected behavior

The background should be dark.

## How to reproduce it (as minimally and precisely as possible)

https://github.com/zipswich/AppDebugUno

## Environment

Nuget Package:

Package Version(s):

Affected platform(s):

- [ ] iOS
- [x ] Android
- [ ] WebAssembly
- [ ] WebAsse

[2019-10-10 12:58] zipswich opened #1795 "PointerReleased event does not work for Android"
## Current behavior

PointerReleased event is not invoked on Android

## Expected behavior

PointerReleased should be invoked.

## How to reproduce it (as minimally and precisely as possible)

https://github.com/zipswich/AppDebugUno

## Environment

Nuget Package:

Package Version(s):

Affected platform(s):

- [ ] iOS
- [x] Android
- [ ] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms
-

[2019-10-10 13:13] davidjohnoliver commented on #1780
@MartinZikmund It's already implemented for the other platforms, you should be able to leverage the existing code: https://github.com/nventive/Uno/blob/5f7131f13b37a5a9809c5cac4b3208a13c549fd4/src/SourceGenerators/Uno.UI.Tasks/Assets/RetargetAssets.cs#L85

[2019-10-10 13:22] wallyh010 commented on #1627
There was an error in my code.  I was attempting to deserialize (JSON) an empty string to a List<MyClass> returned from a REST API call and there was no expectation of ever returning an actual json string.

`var response = await client.SendAsync(request);
var responseData = await response.Content.ReadAsStringAsync(); //responseData = ""
var obj = JsonConvert.DeserializeObject<T>(responseData);`
Th

[2019-10-10 13:33] davidjohnoliver commented on #1791
At least some of these APIs are called by Uno, eg `InitializeScrollbars(TypedArray a)` is called from `NativeListViewBase`. It may be omitting the Uno code from the callstack.

Some of them are unfamiliar though, we definitely don't call `computeFitSystemWindows` anywhere.

[2019-10-10 13:35] davidjohnoliver commented on #1795
@zipswich It may be fixed with @dr1rrb 's feature branch addressing pointer events, he can give you more details

[2019-10-10 13:41] pkar70 commented on #1791
Maybe some of these calls are from Xamarin...

[2019-10-10 13:45] dr1rrb commented on #1795
Hi @zipswich , this should be fixed by https://github.com/unoplatform/uno/pull/1256. There is still few limitations, but with this PR all pointers events should be raised properly.

You can test it with the package _2.1.0-feature.iosTouches.3213_ which is published on a nuget feed dedicated to feature branches : https://dev.azure.com/uno-platform/Uno%20Platform/_packaging?_a=feed&feed=Features ...

[2019-10-10 13:53] zipswich commented on #1795
Thanks a lot.  I look forward to getting it tomorrow.

[2019-10-10 14:15] zipswich commented on #1794
This should do it.  If I remember correctly, UWP template uses it by default, and I removed it at some point when I was porting the project.
Thank you for all the work.

[2019-10-10 18:27] artemious7 opened #1798 "Uno CI build step Android_Tests fails with ObjectDisposedException of NetworkStream"
## Current behavior
Uno CI builds each time on a pull request in Azure Pipilenes. But now CI build step "Android_Tests" fails with an ObjectDisposedException of a NetworkStream. See the following build as example:

https://uno-platform.visualstudio.com/Uno%20Platform/_build/results?buildId=8348
https://uno-platform.visualstudio.com/Uno%20Platform/_build/results?buildId=8334
https://uno-platform.vi

[2019-10-10 19:58] carldebilly opened #1800 "[iOS] [Android] IsEnabled inheritance for visual states"
# Bug Report

## Current behavior
Setting `IsEnabled` to `false` on a parent control (ex: `<ContentControl>`) will effectively disable children controls, but they won't have the _disabled_ look (visual state).

## Expected behavior

## How to reproduce it (as minimally and precisely as possible)

[code]
## More information
This problem was also present on Wasm, but has been fixed in PR #1799.

[2019-10-10 22:24] ghuntley commented on #28
Sorry to hear that Peter, thank-you for attaching a test case - investigating.

[2019-10-10 22:53] artemious7 opened #1802 "How do I vendor Uno, run my own CI and publish these artifacts internally to my own feeds?"
## What would you like clarification on:
I followed this guide [Overriding your local NuGet cache](https://github.com/unoplatform/workshops/tree/master/uno-bootcamp/modules/07-Working-with-Uno#overriding-your-local-nuget-cache)

It says:

Now how do I release my app using my CI in Azure Pipelines together with the Uno.UI I just built?
At this point I'm not ready to use my Uno build in productiuon,

[2019-10-10 23:02] ghuntley commented on #1788
@jotaro-sama thanks so much for digging in <3.

The RegEx for the other labels maybe incorrect as well, if you could check these whilst in there that would be 🌟

[2019-10-10 23:40] ghuntley commented on #28
Howdy,

I was able to reproduce the issue in the above test case. The solution is to add `global::` to `ConfigureFilters` to your existing applications. See https://github.com/geoffreyhuntley/uno-28/commit/f15c8aa2c0f729a77474998da3c9c84a76d9efbe for a diff.

The PR at https://github.com/unoplatform/uno/pull/1771 fixes the problem in the solution template generator and next time we publish a stabl

[2019-10-10 23:43] ghuntley commented on #28
Let me know if this doesn't resolve your issues!

[2019-10-10 23:48] ghuntley opened #1804 "Automatically publish pre-release versions of VSIX to the Visual Studio Marketplace"
## What would you like to be added:

Automatically publish VSIX from `master` to the Visual Studio Marketplace as pre-release versions (similar how we do to NuGet)

## Why is this needed:

See https://github.com/unoplatform/uno/issues/28#issuecomment-540841743

## For which Platform:

- [ ] iOS
- [ ] Android
- [ ] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms
- [ ] Windows
- [ ] Build

[2019-10-11 00:10] ghuntley commented on #1764
Resolved by adding `$(DefineConstants);`

[code]

Specifically - what's happening here is `DefineConstants` overrides existing constants that have been defined which means Uno/WASM symbols are deleted. Will update documentation and workshop with this guidance.

[2019-10-11 00:27] #1764 closed

[2019-10-11 01:53] dr1rrb opened #1806 "Add ability to disable native event reporting"
## Why is this needed:
On WASM and Android the native events (Only Pointers events for android) are not reported to managed code until an event handler is being added to the managed event, but then if user unsubscribe from managed event the native events are still reported.

## For which Platform:

- [ ] iOS
- [x] Android
- [x] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms
- [ ] Window

[2019-10-11 02:25] #32 closed

[2019-10-11 02:25] ghuntley commented on #32
Closing this out due to old age, please open a new GitHub issue if you have performance concerns with a later release.

[2019-10-11 02:27] ghuntley commented on #9
Closing this out as XAML Hot Reload is now in preview, check out https://platform.uno/announcing-uno-platform-2-0/ for more information.

[2019-10-11 02:27] #9 closed

[2019-10-11 04:25] dr1rrb opened #1809 "Unloading a control which has a opened popup won't close it"
## Current behavior
If you remove a `Popup` from the visual tree, the _actual_ popup (i.e. the overlay control) won't disapear

## Expected behavior
It get dismissed like on UWP

## How to reproduce it (as minimally and precisely as possible)
Open a `ComboBox` and navigate while it's open (like in UI tests)

## Environment
Nuget Package: Uno.UI
Package Version(s): 2.0
Affected platform(s):
- [x] i

[2019-10-11 05:02] #1257 closed

[2019-10-11 05:49] zipswich commented on #1795
Just tried 2.0.324-dev.3171, but the event still does not work.

[2019-10-11 11:02] dr1rrb commented on #1795
Unfortunately there is a versioning issue 😔(@benventive ) Moving forward we will disable the "patch" auto increment, but it was wrongly applied to this build.

The published version is 2.0.0.dev-3312 : https://www.nuget.org/packages/Uno.UI/2.0.0-dev.3312

[2019-10-11 11:39] zipswich commented on #1795
Thank you for the clarification.   How can I get the version with NuGet Manager?
Do you mean "down grade" it to 2.0.0?
![image](https://user-images.githubusercontent.com/6095671/66648702-354b7600-ebfa-11e9-9edb-c4d544bc5065.png)

[2019-10-11 11:45] dr1rrb commented on #1795
Yes. Even if the version number is lower, this version is actually newer/upper. We are fixing it https://github.com/unoplatform/uno/pull/1812#event-270585673, a new version with the right version will be available soon.

[2019-10-11 11:46] zipswich commented on #1795
"Downgrading" works. 👏

[2019-10-11 11:48] #1795 closed

[2019-10-11 12:58] mizzleinetimi commented on #1375
https://www.freecodecamp.org/news/uno-platform/

[2019-10-11 12:59] gevart commented on #1328
`Generic.xaml` didn't contain any ProgressRing styles so I added the default one from MSDN.
Had to change the repeat behavior from global Forever (which in WASM led to stack overflow, probably due to lots of child animations) to individual Forevers on each one.
So the ring is not that smooth as it should be, but it's a topic of a separate issue I guess.

This is my first GitHub contribution, so I

[2019-10-11 13:05] mizzleinetimi commented on #18
i believe accunews makes use of it
https://www.accunewsapp.com/

[2019-10-11 13:37] carldebilly commented on #1559
Problems reported for Wasm described in this issue has been addressed and fixed in PR #1799.

Other problems for iOS & Android are moved to a new issue, #1800.

We can consider this issue as fixed.

[2019-10-11 13:37] #1559 closed

[2019-10-11 13:42] carldebilly commented on #1167
Has been fixed by PR #1799

[2019-10-11 13:42] #1167 closed

[2019-10-11 15:02] zipswich commented on #1795
I cannot believe this minor glitch killed me a few hours.
[code]
Background="Transparent" is needed for PointerReleased to work on Android.
I suspected earlier, but somehow disputed it because it failed even with Background="Transparent" under some circumstances, so I started chasing the culprit in wrong directions.
The UWP head works fine without Background="Transparent" .   The color does not ha

[2019-10-11 15:39] dr1rrb commented on #1795
Usually you need to have a non `null` background to get a control "hitable" on UWP ... but I just tested it on UWP and indeed a `Border` can get a `PointerPressed` even if the background is null ... weird:
![image](https://user-images.githubusercontent.com/8635919/66664708-0a254e80-ec1b-11e9-898b-21d8e57698ec.png)

So yes please if you can open a new issue for that, we definitively have to look de

[2019-10-11 15:43] dr1rrb commented on #1795
Hummm no ... actually my test was wrong : it's because I had a `TextBlock`  in my `Border` and in fact I clicked on it, so here I only get the event which is bubbling from the `TextBlock`. But if I click in my `Border` but outside of the `TextBlock` I won't get the `PointerPressed`.

So the actual issue is that the `Image` should be "hit testable" but it's not on Android.

[2019-10-11 16:23] zipswich commented on #1795
I am sorry but I should have stated the importance of Image.  I also tested TexbBlock, it worked while Imaged did dot so I started to examine the image and I was using, and compare it to others.  Anyway, there are many components involved, I spent a lot of time chasing wrong ones.

[2019-10-11 16:46] zipswich opened #1815 "PointerReleased is not invoked under certain circumstances with Android Head"
## Current behavior
Background is needed for PointerReleased to work on Android in the following case.
[code]

## Expected behavior

It should not require Border to have Background for its PointerReleased to work in this case

## How to reproduce it (as minimally and precisely as possible)

https://github.com/zipswich/AppDebugUno

## Environment

Nuget Package: Uno.UI

Package Version(s): 2.0.0-de

[2019-10-11 16:47] zipswich commented on #1795
https://github.com/unoplatform/uno/issues/1815

[2019-10-11 16:49] zipswich commented on #1795
This is certainly not a show stopper.  Adding background to Border is effortless as long as I keep this requirement in mind.

[2019-10-11 18:58] jeromelaban commented on #1237
Thanks for the repro @NGame1 ! Since your report, we made a few other changes, including the support for ThemeResources, and along with #1818, the scenario should now be working properly.

Just note that until #1766 passes, overriding platform defined styles is not yet possible. If you define your own resources, it will work properly.

[2019-10-11 21:10] agneszitte-nventive commented on #1486
Build policies for each branch can also be updated with a path filter like that one

[2019-10-11 21:49] dr1rrb commented on #1227
This has been fixed by https://github.com/unoplatform/uno/pull/1256

I'm closing the issue, feel free to re-open it if there is any issue.

[2019-10-11 21:49] #1227 closed

[2019-10-11 21:50] #1162 closed

[2019-10-11 21:50] #864 closed

[2019-10-11 21:51] dr1rrb commented on #643
This has been fixed by https://github.com/unoplatform/uno/pull/1256

I'm closing the issue, feel free to re-open it if there is any issue.

[2019-10-11 21:51] #643 closed

[2019-10-11 21:53] dr1rrb commented on #1195
This has been fixed by https://github.com/unoplatform/uno/pull/1256

I'm closing the issue, feel free to re-open it if there is any issue.

[2019-10-11 21:53] #1195 closed

[2019-10-12 00:11] Xiaoy312 commented on #1486
I would probably limit the `*.ms` to just:
- `doc/ReleaseNotes/_ReleaseNotes.md`; and
- `/*.md`
Since other `*.md`s seems to be used for publishing.

[2019-10-12 01:27] mscherotter opened #1821 "Implement InkCanvas"
## What would you like to be added:
Implement the UWP InkCanvas control.
## Why is this needed:
to build consistent drawing/inking applications across platforms.

## For which Platform:

- [ ] iOS
- [X] Android
- [ ] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms
- [ X] Windows
- [ ] Build tasks
- [ ] Solution Templates

## Anything else we need to know?

[2019-10-12 01:55] Sumindar commented on #1643
I am a beginner and would like to contribute to documentation kindly guide

[2019-10-12 13:36] MartinZikmund commented on #1781
Finished!

[2019-10-12 13:36] #1781 closed

[2019-10-12 13:38] HanamiM commented on #1418
Martin told me I should try this :-)

[2019-10-12 13:40] MartinZikmund commented on #1449
Hasn't occured since, closing for now.

[2019-10-12 13:40] #1449 closed

[2019-10-12 17:54] HanamiM opened #1823 "The SamplesApp branding is not consistent"
## What would you like to be added:

Have the samples app name the same across all platforms.

## Why is this needed:

Better contributor experience.

## For which Platform:

- [x] iOS
- [x] Android
- [x] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms
- [x] Windows
- [ ] Build tasks
- [ ] Solution Templates

[2019-10-12 17:56] HanamiM commented on #1823
@ghuntley Would "Uno Samples" be an appropriate name? @MartinZikmund will guide me through submitting this issue.

[2019-10-12 20:52] jotaro-sama commented on #1788
I solved the issue on my copy of your branch!

You can see the PRs on my fork where all of the labelings are now working as intended, be them Android, iOS, WASM or whatever (except those on the hidden files and directories, whose filename starts with a dot, I think those are ignored by the labeler anyways).

However, I had to:

1. Copy the contents of the `.github` folder from the main branch that

[2019-10-12 20:53] jotaro-sama commented on #1788
I solved the issue on my copy of your branch!

You can see the PRs on my fork where all of the labelings are now working as intended, be them Android, iOS, WASM or whatever (except those on the hidden files and directories, whose filename starts with a dot, I think those are ignored by the labeler anyways).

However, I had to:

1. Copy the contents of the `.github` folder from the main branch that

[2019-10-12 21:25] jotaro-sama commented on #1788
I actually found out that there were some other incorrect RegExes, but now everything should work fine now, I've made all tests I could think of. I initially thought the `dev/ghuntley/automatic-release-notes` branch was the one where you wanted the modifications (I mistook it for the `dev/ghuntley/automatically-label-pull-requests` branch which is now deleted), so you can see all of my tests on my

[2019-10-12 22:54] maxkatz6 opened #1827 "[Discussion] XamlIL as xaml compilation backend"
##  What would you like to be added:
This issue is just to tell you about the existence of XamlIL.
It could be good for Uno, but it also could be unnecessary or wasteful.

## Why is this needed:
- XamlIL is [faster](https://twitter.com/wieslawsoltes/status/1094612908351410177), than System.Xaml
- Produces IL instead of C#/VB, so potentially can be used with F#
- Should be [more linkable](https://g

[2019-10-12 23:19] jeromelaban commented on #1827
Thank you for initiating the discussion!

At this point, the way Uno generates C# is tied to lots of tricks made to perform compile time /  runtime optimizations (or legacy shortcuts in some cases), and replacing it is not a small task.

We are currently removing some of those shortcuts, but I'm not sure XamlIl will be a solution in mid term, as we're still waiting to see where Microsoft is going

[2019-10-13 18:23] pkar70 opened #1830 "First event handler parameter is object, not true sender"
##Current behavior
XAML:
`<DatePicker Name="uiDay" DateChanged="uiDay_Changed" />`
.cs that can be compiled:
`private void uiDay_Changed(object sender, DatePickerValueChangedEventArgs args)`

## Expected behavior
But on UWP, event handler is:
`private void uiDay_Changed(DatePicker sender, DatePickerValueChangedEventArgs args)`

I think using syntax from UWP should be possible...

## How to reprodu

[2019-10-13 20:45] pranav1698 commented on #1426
Hey @jeromelaban @ghuntley I would like to work on this issue

[2019-10-13 22:32] #1788 closed

[2019-10-13 22:47] ghuntley commented on #1426
@pranav1698, I've assigned the issue to you and you'll be able to start on it but we won't be able to merge the PR until https://github.com/unoplatform/Uno.Wasm.Bootstrap/issues/102 is resolved however.

[2019-10-13 23:50] ghuntley opened #1832 "Standardize on one unit testing and assertion framework"
## Observation

- `SamplesApp` uses `NUnit`
- `Uno.UI.Tests` uses `Microsoft.VisualStudio.TestTools.UnitTesting` and `FluentAssertions`
- `Uno.UI.Tests.Performance` uses `Microsoft.VisualStudio.TestTools.UnitTesting` and `FluentAssertions`
- `Uno.UI.RuntimeTests` uses `Microsoft.VisualStudio.TestTools.UnitTesting`
- `Uno.UI.Wasm.Tests` uses `Microsoft.VisualStudio.TestTools.UnitTesting`

[2019-10-14 01:11] ghuntley opened #1833 "`Android.Preferences.PreferenceManager` is deprecated in API level 29"
## Observation:

`ApplicationDataContainer` on Android uses `Android.Preferences.PreferenceManager` which has been deprecated in API level 29:

- https://github.com/unoplatform/uno/blob/master/src/Uno.UWP/Storage/ApplicationDataContainer.Android.cs#L29
- https://developer.android.com/reference/android/preference/PreferenceManager
- https://developer.android.com/reference/androidx/preference/packag

[2019-10-14 01:13] stevenbrix commented on #1827
@jeromelaban I swear the stars are aligning! I've been looking at XamlIl for WinUI this past week, we've been wanting to re-architect our tooling and build something that is very similar to XamlIl. I would doubt XBF is going anywhere, we can't depend on IL since we have C++ customers. We've also heard from customers that being able to debug code-behind is helpful, especially for compiled bindings,

[2019-10-14 01:25] kazo0 commented on #1155
So it seems like that second call to `HitTest` is problematic since we are dismissing the keyboard through the `EndEditing()` call on the first `HitTest` pass. The `CALayer` that is set to `newlyFocusedView` on the second pass must be the background layer for the UIAlertController. The reason the second pass registers the `HitTest` as that `CALayer` is because the animation occurs that moves all v

[2019-10-14 02:43] ghuntley commented on #1741
On Android, `ApplicationData.Current.[LocalFolder|RoamingFolder]` throws a NRE exception if accessed in the constructor of App.xaml.cs.

Digging into the current implementation on Android reveals:

https://github.com/unoplatform/uno/blob/master/src/Uno.UWP/Storage/ApplicationDataContainer.Android.cs#L29

Specifically there's a dependency on `ContextHelper.Current`:

[code]

and `ContextHelper.Curr

[2019-10-14 03:46] ghuntley opened #1834 "Inconsistent use of #if __WASM__"
## Observation:

Some WebAssembly implementations use `#if __WASM__` but the majority does not.

![image](https://user-images.githubusercontent.com/127353/66728449-c3408e80-ee90-11e9-8054-33898b763da1.png)

![image](https://user-images.githubusercontent.com/127353/66728529-3ba74f80-ee91-11e9-86b5-5dd7a9ad8ac0.png)

## For which Platform:

- [ ] iOS
- [ ] Android
- [x] WebAssembly
- [ ] WebAssembly

[2019-10-14 03:52] ghuntley commented on #27
Closing this issue out as https://github.com/orgs/unoplatform/projects/1 has been implemented and serves as the projects north star. If folks have particular questions please open a new issue specifically for that question. Thanks :)

[2019-10-14 03:52] #27 closed

[2019-10-14 04:58] #1832 closed

[2019-10-14 09:42] Niladri24dutta commented on #1430
@jeromelaban @ghuntley  I am working on the `UIProgressView` . is this already done since the issue is closed ?

[2019-10-14 12:19] NGame1 opened #1838 "Error on Tapped and Click events in Android 5"
## Current behavior
Landroid/view/MotionEvent;.getActionButton()
This error happens on Tapped and Click events after 2.0.512 dev builds.
It's fine on 2.0.324
Affected platform(s):

- [ ] iOS (Not tested)
- [x] Android
- [ ] WebAssembly (Not tested)
- [ ] WebAssembly renderers for Xamarin.Forms (Not tested)
- [ ] Windows
- [ ] Build tasks
- [ ] Solution Templates

Visual Studio:

- [ ] 2017 (versio

[2019-10-14 12:58] anchepiece commented on #1430
@Niladri24dutta Nope, `UIProgressView` was not included in the pull request. I suggest reopening this issue to track your changes.

[2019-10-14 13:56] kazo0 commented on #1155
With that being said, I cannot think of a non-hacky way to fix this at the moment. the `HitTest()` method gets called by iOS seemingly as many times as iOS wants because `HitTest()` should technically have no side-effects. Problem is that we are forcing side-effects by dismissing the keyboard at this level. It may make more sense to try and break this out and use another method, parhaps `TouchesEn

[2019-10-14 15:59] MartinZikmund opened #1839 "Add support for more assets file types"
## What would you like to be added:

Currently the `RetargetAssets` task supports only several image file types. I suppose support could be added for other types like `svg`, `ttf` or `woff`

## Why is this needed:

To make it possible to keep more asset files in the shared project.

## For which Platform:

- [x] iOS
- [x] Android
- [x] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms
- [

[2019-10-14 22:30] ghuntley commented on #1838
Potentially related to https://github.com/unoplatform/uno/pull/1256

[2019-10-14 22:32] ghuntley commented on #1815
Potentially related to https://github.com/unoplatform/uno/pull/1256

[2019-10-15 00:38] ghuntley opened #1848 "Visual Studio for Windows v16.3.4 - 'App' does not contain a definition for 'InitializeComponent' and no accessible extension method 'InitializeComponent'"
## Current behavior

Application compiles fine but the following error is erroneously displayed in the Visual Studio error list:

[code]

![image](https://user-images.githubusercontent.com/127353/66791763-44575e80-ef41-11e9-831c-761b4eb3156e.png)

## How to reproduce it (as minimally and precisely as possible)

Unzip https://github.com/unoplatform/uno/files/3697856/App17.zip

Troubleshooted as fol

[2019-10-15 01:27] ghuntley commented on #1848
Raised https://developercommunity.visualstudio.com/content/problem/776876/app-does-not-contain-a-definition-for-initializeco.html and updated https://github.com/unoplatform/uno/issues/982

[2019-10-15 08:08] sakshamtaneja21 commented on #1643
i  would like to contribute

[2019-10-15 08:25] harikrishnana2021 commented on #1643
I would like to contribute since I'm a beginner and I have the confidence to do it.

[2019-10-15 10:50] BrianDT opened #1852 "`VariableSizedWrapGrid` required on Android and iOS"
Implementation of VariableSizedWrapGrid on Android and iOS

Currently using a VariableSizedWrapGrid in an existing UWP app to display options on part of a dashboard. The number of options varies according to privileges, data availability etc.
Currently a tile per available option is created on a wrapgrid acting as the ItemsPanel of an ItemsControl.
The tiles are dynamically sized to display nicely

[2019-10-15 11:08] jeromelaban commented on #1833
If we move onto this part of the code, we can make an update, given we have sufficient unit tests. Otherwise, most deprecated APIs stay alive for a while.

[2019-10-15 11:10] jeromelaban commented on #1834
It should not be used for whole files, as there is a globbing pattern in place to avoid having to place it everywhere. See here:
https://github.com/unoplatform/uno/blob/6cc46e6268ef60eb9a214719da16faa1dce3a297/src/PlatformItemGroups.props#L48

[2019-10-15 11:15] jeromelaban commented on #1802
CI Scripts are already available at the repo root (see `.vsts-ci.yml`) and you can use azure [devops private nuget feeds](https://docs.microsoft.com/en-us/azure/devops/artifacts/get-started-nuget?view=azure-devops) to publish your custom packages.

[2019-10-15 14:23] jeromelaban commented on #1798
https://github.com/unoplatform/Uno.UITest/pull/21 will most likely improve the situation (as mentioned in https://www.nuget.org/packages/Xamarin.UITest/3.0.4-dev2). Will include the update in a related PR.

[2019-10-15 15:11] #1237 closed

[2019-10-15 16:22] pdecostervgls commented on #1155
@kazo0 Firstly, thanks for looking into this issue, it isn't a blocking issue for my project, but it is a nuisance that we would like to see fixed.

As I have observed earlier, the first time ```focusedView``` gets set is with a type of ```UIAlertAction``` which is exactly the component which should get "touched". Can't we just pass this along to iOS and then dismiss the keyboard?

[2019-10-15 16:41] kazo0 commented on #1155
@pdecostervgls The `UIAlertAction` is definitely being passed along to iOS on the fist pass of `HitTest()`, which is still confusing to me as to why the button isn't registering the click. Seems like the second pass for `HitTest()` takes precedence. I've seen people mention that `HitTest()` is called multiple times for each subview, others say it is called multiple times because iOS is making slig

[2019-10-15 18:15] vincentcastagna opened #1856 "[WASM] Xaml Parser failure"
## Current behavior

When building project with AOT on Linux container the following error is thrown :

## Expected behavior

Build successfull, no error.

## How to reproduce it (as minimally and precisely as possible)

**An example of parser failure**

` <Run Text="{Binding Path=DateFailure.Date, Converter={StaticResource DateFormatterConverter},ConverterParameter=\{0:ddd\, MMM d\}}" />`

A **wo

[2019-10-15 19:10] #1798 closed

[2019-10-16 05:28] DysnomianC opened #1863 "`Frame.Navigated` and page's `OnNavigatedTo` fire in a different order on android than on uwp."
## Current behavior

On uwp the `Frame.Navigated` event fires before `OnNavigatedTo`. On android they fire in the other order.

This was the cause of a difficult to track down bug in our project as we relied on setup that was done in the Frame Navigated event during the OnNavigatedTo page override. We can currently work around this issue by using some messy conditional compilation but this issue m

[2019-10-16 07:17] arshadkazmi42 opened #1864 "Broken link in README"
## On which page?
[README.md](https://github.com/unoplatform/uno/blob/master/README.md#uno-features)

## What's wrong?
Link to `MVVM Light Toolkit`, `Prism`, `ColorCode-Universal`, `The Xaml Controls Gallery (Source).` (source link) is broken.

## Any feedback?
If someone can provide the correct URL, I can send a PR for this

[2019-10-16 10:04] saint4eva opened #1865 "File new project with issues"
## What would you like to be added:

## Why is this needed:

## For which Platform:

- [ ] iOS
- [ ] Android
- [ ] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms
- [ ] Windows
- [ ] Build tasks
- [ ] Solution Templates

## Anything else we need to know?

![image](https://user-images.githubusercontent.com/3264826/66909373-8e554880-f004-11e9-8b9e-805da8249eef.png)

[2019-10-16 10:59] ghuntley commented on #1865
Howdy @saint4eva that looks like a network connectivity issue during restoring packages from NuGet. Are you behind a firewall or enterprise proxy server? Can you please try again on a different internet connection or once again on the same connection.

[2019-10-16 11:02] ghuntley commented on #1864
Thanks for the heads up @arshadkazmi42, those links are indeed 404 but won't be once https://github.com/unoplatform/uno/issues/1522 is completed. Let's leave them as is and I'll follow up with folks internally about expediting the move.

[2019-10-16 11:02] #1864 closed

[2019-10-16 11:14] ghuntley commented on #1834
Documented over at https://github.com/unoplatform/uno/issues/1834#issuecomment-542161088

[2019-10-16 11:14] #1834 closed

[2019-10-16 11:35] MartinZikmund commented on #1863
I will have look at this

[2019-10-16 11:40] MartinZikmund commented on #1865
I have seen this happen on slow or unstable connections before during very first NuGet restore.

[2019-10-16 13:52] daniloff200 opened #1869 "Broken links in Importing-SL-Toolkit-part-1 blog post"
## On which page?
https://github.com/unoplatform/uno/blob/master/doc/blog/201708-Importing-SL-Toolkit-part-1.md
## What's wrong?
Looks like,  links to `TreeView ` and `Uno.UI.Toolkit.SL` repo are broken.
## Any feedback?

I wanted to submit a PR with fix by myself, but, looks like `Uno.UI.Toolkit.SL` repo  was deleted. I'm not sure, what's the better solution for this case

[2019-10-16 14:56] MatFillion commented on #1522
I triaged the most urgent ones to the top of the list and removed docker.

[2019-10-16 15:00] NGame1 opened #1870 "Error on Build in Latest Uno dev releases"
## Current behavior

[code]

## Expected behavior

## How to reproduce it (as minimally and precisely as possible)

Nuget Package:

Package Version(s):

Affected platform(s):

- [ ] iOS
- [ ] Android
- [ ] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms
- [ ] Windows
- [x] Build tasks
- [ ] Solution Templates

Visual Studio:

- [ ] 2017 (version: )
- [x] 2019 (version: )
- [ ] for Mac (v

[2019-10-16 16:02] gevart opened #1872 "Proper ProgressRingTemplateSettings implementation for WASM"
## What would you like to be added:
Proper ProgressRingTemplateSettings implementation for WASM

## Why is this needed:
ProgressRing for Wasm was implemented with a stub for ProgressRingTemplateSettings in order to allow the default UWP style to work. For instance, it now has hard-coded parameters like EllipseDiameter or MaxSideLength. But I guess this is not a proper way to implement this class.

[2019-10-16 19:48] jeromelaban commented on #1870
Thanks for the report! Are you able to share the content of the `App.xaml` resources section ?

[2019-10-16 19:54] NGame1 commented on #1870
yes. There's really nothing because they are all commented
<Application
    x:Class="HomeControlApp.App"
    xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
    xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
    xmlns:local="using:HomeControlApp"
    RequestedTheme="Light">

</Application>

[2019-10-16 23:04] ghuntley opened #1876 "Integration testing of the dotnet new templates"
## What would you like to be added:

Integration tests could look like as follows:

1. A folder containing different generated uno apps/projects (test cases) either generated on the spot or statically stored in git.
1. Building each one of these apps.
1. Asserting no build failures.

## Why is this needed:

There's an entire class of issues which we don't have a safety harness
Prevent regressions

[2019-10-16 23:05] #1870 closed

[2019-10-17 00:03] ghuntley commented on #1848
Still reproducible in Visual Studio for Windows v16.3.5

[2019-10-17 04:44] ghuntley opened #1878 "Create https://rpncalculator.platform.uno"
## What would you like to be added:

- Adjust https://rpncalculator-wasm.azurewebsites.net/ to be _also_ hosted at https://rpncalculator.platform.uno

## Why is this needed:

Conventions are a good thing (tm)

## For which Platform:

- [ ] iOS
- [ ] Android
- [ ] WebAssembly
- [x] WebAssembly renderers for Xamarin.Forms
- [ ] Windows
- [ ] Build tasks
- [ ] Solution Templates

## Anything else we

[2019-10-17 05:13] ghuntley commented on #1627
Thanks for replying back with these insights, it's great to hear that your problem has been resolved. If you spot anything else like this or if you have ideas how to make things better please start a discussion in a new issue (and send in a pull-request!)

[2019-10-17 05:13] #1627 closed

[2019-10-17 05:16] ghuntley commented on #1823
Yup "Uno Samples" is appropriate. Thanks Martin for helping!

[2019-10-17 06:08] MartinZikmund commented on #1767
Seems my fix didn't solve this particular problem, although it did compile in the XAML generator tests. I have just tried with the sample I provided and apparently it is still broken. Now I get:

`An object reference is required for the non-static field, method, or property 'MainPage._MyGridSubject'`

Which does make sense as I am now looking at the code, as the code would need a reference to the

[2019-10-17 07:05] NGame1 opened #1879 "Unable to LocalSettings in App ctor in Android"
#Current behavior

        System.Reflection.TargetInvocationException: 'Exception has been thrown by the target of an invocation.'
on this line of my code
`        private static ApplicationDataContainer AppSettings => ApplicationData.Current.LocalSettings;
`when I'm calling it from ctor of App
[code]

Nuget Package:

Package Version(s):

Affected platform(s):

- [ ] iOS (Not tested)
- [x] Androi

[2019-10-17 07:06] ghuntley commented on #1879
👋 confirmed. Tracking a fix over at https://github.com/unoplatform/uno/pull/1790.

[2019-10-17 07:06] ghuntley commented on #1879
Closing as duplicate of https://github.com/unoplatform/uno/issues/1741

[2019-10-17 07:06] #1879 closed

[2019-10-17 07:10] ghuntley commented on #1608
UIWebView PR has been merged — https://github.com/unoplatform/uno/pull/1591

[2019-10-17 07:14] ghuntley commented on #1481
Thanks for sharing!

[2019-10-17 07:19] ghuntley commented on #80
Closing this issue out as it is quite old. If you are able to reproduce or have similar issues please open a new issue. Thankyou.

[2019-10-17 07:19] #80 closed

[2019-10-17 07:19] NGame1 commented on #1838
Solved.
tested on 2.0.512-dev.3449

[2019-10-17 07:24] #20 closed

[2019-10-17 11:51] jeromelaban opened #1881 "[Android] Cannot use assets with a name starting with digits"
## Current behavior
Using a shared asset that contains a number does not work, and no errors are provided.

## Expected behavior
As android does not support such assets names, the build should fail on such names.

## Additional information
To address this issue, taking a look at the `Uno.UI.Tasks` project where the generation of the assets happens can be useful. Failing the build at this point may

[2019-10-17 12:06] jeromelaban commented on #1522
First pass is done.

[2019-10-17 12:26] NGame1 opened #1882 "Cannot set Height/Width on custom Controls in UWP"
## Current behavior
[code]
Unknown member 'Height' on element 'LightWidgetUC'
Android and IOS properties are fine. only win: gives error
Nuget Package:
2.0.512-dev.3455

Package Version(s):

Affected platform(s):

- [ ] iOS
- [ ] Android
- [ ] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms
- [x] Windows
- [ ] Build tasks
- [ ] Solution Templates

Visual Studio:

- [ ] 2017 (version: )
-

[2019-10-17 12:31] jeromelaban commented on #1882
Thanks for the report? Could you provide the full build error ?

[2019-10-17 13:33] jeromelaban opened #1883 "[UITests] Include tests that validate pressed state"
## Current behavior
Pressed state, such as in PR like this one https://github.com/unoplatform/uno/pull/1874 cannot create screenshots for pressed states.

## Expected behavior
Allow for UI Tests to create partial gestures, such as keeping the pointer down.

## Environment

Nuget Package:

Package Version(s):

Affected platform(s):

- [ ] iOS
- [ ] Android
- [ ] WebAssembly
- [ ] WebAssembly render

[2019-10-17 14:18] NGame1 commented on #1882
build output:
1>------ Skipped Build: Project: HomeControlApp.iOS, Configuration: Debug iPhone ------
1>Project not selected to build for this solution configuration
2>------ Build started: Project: HomeControlApp.UWP, Configuration: Debug x86 ------
3>------ Build started: Project: HomeControlApp.Wasm, Configuration: Debug Any CPU ------
2>C:\Users\ngame\source\repos\ThreeIdiots\HomeControlApp\Ho

[2019-10-17 14:21] davidjohnoliver commented on #1767
@MartinZikmund This might be resolved by https://github.com/unoplatform/uno/pull/1766 - FrameworkElement.Resources declarations will be correctly set locally, rather than put in a global static file.

[2019-10-17 14:44] kzu commented on #1848
Any particular reason you're not targetting net472 instead of net462? (had to install the targeting pack). You could potentially streamline that scenario by referencing https://www.nuget.org/packages/Microsoft.NETFramework.ReferenceAssemblies.net462 perhaps?

I'm looking into this, btw :)

[2019-10-17 14:53] dr1rrb commented on #221
I close this issue as it is now merged in master, feel free to open a new one if you have any problem.

[2019-10-17 14:53] #221 closed

[2019-10-17 15:00] juliecantin opened #1884 "TemplatedParent not resolved correctly in Button.Flyout"
## Current behavior

Inside the content of a Button.Flyout, a binding with TemplatedParent as the RelativeSource will fail.

## Expected behavior

A binding with TemplatedParent will resolve correctly.

## How to reproduce it (as minimally and precisely as possible)

https://github.com/jcantin-nventive/templated-parent-binding
Launch the app and click on the "Click me" button

- On UWP, the value

[2019-10-17 15:44] carldebilly opened #1885 "[Android] [iOS] Grid with MinWidths summing to greater than container Width isn't clipped"
# Bug Report

Take the following XAML:
[code]
## Current behavior
~It's crashing the app on all Uno platforms.~

Last rectangle isn't clipped.

## Expected behavior
Shoud render corectly, following the rules described in it. Content should be clipped.

## Affected platform(s):

- iOS
- Android
- ~WebAssembly~

## Sample
The sample `Grid_with_MinWidthColumns` illustrate the problem well.

## Regres

[2019-10-18 00:21] #1741 closed

[2019-10-18 00:58] ghuntley commented on #1375
Xamarin Forms on WebAssembly — https://javiersuarezruiz.wordpress.com/2019/10/16/xamarin-forms-en-la-web-con-webassembly-y-uno/

[2019-10-18 01:00] ghuntley commented on #18
The Monkey Fest conference website is built with Uno's Xamarin Forms WebAssembly custom renderers.

https://javiersuarezruiz.wordpress.com/2019/10/16/xamarin-forms-en-la-web-con-webassembly-y-uno/

Source code is available at https://github.com/jsuarezruiz/monkeyconf-website

[2019-10-18 02:14] jeromelaban commented on #1848
Thanks @kzu ! Referencing older target frameworks is collection of chained issues, but basically, we're staying on previous versions because of our inability to target specific versions of Xamarin.iOS which can cause backward compatibility issues (compiled code may reference apis that are not available in VS builds that are in previous VS versions).

At this point, we're building on vs2017, but ma

[2019-10-18 14:03] kakone opened #1888 "Cannot override inherited member 'BindableUIView.Dispose(bool)'"
Hello,

I inherit from the Control class and I would like to override the Dispose(bool disposing) method to free up some things. In Android, there is no problem but in iOS, the method is marked 'sealed' (due to this [line](https://github.com/unoplatform/uno/blob/342eaf1d69f790cbf865039d51678a9b4bac1fbd/src/SourceGenerators/Uno.UI.SourceGenerators/DependencyObject/DependencyObjectGenerator.cs#L593)

[2019-10-18 14:12] peternary opened #1890 "[WASM] DateTime.AddDays/AddSeconds/AddMinutes not fully working if project configured for Uno.SkiaSharp"
## Current behavior

If you have '<MonoWasmRuntimeConfiguration>release-dynamic</MonoWasmRuntimeConfiguration>' set in the .csproj file for a wasm project, as specified [here](https://github.com/unoplatform/Uno.SkiaSharp), then using a negative number in DateTime.AddDays returns the DateTime object's current value, not an updated value.  DateTime.AddDays with a positive number works as expected.

[2019-10-18 14:30] kzu commented on #1848
Makes sense. Yeah, we switched everywhere we could to net472 as soon as we could to avoid the entire facade nugets mess for NS2 support, results in far cleaner deps.

[2019-10-18 14:48] jeromelaban commented on #1888
Hi @kakone! Thanks for this report!

Unfortunately no, this method is sealed on purpose, as depending on it can create very erratic behaviors on iOS as well as Android, as both do use it to perform unmanaged cleanup.

If you need still this method, you can declare your own by resetting the inheritance chain using the `new` keyword.

[2019-10-18 14:51] davidjohnoliver opened #1891 "[Android] Pressing Buttons with native styles crashes the app"
## How to reproduce it (as minimally and precisely as possible)

[code]

Press button

(Same observed for RadioButton, CheckBox etc with native styles)

## Current behavior

App crashes

## Expected behavior

Preferably, doesn't crash, button does button things

## Notes

Seems to be a regression from #1256 .

Crash comes from here: https://github.com/unoplatform/uno/blob/2570a96d808f84613e33c090d

[2019-10-18 14:58] #1888 closed

[2019-10-18 15:23] jeromelaban commented on #1890
Thanks Peter for the detailed report!

This looks like a mono-wasm issue, and at this point, the only option we have is to update the runtime to a later version to fix it.

At present time, the update is blocked on https://github.com/unoplatform/Uno.Wasm.Bootstrap/issues/114, which also blocks #1451. This issue is definitely a different one, so we'll track it as a different one, as at this time, t

[2019-10-18 15:26] DierkDroth commented on #1890
@jeromelaban would you have any idea on when the next mono-wasm update would be due?

[2019-10-18 15:33] jeromelaban commented on #1890
@DierkDroth multiple issues need to be fixed first:
- https://github.com/mono/mono/issues/16818, which is blocked on https://github.com/jbevain/cecil/pull/622#issuecomment-336372576
- https://github.com/WebAssembly/binaryen/issues/2180

The first one I fast tracked by fixing it, it's waiting on validation, the second one is pending, but I do not know when I'll be available. This current issue will

[2019-10-18 16:22] DierkDroth commented on #1890
@jeromelaban thanks for sharing that info.

[2019-10-18 16:59] NGame1 commented on #1882
Isn't it possible to add another namespace for it like android and IOS for Win too

[2019-10-18 17:14] jeromelaban commented on #1882
The Windows XAML parser is not that maleable, unfortunately.

[2019-10-18 17:54] davidjohnoliver commented on #1882
@NGame1 It's possible to avoid this error by specifying the owner of the property:
[code]

[2019-10-18 18:24] NGame1 commented on #1882
I used <Win:DataTemplate> <androi:DataTemplate> and ios one but your solution is so much better. Really tricky. Thanks

[2019-10-19 08:06] daniloff200 opened #1893 "Broken images in different files in articles (full list in the issue)"
## On which page?
https://github.com/unoplatform/uno/blob/master/doc/articles/uno-development/Uno-UI-Layouting-Android.md
https://github.com/unoplatform/uno/blob/master/doc/articles/uno-development/Uno-UI-Debugging-Android-Studio.md
https://github.com/unoplatform/uno/blob/master/doc/articles/uno-development/Uno-UI-Layouting-iOS.md
https://github.com/unoplatform/uno/blob/master/doc/articles/uno-dev

[2019-10-19 19:00] vipulgupta2048 commented on #1643
Hey @ghuntley, one of the links you provided isn't working. https://github.com/unoplatform/uno/blob/master/build/_HOW-TO-BUILD-AND-DEBUG-APPS.md
I was just about to start working on this, but couldn't find this file.

[2019-10-20 06:11] scpc0609 commented on #1509
If I use the below code, it does compile and code generation fails.
<Style TargetType="CommandBar" BasedOn="NativeDefaultCommandBar" />

If I use the below code, I that does compile but crashes the App at start.
    <xamarin:Style TargetType="CommandBar" xamarin:BasedOn="{StaticResource XamlDefaultCommandBar}"/>

I get exception at runtime: "The resource XamlDefaultCommandBar cannot be found".

Wh

[2019-10-20 09:00] MartinZikmund opened #1895 "Remove the space between "world" and "!" in default template"
## What would you like to be added:

Is is a super-minor issue, but it is triggering my OCD for a while now 😀 . There is a space between the "world" and "!" in the default Uno solution template's MainPage.xaml.

## Why is this needed:

OCD

## For which Platform:

- [ ] iOS
- [ ] Android
- [ ] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms
- [ ] Windows
- [ ] Build tasks
- [x] Solution

[2019-10-20 09:02] MartinZikmund commented on #1895
I will let @HanamiM do this as a Hacktoberfest issue 👍

[2019-10-20 09:23] kakone opened #1896 "XamlCodeGenerator - Attached property of nullable int type"
Hello,

In my Uno class library (using the last prerelease of Uno.UI), I have a custom attached property like this :
[code]

If I use it in a XAML file (`local:NullableIntHelper.NullableInt='19'`), I have an exception with the XamlCodeGenerator :
[code]

If I use an int value instead of int?, there is no problem.

Cordially,
Stephane.

[2019-10-20 12:32] MartinZikmund commented on #1895
Oh, @ghuntley seems we got 3 PRs 😅 . What now?

[2019-10-20 14:25] #1622 closed

[2019-10-20 15:15] kazo0 commented on #1885
For what it's worth, I am unable to repro this crash on any platform with latest `master` SamplesApp. Only thing I notice is that nothing seems to render for the WASM sample.

[2019-10-20 16:09] consolelogreece commented on #1881
I would like to try this one. Do I need to check for digits at the start of the asset name, or an digits at all inside the asset name?

[2019-10-20 18:40] KiranAkadas opened #1904 "Very Minor capitalization and grammer fixes required"
## On which page?
platform-specific-xaml.md
faq.md

## What's wrong?

place to be replaced by 'Place' in platform-specific-xaml.md
render UI can be replaced with render the UI (more appropriate I feel) in faq.md

## Any feedback?

[2019-10-20 19:51] kazo0 commented on #1885
I did notice that the grid isn't being clipped on Android

[2019-10-20 22:09] shaktibarath commented on #1904
I will take this.

[2019-10-20 23:23] ghuntley commented on #1895
@MartinZikmund typically - merge whichever one matches the quality bar and doesn't have merge conflicts 😅

[2019-10-21 00:09] ghuntley commented on #1895
@MartinZikmund btw _lovely_ work. It's important to create easy issues like this one - even if they take more time than fixing the problem yourself.

[2019-10-21 00:09] #1895 closed

[2019-10-21 00:22] #1904 closed

[2019-10-21 11:53] jeromelaban commented on #1896
Thanks for the report!

Indeed, it seems nullable types need to be handled in the type converter here:
https://github.com/unoplatform/uno/blob/8f776ba4616b9eb2e3bbca201b434adc2243f677/src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs#L2986

[2019-10-21 11:57] jeromelaban commented on #1891
There is no UI Test validation of this scenario, one testing native resources should be added.

[2019-10-21 20:14] jeanplevesque opened #1924 "The views in an Android ListView.HeaderTemplate receive null through bindings when changing the ListView.Header property"
## Current behavior

1. On Android, use `ListView.Header` and `ListView.HeaderTemplate`.
1. Change the `Header` property (using a binding).
1. Notice that bindings on views inside the `HeaderTemplate` are updated with a `null` value (followed by the correct value).

## Expected behavior

No `null` should be received in bindings unless the `Header` property is set to null explicitly.

## Environmen

[2019-10-21 20:29] scpc0609 opened #1925 "How do you implement data virtualization in FlipView, ListView, and GridView"
## What would you like clarification on:

Consider a gallery app that wants to show an album of 1000+ images in a GridView / ListView. Without the presence of DataContextChanged, ContainerContentChanging how would you implement Bitmap loading for only the items that are realized?

Again consider a FlipView to open and show these images. Without the set of events above how would you keep only limit

[2019-10-21 23:03] #1893 closed

[2019-10-21 23:24] ghuntley commented on #1896
@kakone are you comfortable with sending in a pull-request to the `XamlFileGenerator`?

[2019-10-22 01:53] #28 closed

[2019-10-22 06:22] kakone commented on #1896
Yes, I'm going to look at this source code and I will send a PR.

[2019-10-22 10:27] pkar70 opened #1928 "ResourceLoader.GetForCurrentView().GetString() does not support /[file]/[name] format"
## Current behavior
ResourceLoader.GetForCurrentView().GetString("/file/name") return empty string
As including here png file doesnt work ("something went really wrong, and we can't process that file"), check these screenshots:
[android](http://beskid.geo.uj.edu.pl/p/ssc/android.png)
[wasm](http://beskid.geo.uj.edu.pl/p/ssc/wasm.png)

## Expected behavior
return of value "name" from "file.resw" -

[2019-10-22 11:09] jeromelaban commented on #1925
Thanks for your interest in Uno!

I'm not sure about the premises of the question. Virtualization is supported on all platforms for the `ListView` and `GridView` controls, and the materialization of items, images included support that scenario. Could you provide an example of what you're trying to acheive ?

For specifics, the `DataContextChanged` event is available on any `DependencyObject`, and

[2019-10-22 11:22] BrianDT opened #1929 "Flyout does not light dismiss in the same way as UWP on Android."
On UWP a flyout will light dismiss when a button on the flyout is pressed, this does not happen on Android.

The flyout only dismisses when the screen outside the flyout is tapped

A sample that reproduces the issue can be found here:
https://github.com/BrianDT/UnoFlyoutIssue

Package Version(s):
Uno.UI: 2.0.512-dev.3530

Affected platform(s):

- [ ] iOS
- [x] Android
- [ ] WebAssembly
- [ ] WebAs

[2019-10-22 11:30] BrianDT opened #1930 "Buttons on a flyout on iOS do not execute their commands"
Commands bound to a button on a flyout are not executed when the button is tapped on iOS.

## Expected behavior

The execute action of the command should be called

## How to reproduce it (as minimally and precisely as possible)

A sample that reproduces the issue can be found here:
https://github.com/BrianDT/UnoFlyoutIssue

## Environment

Nuget Package:
Package Version(s):
Uno.UI: 2.0.512-dev.35

[2019-10-22 11:30] jeromelaban commented on #1928
Thank you for the report!

At this point, the `/[name]/[resourcename]` format is not yet supported. If you want to get the resources from a different file, using `ResourceLoader.GetForCurrentView("tezy")` is supported.

At this point, the [`ResourceLoader`](https://github.com/unoplatform/uno/blob/6f7e23f71084cc7e785fbd0838d04eeeffe7f5e9/src/Uno.UWP/ApplicationModel/Resources/ResourceLoader.cs#L41)

[2019-10-22 11:33] jeromelaban commented on #1928
Also, that format is supported from the XAML, it is not supported from an unnamed resource loader, see here for the code that handles it:

https://github.com/unoplatform/uno/blob/8f776ba4616b9eb2e3bbca201b434adc2243f677/src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs#L3035

[2019-10-22 11:44] #1891 closed

[2019-10-22 13:05] scpc0609 commented on #1925
Hi Jerome, Thanks for your response. I am referring to Data Virtualization.

Consider the following Item class:
[code]
I have to call `LoadImage()` when the Item is realized  and `UnloadImage()` when the item is unrealized. Usually when you scroll through virtualized collection views, the `ContainerContentChanging `event is fired as containers are recycled, and I can call `LoadImage()` on the new

[2019-10-22 13:49] davidjohnoliver commented on #1925
As @jeromelaban mentioned, the `ContainerContentChanging` event shouldn't be too much work to implement, and we're more than happy to guide you through the process if you're interested in contributing.

My first approach in the scenario you describe would probably be to have an attached property inside the item template which is bound to the path and creates your `Item` object. Then you simply unl

[2019-10-22 15:08] bbrittonHHL opened #1933 "Calendar controls"
We need all the calendar controls in WebAssembly for this project to be useful to us.
CalendarView
CalendarDatePicker

[2019-10-22 17:26] pkar70 commented on #18
And my app, simple "merge" of Wikipedia 'today' pages from languages... As it seems that very different birthdays, deaths and events are celebrated in different language regions. In effect, you get more events  than in any single language.

https://play.google.com/store/apps/details?id=pkar.Anniversaries

(only for Android, as I have no access to iOS to test).
UWP version: https://www.microsoft.co

[2019-10-22 18:07] jeromelaban commented on #1933
Thank for opening this issue! This is a duplicate of #365, I'll update it to include CalendarView as well.

[2019-10-22 18:07] #1933 closed

[2019-10-22 18:23] cmonto commented on #1925
Hi David, will give it a try to go thru CONTRIBUTING.md and ramp up on the codebase. Would appreciate any form of guidance / docs to navigate through the codebase.

[2019-10-22 18:43] davidjohnoliver commented on #1925
Hi @cmonto , some good articles to get started are [Building and debugging Uno.UI](https://platform.uno/docs/articles/uno-development/debugging-uno-ui.html) and [Working with sample applications](https://platform.uno/docs/articles/uno-development/working-with-the-samples-apps.html).

[2019-10-23 04:49] zipswich opened #1937 "[Wasm] Incorrect TextBlock text trimming"
## Current behavior

Drop the following TextBlock in any app:

[code]
You see the following from the UWP head:
![image](https://user-images.githubusercontent.com/6095671/67358515-ab22dc00-f52e-11e9-85c0-91865340b155.png)
but the following from the WASM head:
![image](https://user-images.githubusercontent.com/6095671/67358527-b5dd7100-f52e-11e9-81f4-18905d1578b3.png)

## Expected behavior

They sho

[2019-10-23 08:23] pkar70 commented on #1928
Thanks for this hint. It allows me to write quick and simple PR for this.

[2019-10-23 11:58] jeromelaban commented on #1930
Thanks for the report!

This looks like an `x:Bind` issue more than the button not executing the command. It's more than likely that a "normal" binding will work.

You could do so by assigning the command to a tag outside the flyout, and use an element binding instead:
[code]

To fix this, this is most likely an issue in the flyout management, where the propagation of "compiled bindings" is not do

[2019-10-23 13:15] jeromelaban opened #1940 "Add support for Control Manipulation overrides"
## What would you like to be added:
Support for `Control.ManipulationStarted`, `Control.ManipulationDelta`, etc...

## Why is this needed:
The `GridSplitter` control needs support for those events.

## For which Platform:

- [x] iOS
- [x] Android
- [x] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms
- [ ] Windows
- [ ] Build tasks
- [ ] Solution Templates

## Anything else we need to kno

[2019-10-23 15:43] zipswich opened #1941 "DateTime.Now gets UTC instead of local time for WASM"
## Current behavior
**Minor Issue**
DateTime.Now gets UTC instead of local time for WASM as UWP.

## Expected behavior

DateTime.Now should get local time for WASM.

## How to reproduce it (as minimally and precisely as possible)

Debug.WriteLine(DateTime.Now.ToString());

## Environment

Nuget Package: Uno.UI

Package Version(s):  2.0.512-dev.3459

Affected platform(s):

- [ ] iOS
- [ ] Android
-

[2019-10-23 17:14] carldebilly commented on #1937
If you copy the exact same `<TextBlock>` multiple times in the same page, do you get the same result for all of them?

[2019-10-24 01:39] zipswich commented on #1937
[code]
![image](https://user-images.githubusercontent.com/6095671/67446142-92253400-f5dd-11e9-91fe-ee5edf24e65f.png)

[2019-10-24 02:24] jeromelaban commented on #1540
This issue is most likely fixed in the latest dev packages. Could you check again ?

[2019-10-24 02:36] ghuntley commented on #1925
Howdy @cmonto, in addition to above I'd recommend stopping by and having a look at https://github.com/unoplatform/workshops/tree/master/uno-bootcamp/modules/07-Working-with-Uno#visual-studio-solution-filters which explains how to get a productive devloop going.

[2019-10-24 02:37] #1924 closed

[2019-10-24 10:55] BrianDT commented on #1930
OK that's a good work-around.
I actually prefer going straight to the viewmodel via the control
<Page
    x:Name="control"
                            <Button Command="{Binding ElementName=control, Path=DataContext.DoStuffCommand}" HorizontalAlignment="Right">

and avoid the Tag as this is just a cut down version of the full case of a flyout with more than one button on it.
I have updated the samp

[2019-10-24 13:09] #1590 closed

[2019-10-24 14:13] carldebilly commented on #1937
I'm not able to reproduce this problem.  I started a new Uno project from scratch and put your `XAML`  in the `mainpage.xaml` and it's working.

- Are you using a special font? It looks like a classic problem (#693).
- Do you have the problem in all tested browsers / platforms?
- Do you still have the problem when you deactivate the Measure Cache ? (https://github.com/unoplatform/uno/blob/master/s

[2019-10-24 14:32] MatFillion commented on #1930
Is it the same issue as #1884

[2019-10-24 14:53] MatFillion commented on #1469
PR #1919 addresses this issue.

[2019-10-24 14:53] #1469 closed

[2019-10-24 16:29] bbrittonHHL opened #1943 "Datagrid control missing"
## What would you like to be added:
A datagrid control based on Microsoft.Toolkit.Uwp.UI.Controls.DataGrid.
## Why is this needed:
Need to present and handle data in a spreadsheet style.
## For which Platform:

- [ ] iOS
- [ ] Android
- [x ] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms
- [ ] Windows
- [ ] Build tasks
- [ ] Solution Templates

## Anything else we need to know?

[2019-10-24 16:32] zipswich commented on #1937
https://github.com/zipswich/AppDebugUno
This is my generic debug app, so you can ignore all other elements.

[2019-10-24 16:34] zipswich commented on #1937
![image](https://user-images.githubusercontent.com/6095671/67506190-a22f2900-f65a-11e9-8790-977e167406c2.png)

[2019-10-25 08:48] Mo-ha-mmed opened #1947 "Run UNO on linux using cli and vscode"
Just a quick question and i hope the answer will be yes otherwise i hope it will be on the roadmap

Can you start using uno in Linux ?
Can you start using uno only by using the cli and vscode ?

I think the key for uno to success is to get inspired by flutter development workflow using minimal requirements

[2019-10-25 10:36] BrianDT opened #1950 "[Android] The MessageDialog can be light dismissed"
Either light dismissed should not happen or it should execute the cancel command.

## Expected behavior

Light dismiss should not occur.

## How to reproduce it (as minimally and precisely as possible)

A sample that reproduces the issue can be found here:
https://github.com/BrianDT/UnoDialogIssues

Nuget Package:

Package Version(s):
Uno.UI: 2.0.512-dev.3570

Affected platform(s):

- [ ] iOS
- [x

[2019-10-25 10:41] BrianDT opened #1951 "[Android] ContentDialog fails to display on navigation to new page."
On Android when navigating to a new page if a ContentDialog shown in code triggered by the Loaded event is not displayed.

## Expected behavior

The dialog should be displayed.

## How to reproduce it (as minimally and precisely as possible)

A sample that reproduces the issue can be found here:
https://github.com/BrianDT/UnoDialogIssues

Nuget Package:
Uno.UI: 2.0.512-dev.3570

Affected platform(

[2019-10-25 10:46] BrianDT opened #1952 "[iOS] Displaying a MessageDialog on page navigation causes an exception"
## Current behavior
On iOS displaying a MessageDialog in code triggered by the loaded event causes a NullReferenceException.

## Expected behavior

Should not crash

## How to reproduce it (as minimally and precisely as possible)

A sample that reproduces the issue can be found here:
https://github.com/BrianDT/UnoDialogIssues

Nuget Package:
Uno.UI: 2.0.512-dev.3570

Affected platform(s):

- [x] i

[2019-10-25 10:49] BrianDT opened #1953 "On WASM the MessageDialog display is incomplete"
On WASM MessageDialog actions are not trigged and only one button is displayed.

## Expected behavior

All buttons should be displayed and the actions should be triggered on button press

## How to reproduce it (as minimally and precisely as possible)

A sample that reproduces the issue can be found here:
https://github.com/BrianDT/UnoDialogIssues

Nuget Package:
Uno.UI: 2.0.512-dev.3570

Affected

[2019-10-25 11:27] jeromelaban commented on #1953
Thank you for the report!

Could you paste a screenshot of what you seeing ?

[2019-10-25 11:28] jeromelaban commented on #1952
Thank you for the report!

Could you paste the stack trace of the exception ?

[2019-10-25 16:33] #1896 closed

[2019-10-25 17:15] jeromelaban opened #1955 "Enable All iOS UI Tests"
## What would you like to be added:
iOS UI Tests have been enabled as part of #1945, and are now run during the CI.

Multiple tests did not pass making the builld too long, so there is a filter to enable only a small portion of the tests to validate the process:

https://github.com/unoplatform/uno/blob/48b98a7e07e493f5c022459e1473143c09ea01eb/build/ios-uitest-run.sh#L29

All the available UI tests

[2019-10-25 17:48] carlh98 opened #1956 "[iOS] Animation issue on iOS"
## Current behavior

In iOS, when you click on a control (checkbox) to activate the animation (the textblock appears and rises) and you re-click on the control before the animation finishes, the texblock is still displayed

## Expected behavior

In Android and UWP, when you click on a control (checkbox) to activate the animation (the textblock appears and rises) and you re-click on the control bef

[2019-10-25 22:03] gahag commented on #1941
Can I have an attempt at this?

[2019-10-26 12:36] NGame1 commented on #1838
once again it happened on 2.0.512-dev.3599.
I donno if it started on this build or some other build I was a bit far from Uno Platform

[2019-10-26 15:58] #1385 closed

[2019-10-26 16:48] isaacabraham commented on #1529
@saint4eva I'm really not sure where the hating you're talking about is. The OP has simply asked about contributing F# documentation and justified his opinion as to why he thinks it's valid to consider it.

[2019-10-26 19:19] MartinZikmund opened #1965 "Add support for EmailManager"
## What would you like to be added:

The `EmailManager` API

## Why is this needed:

📧

## For which Platform:

- [x] iOS
- [x] Android
- [ ] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms
- [ ] Windows
- [ ] Build tasks
- [ ] Solution Templates