[2021-09-03 13:41] vincentcastagna commented on #6732
Here is the updated sample. My statement may have been wrong. Seems like **it works for Android, not for iOS**. I'm gonna retry in our project, cleaning nuget.

[CommandBarColoredCommands.zip](https://github.com/unoplatform/uno/files/7106282/CommandBarColoredCommands.zip)

[2021-09-03 14:47] #6950 closed

[2021-09-03 14:59] jeanplevesque commented on #6732
Are you using a native CommandBar in your sample @vincentcastagna?

[2021-09-03 17:04] #6954 closed

[2021-09-03 19:09] Xiaoy312 opened #6960 "Storyboard.SetTargetProperty cannot be changed live"
### Current behavior

Once the storyboard began playing, changing the timeline target property with Storyboard.SetTargetProperty no longer has any effect, even if the storyboard is paused/stopped.

### Expected behavior

Be able to change TargetProperty of a timeline live.

### How to reproduce it (as minimally and precisely as possible)

[StoryboardRetargeting.zip](https://github.com/unoplatform/

[2021-09-03 20:16] Xiaoy312 opened #6964 "Manipulation events args position is in absolute screen coords, rather than relative to the event source."
### Current behavior

Manipulation events args position is in absolute screen coords, rather than relative to the event source.

### Expected behavior

Manipulation events args position should be in coords relative to the event source.

### How to reproduce it (as minimally and precisely as possible)

[ManipulationAbsoluteCoords.zip](https://github.com/unoplatform/uno/files/7108216/ManipulationAbs

[2021-09-03 21:17] SuperJMN commented on #1982
Nice to have. Our project uses SVG for everything in the GUI.

[2021-09-04 14:43] Youssef1313 commented on #3848
Duplicate of https://github.com/unoplatform/uno/issues/81.

[2021-09-04 21:06] Youssef1313 commented on #6964
The Skia note isn't accurate. For ALL platforms, the position is is relative to the screen. However, for Android/iOS, the app *usually* has the same coordinates as the screen (except for Dual Screen, where the problem can be seen and the workaround you provided won't probably work).

[2021-09-05 00:04] conceptdev commented on #6507
Now that the underlying is API is in [beta](https://www.nuget.org/packages/Xamarin.AndroidX.Window), I've made a bit of progress on a working proof-of-concept:

https://github.com/conceptdev/uno-samples/tree/main/WindowManager

Seems to be surfacing all the right info into the Uno app and TwoPaneView control, and works on different foldable devices/emulators. The main problem still-to-be-solved is

[2021-09-05 10:52] Youssef1313 commented on #6094
The `CurrentUICulture` (somehow) is changing after being set to es-MX. Trying to figure out where does that happen but couldn't yet

[2021-09-05 11:47] Youssef1313 commented on #6094
Note: for some reason I'm only able to reproduce in SamplesApp. Can't isolate a repro. @robloo Do you have a repro?

[2021-09-05 11:53] Youssef1313 commented on #4435
Should this be closed?

[2021-09-05 12:05] Youssef1313 commented on #4347
Will take a look :)

[2021-09-06 04:39] ywmoyue opened #6973 "Uno with Wpf Chinese code display messy code"
### Current behavior

`
    <Grid Background="{ThemeResource ApplicationPageBackgroundThemeBrush}">
		<TextBlock Text="你好，世界!" Margin="20" FontSize="30" />
    </Grid>
`

### Expected behavior

![image](https://user-images.githubusercontent.com/28388300/132160518-5bfb121c-7ce7-4b30-92c2-d243a778c735.png)

### Environment

Uno.UI / Uno.UI.Skia, Uno.UI.RemoteControl / Uno.WinUI.RemoteControl

### Af

[2021-09-06 06:34] Youssef1313 commented on #6973
Affects Gtk as well.

[2021-09-06 09:06] JaiganeshKumaran opened #6974 "Visual Studio for Mac - put Uno Platform project templates under multi-platform"
## What would you like to be added:
Today the project templates are inside the custom section in Visual Studio for Mac. Instead it would be better if it was under multi-platform where Xamarin.Forms project templates are located.

## Why is this needed:
Better discoverability for users.

## For which Platform:

- [ ] iOS
- [ ] Android
- [ ] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms

[2021-09-06 13:43] JaiganeshKumaran opened #6978 "macOS - Settings navigation view item label missing after adding item to `FooterMenuItems`"
### Current behavior

After adding a navigation view item to FooterMenuItems in a Microsoft.UI.Xaml.Controls.NavigationView instance, the default label for the built-in settings item is gone and becomes empty.

### Expected behavior

The default label for the settings item should be always there unless the developer customises it.

### How to reproduce it (as minimally and precisely as possible)

[2021-09-06 15:20] Jaiganeshkumaran commented on #6978
But I'm not using top navigation view, just standard left expanded.

[2021-09-06 15:44] #4404 closed

[2021-09-06 19:10] Youssef1313 opened #6980 "UWPSyncGenerator adds property setters incorrectly"
### Current behavior

Setter is added even if it doesn't exist in UWP. This is caused by the following:

https://github.com/unoplatform/uno/blob/822920779076cb7bf0ae10a2649990a86d618d01/src/Uno.UWPSyncGenerator/Generator.cs#L592-L605

The second condition should clearly check for `SetMethod` instead of `GetMethod`.

This causes bugs like https://github.com/unoplatform/uno/issues/6885

### Expected

[2021-09-06 19:11] Youssef1313 commented on #6980
To avoids conflicts, this can wait until https://github.com/unoplatform/uno/pull/6866 and https://github.com/unoplatform/uno/pull/6868 are merged and `master` is merged into api-alignments branch

[2021-09-06 23:51] jeromelaban commented on #6978
Could be related to localization #6094, adjusted because we made recent changes to localization resources resolution.

[2021-09-07 01:03] jeromelaban commented on #6964
/cc @dr1rrb

[2021-09-07 04:50] Jaiganeshkumaran commented on #6973
@ywmoyue For ContentDialog, you can customise the TitleTemplate to change the used font.

[2021-09-07 13:36] ywmoyue opened #6984 "3.10.0-dev.632:error of NavigationView in Skia.Wpf project"
### Current behavior

When I update Unoui nuget package from 3.9.7 to 3.10.0-dev.632, NavigationView in SkiaWpf project has an error occurred.

![image](https://user-images.githubusercontent.com/28388300/132351796-cc6f9fae-405d-4b4a-8e7b-5e3f9c559937.png)

It looks like this on version 3.9.7
![image](https://user-images.githubusercontent.com/28388300/132352348-c670b3e1-0b15-4749-9504-b6bd902574cd.

[2021-09-07 13:39] ywmoyue commented on #6973
Thanks, I can use this method to solve the problem

[2021-09-07 13:42] MartinZikmund commented on #6978
@Jaiganeshkumaran could still be related, even in this mode we sometimes can encounter problems

[2021-09-07 13:47] jeromelaban commented on #6984
Likely fixed by https://github.com/unoplatform/uno/pull/6956, wait for 3.10.0-dev.634 to validate again, thanks!

[2021-09-07 13:48] vincentcastagna commented on #6732
@Youssef1313 Ok so I updated to latest Uno.UI . Seems I was wrong, its actually working on Android, we need to specify the Foreground as the default seems to be `Black`. However, there is still something odd here, as an `AppBarButton `declared to override the `NavigationCommand `has a `White `color by default.

This display WHITE
[code]

This display BLACKS unless Foreground is specified
[code]

[2021-09-07 14:57] Jaiganeshkumaran commented on #6978
Interestingly this issue only occurs when the system language is set to a regional variant of English other than English (United States) or English (United Kingdom). Not an issue with languages other than English.

[2021-09-07 15:08] jeromelaban commented on #6507
Very nice implementation!

I see the point of creating a new package, and it makes sense to go this route to avoid the too specific name.

w.r.t state changes, aside from the dependency on `ContextHelper.Current` is there something else that is missing in the sample? (e.g. a specific method override in the main activity ?)

[2021-09-07 16:22] AbdalaMask opened #6987 "[Android] `Pivot.Items` not shown"
### Current behavior

Not Show Pivot.Items to android

### Expected behavior

_No response_

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

### Works on UWP/WinUI

Yes

### Environment

Uno.UI / Uno.UI.WebAssembly / Uno.UI.Skia

### NuGet package version(s)

_No response_

### Affected platforms

Android

### IDE

Visual Studio 2019

[2021-09-07 16:29] conceptdev commented on #6507
The main thing missing in this implementation is a way for the Window Manager callback to trigger a layout change when the device is folded (eg from flat to 90 or vice versa). This causes the `IsSeparating` value to change on other foldables, and currently there's no way to force the layout to update in this case - we might want to update `TwoPaneView` to switch between single- and two-pane behavi

[2021-09-07 18:25] jeromelaban opened #6988 "[Wasm] Inconsistent State: Child ImplicitTextBlock is not loaded (OnChildRemoved)"
### Current behavior

The following error message:

[code]

Happens under unknown conditions

### Expected behavior

No error messages is displayed when manipulating ContentPresenter content.

### How to reproduce it (as minimally and precisely as possible)

No repro case available.

### Workaround

None

### Works on UWP/WinUI

Yes

### Environment

_No response_

### NuGet package version(s)

3.

[2021-09-07 18:26] jeromelaban opened #6989 "[Wasm] ImageBrush is not supported by the AssignAndObserveBrush"
### Current behavior

Under some unknown conditions the following error message appears on Wasm

[code]

### Expected behavior

No error message

### How to reproduce it (as minimally and precisely as possible)

No repro case available yet.

### Workaround

None. This error involves internal only APIs.

### Works on UWP/WinUI

_No response_

### Environment

_No response_

### NuGet package versio

[2021-09-07 19:29] Youssef1313 commented on #6934
Related to https://github.com/unoplatform/uno/issues/4795.

[2021-09-07 19:35] carldebilly commented on #6988
## Initial Investigation on this issue
This is a _loading state_ problem inconsistency.

[2021-09-07 20:24] robloo commented on #6834
I authored both the new WCT ColorPicker you are using above -- and did the port of the ColorPicker from WinUI to Uno Platform. Initially, the intention was to enable the exact scenario you are trying now. However, there are a number of showstoppers various places. **This is known not to work.**

ColorPicker (the WinUI Microsoft.UI.Xaml one) should work fine now on Android, iOS and WASM. It very li

[2021-09-07 20:29] jeromelaban commented on #6988
Some more investigation, this scenario **does not** repro the issue:

[code]

[2021-09-07 20:30] robloo commented on #6989
May very well be related to #6766. Changes were recently made to ImageBrush for this functionality.

[2021-09-07 20:33] robloo opened #6990 "Incorrect `ImageBrush` Linear Gradients"
### Current behavior

ImageBrush does not render linear gradients correctly. The gradient has a horizontal slant to it as discovered with the ColorPicker on WASM and iOS.

https://github.com/unoplatform/uno/pull/3955#issuecomment-699069631
https://github.com/unoplatform/uno/issues/5992#issuecomment-898788904

**Actual**
![image](https://user-images.githubusercontent.com/17993847/129455396-444321d2

[2021-09-07 20:51] #6871 closed

[2021-09-07 20:51] #6873 closed

[2021-09-07 20:51] #6874 closed

[2021-09-07 20:51] #6876 closed

[2021-09-07 21:16] Youssef1313 commented on #6321
Going to take a look at this tomorrow morning :)

It appears there are two issues here:

- The described issue open the list is opened when it shouldn't.
- The `Text` set doesn't actually show (probably it doesn't reflect on the underlying `TextBox`)

[2021-09-07 22:39] conceptdev commented on #6507
Code and interfaces have been split out into separate projects/dependencies, and `EventHandler<NativeFold> LayoutChanged` has been added to listen for layout changes from Window Manager.

There is still tight coupling to the **MainActivity** - need to figure out the correct "Uno way" to package this... but I can't help thinking we'll have to put _something_ in `Windows.UI.Xaml.ApplicationActivity`

[2021-09-07 23:08] brinko99 commented on #6441
These comments have been helpful. We too are building a custom Linux image for use with Uno. I found that simply matching `family eq` with `Segoe UI` per @dradtke's comment is not enough in our case. Some text displays under that condition, but not all. As far as I can tell, under Windows our missing text is indeed straight Segoe UI.

The only solution I've found is to substitute everything, or ma

[2021-09-08 00:39] #6872 closed

[2021-09-08 01:43] ywmoyue commented on #6984
I updated to 3.10.0-dev.647 and the error disappeared, thank you

[2021-09-08 01:43] #6984 closed

[2021-09-08 01:49] jeromelaban commented on #6978
@Jaiganeshkumaran which version of Uno are you running? If is 3.9, can you try with 3.10-dev.XX experimental builds?

[2021-09-08 01:52] #6822 closed

[2021-09-08 02:14] jeromelaban commented on #6990
Looks like of it was recently adjusted in https://github.com/unoplatform/uno/pull/6951 and https://github.com/unoplatform/uno/pull/6787 by @MartinZikmund

[2021-09-08 02:18] #1950 closed

[2021-09-08 02:23] #2593 closed

[2021-09-08 03:52] robloo commented on #6990
Wow, impeccable timing! I missed that PR and will retest.

[2021-09-08 04:16] conceptdev commented on #6507
Basically, although the `ApplicationActivity` doesn't _have_ to implement `IConsumer` itself, it could be a separate class. I think the trick is wiring up the `WindowInfoRepositoryCallbackAdapter` and adding/removing the listener at the right place in the lifecycle... and only when needed (ie I guess when the Uno.UI.Foldable NuGet has been included).

The original DualScreen API was easier because

[2021-09-08 05:40] #2934 closed

[2021-09-08 07:52] #6240 closed

[2021-09-08 08:17] mterwoord commented on #6834
I'm coming from xamarin forms with this project. There I made my own color picker using skia, so i ended up porting that one.. Thanks for following up though!

[2021-09-08 09:21] #5218 closed

[2021-09-08 10:08] Youssef1313 commented on #4382
This one is likely to be fixed in https://github.com/unoplatform/uno/pull/6992

[2021-09-08 12:45] jeromelaban commented on #5993
Fixed in https://github.com/unoplatform/uno/pull/6909

[2021-09-08 12:45] #5993 closed

[2021-09-08 13:28] jeromelaban opened #6993 "Range selection tests are failing"
### Current behavior

`Calling_Select_With_NegativeValues`, `Calling_Select_With_In_Range_Values`, `Calling_Select_With_Out_Of_Range_Length` and `Calling_Select_With_Out_Of_Range_Start` are failing in CI.

### Expected behavior

_No response_

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

### Works on UWP/WinUI

_No response_

### E

[2021-09-08 13:58] jeromelaban commented on #6993
@Youssef1313 Looks like those tests started failing on CI. Could you take a look?

[2021-09-08 14:12] Youssef1313 commented on #6993
Will take a look. Thanks!

[2021-09-08 14:38] Youssef1313 commented on #6993
@jeromelaban The failure seems very expected. The tests are run against .NET Framework 4.6.1, which doesn't have an implementation for `SelectionStart` and `SelectionLength` since the implementation is platform-specific. I think the tests should be written as runtime tests. Do you agree with that?

[2021-09-08 14:56] jeromelaban commented on #6993
Sure. The curious part is the build passed in PR, so yes let's move those as runtime tests.

[2021-09-08 14:58] Youssef1313 commented on #6993
I think there was an issue with tests not running that you fixed? It's very possible it was fixed after the CI on my PR passed.

[2021-09-08 19:47] sakshi173 opened #6997 "[Calculator][Android] For Programmer Calculator History is not working (not saving anything in History tab)."
### Current behavior

https://user-images.githubusercontent.com/74563602/132574816-1463a8e4-4597-44dd-bb6c-2291d084bd7f.mp4

### Expected behavior

The Calculation should save in the history tab.

### How to reproduce it (as minimally and precisely as possible)

1. Visit https://calculatorcanary.z27.web.core.windows.net/
2. Open the burger menu and change the calculator from standard to Programmer

[2021-09-08 19:54] Youssef1313 commented on #5114
@vskotatko Can you try with the latest dev version? (currently `3.10.0-dev.685`)

[2021-09-08 20:18] sakshi173 opened #6998 "[Calculator][Android] App crashes when move from the standard calculator's History tab to the Programmer calculator."
### Current behavior

https://user-images.githubusercontent.com/74563602/132577102-6459cac9-5a0f-45a6-8f4f-955b45e4fa76.mp4

### Expected behavior

The app should not crash and the Programmer calculator should open properly.

### How to reproduce it (as minimally and precisely as possible)

Do some calculation using Standard calculator from burger menu.
Tap on the history sign on Standard calculat

[2021-09-08 20:19] DierkDroth commented on #4382
Thanks for the update @Youssef1313

[2021-09-08 21:34] dr1rrb opened #6999 "LayoutSlot is invalid"
### Current behavior

The `LayoutInformation.GetLayoutSlot` does not give same result as UWP

### Expected behavior

🙃

### How to reproduce it (as minimally and precisely as possible)

In a blank app

[code]

[code]

UWP (expected)

Android

### Workaround

None

### Works on UWP/WinUI

_No response_

### Environment

_No response_

### NuGet package version(s)

3.10.0-dev.632

### Affected platf

[2021-09-08 21:40] dr1rrb opened #7000 "Element with margin in ScrollViewer cannot be scrolled to the end"
### Current behavior

If you put an element with a margin as `Content` of a `ScrollViewer`, then the element won't be fully scrollable.

### Expected behavior

🙃

### How to reproduce it (as minimally and precisely as possible)

[code]

We cannot see the bottom and right borders.

### Workaround

Surround the element with `Border` without margin:

[code]

### Works on UWP/WinUI

Yes

### Environme

[2021-09-08 21:43] vskotatko commented on #5114
@Youssef1313 Eventually, I can try, but it will be a while. Thanks for addressing this.

[2021-09-08 21:48] dr1rrb opened #7001 "LayoutSlot is zero on first load"
### Current behavior

If we get the layout slot of an element using `LayoutInformation.GetLayoutSlot(element)` on its first load, the layout slot will be a zero rect.

### Expected behavior

The element should have already been layouted.

### How to reproduce it (as minimally and precisely as possible)

In a blank uno app, in the ctor of `MainPage` add:

[code]

The assertion will fail

### Workar

[2021-09-08 22:02] dr1rrb opened #7002 "LayoutUpdated event is not fired properly"
### Current behavior

The `LayoutUpdated` event is fired only on elements that has been [re-]layouted

### Expected behavior

* It's like a static event that has to be fired on any `UIElement` associated to the current thread
* The sender of the event has to be `null`

More info: https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.frameworkelement.layoutupdated?view=winrt-20348#remarks

### H

[2021-09-09 03:46] robloo opened #7003 "FontIcon does not Render Glyph that TextBlock Does"
### Current behavior

This is a fun one, and was expected to be an easy fix but turned into a complex issue. It started out that a single Glyph was not appearing when it should. It was assumed something was wrong in the binding or viewmodels but everything checked out. A simple switch from FontIcon to TextBlock actually solved the problem - how? FontIcon uses TextBlock internally.

[code]

Produce

[2021-09-09 09:04] #6525 closed

[2021-09-09 09:55] Youssef1313 commented on #7003
So this doesn't work.:

[code]

But this one does?

[code]

Could it be that this glyph isn't supported by the given font? The reason it may be working with `TextBox` is related to which native controls this is transformed into and whether the native control use a fallback font when the glyph doesn't exist.

This is all just guessing. Will see if I can find some way to confirm.

[2021-09-09 10:00] Youssef1313 commented on #7003
I used this site: https://torinak.com/font/lsfont.html

and dropped the font file there. Both F4Fx and FE2x are there:

![image](https://user-images.githubusercontent.com/31348972/132665492-29d7e9c9-deb4-457f-83a9-2e589fb9157a.png)

![image](https://user-images.githubusercontent.com/31348972/132665609-06f7df13-7106-4c0f-a6a4-78d722e77d4b.png)

So likely my guess isn't correct 😕

[2021-09-09 12:21] jeromelaban commented on #7002
Related to https://github.com/unoplatform/uno/issues/3519

[2021-09-09 13:04] #2937 closed

[2021-09-09 13:19] robloo commented on #7003
Yea, the font is good. I am only using two different Glyphs both in a TextBlock and a FontIcon. If the glyph in the font was bad it wouldn't show in the TextBlock either. Android doesnt have any fallback fonts for these Microsoft Symbol Fonts. And finally this all works just fine on UWP as well. So it seems to be something special with this specific Unicode point itself in a FontIcon.

[2021-09-09 13:20] robloo commented on #7003
Also keep in mind FontIcon is using TextBlock internally so it really doesn't make any sense.

[2021-09-09 15:03] JaiganeshKumaran opened #7006 "Visual Studio for Mac - XAML item templates"
## What would you like to be added: Visual Studio for Mac - XAML item templates
Visual Studio for Mac doesn't currently provide UWP XAML item templates but since Uno uses the same, Uno could provide them with the extension.

## Why is this needed: For better development experience
Today to add a new page/user control/resource dictionary/resource file using Visual Studio for Mac, we need to create

[2021-09-09 15:10] Youssef1313 commented on #7003
@robloo It's probably not related to `FontIcon` vs `TextBlock`.

When I changed the orientation, a `TextBlock` was broken:

![image](https://user-images.githubusercontent.com/31348972/132712348-b2338409-434a-4f59-a525-d41a5e4d1307.png)

It feels like, somehow, the measuring is broken for this glyph but not the other.

[2021-09-09 15:14] robloo commented on #7003
Hm, interesting. I did have a thought layout might have something to do with this. However, that really doest explain why this glyph doesn't work specifically. Unless measure of the glyph itself is unique in some way that breaks measure/arrange passes later on.

[2021-09-09 15:17] Youssef1313 commented on #7003
I thought that the measurement could have been done after the text/glyph is set but before the font is. But I made sure to set the font family first and the issue remains. So indeed that doesn't explain it. The is really very strange (and interesting 😃 )

[2021-09-09 15:17] robloo commented on #7003
Actually, we know measure/arrange is broken because of the first screenshot I added showing a TextBlock on top of another TextBlock within the StackPanel. I bet this does have to do with the internals of how text measurement is done for the glyph in question.

[2021-09-09 15:20] peternary opened #7008 "[WASM] Intermittent exception when changing layout"
### Current behavior

In WASM, rearranging UI elements through c# will sometimes fail altogether.  The issue appears to be more frequent when the Uno application is under load or when the browser console is open, but neither of these conditions are necessary.

### Expected behavior

No exception should occur, as in UWP.

### How to reproduce it (as minimally and precisely as possible)

In the atta

[2021-09-09 15:20] Youssef1313 commented on #7003
Here is an interesting scenario in UWP vs Android:

![image](https://user-images.githubusercontent.com/31348972/132714118-e80a4dba-abd7-45dd-b813-ad24d35c3355.png)

![image](https://user-images.githubusercontent.com/31348972/132714265-4c581770-7a3e-4fb5-857e-ca736c67d6f9.png)

[2021-09-09 15:33] robloo commented on #7003
I think you are actually breaking things here with an unsupported scenario. Even in UWP that doesn't make sense. It appears at first an issue with the Unicode point being interpreted in a way to change the text alignment for the blue FontIcon to RTL. This is likely because FontIcon is designed for ONLY a single Glyph. Specifying two 16-bit hex values in XAML is actually quite strange -- it normall

[2021-09-09 15:33] MartinZikmund commented on #6852
Fixed by #6949

[2021-09-09 15:33] #6852 closed

[2021-09-09 15:47] robloo commented on #7003
@Youssef1313 More information:

I decided to switch from StackPanel to Grid to take that out of the equation. Grid is also using the same WinUI source base so shoulnd't have these types of bugs we are seeing in StackPanel. I also added some backgrounds to each control so we could see what is where they appear even without text.

 1. The Blue FontIcon with 0xF4F8 is centered both vertically and hor

[2021-09-09 15:57] Youssef1313 commented on #7003
@robloo  What I get with your sample code on Android 9 emulator:

![image](https://user-images.githubusercontent.com/31348972/132720082-b69e4654-06a2-4f47-a59a-91186c79b79e.png)

The black one shows in the last column as expected.

But, in Android 11, I'm seeing this what you're seeing:

![image](https://user-images.githubusercontent.com/31348972/132720471-f7326923-819a-498f-92ae-124ab74a5f51.png)

[2021-09-09 16:01] robloo commented on #7003
Man, this really opens up a lot of strange behavior. I did say this was a fun one, haha

@jeromelaban @dr1rrb @davidjohnoliver @carldebilly I think we are going to need some ideas pointing us in the right direction on this.

[2021-09-09 16:15] Audionysos opened #7009 "How to place file in Android's external storage when installing application."
## What would you like to be added:
I can't figure out how to place asset files in private external storage on Android.
From what I understand the the assets are embedded somewhere inside the executable/library,
Finally I thought to maybe copy them manually but I can't even access them using `Assets.Open()` as described in "AboutAssets.txt".
I have following structure in shared project:
```Assets/

[2021-09-09 16:57] robloo commented on #7009
You need to add the file to project as an embedded resource. BuildAction -> EmbeddedResource. To use the data stream in a cross-platform way you can do something like:

[code]

[2021-09-09 17:17] robloo commented on #7003
I had another thought: use absolute positioning for everything within a Canvas. This ensures measure/arrange bugs aren't (or shouldn't) be affecting the glyph rendering -- at least at the control level.

This almost certainly proves there is an underlying issue measuring the glyph size or positioning itself. For the TextBlock that shows the glyph it is way off it's background. How text measurement

[2021-09-09 17:35] robloo commented on #7003
My theory:
 1. The issue is entirely due to text measurement within TextBlock
 2. FontIcon is using the measurements from TextBlock and may be throwing out invalid values or just clipping the glyph itself. If the internal TextBlock was measuring correctly, FontIcon would work just fine.

From the following, we see that the glyph is rendered to the left of its background. It is off by approximately

[2021-09-09 17:40] Audionysos commented on #7009
Ok, if that's the only way I will try it. I've already spend half of yesterday trying to figure out Android's file system and I think the copy thing should not be an issue, but setting file as embedder resource will be problematic. Apart form wasting storage space, the program was already working on windows but when I set the file to be embedded resource it would no longer appear in programs direc

[2021-09-09 18:14] davidjohnoliver commented on #7003
@robloo @Youssef1313 yep you definitely have a fun one on your hands :D

I have no idea what's going on, but I suspect that looking at the layout bounds of the views in question, either with ShowLocalVisualTree() in the debugger or with the Layout Inspector from Android Studio, would be a useful next step.

[2021-09-09 18:16] robloo commented on #7009
Oh, I see. I believe Uno should automatically transform Content into an Android Asset. I don't think Embeded Resource is the only way, but it is what I've used in the past. I don't need the file to appear in the file system with the executable though.

https://stackoverflow.com/a/64483046

[2021-09-09 20:00] #7009 closed

[2021-09-09 21:06] jeromelaban opened #7012 "[iOS] CommandBar.Content crashes in NSObject_Disposer:Drain when GC is triggered"
### Current behavior

The app freeze when the GC(Garbage collector) is triggered.

![ios](https://user-images.githubusercontent.com/17461593/128526880-523c71c4-82bf-4443-af0a-eb76e2651be7.gif)

[code]

### Expected behavior

No Crash

### How to reproduce it (as minimally and precisely as possible)

- Download this sample [CommandBarBinding.zip](https://github.com/unoplatform/uno/files/7139762/Com

[2021-09-10 05:51] Youssef1313 opened #7014 "NativeCtorsGenerator fails for nested classes"
### Current behavior

In UWP, the following works:

[code]

For Android, it generates invalid code:

[code]

### Expected behavior

Generated code should be correct:

[code]

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

### Works on UWP/WinUI

Yes

### Environment

_No response_

### NuGet package version(s)

_No response_

### Aff

[2021-09-10 05:52] Youssef1313 commented on #7014
This may be affecting other generators as well. Will need to double check that.
If other generators work correctly, we should extract this common functionality into a helper class.

[2021-09-10 11:26] Youssef1313 commented on #4566
I have been looking at this, and I think I found the root cause, which may be affecting other controls:

To explain what I'm suspecting to be the issue, I'll take a simple example.

Just add a button to a new empty project, and in `MainPage` constructor after `InitializeComponent` call, add `var x = VisualTreeHelper.GetChild(btn, 0);`

Note the variable `x` value using the debugger on both Android

[2021-09-10 11:42] jeromelaban commented on #7014
Thanks! Is this a regression ?

[2021-09-10 11:50] Youssef1313 commented on #7014
I don't think it's a regression. The bad logic is there from the very beginning.

https://github.com/unoplatform/uno/blame/5e7bc649f92ac408d721d1a8ba3194fba35c2661/src/SourceGenerators/Uno.UI.SourceGenerators/NativeCtor/NativeCtorsGenerator.cs#L138

[2021-09-10 12:08] #6781 closed

[2021-09-10 12:09] Mohsens22 commented on #6880
What's the update for this issue?

[2021-09-10 12:24] jeromelaban commented on #4566
This may be an issue related to #3519. That being said, you're saying _but the control isn't loaded and no visual changes occurred_. did you find the location that prevents this case ?

[2021-09-10 12:54] jeromelaban commented on #6507
Makes sense! I think there are two things needed here w.r.t initialization. First, the internal `Application` class should be initializing `HingeAngleSensor`, which in turn would try to do `ApiExtensibility.CreateInstance` if available. At that point, the extension could hook onto the `Create` event on `Uno.UI.BaseActivity` or something similar (like an extension method to avoid the direct depende

[2021-09-10 14:57] davidjohnoliver commented on #7014
Indeed it's a long-standing limitation that's listed in the docs: https://platform.uno/docs/articles/migrating-guidance.html#avoid-nested-classes-that-inherit-from-frameworkelement

[2021-09-10 17:26] Youssef1313 commented on #7014
@davidjohnoliver I think it can be fairly easy to handle in code generation. What are other generators that needs to be updated? Are there issues with that outside the code generation area?

[2021-09-10 18:36] Youssef1313 opened #7016 "Changing `TextBox.Text` in code should reset the caret to the beginning"
### Current behavior

See https://github.com/unoplatform/uno/pull/6995#issuecomment-916392149 and see modified tests in the PR.

### Expected behavior

Explained above.

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

### Works on UWP/WinUI

Yes

### Environment

_No response_

### NuGet package version(s)

_No response_

### Affected

[2021-09-10 19:12] Youssef1313 commented on #4566
@jeromelaban I didn't, but I assumed this is expected? Will take another look and see if I can get deeper into how VisualStateManager.GoToState works deeply.

[2021-09-11 01:09] jeromelaban commented on #6998
Exception stack trace:

[code]

/cc @MartinZikmund

[2021-09-11 01:20] jeromelaban commented on #6814
This is a good one ;) The issue actually comes from the fact that the link inside the browser is a WebAssembly app likely seems to not be supported. This is not a crash we can avoid unfortunately, as it is coming from the the platform itself.

Maybe Android 12 will help there, but until then, there's not much we can do about it.

[2021-09-11 01:20] #6814 closed

[2021-09-11 01:21] #7012 closed

[2021-09-11 10:28] MartinZikmund opened #7020 "`ContentDialog` background does not stretch and resize properly on Android"
### Current behavior

When `ContentDialog` is opened, its "overlay background" does not properly stretch across the vertical of the screen (leaves uncovered a strip at the bottom side, most likely due to the status bar). In addition, when the screen is rotated (or resized), the background does not resize and covers the content only partially.

### Expected behavior

Should behave same as in UWP/Wi

[2021-09-11 11:53] MartinZikmund commented on #7020
![Screenshot_20210911-135235_SamplesApp.jpg](https://user-images.githubusercontent.com/1075116/132947044-f78cee9d-3e48-4885-8307-6008a060b478.jpg)

![Screenshot_20210911-135320_SamplesApp.jpg](https://user-images.githubusercontent.com/1075116/132947055-b51d6a53-33cf-4d39-8c4a-301b0100c6d5.jpg)

[2021-09-11 12:37] MartinZikmund opened #7021 "Add shadow to `ContentDialog`"
## What would you like to be added:

Shadow under `ContentDialog`

## Why is this needed:

Style!

## For which Platform:

All.

[2021-09-11 13:31] Youssef1313 commented on #7003
@davidjohnoliver I'm trying to attach the debugger from Android Studio to the emulator that was run from Visual Studio, but:

![image](https://user-images.githubusercontent.com/31348972/132949433-8eb99bd8-69be-493d-9707-6d6ed84ec5f2.png)

![image](https://user-images.githubusercontent.com/31348972/132949505-6c60fc19-a97b-424e-9c43-218ab5e684e0.png)

The instructions [here](https://github.com/unopl

[2021-09-11 14:47] robloo commented on #7003
I was wondering how to do the same. I highly doubt the two toolsets play nicely together. The thought I had was to take the compiled app from the Xamarin tooling and copy the .apk over to Android Studio for debugging. The hope is that would be enough to see the bounds of the underlying android controls -- of course actual debugging won't work. Not sure if or how that works though and I've never ha

[2021-09-11 14:52] Youssef1313 commented on #7003
Yeah I actually just downloaded and installed Android Studio for this 😄

[2021-09-11 15:05] MartinZikmund commented on #3954
Same problem occurs on other OS/browsers - e.g. Safari on iOS

[2021-09-11 16:10] robloo commented on #7003
I had a nother thought. This repro is so simple an app could be made in Android Studio itself with a text control, the custom font and the glyph in question. If it doesn't work there we prove the bug is Android itself (differences in your screenshots between Android 9 and 11 are suspicious too). It might also be easier to find a work-around using the normal Google app development toolkit.

[2021-09-11 17:22] sakshi173 opened #7023 "[Gallery][Wasm] CalendarView - The XAML code is available through See Xaml link, instead of the <> sign on the right side."
### Current behavior

![calendarView](https://user-images.githubusercontent.com/74563602/132955868-11cb6e7e-af92-41ac-ad32-59e7468e5240.png)

### Expected behavior

The Xaml code should display like other controls of Gallery
![calendar correct](https://user-images.githubusercontent.com/74563602/132955924-c44cee4d-36f2-4103-a56f-a600d4dc2d78.png)

### How to reproduce it (as minimally and precisely

[2021-09-11 17:52] sakshi173 opened #7024 "[Gallery][Wasm] Fluent-PersonPicture - The Gallery Image and corner radius is incorrect."
### Current behavior

![personpicture](https://user-images.githubusercontent.com/74563602/132956540-8380e9f7-0ccf-4949-8085-a13cdc5863ac.png)

### Expected behavior

The Gallery Image and corner radius should display properly.

### How to reproduce it (as minimally and precisely as possible)

1. Open Uno Gallery APP
2. Click Burger Menu on the left top right.
3. Click "PersonPicture" from the "Com

[2021-09-11 18:14] sakshi173 opened #7025 "[Gallery][Wasm] Fluent -ProgressRing/Bar and Slider - The corner radius is incorrect for slider."
### Current behavior

![slider issue](https://user-images.githubusercontent.com/74563602/132957198-e6f0a8b7-3d83-4a14-9619-c530474f7bbe.png)

### Expected behavior

The Slider should display correctly.

### How to reproduce it (as minimally and precisely as possible)

1. Open Uno Gallery APP
2. Click Burger Menu on the left top right.
3. Click "Progress Ring/Bar" or "Slider" from the "Component" l

[2021-09-11 19:48] Youssef1313 commented on #7003
@robloo Indeed!! Looks like an Android issue:

![image](https://user-images.githubusercontent.com/31348972/132959773-6126ab4d-54c2-4d0f-9a13-d8fc8350fbad.png)

[2021-09-11 20:04] robloo commented on #7003
Great confirmation! I guess I need to file an issue with Android itself. I'll try to find the correct repository for that.

Separately, I'm going to attempt rebuilding the symbols font within a few days. I'm not sure if the underlying issue is the Unicode point being out of an expected range, or somehow the glyph is formatted in a way Android can't handle. Switching to a new font with a different

[2021-09-12 00:23] jeromelaban commented on #7023
Looks like it's a behavior that was changed intentionally. @kazo0 ?

[2021-09-12 04:22] dbruning commented on #4138
https://github.com/sipsorcery-org/sipsorcery would be a great starting point for this.

[2021-09-12 06:20] ywmoyue opened #7028 "The default uno Android project template cannot be debugged in Visual Studio 2022 preview"
### Current behavior

![image](https://user-images.githubusercontent.com/28388300/132974334-1bf78b87-e803-488d-9d7e-96bd0c341445.png)
![image](https://user-images.githubusercontent.com/28388300/132974363-d3ba5485-2e60-43df-99a8-016462c1a950.png)

### Affected platforms

Android

### IDE

Visual Studio 2022

### IDE version

Microsoft Visual Studio Community 2022 Preview (64-bit) Version 17.0.0 Pre

[2021-09-12 06:24] Youssef1313 commented on #7028
I think the .NET 6.0 templates aren't yet stable for usage. cc @jeromelaban to confirm

[2021-09-12 08:24] Youssef1313 opened #7030 "Element in UITests have incorrect rect"
### Current behavior

Incorrect rect returned for an element.

### Expected behavior

Rect should be correct.

### How to reproduce it (as minimally and precisely as possible)

- Run `TimePickerFlyout_HasDataContextTest` (being enabled in #7029)
- Observe that `theTimePicker.FastTap();` clicks an incorrect coordinate.

It should click around the green point. but it actually click around the red on

[2021-09-12 08:38] Youssef1313 commented on #7030
Looks like this is related to the custom style for this particular test. I'll use `HourTextBlock` (which has the correct rect) instead of `theTimePicker`

[2021-09-12 10:11] furoTmark opened #7031 "java.lang.RuntimeException: Canvas: trying to use a recycled bitmap android.graphics.Bitmap"
### Current behavior

I have a Listview and in the Listview there are images displayed that have as a UriSource a link to a .jpg (like https://upload.wikimedia.org/wikipedia/commons/1/18/Color-white.JPG). The images are displayed correctly, but after some scrolling a fatal error shows up and the application closes.

Code example:

[code]

Stacktrace:

[code]

### Expected behavior

No fatal error

[2021-09-12 11:52] Youssef1313 opened #7033 "Visual state is changed but not applying properties"
### Current behavior

- See sample added in https://github.com/unoplatform/uno/pull/7032.
- Clicking on "Hello world!" raises `VisualStateChanging` and `VisualStateChanged` correctly, but color doesn't change.

### Expected behavior

- Color should start changing gradually from black to red in two seconds and from red to blue in two seconds.

### How to reproduce it (as minimally and precisely as

[2021-09-12 12:51] Youssef1313 commented on #2855
I'm not able to reproduce. @jeromelaban Was this already fixed?

Code I used to repro:

[code]

Result:

![image](https://user-images.githubusercontent.com/31348972/132988221-11a4ed51-0bbe-4c6b-b66d-ddc4d922906c.png)

[2021-09-12 14:52] jeromelaban commented on #7028
Indeed, .NET 6 and visual studio previews are not stable, newer updates will fix this soon.

I'll close this for now as it won't be relevant very soon.

[2021-09-12 14:52] #7028 closed

[2021-09-12 15:34] #6811 closed

[2021-09-12 16:49] sakshi173 opened #7035 "[Gallery][Wasm][Android] Material -ProgressRing/Bar - The Progress Ring is missing for 'Determinate ProgressRing' when open the ProgressRing/Bar controls."
### Current behavior

![pr](https://user-images.githubusercontent.com/74563602/132995725-963b939d-011a-4ae1-ba4f-b0753b930c8c.png)
![pr Wasm](https://user-images.githubusercontent.com/74563602/132995936-aaac53ea-b245-4f78-bb64-558bd3aef6cb.png)

### Expected behavior

_No response_

### How to reproduce it (as minimally and precisely as possible)

1. Open Uno Gallery APP
2. Click Burger Menu on th

[2021-09-12 16:51] Youssef1313 commented on #2855
We use Avalonia parser here. I opened https://github.com/AvaloniaUI/Avalonia/issues/6577.

[2021-09-12 17:02] sakshi173 opened #7036 "[Gallery][Android][Material, Fluent, Cupertino] ProgressRing/Bar - For 'Determinate ProgressRing' the Progress Ring is show full ring in the starting of the slider while move slider."
### Current behavior

https://user-images.githubusercontent.com/74563602/132996277-fa21aee1-b5ca-4987-9466-cf38afca3899.mp4

### Expected behavior

The Progress ring  shows according to the slider move situation.

### How to reproduce it (as minimally and precisely as possible)

Open Uno Gallery APP
Click Burger Menu on the left top right.
Click "Progress Ring/Bar" from the "Component" list.
Obser

[2021-09-12 17:14] sakshi173 opened #7037 "[Gallery][Wasm] Fluent- ProgressRing/Bar -In the dark mode the progress ring is not displaying correctly for 'Determinate ProgressRing'"
### Current behavior

https://user-images.githubusercontent.com/74563602/132996526-572b0db5-58b4-4caa-a7f3-af9f9b203745.mp4

### Expected behavior

The Ring should display properly.

### How to reproduce it (as minimally and precisely as possible)

1. Open Uno Gallery APP
2. Click Burger Menu on the left top right.
3. Click "Progress Ring/Bar" from the "Component" list for Fluent.
4. Observe that

[2021-09-12 17:51] sakshi173 opened #7038 "[Gallery][Wasm] PasswordBox -For the 'EnterPassword' MouseOver state has a border all around."
### Current behavior

![passwordbox](https://user-images.githubusercontent.com/74563602/132997522-4ca60c19-a2e9-4bf9-a558-d00991b7de0e.png)

### Expected behavior

The border all around should not display.

### How to reproduce it (as minimally and precisely as possible)

1. Open Uno Gallery APP
2. Click Burger Menu on the left top right.
3. Click "PasswordBox" from the "Component" list for Fluent

[2021-09-12 19:04] Youssef1313 commented on #1633
This is where things go wrong:

https://github.com/unoplatform/uno/blob/a9a04c243b2e0e0bf43b7c02d414957e2503fa43/src/Uno.UI/UI/Xaml/Controls/ToolTip/ToolTipService.cs#L190-L215

The `if (toolTip.CurrentHoverId != hoverId)` condition is true, so we don't execute the remaining logic and open the tooltip.

To me, this condition will ALWAYS be true because we're passing `++toolTip.CurrentHoverId` then

[2021-09-12 19:57] Youssef1313 commented on #1633
Note: The Tooltip actually opens when the host control is pressed and hold.

The test expectation is it opens just after tapping.

I'm not sure if the test should simply be modified to expect a tap and hold, and if so why iOS is currently passing?

[2021-09-13 06:55] Youssef1313 opened #7043 "`FrameworkElement.FindName` doesn't look for resources"
### Current behavior

[code]

[code]

### Expected behavior

Shouldn't return null, as in UWP.

### How to reproduce it (as minimally and precisely as possible)

↑

### Workaround

_No response_

### Works on UWP/WinUI

Yes

### Environment

_No response_

### NuGet package version(s)

_No response_

### Affected platforms

iOS, Android, WebAssembly, macOS, Skia (WPF), Skia (GTK on Linux/macOS/Win

[2021-09-13 07:11] Youssef1313 opened #7044 "`ResourceDictionary` shouldn't have a string key for `Style` without explicit `x:Name`"
### Current behavior

[code]

[code]

All resources have a string Key.

### Expected behavior

Only `MyButton` and `MyStyle` have a string key.

UWP behavior:

![image](https://user-images.githubusercontent.com/31348972/133039442-8cb799c7-3c4a-41ae-8e9c-9a1c5f5268ec.png)

### How to reproduce it (as minimally and precisely as possible)

↑

### Workaround

_No response_

### Works on UWP/WinUI

Yes

[2021-09-13 07:58] #7025 closed

[2021-09-13 07:58] #7038 closed

[2021-09-13 09:01] crramirez opened #7046 "Images Clipboard support"
## What would you like to be added:

Support for retrieving and placing images in the clipboard or at least raw data (like PNG files)

## Why is this needed:

I have an application in Windows: https://www.microsoft.com/en-us/p/paste-to-file/9pm34s06cfvj made in UWP that works with images in the clipboard and I want to port it to macOS and Linux

## For which Platform:

- [ ] iOS
- [ ] Android
- [

[2021-09-13 10:41] workgroupengineering commented on #5456
fixed in 3.10.0-dev.735

[2021-09-13 10:41] #5456 closed

[2021-09-13 11:03] workgroupengineering opened #7049 "NavigationViewItem.Icon clipped on compact mode"
### Current behavior

![immagine](https://user-images.githubusercontent.com/12531229/133071017-47ecba0f-e6b9-4045-860e-9fb5cf22a597.png)

![immagine](https://user-images.githubusercontent.com/12531229/133071081-4a60f7df-911a-446c-9a68-cc4d5736f225.png)

### Expected behavior

![immagine](https://user-images.githubusercontent.com/12531229/133071329-1ea91b6d-2ab6-4a56-9a47-f7ab2a2d719a.png)

### How

[2021-09-13 12:24] sakshi173 opened #7050 "[Gallery][Wasm][Android]Fluent - ProgressRing/Bar - For 'Indeterminate ProgressBar' the Progress Bar is incorrect"
### Current behavior

https://user-images.githubusercontent.com/74563602/133082787-416e6c41-041b-4ee4-b366-58fa69f66776.mp4

### Expected behavior

The Indeterminate ProgressBar should display properly.

### How to reproduce it (as minimally and precisely as possible)

1. Open Uno Gallery APP
2. Click Burger Menu on the left top right.
3. Click "Progress Ring/Bar" from the "Component" list for Flu

[2021-09-13 13:13] #6897 closed

[2021-09-13 14:06] MartinZikmund opened #7051 "Update WASM-specific Calendar control style to match WinUI 2.6"
## What would you like to be added:

Uno currently uses CalendarViewCrippledAnimationStyle for CalendarView on WASM (because of https://github.com/unoplatform/uno/issues/6182). This style is based on WinUI 2.5, but now does not fit in well with the WinUI 2.6. It would be great to use the current WinUI 2.6 calendar control style, apply the same workarounds and replace the WASM specific version with

[2021-09-13 14:08] MartinZikmund opened #7052 "WinUI 2.6 Slider thumb should animate on pointer over"
## What would you like to be added:

The Slider control's Thumb should animate when pointer is over/pressed. This currently does not happen in Uno, even though the style contains the appropriate DoubleAnimations.

## Why is this needed:

WinUI 2.6 alignment

## For which Platform:

All

[2021-09-13 14:18] sakshi173 opened #7053 "[Gallery][Android] Material- Flyout - The Border is missing for the Text when click on 'Flyout' Button for 'FlyoutPresenter'"
### Current behavior

![flyout presenter issue](https://user-images.githubusercontent.com/74563602/133099852-fa018889-2611-4f66-a167-e310d10afc1d.png)

### Expected behavior

![flyout presenter correct](https://user-images.githubusercontent.com/74563602/133099878-38cbbb8c-c362-44e5-b29f-d144884ab068.png)

### How to reproduce it (as minimally and precisely as possible)

Open Uno Gallery APP
Click

[2021-09-13 14:30] MartinZikmund opened #7054 "Use fallback color for non-macOS targets Acrylic with host backdrop"
## What would you like to be added:

When Acrylic targets host backdrop, it should fall back to solid color on non-macOS targets.

## Why is this needed:

Design parity.

## For which Platform:

All

[2021-09-13 14:39] jeromelaban opened #7055 "[Skia][TextBox] The TextBox 2.6 FluentStyle is moving the text up on focus"
### Current behavior

Typing text in a TextBox is moving the text up when focusing the TextBox.

![20210913-skia-textbox-shift](https://user-images.githubusercontent.com/5839577/133103889-db4fa783-06b2-4aa2-9c1c-7de721b848e9.gif)

### Expected behavior

The text does not move up when the TextBox is focused

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workar

[2021-09-13 15:02] MartinZikmund commented on #7054
Beware that HostBackdrop is often used for flyouts, where it mostly fulfills the role of Backdrop

[2021-09-13 16:37] limeniye opened #7057 "An emulator or device does not appear in the device list."
### Current behavior

- Visual Studio 17.0.0 Preview 3.1 v.
- Uno Platform 3.9.7.16 v.

I connected my phone to PC for deploy application to my device
![Screenshot_20210913-192015](https://user-images.githubusercontent.com/69314237/133121841-7fb37f0f-a413-4be1-b74b-3bef39745b18.jpg)
But I can't see my device in the list:
![list](https://user-images.githubusercontent.com/69314237/133121790-f6513226

[2021-09-13 16:53] jeromelaban opened #7058 "The MenuBarItem_Bounds tests are unstable"
### Current behavior

The Verify_MenuBarItem_Bounds and Verify_MenuBarItem_Bounds_Managed_Popups tests are failing on CI for Android and iOS:

https://github.com/unoplatform/uno/blob/e86c5d3e0d3d97d88eb8fc4f6dd63d009323571e/src/Uno.UI.RuntimeTests/Tests/Windows_UI_Xaml_Controls/Given_MenuFlyout.cs#L65

### Expected behavior

_No response_

### How to reproduce it (as minimally and precisely as pos

[2021-09-13 17:13] limeniye commented on #7028
Which version of Visual Studio works correctly with MAUI at this moment?

[2021-09-13 17:27] jeromelaban commented on #7028
You'd need to ask this on the MAUI repository for the best answer.

[2021-09-13 18:05] jeromelaban commented on #7035
It seems that the following method:

https://github.com/unoplatform/uno/blob/56d3ba98ee6cab055dc8d7c4941ce4494e20e946/src/Uno.UI/Microsoft/UI/Xaml/Controls/ProgressRing/ProgressRing.cs#L277

is not properly called when the progress ring value is being set while the control is not visible.

[2021-09-13 18:33] carldebilly commented on #7050
The _v2_ version of Fluent templates seems to be the cause of the problem.  The workaround will be to put back the _v1_ template and wait for https://github.com/unoplatform/uno/issues/3919 to be completed before reactivating the template.

[2021-09-13 18:46] kazo0 opened #7061 "[WASM/Skia/Android] Elements being clipped within a `Grid` with a negative margin"
### Current behavior

Place a child `Grid` inside of a parent `Grid`. With a negative margin on the child `Grid`, it should not be clipped by the parent `Grid`.

Observe that the child `Grid` is being improperly clipped:

![image](https://user-images.githubusercontent.com/4793020/133138474-e3c667a9-c14f-453e-8882-4da0365913ef.png)

### Expected behavior

WinUI behaviour:

![image](https://user-ima

[2021-09-13 18:48] kazo0 commented on #7024
Affected by https://github.com/unoplatform/uno/issues/7061

[2021-09-13 20:06] dr1rrb opened #7064 "[WASM] TextBlock measure / alignment with border"
### Current behavior

The text is not aligned (measured?) properly when a border is set on a `TextBlock`

### Expected behavior

🙃

### How to reproduce it (as minimally and precisely as possible)

In sample app, with default style, observe that in `CalendarView_Basics` text are not aligned.
Using the fluent v2 style, the text is not aligned only when the item hovered (which set the border thickne

[2021-09-13 20:57] jeromelaban commented on #7053
@MartinZikmund do you know if this is supposed to happen ?

[2021-09-13 21:05] jeromelaban commented on #7046
Thanks for the report. It looks like we do have support for images in some form:

https://github.com/unoplatform/uno/blob/839d5ce271f094f9c72e1d14d6db448cf032a322/src/Uno.UI.Runtime.Skia.Gtk/ApplicationModel/DataTransfer/ClipboardExtensions.cs#L201

What currently happens when you try copying an image ?

Could you create a small sample app that shows which APIs you are using in UWP ?

[2021-09-13 21:14] crramirez commented on #7046
Hello @jeromelaban,

I am just following the documentation. I am still evaluating if I use Uno Platform or rewrite the app for the other platforms. The documentation looks like it only supports textual clipboard content. So if it is supported, great I will give it a try.

Regards,
Carlos

[2021-09-13 21:44] MartinZikmund commented on #7053
@jeromelaban my guess it is because the flyout in WinUI has a shadow, so it does not need the border. But will need to check

[2021-09-13 21:53] MartinZikmund commented on #7053
The border shows up for flyout in blank app, so not sure what's wrong

[2021-09-13 22:39] davkean opened #7067 "UnoPlatformPackage.OnOpenedAsync hanging Visual Studio for large amounts of time"
### Current behavior

I'm from the Visual Studio performance team at Microsoft and our telemetry is showing that UnoPlatformPackage.OnOpenedAsync is hanging Visual Studio calling into IVsPackageInstallerServices.GetInstalledPackages on the UI thread. Over the past 90 days, we have the following (sampled) hits:

Root Failure|Leaf Failure|Hits (Expressed)|Total Hits|Duration (75th Percentile)|Delaye

[2021-09-13 23:45] jeromelaban commented on #7067
Thanks David for the detailed information!

The fact that the API can be call off the UI thread is particularly important indeed, thanks for mentioning it! We'll make adjustments for this.

[2021-09-14 01:30] jeromelaban opened #7068 "[Wasm] TextBlock selection is not working"
### Current behavior

Starting from https://github.com/unoplatform/uno/pull/6552, selecting the text from a TextBlock using the mouse is not working.

[code]

The carret is visible when hovering the textblock, but selection fails.

### Expected behavior

The text should be selectable.

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

#

[2021-09-14 01:30] jeromelaban commented on #7068
/cc @MartinZikmund @dr1rrb

[2021-09-14 03:17] #7037 closed

[2021-09-14 04:52] Jaiganeshkumaran opened #7070 "macOS - Cutting text from colour picker's hex box not working"
### Current behavior

Today when cutting text (not copy) from the hex box inside a colour picker throws System.NotImplementedException.

### Expected behavior

Cut should work just like Copy.

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

### Works on UWP/WinUI

Yes

### Environment

Other

### NuGet package version(s)

_No response

[2021-09-14 05:50] #7051 closed

[2021-09-14 10:27] Youssef1313 commented on #7067
The API was marked obsolete recently anyway: https://github.com/NuGet/NuGet.Client/pull/4038

[2021-09-14 11:27] Youssef1313 commented on #7055
This is caused by the use of the `DisplayBlock` (ie, we swap between the TextBox and a TextBlock on focus changes):

https://github.com/unoplatform/uno/blob/daf761172bbc126d53919380a351454f03b153d0/src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.skia.cs#L78-L90

Probably this was a workaround to caret being visible in Skia even if the TextBox is not focused?

[2021-09-14 11:34] Youssef1313 commented on #7055
cc @MartinZikmund Do you remember these details when you implemented the control in https://github.com/unoplatform/uno/pull/5706?

[2021-09-14 12:46] #7050 closed

[2021-09-14 12:49] Youssef1313 commented on #5207
The issue here is the InputScope in UWP just changes the touch screen keyboard, but don't do any validation. However, Android's `inputType` does validation and don't allow entering `,` for example. (I'm not sure how Uno managed to enter the comma while it's completely disallowed in Android)

We need a way to only change the keyboard, but without doing validation. I didn't manage to do that in nati

[2021-09-14 13:05] #7049 closed

[2021-09-14 13:07] Youssef1313 commented on #1389
UWP doesn't do ANY validation or restriction for the allowed input. The correct behavior is to just change the software keyboard. (not sure if it's possible in Web, will check)

[2021-09-14 13:10] dr1rrb opened #7072 "Lot of task cancelled in animations"
### Current behavior

DoubleAnimationUsingKeyFrames

### Expected behavior

_No response_

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

### Works on UWP/WinUI

_No response_

### Environment

_No response_

### NuGet package version(s)

_No response_

### Affected platforms

_No response_

### IDE

_No response_

### IDE version

_

[2021-09-14 13:23] #5891 closed

[2021-09-14 13:29] TopperDEL commented on #6919
I hoped this could make it into 3.10. Would love to have this in 3.11. :)

[2021-09-14 13:46] Youssef1313 commented on #7052
Note: the animation duration resources is only defined in FluentTheme

[2021-09-14 14:07] MartinZikmund commented on #7052
@Youssef1313 That should not be a problem (as the new version of the style is only there too). I rather suspect a general animation-related problem there.

[2021-09-14 14:09] NXTwoThou opened #7073 "ListView first SelectedItem doesn't unhighlight when new one selected"
### Current behavior

Go to https://gallery.platform.uno Expand "Features" on the left, click ListView, go down to "SelectedItem".  Click "Uno Blue", "Uno Purple", and "Uno Red".   "Uno Green" stays highlighted when you click the other colors.

![image](https://user-images.githubusercontent.com/15003605/133272416-b66972a4-81e0-4215-8f17-151d425fdba7.png)

Now click "Uno Green", then "Uno Blue"(or

[2021-09-14 14:12] MartinZikmund commented on #6919
@TopperDEL I have found out the problem (or rather cause, as it is not technically a bug). Because Android and iOS require additional elements in the visual tree to be able to properly render acrylic effect, the blur "owner" should ideally be an empty element - e.g. `Border` with no children for example. Because this would break a lot of default styles, we decided to set `AlwaysUseFallback` to `tr

[2021-09-14 17:44] jeromelaban commented on #7070
Thanks for the report. Can you provide a sample XAML that you are using?

[2021-09-14 18:27] jeromelaban commented on #7073
Thanks for the report! This is an issue that has already been fixed and it will be available soon once Gallery app is updated.

[2021-09-14 18:27] #7073 closed

[2021-09-14 19:05] TopperDEL commented on #6919
Thank @MartinZikmund! This at least is a small workaround I can confirm works. Do you know, though, how this acrylic is done technically? I have an app where I render plenty of images ok a skiasharp-Canvas. And the AcrylicBrush renders those images "unzoomed". They appear to be very small behind the brush. Will upload screenshots later.

[2021-09-14 19:22] #6993 closed

[2021-09-14 20:15] carldebilly opened #7081 "[WASM] MUX `ProgressRing`: The progress could be offset"
### Current behavior

1. Start the WinUIProgressRing_Features Uno.UI sample on WASM
2. Move the slider
3. Observe the result: the progressrings should follow the slider from 0 to 100. Sometimes it's totally off.

### Expected behavior

_No response_

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

none yet.

### Works on UWP/WinUI

Yes

### Environm

[2021-09-14 20:44] jeromelaban opened #7082 "[Wasm][VS2022] The application cannot be deployed when using `net6.0`"
### Current behavior

When using VS2022 Preview 4, a webassembly application cannot be started properly.

### Expected behavior

The application can be started properly using IIS or the netcore host.

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

Downgrade to `net5.0`.

### Works on UWP/WinUI

_No response_

### Environment

Uno.UI / Uno.UI.WebAss

[2021-09-14 23:54] robloo commented on #7003
I'm fairly certain the issue is caused by the Fluent UI System font using Unicode points it shouldn't be. The private use area only goes from U+E000–U+F8FF (the other two are outside the range we are looking at) and U+FE26 is outside that range. In fact U+FE26 is within the Combining Half Marks Blocks organized as "Continuous macrons for Coptic". Coptic is... a right-to-left language from what I c

[2021-09-15 05:55] Youssef1313 opened #7085 "Some string DPs have incorrect default value (null instead of string.Empty)"
### Current behavior

Some string DPs have incorrect default value (null instead of string.Empty). Discovered that in a few places in https://github.com/unoplatform/uno/pull/7047 where the PersonPicture sample crashed with a NRE, and suspecting there are more DPs with the same issue.

### Expected behavior

Default value is `string.Empty` instead of `null`. (possibly for ~~*all*~~ (there are very

[2021-09-15 07:09] HavenDV opened #7086 "[WASM] System.InvalidOperationException: AcrylicBrush is ** not ** supported by the AssignAndObserveBrush."
### Current behavior

[code]
When switching to each view, several such exceptions appear.

### Expected behavior

without exceptions

### How to reproduce it (as minimally and precisely as possible)

The minimal xaml code that throws the exception. Date binding is required, exception is thrown only for a certain number of things

[code]

### Workaround

I assume it has to do with scrollbars

### W

[2021-09-15 07:16] Youssef1313 commented on #7086
Duplicate of #6989.

[2021-09-15 07:22] TopperDEL commented on #6919
![Screenshot_20210914_210449_StorjPhotoGalleryUploader StorjPhotoGalleryUploader_edit_138485047285116](https://user-images.githubusercontent.com/1833242/133388963-749a4a26-27ae-47d6-a5f0-5b5074134dbe.jpg)
![Screenshot_20210914_210456_StorjPhotoGalleryUploader StorjPhotoGalleryUploader_edit_138500127691364](https://user-images.githubusercontent.com/1833242/133388967-e8d85128-f3e1-4fb5-ab1e-8b9fc564

[2021-09-15 07:24] TopperDEL commented on #6919
Difficult to see - but on the second image above those three little pictures are directly next to the big one. Scrolling it below the AcrylicBrush you can see that thos images have a "white border" - they are rendered smaller below the acrylic brush.

[2021-09-15 09:51] davidjohnoliver commented on #7003
@robloo Very interesting findings!

Sounds like we can't do much about this (since we're stuck with the glyph positions that Microsoft chose), but we should document it as a known limitation (here https://github.com/unoplatform/uno/blob/master/doc/articles/uno-fluent-assets.md/#L1).

If you check Segoe UI (eg in FontForge) you might be lucky enough to find that the glyph is duplicated at a differe

[2021-09-15 10:01] #7058 closed

[2021-09-15 12:07] #7086 closed

[2021-09-15 12:54] #7035 closed

[2021-09-15 13:36] dr1rrb opened #7091 "TSMarhsallInterop.Allocate faillure exeption are not handled properly"
### Current behavior

_No response_

### Expected behavior

_No response_

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

### Works on UWP/WinUI

_No response_

### Environment

_No response_

### NuGet package version(s)

_No response_

### Affected platforms

_No response_

### IDE

_No response_

### IDE version

_No response_

##

[2021-09-15 14:37] robloo commented on #7003
@davidjohnoliver

I'm using the Fluent UI System font which does not have the same Unicode points, or glyphs, as the Segoe MDL2 Assets or Segoe Fluent that the Uno symbols font is based on. If I was using the other two fonts I don't expect I would see this issue as Segoe MDL2 and Segoe Fluent stay within the private use areas correctly. https://github.com/microsoft/fluentui-system-icons/issues/321

[2021-09-15 18:00] jeromelaban commented on #7067
Fixed in https://github.com/unoplatform/uno/pull/7066

[2021-09-15 18:00] #7067 closed

[2021-09-15 18:18] seanocali commented on #6065
Just ran into this issue today. This fix oddly worked once but then hasn't since.

[2021-09-15 20:44] sakshi173 opened #7095 "[Gallery][Android] CalendarView -Calendar View is different from other platforms(iOS and WASM)."
### Current behavior

![calendar view look issue](https://user-images.githubusercontent.com/74563602/133505155-7db808ff-05cf-41b6-a752-ff31d2dd56e3.png)
![calendarview cupertino](https://user-images.githubusercontent.com/74563602/133505660-f95d7a18-c1d1-46ba-a011-bee0156a0967.png)

![calendarview dayname issue](https://user-images.githubusercontent.com/74563602/133504658-69a0cf3a-8399-453b-b812-07

[2021-09-15 21:00] sakshi173 opened #7096 "[Gallery][Wasm/iOS/Android] Fluent - RadioButton and Toggleswitch- when theme switch the Disabled Radiobutton and Disabled ToggleSwitch is not displaying correctly."
### Current behavior

https://user-images.githubusercontent.com/74563602/133508376-fe115a08-fed0-4586-855e-309fcb2fc8a1.mp4

### Expected behavior

The Radiobutton and toggleswitch should change  according to theme change.

### How to reproduce it (as minimally and precisely as possible)

Open Uno Gallery APP
Click Burger Menu on the left top right .
Click "RadioButton" Or "Toggleswitch"  from the

[2021-09-15 21:28] sakshi173 opened #7097 "[Gallery][Android/iOS] Material - RadioButton and Toggleswitch- when theme switch the Radiobutton and ToggleSwitch is not displaying correctly."
### Current behavior

tl;dw: // @starting-with-theme $changing-to-theme
![image](https://user-images.githubusercontent.com/2359550/151195972-8e119144-e80e-4e9f-9857-c2789c3e251a.png)

Note:-
**For Material(iOS) the Toggle switch is not correct- Already raise a bug for that long time back.(https://github.com/unoplatform/uno/issues/5634)**

https://user-images.githubusercontent.com/74563602/13351134

[2021-09-15 22:04] sakshi173 opened #7098 "[Gallery][Wasm] CalendarView - When theme switch, the UNO Name in the Gallery image is not changing according to theme change."
### Current behavior

https://user-images.githubusercontent.com/74563602/133515766-338a607e-0610-4144-884d-d08ad585a5db.mp4

### Expected behavior

The Uno Name in Gallery Image should change according to theme change.

### How to reproduce it (as minimally and precisely as possible)

1. Open Uno Gallery APP
2. Click Burger Menu on the left top right.
3. Click "CalendarView" from the "Component" l

[2021-09-16 01:44] HavenDV commented on #6989
I can help with defining the conditions. In my case, the WASM version is almost impossible to use due to persistent exceptions.
There is a small example in my issue where the problem happens.

[2021-09-16 04:51] robloo commented on #4435
Yes, I think so. With your commit to fix Fluent v1 and the release of Fluent v2 I think all instances of this have been fixed!

[2021-09-16 04:51] #4435 closed

[2021-09-16 04:54] robloo commented on #5734
I have a project that can build a Segoe Fluent equivalent font now: https://github.com/robloo/SymbolIconManager. Hopefully it will replace Uno.Fonts as well.

Some help for mappings would be appreciated. Otherwise, I'll probably have an MIT licensed font we can use to close this within a few weeks tops.

[2021-09-16 05:16] Youssef1313 commented on #7098
This recursion is going infinite:

https://github.com/unoplatform/uno/blob/master/src/Uno.UI/UI/Xaml/DependencyObjectExtensions.cs#L441-L445

causing:

![image](https://user-images.githubusercontent.com/31348972/133553700-b43207a8-a716-446a-8f08-e1c2287ac740.png)

This could be preventing some later code to execute that's responsible for changing the image.

[2021-09-16 05:40] rizaanlakay opened #7099 "ElevatedView not showing on all platforms."
### Current behavior

ElevatedView not showing any shadows on any platforms.

### Expected behavior

Expected to see shadows.

### How to reproduce it (as minimally and precisely as possible)

[ShadowTest.zip](https://github.com/unoplatform/uno/files/7175141/ShadowTest.zip)

### Workaround

_No response_

### Works on UWP/WinUI

No

### Environment

_No response_

### NuGet package version(s)

_No

[2021-09-16 07:24] saigkill opened #7101 "MyProject.Windows.Package.wapproj aren't found"
### Current behavior

I followed the new creation command from the docs (https://platform.uno/docs/articles/get-started-winui3.html). After creation i opened Visual Studio 2022 Preview 4 and got the error "MyProject.Windows.Package.wapproj aren't found". All projects aren't loadable.

### Expected behavior

Loading and working with the projects.

### How to reproduce it (as minimally and precisely

[2021-09-16 07:38] MartinZikmund opened #7102 "Default template should set `Background` on `Page`"
## What would you like to be added:

By default, UWP/WinUI apps set `Background` for the whole `Page`, not its child `Grid`

## Why is this needed:

When `Margin` is set on the `Grid`, the "native" background would show up around it.

## For which Platform:

All

[2021-09-16 07:58] HavenDV opened #7104 "[WASM] Can't compile xaml if Binding contains multiline value"
### Current behavior

[code]
Code like this produces this error in WASM build:
[code]

### Expected behavior

WASM should support multiline binding expressions.

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

### Works on UWP/WinUI

Yes

### Environment

Uno.UI / Uno.UI.WebAssembly / Uno.UI.Skia

### NuGet package version(s)

3.11.0-

[2021-09-16 10:00] Youssef1313 commented on #7104
Taking a look.

[2021-09-16 12:02] Youssef1313 opened #7106 "Dependency property is using `PropertyMetadata` instead of `FrameworkPropertyMetadata`"
### Current behavior

https://github.com/unoplatform/uno/blob/4a2e08da0389db122ff47df87b34820e2619d57f/src/Uno.UI/UI/Xaml/FrameworkElement.Interface.skia.cs#L89

### Expected behavior

BannedApiAnalyzers should flag this.

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

### Works on UWP/WinUI

_No response_

### Environment

_No respo

[2021-09-16 12:11] Youssef1313 commented on #7055
Note: After talking with @MartinZikmund, the `DisplayBlock` is currently needed. So the fix is to adjust its positioning so that both native control text and the DisplayBlock text are in exact same position.

[2021-09-16 12:25] #7082 closed

[2021-09-16 12:27] Youssef1313 commented on #5513
Instead of introducing a breaking change, why this is not considered a bug in VS designer?

[2021-09-16 12:29] Youssef1313 commented on #4861
The links are dead. @Xiaoy312 Do you still have the sample project?

[2021-09-16 12:33] jeromelaban commented on #6998
The issue is actually caused by a interaction between a `Visibility` binding and `x:Load`. It happens that the focus exception is just the first call that happens inside Android because we're requesting a view that is not at the requested index.

[2021-09-16 13:16] Youssef1313 commented on #4032
Registering a name for the current scope is done under a condition:

[code]

Then, `RegisterBackingField` call (which I assume is responsible for generating the field) is gated under the same conditions.

I don't have the complete background to know why the `isMemberInsideResourceDictionary.isInside` check is there in the first place. It doesn't look like a simple removal of the condition, I think

[2021-09-16 13:18] carldebilly commented on #6072
Probably just because it's a different font.

[2021-09-16 14:41] sasakrsmanovic opened #7109 "Docs: How to run Uno app in WPF Shell"
## What would you like clarification on:

Document process for running Uno Platform app in WPF Shell on Windows. This is useful in scenarios where, currently, WinUI 3 doesn't allow for apps to run with elevated permissions. A workaround for this situation is to have Uno app run in WPF shell, which needs to be documented.

## Concern?

- [ ] Usage in industry
- [ ] Clarification of capabilities
- [

[2021-09-16 15:19] MartinZikmund opened #7110 "Fake bottom gradient should respect `BorderThickness`"
### Current behavior

The fake bottom border used on many V2 Fluent styles does not respect `BorderThickness`. When the bottom border is 0, the fake border should disappear. When it is bigger, it may also need to be adjusted.

### Expected behavior

Should look like WinUI 2.6

### How to reproduce it (as minimally and precisely as possible)

Create a `Button` with 0 `BorderThickness`. Compare UWP

[2021-09-16 15:27] khdc commented on #7109
Thanks for filing this @sasakrsmanovic - definitely needed!

[2021-09-16 15:30] jeromelaban commented on #6543
The updated WCT does not show the control properly

[2021-09-16 17:14] #6543 closed

[2021-09-16 17:52] jeromelaban commented on #7109
@khdc the documentation on this specific topic should be fairly limited, as it is the same scenario as the other platform heads run (the same app everywhere). The WPF target can run the app on Windows 7+ and up as would any WPF app, including elevating permissions.

Is there a specific detail that you need for running the WPF Uno head?

[2021-09-16 17:57] jeromelaban commented on #4032
@Youssef1313 I don't recall the details for this, but looking at the associated commits will give you some context.

[2021-09-16 17:57] TopperDEL commented on #6919
I tried to understand the coding around AcrylicBrush, but I did not really understand what's happening. But I guess my rendering issues must have something to do with MeasuredWidth/Height and maybe with different DPI on Android?

[2021-09-16 18:06] jeromelaban commented on #7101
Thanks for the report.

This generally means that you're missing a component or workload to be installed in Visual Studio.

The documentation is clear about the part where you actually need to install the WinUI 3 (Reunion 0.8 SDK). Have you installed this part?

[2021-09-16 18:18] Youssef1313 commented on #4032
@jeromelaban It exists from the very beginning:

![image](https://user-images.githubusercontent.com/31348972/133664144-7d2c5ecc-de9f-490f-8ecb-c9e696505b37.png)

There are compilation errors when I removed the condition in #7108, I'll look into that and adjust, and see if anything else breaks.

[2021-09-16 18:49] jeromelaban opened #7114 "ElevatedView defaults should show a shadow by default."
## What would you like to be added:

Change the defaults of ElevatedView to show a shadow so the users intuitively know it works:

https://github.com/unoplatform/uno/blob/fd0df4b2db74755fedb90ed4748597662efb82d2/src/Uno.UI.Toolkit/ElevatedView.cs#L87

https://github.com/unoplatform/uno/blob/fd0df4b2db74755fedb90ed4748597662efb82d2/src/Uno.UI.Toolkit/ElevatedView.cs#L125

Related:

## Why is this n

[2021-09-16 18:52] jeromelaban commented on #7099
Thanks for the repro.

Here's the current way use for this feature:

[code]

The documentation has been updated here: https://github.com/unoplatform/uno/blob/master/doc/articles/features/ElevatedView.md

[2021-09-16 18:52] #7099 closed

[2021-09-16 18:53] #2855 closed

[2021-09-16 19:15] #5989 closed

[2021-09-16 19:49] rizaanlakay commented on #7099
Happy :) That worked perfectly.

[2021-09-16 20:48] sakshi173 opened #7116 "[Gallery][Wasm/iOS/Android] Material - CalendarDatePicker - Border for disabled 'Select a Date' option is not showing properly."
### Current behavior

![calendardatepicker issue](https://user-images.githubusercontent.com/74563602/133683366-9c7b8819-d3a3-4cb4-abb0-b7169323b771.png)

### Expected behavior

The Border for disabled 'Select a Date option should display.

### How to reproduce it (as minimally and precisely as possible)

Open Uno Gallery APP
Click Burger Menu on the left top right.
Click "CalendarDatePicker" from

[2021-09-16 20:57] sakshi173 opened #7117 "[Gallery][iOS] Cupertino- DatePicker- When theme change from Dark to light theme, the Border for 'Enter Date' is missing."
### Current behavior

![Datepicker theme issue](https://user-images.githubusercontent.com/74563602/133684241-08769853-0d12-40ae-b536-e8694c82c006.png)

### Expected behavior

The border should be present.

### How to reproduce it (as minimally and precisely as possible)

1. Open Uno Gallery APP
2. Click Burger Menu on the left top right .
3. Change theme from day to Night mode.
4. Go to 'DatePicke

[2021-09-16 21:07] sakshi173 opened #7118 "[Gallery][iOS] Fluent- Flyout- When theme switch, the text is not changing according to the theme for 'Send Feedback' Flyout options."
### Current behavior

![flyout theme issue](https://user-images.githubusercontent.com/74563602/133685106-f41e687b-4399-48bd-9395-055f013712b8.png)

### Expected behavior

![flyout theme correct](https://user-images.githubusercontent.com/74563602/133685670-a605ebe4-0d00-4aa3-b2b9-26003adea9dc.png)

### How to reproduce it (as minimally and precisely as possible)

1. Open Uno Gallery APP
2. Click Bu

[2021-09-17 00:08] #6758 closed

[2021-09-17 00:48] #6134 closed

[2021-09-17 00:53] #5543 closed

[2021-09-17 00:53] #6401 closed

[2021-09-17 01:26] #6668 closed

[2021-09-17 01:26] #7030 closed

[2021-09-17 02:12] #7072 closed

[2021-09-17 03:03] highspeeder opened #7121 "[Skia] `ComboBox` is not displaying items in popup when running on an RPi"
### Current behavior

https://platform.uno/docs/articles/getting-started-tutorial-2.html
I created a ComboBox according to the tutorial on the page above and ran it on Raspberrypi.
Combobox is displayed well, but the item doesn't seem to be bound.

MainPage.xaml
 <Page
    x:Class="UnoApp.MainPage"
    xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
    xmlns:x="http://schemas.mi

[2021-09-17 06:29] robloo commented on #5734
I have built an initial replacement for the Segoe Fluent font here:

https://github.com/robloo/SymbolIconManager/blob/main/Fonts/WinSymbols3.ttf

I think this is enough to close out the issue and add to Uno Platform -- there are well over 300 glyphs already. I'll probably add a few more tomorrow and then would like contributions. Anyone can contribute mappings here:

https://github.com/robloo/Symb

[2021-09-17 07:21] Youssef1313 opened #7123 "Update NumberBox from WinUI sources"
### Current behavior

https://github.com/unoplatform/uno/pull/7122

### Expected behavior

Revert back

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

### Works on UWP/WinUI

_No response_

### Environment

_No response_

### NuGet package version(s)

_No response_

### Affected platforms

_No response_

### IDE

_No response_

### I

[2021-09-17 10:45] Youssef1313 commented on #7123
I can't really imagine how porting `NumberBox` will break such a test. It's completely irrelevant. The only piece of information I could find is that things fail in `TryStaticRetrieval` (in `ResourceResolver`), but no clue how `NumberBox_v1.xaml` affects that.

[2021-09-17 11:02] Youssef1313 commented on #7123
I narrowed down more to that `GetActiveThemeDictionary` is returning null. It's relying on an invalid cached (null) value.

[2021-09-17 12:44] jeromelaban commented on #7123
Indeed, that's what I found as well. It feels like we should be observing the theme dictionaries to determine if the value should be updated.

[2021-09-17 12:44] jeromelaban commented on #7123
btw, It's not the PR itself that broke the test, it just raised an unrelated issue because of initialization order... so it's not your fault ;)

[2021-09-17 13:15] #7091 closed

[2021-09-17 13:27] #7068 closed

[2021-09-17 13:50] #7102 closed

[2021-09-17 14:03] MartinZikmund commented on #6919
The current `AcrylicBrush` implementation on Android is very complex, as there is no simple API like on other platforms. It essentially asks the elements behind the brush to render themselves onto a bitmap, then blurs it and then renders the resulting image. My guess is that in this case the scaling/layout may be the problem, but I don't know exactly in which way. Can you create a separate issue f

[2021-09-17 14:16] MartinZikmund commented on #7123
@duke7553 was working on updating the source code of `NumberBox`. If you are updating the styles only, that should be fine, but may be useful to check with him to avoid potential conflicts 🙂

[2021-09-17 15:34] peternary commented on #6152
@jeromelaban Did some testing related to this trying to do an InterpreterAndAot build with .net 6 RC1 on latest packages, seems to be an issue with linking.  In a test project I get error:

1>    [00:04:22.7313904] [730/754] [AOT] .\linker-out\Uno.UI.FluentTheme.v2.dll -> ./Uno.UI.FluentTheme.v2.dll.bc.tmp
1>    [00:04:22.7314267] FAILED: Uno.UI.FluentTheme.v2.dll.bc.tmp

And removing the \<XamlCo

[2021-09-17 15:36] jeromelaban commented on #6152
I was just updating the documentation for this issue, to let you know how to workaround it, now that we've released the bootstrapper 3.0.0. I'll give more details soon.

[2021-09-17 16:46] PhilippeAudet-Stratejia opened #7130 "Holding gesture not working properly on mobile."
### Current behavior

When using the holding gesture, the event is only called after moving the pointer, and when moving further will then set the holding state to canceled.
![HoldingAndroid](https://user-images.githubusercontent.com/83981176/133820697-8e148f21-3358-421b-bfd3-02cba8373664.gif)

On UWP, the gesture is working as intended.
![HoldingUWP](https://user-images.githubusercontent.com/8398

[2021-09-17 18:33] jtnumberfive opened #7131 "Pathicon is not being rendered correctly"
### Current behavior

Currently I am using Pathicon to render my icons.  This affects some icons.   There was an update on the package Uno.UI - it was the update from 3.10.0-dev.474 to 3.10.0-dev.479. Once I updated to 479 or later- my pathicons are now washed out- to the point where I can barely see them.
![image](https://user-images.githubusercontent.com/13439522/133836775-488be0b0-ab36-460d-901

[2021-09-17 20:36] Youssef1313 commented on #7131
@jtnumberfive Can you post the code please?

[2021-09-17 22:13] #6650 closed

[2021-09-18 09:01] Youssef1313 commented on #7123
@MartinZikmund I recall I updated everything. In case @duke7553 had already done it, it might be good idea to compare both branches to check if any of us has missed anything.

[2021-09-18 15:57] trungnt2910 opened #7135 "[Android] ComboBox in ContentDialog throws exception"
### Current behavior

On Android, when you try to expand a `ComboBox` that is a child of a `ContentDialog`, an error occurs:

<details>
  <summary>Super long stacktrace</summary>

[code]

</details>

The options are not shown.

### Expected behavior

No error should occur.

### How to reproduce it (as minimally and precisely as possible)

[code]

Call this code anywhere. (It also happens when the

[2021-09-18 18:59] jtnumberfive commented on #7131
My Aploogies- I had copied the code above- but I must have removed it.  Here is a sample
`
<PathIcon
                            Data="m 7.9223319,2.9358381 c 0,0 -0.2331286,-0.3245206 0.1331592,-0.4615493 0.6398042,-0.2391857 1.2336221,0.5952965 1.131653,1.193464 C 9.1491541,3.8909383 8.975609,4.0862241 8.8312529,4.2470487 8.6045228,4.4997731 8.3446021,4.7471637 8.0111046,4.8374219 7.9867123,4.84

[2021-09-18 19:26] saigkill commented on #7101
Hi @jeromelaban,

yes indeed, the Reunion 0.8 SDK was already installed.

[2021-09-18 21:06] MartinZikmund opened #7136 "[iOS] Update `NetworkInformation` with `NWPathMonitor`"
## What would you like to be added:

Current `NetworkInformation` implementation on iOS/macOS uses some deprecated APIs. They can be replaced by `NWPathMonitor`.

## Why is this needed:

Up to date APIs

## For which Platform:

- [x] iOS
- [ ] Android
- [ ] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms
- [x] macOS
- [ ] Skia
  - [ ] WPF
  - [ ] GTK (Linux)
  - [ ] Tizen
- [ ] Windows
-

[2021-09-18 22:28] jeromelaban commented on #4640
A workaround for this issue is to define the ContentDialog in its own XAML file, and instanciate it from there. There's a "Uno Platform" ContentDialog template in Visual Studio (when the Uno Platform VSIX is installed).

[2021-09-18 22:30] jeromelaban commented on #7135
This issue is likely a duplicate of https://github.com/unoplatform/uno/issues/2533. Try the workaround defined there and let us know.

[2021-09-18 22:30] #7135 closed

[2021-09-18 22:33] jeromelaban commented on #7101
It is installed and you're still getting the issue? In that case, I'd suggest reinstalling Visual Studio and try again. This type of project is provided by visual studio workloads, not by Uno.

Let us know if it helps.

[2021-09-19 02:43] robloo commented on #5734
I completed the Segoe Fluent font replacement as much as I can (I did a full pass of all 1404 glyphs). In total I mapped 627 which is a hundred or so under what Uno ships now with the Segoe MDL2 replacement. However, I don't think I missed anything significant (other than Shuffle and a few others that just don't have a replacement).

Please (anyone, but hopefully the Uno team) give the font at the

[2021-09-19 03:39] seanocali commented on #6065
I don't think this is actually solved. I've been struggling with this for a while. The XML tag fix only seems to work some of the time.

Is this even Uno related? I removed the Uno packages from the UWP app. This is just a bug with shared projects on Microsoft's end, right?

[2021-09-19 12:41] trungnt2910 commented on #2533
With quite a few ComboBox-related duplicate issues closed, and the main issue quite hard to find using GitHub's search, I'd say this deserves some documentation.

Furthermore, why are native Popups the default, when they are currently faulty? This forces developers to write platform-specific code every time.

[2021-09-19 19:27] #6919 closed

[2021-09-20 01:55] trungnt2910 commented on #6842
Hmm, ran into this issue too, at least on 3.10.7. It seems that there have been some WPF template issues with the `WpfHost`, as the [`NativeOverlayLayer`](https://github.com/unoplatform/uno/blob/215593e449f15cb9a1a8a4126a42763d5911ddd4/src/Uno.UI.Runtime.Skia.Wpf/WpfHost.cs#L76), the layer that hosts `TextBox`es, is alwasy `null` on .NET Framework 4.7.2, while it is set to a valid value on .NET Co

[2021-09-20 01:56] trungnt2910 commented on #6842
Hmm, ran into this issue too, at least on 3.10.7. It seems that there have been some WPF template issues with the `WpfHost`, as the [`NativeOverlayLayer`](https://github.com/unoplatform/uno/blob/215593e449f15cb9a1a8a4126a42763d5911ddd4/src/Uno.UI.Runtime.Skia.Wpf/WpfHost.cs#L76), the layer that hosts `TextBox`es, is alwasy `null` on .NET Framework 4.7.2, while it is set to a valid value on .NET Co

[2021-09-20 02:23] trungnt2910 commented on #6842
Seems like the template is never applied!

I've tried:
[code]

It causes an exception on .NET core, but not .NET Framework.

This is bad, because the `NativeOverlayLayer` is determined [here](https://github.com/unoplatform/uno/blob/215593e449f15cb9a1a8a4126a42763d5911ddd4/src/Uno.UI.Runtime.Skia.Wpf/WpfHost.cs#L149-L154).

[2021-09-20 05:53] trungnt2910 commented on #6842
I seemed to have found the issue.
When decompiling the .NET Core version, we can find:
![image](https://user-images.githubusercontent.com/57174311/133961507-341ee2b1-2ea2-4c64-bb13-bd2e96efc9d0.png)

We can find some `baml` files that contain the style required for the WpfHost to work.

However, for the .NET Framework version:
![image](https://user-images.githubusercontent.com/57174311/133961554-2

[2021-09-20 05:57] trungnt2910 commented on #6842
https://github.com/unoplatform/uno/blob/215593e449f15cb9a1a8a4126a42763d5911ddd4/src/Uno.UI.Runtime.Skia.Wpf/Uno.UI.Runtime.Skia.Wpf.csproj#L22

Is this the problem?

When you're not using WPF, `xaml` files simply get ignored....

[2021-09-20 07:22] Youssef1313 commented on #7131
For some reason I'm not able to reproduce:

![image](https://user-images.githubusercontent.com/31348972/133968119-c200caf5-0882-4e94-a376-c3011d906a5d.png)

@jtnumberfive Can you attach a minimal repro please?

[2021-09-20 07:46] Youssef1313 commented on #5236
I cannot reproduce:

![image](https://user-images.githubusercontent.com/31348972/133970540-2053b560-a2f3-465b-a6cf-a0098d57353a.png)

@sakshi173 Can you confirm please? Thanks :)

[2021-09-20 07:52] Youssef1313 opened #7140 "ScrollBar thumb color not changing in light theme on Gtk"
### Current behavior

ScrollBar thumb color not changing in light theme on Gtk

### Expected behavior

The thumb should be visible in both themes

### How to reproduce it (as minimally and precisely as possible)

Open gallery app:

https://user-images.githubusercontent.com/31348972/133971046-cfc03f18-6cb5-4976-b328-807a3ffa321d.mp4

### Workaround

_No response_

### Works on UWP/WinUI

Yes

### E

[2021-09-20 07:56] Youssef1313 commented on #5276
@sakshi173 Can you please confirm whether you're still able to reproduce this?

I couldn't reproduce:

![image](https://user-images.githubusercontent.com/31348972/133971527-428ada06-47e8-492e-b9b2-34620dd78f3f.png)

[2021-09-20 08:06] Youssef1313 commented on #5366
I can't reproduce this. Looks like this was fixed by https://github.com/unoplatform/uno/pull/5720?

[2021-09-20 08:59] Youssef1313 commented on #3463
cc @MartinZikmund @jeromelaban to confirm if this can be closed.

[2021-09-20 09:12] Youssef1313 commented on #5340
@vadd98 Can you please check with the latest dev version (currently 3.11.0-dev.130)?

If this is still an issue, can you provide a repro? Thanks!

[2021-09-20 09:47] Youssef1313 commented on #6682
Closing as fixed.

[2021-09-20 09:47] #6682 closed

[2021-09-20 09:53] Youssef1313 commented on #4863
@jeromelaban Should this be corrected in api-alignment (it's a breaking change)? or keep both behaviors (with/without flag?) to avoid a breaking change?

[2021-09-20 13:28] jeromelaban commented on #3463
If you can't repro, let's close this. Thanks for validating!

[2021-09-20 13:28] #3463 closed

[2021-09-20 13:52] #6998 closed

[2021-09-20 14:01] Youssef1313 commented on #6895
Ping @ebariche. Are you working on this? If not, I can jump on it as well as other UWPSyncGenerator issues that are going to be breaking changes.

[2021-09-20 14:32] jtnumberfive commented on #7131
@Youssef1313 thank you for looking into this.  In my app- the Pathicon is used in Uno.Material's bottomnavigationbar.  I was able to recreate the issue in a button and using a new blank app and used the following code(With output):
![image](https://user-images.githubusercontent.com/13439522/134020068-4691b848-60ba-43ca-a640-ebc9af0d233b.png)

<Page
    x:Class="App1.MainPage"
    xmlns="http://sch

[2021-09-20 14:57] Youssef1313 commented on #7131
On 3.11.0-dev.130, I'm getting this:

![image](https://user-images.githubusercontent.com/31348972/134024389-74754826-8bfe-48ac-8770-e8c1a34167c7.png)

But it's not actually working on UWP :smile:

![image](https://user-images.githubusercontent.com/31348972/134024496-f140db39-67d6-4652-b001-b0daa6aea44a.png)

No idea what's going on here 👀

[2021-09-20 15:53] robloo commented on #7003
I re-build the Fluent UI System font and tried that as-is. The issue remained proving the Font itself is just fine. This can be closed as soon it's confirmed that Android isn't rendering the glyph off screen to the left.

Summary of main points:
 1. The work-around used for now is as @davidjohnoliver suggested. A size 24 variant of the glyph exists (instead of size 20) within the private use code

[2021-09-20 16:04] jtnumberfive commented on #7131
I just tried it on android- it was android 11 and it has the same behavior as you showed in your UWP head.  I tested the UWP head and it was the same as yours.  The IOS version had the washed out icon like I showed above.  Really interesting.  Thank you for taking the time to look into this.

[2021-09-20 16:16] navio-n opened #7146 "GridView Items items not visible"
### Current behavior

I do not see any GridView items when upgraded to the newest Uno.UI NuGet package Uno.UI 3.10.7.

### Expected behavior

Should work like on 3.9.7

### How to reproduce it (as minimally and precisely as possible)

<Page
    x:Class="UnoTestApp210907.MainPage"
    xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
    xmlns:x="http://schemas.microsoft.com/winfx/2

[2021-09-20 16:35] sakshi173 commented on #5366
Yes @Youssef1313,  it is fixed. you can close it.

[2021-09-20 16:38] sakshi173 commented on #5236
Yes @Youssef1313, it is fixed. you can close it.

[2021-09-20 16:39] sakshi173 commented on #5276
I don't have current build to verify this. but ya its very old bug. I think its fixed, @Youssef1313, you can close it.

[2021-09-20 17:01] Youssef1313 commented on #5236
I don't have access to. @jeromelaban Can you close?

[2021-09-20 17:02] Youssef1313 commented on #5366
I don't have access to. @jeromelaban Can you close?

[2021-09-20 17:02] Youssef1313 commented on #5276
I don't have access to. @jeromelaban Can you close?

[2021-09-20 17:27] sakshi173 commented on #6396
The issue is fixed, closing.

[2021-09-20 17:39] Youssef1313 commented on #7146
It seems to be working with me:

![image](https://user-images.githubusercontent.com/31348972/134048543-747198e5-678d-44a9-88f5-bf550cdae3bb.png)

@navio-n Can you elaborate more on the issue and/or attach a repro?

[2021-09-20 18:11] navio-n commented on #7146
Your source should be ok.

https://github.com/navio-n/UnoTestApp210907

Try the Android version only. Maybe some SDK's are different.

[2021-09-20 18:27] robloo commented on #6638
Confirmed to work in Uno.UI version 3.10.7!

[2021-09-20 18:31] robloo commented on #6637
I just tested this again with Uno.UI version 3.10.7. The button size with a border is great!

![image](https://user-images.githubusercontent.com/17993847/134054965-96cacca4-8bcc-411e-9d75-b3eab1bd216b.png)
(compared to)
![image](https://user-images.githubusercontent.com/17993847/128781667-3f04fb46-c852-4ba1-8992-ab26b71f39b4.png)

However, in the original example borders no longer appear around th

[2021-09-20 18:59] Youssef1313 commented on #4288
@carldebilly Is this one the same as #6879?

[2021-09-20 19:34] sakshi173 commented on #6203
Duplicate of https://github.com/unoplatform/uno/issues/5860
Due to that closing this bug

[2021-09-20 19:34] #6203 closed

[2021-09-20 20:14] sakshi173 opened #7150 "[Gallery][iOS] Multiple controls display as selected in the Navigation view."
### Current behavior

https://user-images.githubusercontent.com/74563602/134068293-95655914-7d40-460f-acb9-e4db2e2f0b7a.MOV

### Expected behavior

Only one selected control should display in the navigation view.

### How to reproduce it (as minimally and precisely as possible)

1. Open Uno Gallery APP
2. Click Burger Menu on the left top right .
3. Click on multiple controls on the "component" li

[2021-09-20 20:26] sakshi173 opened #7151 "[Gallery][iOS] Binding -When theme switch, for 'ElementName' the text is not changing according to the theme."
### Current behavior

https://user-images.githubusercontent.com/74563602/134069381-4df87334-671d-4c11-877a-963817362a5e.MOV

### Expected behavior

The Text should also change for the 'ElementName' according to the theme.

### How to reproduce it (as minimally and precisely as possible)

Open Uno Gallery APP
Click Burger Menu on the left top right .
Change theme from day to Night mode.
Go to 'Bind

[2021-09-20 20:29] sakshi173 commented on #5861
@MartinZikmund - This bug is half way fixed(now working for Material and Fluent),  only the issue is present for the Cupertino combobox
![combobox skia issue](https://user-images.githubusercontent.com/74563602/134071050-cad5b1a3-56f3-42da-9adc-c70f9c7ad9cc.png)
.

[2021-09-20 23:36] #5236 closed

[2021-09-21 01:12] jeromelaban commented on #6895
@Youssef1313 it'll be done by elie part of similar work.

[2021-09-21 01:12] #5366 closed

[2021-09-21 01:15] jeromelaban commented on #6065
@seanocali correct, it's not Uno related. It seems to be a relation between packaging tooling and the way UWP apps are built. Shared projects are likely not being the issue here (those don't participate actively in the build), but rather some of the dependencies that have unexpected UWP SDK versions.

[2021-09-21 01:53] jeromelaban commented on #7146
Looks like this was caused by #6374.

You can work around this by using the Fluent v1 styles as follows:

[code]

/cc @MartinZikmund

[2021-09-21 02:42] navio-n commented on #7146
@jeromelaban It works with this workaround. Thanks

[2021-09-21 05:47] Youssef1313 commented on #3520
Will likely get fixed with https://github.com/unoplatform/uno/pull/6726

[2021-09-21 06:07] Youssef1313 commented on #3491
It should be missing on all platforms, since it seems to be depending on `ItemsPresenter.Header`, which is marked as not implemented.

[2021-09-21 06:13] Youssef1313 commented on #3168
@dr1rrb I don't quite understand what's needed here. The property exists since https://github.com/unoplatform/uno/pull/1452 (this was merged long before this issue was created)

[2021-09-21 08:19] HavenDV opened #7152 "[Android] Drag events show compile errors"
### Current behavior

`net6.0-android` target can't be compiled with these errors:
[code]

### Expected behavior

_No response_

### How to reproduce it (as minimally and precisely as possible)

[code]

[code]

### Workaround

_No response_

### Works on UWP/WinUI

Yes

### Environment

Uno.UI / Uno.UI.WebAssembly / Uno.UI.Skia

### NuGet package version(s)

3.11.0-dev.139

### Affected platforms

[2021-09-21 09:18] davidjohnoliver commented on #3491
It's supported on Android and iOS, [which use an inner native list](https://platform.uno/docs/articles/controls/ListViewBase.html) for item, header, and footer display. There must be a more specific problem with the reported XAML layout.

(There's an open issue for Header on WASM/Skia/macOS: https://github.com/unoplatform/uno/issues/1979 )

[2021-09-21 11:13] xperiandri commented on #6135
This is my shortened version https://github.com/xperiandri/Elmish.Uno/blob/develop/src/Templates/SolutionTemplate/.vsconfig
If it looks good to you I can create a PR.

[2021-09-21 11:23] Youssef1313 commented on #7140
Related (but on Wasm): https://github.com/unoplatform/uno/issues/6728

[2021-09-21 11:46] Youssef1313 commented on #2240
@jeromelaban @MartinZikmund Any more info on that? Both forms works on UWP and in Uno.

[2021-09-21 13:20] Youssef1313 commented on #134
This is fixed in api-alignments branch:

https://github.com/unoplatform/uno/blob/feature/api-alignments/src/Uno.UI/UI/Xaml/Controls/Popup/Popup.cs

Probably should be closed. @davidjohnoliver @jeromelaban

[2021-09-21 13:22] dr1rrb commented on #3168
We have [a property named `IsPointerOver`](https://github.com/unoplatform/uno/blob/master/src/Uno.UI/UI/Xaml/Controls/Primitives/ButtonBase/ButtonBase.cs#L84), but it's not backed by the [`IsPointerOverProeprty` dependency property](https://github.com/unoplatform/uno/blob/master/src/Uno.UI/UI/Xaml/Controls/Primitives/ButtonBase/ButtonBase.cs#L152). But this will most probably be fixed by https://g

[2021-09-21 13:23] jeromelaban commented on #2240
It's a change that was needed somewhere in WCT, where the `Color a;` syntax was not working. It could be that we've changed something since this issue was logged.

[2021-09-21 13:25] #134 closed

[2021-09-21 13:45] trungnt2910 opened #7157 "[Skia] NavigationView Left Pane obstructs elements when in Compact mode"
### Current behavior

When elements are placed next to a Compact `NavigationView` Pane, they're visible, but cannot be clicked on, or interact with the mouse in any way.

### Expected behavior

These elements should both be visible and respond to events.

### How to reproduce it (as minimally and precisely as possible)

[SkiaTests.zip](https://github.com/unoplatform/uno/files/7203374/SkiaTests.zip

[2021-09-21 14:07] HavenDV commented on #7152
This does not apply to the code that I control. These errors appear even if you specify the fully qualified name of the type(`Windows.UI.Xaml.DragEventArgs`).

[2021-09-21 14:11] mikernet commented on #4863
What is the breaking change? From what I can tell it allows something that didn't work before to work now.

[2021-09-21 14:13] mikernet commented on #4863
Why? That behavior should remain the same.

[2021-09-21 14:13] Youssef1313 commented on #7152
@HavenDV Can you upload a solution where this reproduces (preferably minimal)?

[2021-09-21 14:16] #5276 closed

[2021-09-21 14:19] mikernet commented on #4863
The issue is that paths in the `"/Some/Path/To/Resources.xaml"` format should be parsed such that `Some` is a root folder in the project, not a subfolder of the current location. The `"../../Some/Path/To/Resources.xaml"` format should remain unchanged. This would match UWP behavior for both cases.

[2021-09-21 14:29] jeromelaban commented on #7121
Thanks for the report.

I'm not able to reproduce the issue. Can you specify which distribution you're using on the Pi ? This may be related to the default fonts installed on your device.

[2021-09-21 14:41] bgaprogrammer commented on #5717
I just wanted to say that the original scenario also applies for MAC OS. I would like to be able to ignore the UWP project.

BTW: It seems that something is not working properly with the CLI (v3.10.11 and v3.11.0-dev.139) when choosing a couple platforms, for example I wanted to create a solution only targeting Android and iOS using WinUI 3, I have tried the following commands without any luck:

W

[2021-09-21 14:56] #6256 closed

[2021-09-21 14:59] jeromelaban commented on #5717
@bgaprogrammer for now, the UWP project is needed for some assets. We'll change it at some point, particularly when support for single projects will be better supported. In the meantime, if you want to remove it you can make the adjustments to move the files reference to the location of your choosing.

[2021-09-21 15:01] jeromelaban commented on #7152
Good to see that it works. The main difference is that using statements take over the standard type resolution, forcing the `Windows.UI.Xaml.` resolution. There's a similar issue with the `Window` type on iOS, or the `Debug` class on android, for which the type needs to explicitly specified for the compilation to go through.

[2021-09-21 15:12] #7152 closed

[2021-09-21 16:18] dr1rrb commented on #7130
This is the expected behavior: for perf consideration we don't start a timer on each pointer pressed to detect the "hold gesture" instead we rely on the fact that touches are imprecise and we continuously get a lot of pointer move when holding with a finger. So the "bug" is present only in the emulator where your are simulating fingers using a "precise" pointer (i.e. the mouse).

[2021-09-21 16:33] kazo0 opened #7160 "[iOS] LinearGradientBrush does not match WinUI"
### Current behavior

WinUI:
![image](https://user-images.githubusercontent.com/4793020/134210339-4009bd8a-3512-4c6f-b4e9-5843318d34c0.png)

iOS:
![image](https://user-images.githubusercontent.com/4793020/134210478-053ed40c-8bc2-4e1c-8c38-fac44d8fc40c.png)

### Expected behavior

Should match same angle of gradient as WinUI:
![image](https://user-images.githubusercontent.com/4793020/134210339-4009

[2021-09-21 17:43] alove-kahua opened #7161 "x:Load causing bindings to not function"
### Current behavior

Having x:Load on an outer control with children that use x:Bind or Binding does not work.

### Expected behavior

x:Bind and Binding work correctly.

### How to reproduce it (as minimally and precisely as possible)

Run the attached application's wasm project.
[xBindCollectionIssue.zip](https://github.com/unoplatform/uno/files/7205162/xBindCollectionIssue.zip)

Click either b

[2021-09-21 19:25] sakshi173 opened #7164 "[Calculator][Wasm/Android] For Angle, Area and some other Converter Calculator, the last selected measure option is not highlighting, and for Android multiple measure option is displaying as selected."
### Current behavior

https://user-images.githubusercontent.com/74563602/134233150-06f39c64-eca8-49c8-9923-0c16ecb07c19.mp4

https://user-images.githubusercontent.com/74563602/134233209-753f4f2a-6121-4840-91e6-37a152bf6300.mp4

https://user-images.githubusercontent.com/74563602/134233486-c217b63d-cf70-4fab-9d73-de74c123b469.mp4

### Expected behavior

Only the last selected measure option should h

[2021-09-21 20:20] sakshi173 opened #7166 "[Gallery][Skia.GTK]Lottie- Lottie is missing."
### Current behavior

![skia lottie](https://user-images.githubusercontent.com/74563602/134241447-9f9c5f07-9388-4263-87ca-15f71cb962a5.png)

### Expected behavior

![lottie correct](https://user-images.githubusercontent.com/74563602/134241673-5ad389b2-d80a-478b-b3bf-aba84d9e3609.png)

### How to reproduce it (as minimally and precisely as possible)

Open the link https://unogallerycanary.z27.web.c

[2021-09-21 20:22] sakshi173 commented on #5880
Issue is fixed, Closing

[2021-09-21 20:22] #5880 closed

[2021-09-21 20:33] sakshi173 commented on #5862
This issue is fixed, closing

[2021-09-21 20:33] #5862 closed

[2021-09-22 00:31] #7104 closed

[2021-09-22 07:03] #7146 closed

[2021-09-22 10:58] MartinZikmund opened #7168 "Can't properly resolve `string` resource on `Duration` property"
### Current behavior

In WinUI 2.6, there are the following resources:

[code]

These are then used in `CommandBar_themeresources.xaml` as follows:

[code]

However, `GeneratedDuration` is a `Duration` property and the generated C# code does not handle this properly:

[code]

The cast fails and causes `InvalidCastException`.

### Expected behavior

Should properly cast the value to `Duration`

###

[2021-09-22 11:09] MartinZikmund opened #7169 "`CommandBar` style causes fails on WinUI 2.6"
### Current behavior

Because of #7168, `CommandBar` causes runtime cast exceptions.

### Expected behavior

Should not fail.

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

### Works on UWP/WinUI

Yes

### Environment

Uno.UI / Uno.UI.WebAssembly / Uno.UI.Skia, Uno.WinUI / Uno.WinUI.WebAssembly / Uno.WinUI.Skia

### NuGet package ve

[2021-09-22 12:25] jeromelaban commented on #7164
I cannot repro with today's canary, can you retry ?

[2021-09-22 12:27] #6321 closed

[2021-09-22 12:29] #1244 closed

[2021-09-22 12:39] sakshi173 commented on #7164
okay, i Retry today.

[2021-09-22 14:29] sakshi173 opened #7172 "[Gallery][Skia.GTK] Textbox, Passwordbox, Combobox, Binding , text is not displaying correctly in night mode."
### Current behavior

https://user-images.githubusercontent.com/74563602/134362397-b32bbdab-6f56-4f31-b563-5533cb3f8a4d.mp4

### Expected behavior

The Text should display properly.

### How to reproduce it (as minimally and precisely as possible)

1. Launch the Uno.Gallry app on Skia.GTK.
2. Change theme from day mode to Night mode.
3. Click on “Textbox”  or any above suggested control from the "

[2021-09-22 14:35] sakshi173 opened #7173 "[Gallery][Skia.GTK] Textbox- for 'Multiline' option Text is not displaying in multi lines."
### Current behavior

![textbox multiline issue](https://user-images.githubusercontent.com/74563602/134363737-ee3e595b-30ae-41e8-9f21-2546dd0582f9.png)

### Expected behavior

The text should present in multi lines.

### How to reproduce it (as minimally and precisely as possible)

1. Launch the Uno.Gallry app on Skia.GTK.
2. Click on “Textbox” from the "Component" list.
3. Observe that for for 'M

[2021-09-22 15:45] jeromelaban commented on #7130
@jeanplevesque @PhilippeAudet-Stratejia Can you validate if the same repro works on a physical device?

[2021-09-22 16:07] alove-kahua opened #7174 "ComboBox SelectedIndex with TwoWay bind not working"
### Current behavior

Using a TwoWay x:Bind on SelectedIndex does not update the target with the new index.

### Expected behavior

The target of the bind gets updated.

### How to reproduce it (as minimally and precisely as possible)

[ComboBoxSelectedIndex.zip](https://github.com/unoplatform/uno/files/7212230/ComboBoxSelectedIndex.zip)

Run the wasm project and notice both the bind with a conver

[2021-09-22 17:53] jeromelaban commented on #7174
Two possible workarounds here:
- Make a converter that does not use the `type` parameter (make one converter per enum in the sample)
- Use the `BindBack` feature and invoke a conversion method

## Note for contributors
This binding engine is not providing the target type properly because of the `x:Bind`. The `BindingExpression._bindingPath.ValueType` field is empty, because x:Bind expressions don'

[2021-09-22 18:03] Xiaoy312 commented on #4861
Sorry, it appears that I've scrapped the project... I can't even find a trace of it on my machine :|
However, you should be able to jsut reproduce it with just that xaml snippet.
Of note, the image file can be found here: https://github.com/unoplatform/uno/blob/master/src/SamplesApp/UITests.Shared/Assets/test_image_100_100.png

[2021-09-22 18:07] PhilippeAudet-Stratejia commented on #7130
I didn't think about that, but it's a good idea if it improves the perfs. As I said, it didn't happen often where I could stay completely still on a physical device, but i'll try again to see if the threshold good on the devices I own.

[2021-09-22 18:29] MaximeDion-Work opened #7175 "[iOS] The Flyout menu position is displayed on the left - on Device iPhone 11 - 13.3"
### Current behavior

On Device iPhone 11 - 13.3

### Expected behavior

Any other device

### How to reproduce it (as minimally and precisely as possible)

Add MenuFlyout to an AppBarButton in <CommandBar.PrimaryCommands>

### Workaround

None

### Works on UWP/WinUI

Yes

### Environment

Uno.UI / Uno.UI.WebAssembly / Uno.UI.Skia

### NuGet package version(s)

Uno.UI 3.10.0-dev.632

### Affected

[2021-09-22 18:36] jeanplevesque commented on #7175
@MaximeDion-Work Don't we also have that bug on Android on some specific devices too?

[2021-09-22 19:12] #7161 closed

[2021-09-22 19:13] sakshi173 opened #7176 "[Gallery][Skia.GTK] CalendarView- Clicking to go on Fluent and Cupertino is not working."
### Current behavior

Nothing is happening when clicking on Fluent or Cupertino for Calendar view.

### Expected behavior

Clicking should work and able to go to Fluent and 'Cupertino' section.

### How to reproduce it (as minimally and precisely as possible)

Launch the Uno.Gallry app on Skia.GTK
Click on “CalendarView”  item from the 'Component' list.
Click on 'Fluent' or 'Cupertino' section.
Ob

[2021-09-22 19:32] sakshi173 opened #7177 "[Gallery][Skia.GTK] TimePicker - When click on 'Set Time' option nothing is happening."
### Current behavior

https://user-images.githubusercontent.com/74563602/159347538-2164c878-fa94-4f88-9dba-3e58d9382fa1.mp4

### Expected behavior

The Time picker calendar should open properly.

### How to reproduce it (as minimally and precisely as possible)

Launch the Uno.Gallry app on Skia.GTK
Click on “TimePicker” item from the 'Component' list.
Click on 'Set Time'  section.
Observe that not

[2021-09-22 19:39] sakshi173 commented on #5861
This issue is fixed, closing

[2021-09-22 19:39] #5861 closed

[2021-09-22 20:00] Xiaoy312 commented on #6989
<details>
<summary>entry point</summary>

[code]
</details>

there are few places that are not properly guarded:
- [shared] TextBlock.OnForegroundChanged()
- [shared] Shape.FillProperty: propertyChangedCallback

MVCE:
<details>
<summary>xaml</summary>

[code]
</details>
<details>
<summary>code-behind</summary>

[code]
</details>

[2021-09-22 20:15] sakshi173 opened #7179 "[Gallery][Skia.GTK] MessageDialog- When clicking on MessageDialog options like 'Content only' message dialog is not opening."
### Current behavior

https://user-images.githubusercontent.com/74563602/134414559-a4f6f12f-60d1-4f2a-a49e-641d42e764cc.mp4

### Expected behavior

https://user-images.githubusercontent.com/74563602/134414727-0550711d-34a5-4c26-8454-daabb5f60255.mp4

### How to reproduce it (as minimally and precisely as possible)

1. Launch the Uno.Gallry app on Skia.GTK
2. Click on “MessageDialog” item from the

[2021-09-22 20:42] Youssef1313 commented on #7179
This is a duplicate of #4810.

It's not implemented yet for Skia:

https://github.com/unoplatform/uno/blob/33c3a26c935361432ad713c2e8debc521616c6be/src/Uno.UWP/Generated/3.0.0.0/Windows.UI.Popups/MessageDialog.cs#L29-L35

[2021-09-22 21:08] sakshi173 commented on #7179
As @Youssef1313 its duplicate of #4810. I am closing this one.

[2021-09-22 21:08] #7179 closed

[2021-09-23 01:50] highspeeder commented on #7121
well..
OS is rassbian 32bit full version(Released 2021-05-07),
In addition to the default font, 'sudo apt-get install ttf-mscorefonts-installer' was installed, and the uno-fluentui-assets.ttf font in the Asset folder in the Skia.Gtk project was also installed.

[2021-09-23 01:50] highspeeder commented on #7121
well..
OS is rassbian 32bit full version(Released 2021-05-07),
In addition to the default font, 'sudo apt-get install ttf-mscorefonts-installer' was installed, and the uno-fluentui-assets.ttf font in the Asset folder in the Skia.Gtk project was also installed.

[2021-09-23 02:11] highspeeder commented on #7121
FYI, UWP works just fine.
![1](https://user-images.githubusercontent.com/41020549/134445259-7667ae60-bfad-4a90-9727-dc477b48500b.PNG)

[2021-09-23 05:14] MartinZikmund opened #7181 "Runtime tests sometimes fail with `IOException`"
### Current behavior

Runtime tests sometimes fail with:

[code]

This is because `File.Copy` encounters an existing file.

### Expected behavior

Should not fail.

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

### Works on UWP/WinUI

_No response_

### Environment

_No response_

### NuGet package version(s)

_No response_

### Aff

[2021-09-23 08:37] Youssef1313 commented on #7020
@MartinZikmund Does this still repro for you?

https://user-images.githubusercontent.com/31348972/134477475-f82f7207-7165-42d1-a639-b2695ab0a1af.mp4

It doesn't for me, if it's not yet fixed, then might be related to certain Android versions or certain other conditions.

[2021-09-23 08:43] #5810 closed

[2021-09-23 08:43] #7181 closed

[2021-09-23 10:16] Youssef1313 commented on #6460
Looks like `AssignAndObserveBrush` is missing `imageBrushCallback` in the `ImageBrush` if branch. I'll add it for now and write a test, but worth some refactoring in future :)

[2021-09-23 10:24] davidjohnoliver commented on #6460
Brush handling in general could use thorough refactoring - https://github.com/unoplatform/uno/issues/5192 - but it's a fairly major undertaking.

[2021-09-23 11:43] MaximeDion-Work commented on #7175
Deny says only iPhone 11

[2021-09-23 12:00] #7175 closed

[2021-09-23 12:41] Youssef1313 commented on #4759
Most likely due to https://github.com/unoplatform/uno/issues/1446.

[2021-09-23 13:09] Youssef1313 commented on #4038
@MartinZikmund I looked into this, and unless I'm missing something, the UWP docs are incorrect.

[code]

[2021-09-23 13:15] Youssef1313 commented on #4038
I'll retry with `GetValue` instead of accessing the property directly "just in case".

[2021-09-23 13:22] jeromelaban commented on #7121
Thanks. Can you try running the Gtk head on Windows as well to see if something different happens for you ?

[2021-09-23 14:48] jeromelaban opened #7185 "[TextBox] Document the need for `IsTabStop` on Page to prevent autofocus"
## What would you like clarification on:

After the Focus alignments with UWP, the focus strategies for TextBox made it auto focus when appearing on a Page.

This behavior may not be needed and can be disabled by adding an `IsTabStop=True` property on the parent `Page` control.

## Concern?

- [ ] Usage in industry
- [ ] Clarification of capabilities
- [ ] Getting started with Uno
- [ ] Developing

[2021-09-23 14:52] #6989 closed

[2021-09-23 15:04] trungnt2910 commented on #7157
https://github.com/unoplatform/uno/blob/e5febdcfd7321713dc20091b9bf0481a84636af6/src/Uno.UI/UI/Xaml/Media/VisualTreeHelper.cs#L363-L367

@dr1rrb Please can you tell me if this is intended behavior or not?

What's wrong with the `UIElement.Clip` property? I've succeeded locally by setting the `clippingBounds` variables to `element.Clip.Bounds`, which seems to be a perfectly valid property for all S

[2021-09-23 15:06] jeromelaban commented on #6572
We won't be able to troubleshoot this issue with a repro that's not out of the project.

Debugging the `ControlExtensions.IsAutoFocus` is likely to be the best course of action to determine what's being focused instead of the TextBox. You may need to find if another control is forcibly taking the focus by looking at the focus manager.

[2021-09-23 17:37] #7106 closed

[2021-09-23 17:47] Youssef1313 commented on #4759
Spent some time on this one, and partially fixed it.

![image](https://user-images.githubusercontent.com/31348972/134557833-eebdf295-7d5d-4225-b65e-15b6892c609d.png)

I'm not sure why gradient not taking place for `TextBlock` for short text, at the same time it's taking place for `SymbolIcon`.

[2021-09-23 18:53] jeromelaban opened #7189 "[x:Bind] Changing x:Load state though a function binding during the Loaded event fails to update x:Bind expressions"
### Current behavior

Based on the sample from https://github.com/unoplatform/uno/issues/7161, if:

[code]

and `IsLoaded` is changed during the `Loaded` event, the `x:Bind` expressions in the inner controls do not update.

### Expected behavior

Binding update

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

Invoke `Bindings.Update()` after the `Is

[2021-09-23 20:02] robloo opened #7192 "Android ToggleButtons are Missing Borders"
### Current behavior

The latest release of Uno 3.10.7 broke borders around ToggleButton.

![image](https://user-images.githubusercontent.com/17993847/134055206-2dd75247-f3df-4930-b38f-de2c0f5e46a5.png)

This may be related to the Fluent version 2 theme changes for borders, or BackgroundSizing support https://github.com/unoplatform/uno/issues/6637#issuecomment-923176257

### Expected behavior

![i

[2021-09-23 20:27] jeromelaban commented on #7192
Thanks for the report.

I'm not getting this result with 3.10.7 (or 3.11 dev):

![image](https://user-images.githubusercontent.com/5839577/134578997-4b6abdec-fd63-4aa3-86b5-1e7e5bd52b03.png)

Are you using the same XAML as the previous issue ?

[2021-09-23 20:38] robloo commented on #7192
@jeromelaban

Interesting, I'm seeing this both on an emulator and a physical device. Emulator is Pixel 2 Q 10.0 API 29.

Yes, the same XAML. However, this is seen in other areas as well. All places using this type of XAML see the issue. I should note that this only happens on ToggleButtons with a corner radius.

![asdfasdf](https://user-images.githubusercontent.com/17993847/134580308-4c3d859b-a10

[2021-09-23 20:46] jeromelaban commented on #7192
In this case, can you create an exact repro of the app where you see the issue? There may be an additional configuration that is different.

[2021-09-23 20:50] robloo commented on #7192
Yes, I should add WinUI library is being used along with Fluent v1.

[2021-09-23 21:30] robloo commented on #7192
@jeromelaban

I confirmed the issue is due to Fluent version 1 styles. Something broke there with the latest updates. Repro is attached to the issue description above.

![image](https://user-images.githubusercontent.com/17993847/134586790-ce50d343-63e6-4b95-b31b-a327ed5bcc88.png)

[2021-09-23 21:35] jeromelaban commented on #7192
Thanks. I'm not seeing a repro solution zipped in the description. Are you going to attach it?

[2021-09-23 21:36] robloo commented on #7192
@jeromelaban Just added it. I ended up having to clean a few things up and it took a bit longer than expected (deleting bin/obj and unused platform heads). If it doesn't load I deleted a line I shouldn't have in the solution. I expect it would work though.

[2021-09-24 00:56] dr1rrb commented on #7157
Well indeed I think that replacing it with `var clippingBounds = element.Clip?.Bounds ?? Rect.Infinite;` would fix your issue ... I'm waiting to approve your PR :)

[2021-09-24 00:59] dr1rrb commented on #6474
A significant part of this issue could be fixed by doing this https://github.com/unoplatform/uno/issues/7157#issuecomment-925900858, but at the end we will still have to use the clipping computed while layouting visual tree.

[2021-09-24 01:05] trungnt2910 commented on #7157
That's exactly what I've built and tested locally. I'm opening one soon.

[2021-09-24 01:14] dr1rrb commented on #6474
Note about perf: I tried to use caching for the hit testing, the issue is that we always ends by re-validating the whole tree to determine if pointer has moved over an element which is in a completely different branch (like a `Popup` which is a the root of the tree!), or even worst, if an element has been placed under the pointer using a `RenderTransform` (which does not even require a re-layout).

[2021-09-24 01:37] highspeeder commented on #7121
On windows it works fine.

![1](https://user-images.githubusercontent.com/41020549/134605280-0f291cf1-f44b-4543-87e1-1174d77ebea0.PNG)

[2021-09-24 02:01] jeromelaban commented on #7192
Thanks. It's indeed the V1 of styles that causes this issue. It's related to the support for `BackgroundSizing` which is not fully implemented in Uno Android/iOS and causes  rendering issues when the corner radius is set. (/cc @carldebilly)

I would suggest that you change your styles to use a copy the V2 style for that control, which uses a different layout for rendering the border:

https://gith

[2021-09-24 02:02] jeromelaban commented on #7121
Thanks. On the Pi, what are you seeing in the console when you launch the app?

[2021-09-24 03:22] robloo commented on #7192
It's on the roadmap to update to fluent v2 now before the next release. So that would include the work-around for this. However, it probably should also work on Fluent v1 out of the box.

[2021-09-24 06:56] MartinZikmund commented on #6471
@jeromelaban @dr1rrb This could be fixed quite easily by ignoring the `focusin` handler for Uno-based controls. Technically this should not break anything, as all built-in controls should manage their own focus by explicitly calling `this.Focus(FocusState.XYZ)` in their pointer event handlers and managed focus navigation should take care of keyboard focus. `focusin` should be useful only for nativ

[2021-09-24 06:59] MartinZikmund opened #7196 "Support dark theme in the Samples app"
## What would you like to be added:

Support for dark theme in Samples app

## Why is this needed:

To make it easier to validate dark theme of controls.

## For which Platform:

All

[2021-09-24 07:38] Youssef1313 commented on #4759
![image](https://user-images.githubusercontent.com/31348972/134636703-2762c333-b153-43e9-a607-fb1b792de5ba.png)

🎉 🎉 🎉

[2021-09-24 08:59] #6933 closed

[2021-09-24 13:01] sakshi173 opened #7198 "[Gallery][Skia.GTK] Most of the elements for each controls, only respond to the pointer on the second click."
### Current behavior

https://user-images.githubusercontent.com/74563602/134689675-7603d450-8447-45e9-861f-0ad1824b6c38.mp4

### Expected behavior

All Elements should respond to the pointer on the first click.

### How to reproduce it (as minimally and precisely as possible)

Launch the Uno.Gallry app on Skia.GTK
Click on any controls from the 'Component' list.
Observe that most of the elements f

[2021-09-24 13:25] MartinZikmund opened #7200 "Add support for WinUI `PipsPager`"
## What would you like to be added:

WinUI `PipsPager`

## Why is this needed:

More controls, more better!

## For which Platform:

All

[2021-09-24 13:26] sakshi173 opened #7201 "[Gallery][Skia.GTK/MacOS] Day/Night theme change toggle button is not working properly for most of the controls like Textbox, Toggleswitch, Timepicker"
### Current behavior

https://user-images.githubusercontent.com/74563602/170562530-6d2e7f52-82a7-4d0d-82a5-3574ddcb57ee.mp4

### Expected behavior

The Day/Night theme change toggle button should work for each control.

https://user-images.githubusercontent.com/74563602/170562963-8979b59e-21cf-45f1-aecd-129ffc9fb6ca.mp4

### How to reproduce it (as minimally and precisely as possible)

Launch the

[2021-09-24 14:12] MartinZikmund opened #7202 "Switching between UWP/Fluent themes may cause issues"
### Current behavior

When switching between UWP/Fluent themes and back, some styles don't get properly updated.

### Expected behavior

Should refresh properly.

### How to reproduce it (as minimally and precisely as possible)

1. Open the Samples app and navigate to **Unit tests - Unit tests runner**

![image](https://user-images.githubusercontent.com/1075116/134688073-3cf51825-9cb6-4d29-ad5e-34

[2021-09-24 14:51] #7157 closed

[2021-09-24 15:23] dr1rrb commented on #6471
If I understand you wan to ignore the native `focusin` event from the browser and rely only on managed code for focus handling for uno-only element? If so, my main concern would be for "unusual inputs devices", like a TV, a game-pad or more importantly any custom device designed to help disabled people to use the app.

[2021-09-24 16:04] jeanplevesque commented on #6285
Setting `DataContext="{x:Null}"` on a parent control doesn't seem to prevent the DataContext propagation. I still get `ShellViewModel` before the page view model.

[2021-09-24 16:06] jeanplevesque commented on #6285
This brings another problem for custom controls that rely on the DataContext.
This bugs forces us to do things such as the following:
![image](https://user-images.githubusercontent.com/39710855/134706493-a2c68cd7-c342-4473-85c9-062136c1ee78.png)

[2021-09-24 17:13] jeromelaban commented on #6285
Setting the DataContext explicitly should prevent the inheritance. If it still happens, try finding what sets it through the stack trace in the return from the screenshot above.

[2021-09-24 20:40] #6988 closed

[2021-09-24 21:46] #6460 closed

[2021-09-24 22:28] xperiandri opened #7203 "Invalid GUID parameter name in dotnet new template JSON"
### Current behavior

https://github.com/unoplatform/uno/blob/287f9785be664ca577775b1bb6b90fe68bbd26fb/src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp/.template.config/template.json#L46

`format` property does not work according to https://github.com/dotnet/templating/issues/1737#issuecomment-831869212 and `defaultFormat` must be used instead

### Expected behavior

GUIDs are forma

[2021-09-24 22:28] xperiandri commented on #7203
If you approve the change I can prepare a pull request

[2021-09-24 23:33] highspeeder commented on #7121
![1](https://user-images.githubusercontent.com/41020549/134749413-70a9a855-c352-4e65-b798-e35c5037cfe8.PNG)
![2](https://user-images.githubusercontent.com/41020549/134749417-eb231821-3e14-4be7-8da9-328e52e06e31.PNG)
![3](https://user-images.githubusercontent.com/41020549/134749418-d52e8fe0-bc19-4be9-8960-03210c6c7f0e.PNG)
![4](https://user-images.githubusercontent.com/41020549/134749419-061cc7fe-b

[2021-09-25 12:28] Youssef1313 opened #7204 "Formatting of TextBlock inlines is ignored on Skia"
### Current behavior

FontSize, Foreground, etc.. applied on `Inline` inside `TextBlock` are not applied.

The code we have for rendering text in Skia is accessing `TextBlock.Text` and renders it once as a whole with the `TextBlock` properties

### Expected behavior

Rendering should be done using different `SKPaint`s for each `Inline`.

### How to reproduce it (as minimally and precisely as possi

[2021-09-25 15:08] Youssef1313 opened #7205 "`SupportsAssignAndObserveBrush` is called incorrectly"
### Current behavior

There are couple of places in code where we call it as follows:

[code]

A `null` value IS supported, so this should be `?? true`. Alternatively, we could turn it into an extension method instead of a property and return true for null.
We also need to make sure that `null` is handled correctly. It seems to be equivalent to transparent brush in UWP.

### Expected behavior

_No

[2021-09-25 15:51] highspeeder commented on #7121
![1](https://user-images.githubusercontent.com/41020549/134749413-70a9a855-c352-4e65-b798-e35c5037cfe8.PNG)
![2](https://user-images.githubusercontent.com/41020549/134749417-eb231821-3e14-4be7-8da9-328e52e06e31.PNG)
![3](https://user-images.githubusercontent.com/41020549/134749418-d52e8fe0-bc19-4be9-8960-03210c6c7f0e.PNG)
![4](https://user-images.githubusercontent.com/41020549/134749419-061cc7fe-b

[2021-09-25 17:47] Youssef1313 opened #7206 "[Wasm] `LinearGradientBrush` is applied to full TextBlock width instead of text width"
### Current behavior

`LinearGradientBrush` is applied to full TextBlock width instead of text width. For the example below, the text end-color will not always be red.

### Expected behavior

`LinearGradientBrush` should be applied only to text width. For the example below, the text end-color should always be red.

### How to reproduce it (as minimally and precisely as possible)

[code]

### Worka

[2021-09-25 18:39] Youssef1313 commented on #7206
Note: Depending on the fix, we may need to re-calculate the brush CSS when the text width changes (either the text itself, font size, font family, etc.)

[2021-09-25 19:10] AghaKhan opened #7207 "Uno.UI.Xaml and DependencyProperty"
### Current behavior

I have a Library where I wanted to create some Dependency Properties but I am unable to find Uno.UI.Xaml. Obviously by default Uno.UI is installed. As I understand you provide DependencyProperty Generator, but where I can find it?
I would like to create
public static readonly DependencyProperty LocationProperty = DependencyProperty.Register("Location", typeof(Point), typeof(H

[2021-09-26 12:06] Youssef1313 commented on #1448
I'm no longer seeing the behavior I described in https://github.com/unoplatform/uno/issues/1448#issuecomment-892089970.

Going to take a look at this one.

[2021-09-26 15:58] trungnt2910 opened #7209 "[Skia] Native TextBox not moving when ContentDialog resized."
### Current behavior

A `TextBox` on Skia platforms does not resize its native view when the `ContentDialog` resizes.

https://user-images.githubusercontent.com/57174311/134815135-3c18602a-56fd-4ca2-91b9-b8146b9783a9.mp4

### Expected behavior

All parts of that `TextBox` should move correctly

### How to reproduce it (as minimally and precisely as possible)

[SkiaTestContentDialogTextBox.zip](htt

[2021-09-26 16:00] trungnt2910 commented on #7209
Please point me some differences in the implementation of `ContentDialog` between `Skia` and other platforms. Browsing through the source code, I can see that `Skia` has the same `ContentDialog` and `Popup` implementation as other targets; therefore, I couldn't do any further analysis.

[2021-09-26 16:14] trungnt2910 opened #7210 "Weird dark mode NavigationView colors"
### Current behavior

![image](https://user-images.githubusercontent.com/57174311/134815477-6c561365-a1a8-49c8-bc2d-8bb18bb0e072.png)

![image](https://user-images.githubusercontent.com/57174311/134815619-7ec98742-7f17-4d64-8143-04c003c4a2ef.png)

The `NavigationView`'s `Content` has a weird background color. Furthermore, the side bar, is all white (it should be black, its icon is also white so it

[2021-09-26 16:21] trungnt2910 opened #7211 "[Skia] Application does not refresh when system Dark/Light mode changes."
### Current behavior

![image](https://user-images.githubusercontent.com/57174311/134815802-d93f5840-a9bf-48fb-852c-657f06e00d35.png)

Skia applications still stays in Light mode although system theme changed to Dark.

### Expected behavior

App should change to Dark.

### How to reproduce it (as minimally and precisely as possible)

The default Uno template should work.

### Workaround

_No respo

[2021-09-26 16:39] trungnt2910 opened #7212 "[Skia.GTK] Applications do not respond to Dark mode themes"
### Current behavior

Skia.Gtk applications do not blend in when a dark theme is turned on.
![image](https://user-images.githubusercontent.com/57174311/134816027-fbfe56fa-3518-4f81-8b4c-ff988bb30393.png)

### Expected behavior

Skia.Gtk apps should blend in.

### How to reproduce it (as minimally and precisely as possible)

Use the default Uno template application.

### Workaround

_No response_

[2021-09-26 23:51] mikernet opened #7215 "[WASM on iOS 12.5.4] Click event does not fire on `Button` and `HyperlinkButton`"
### Current behavior

Clicking buttons and hyperlink buttons does not work. They gain focus but don't do anything.

### Expected behavior

The buttons should work. I know iOS 12.5.4 is a bit older but there are still tons of iPhone 6 devices out there stuck on this version and I think a web app should really work on almost anything reasonable so this is a bit of a massive problem for us. Our app n

[2021-09-27 00:13] jeromelaban commented on #7215
We've made recent changes in this area, would you mind testing with a more recent 3.11-dev build ?

[2021-09-27 00:21] jeromelaban commented on #7121
Thanks. I would suspect this issue to be related to https://github.com/unoplatform/uno/issues/6441, where some fonts are not being resolved properly.

You may try overriding the `ComboBox` item template and [provide your own template](https://asp-net-example.blogspot.com/2017/01/uwp-combobox-itemtemplate-example.html), explicitly specifying a font family.

[2021-09-27 00:24] jeromelaban commented on #7209
This issue is likely not related to the `ContentDialog`, but rather to the the `TextBox` control in Skia which uses a GTK overlay mode. It's working minimally, but has issues like the one you've found.

If you try changing the size of an other type or control, say a `Border`, does the size of the `ContentDialog` change ?

[2021-09-27 00:31] jeromelaban commented on #7210
Thanks for the report. This feels like a Fluent styles V2 issue. Can you try using V1 and see if this helps ? (Use `<XamlControlsResources ControlsResourcesVersion="Version1" xmlns="using:Microsoft.UI.Xaml.Controls" />`)

[2021-09-27 00:37] jeromelaban commented on #7204
This issue is part of #4309. The rendering technique is not yet decided, as some native Skia components can handle large parts of this.

[2021-09-27 00:40] trungnt2910 commented on #7210
It does work, at least for the `NavigationView`. For other controls, though, they seem to be broken.
![image](https://user-images.githubusercontent.com/57174311/134830159-06a0b046-9a60-473d-895f-87aec0f41d4a.png)

This is the screenshot in Light mode:
![image](https://user-images.githubusercontent.com/57174311/134830180-d4ca2bcc-f9fd-4989-8d16-33d7d7a95a77.png)

[2021-09-27 00:41] jeromelaban commented on #7203
Thanks for the report and noticing the formatting issue! Sure, let's validate the new behavior, thanks!

[2021-09-27 00:45] mikernet commented on #7215
Same thing on 3.11-dev.210.

[2021-09-27 00:55] jeromelaban commented on #7192
@carldebilly can you rename this issue to be aligned with the `BackgroundSizing` feature implementation ?

[2021-09-27 01:17] #7207 closed

[2021-09-27 01:58] mikernet opened #7221 "[WASM] `UIElement.Clip` does not work on iOS browsers"
### Current behavior

Broken on iOS 14.5 and 12.5.4 (i.e. does not clip at all).
Works on all desktop browsers (including Safari) and Android browsers.

Example:

[code]

![image](https://user-images.githubusercontent.com/1700111/134834608-60d533ad-faf2-42fc-952f-0364937bdad7.png)

### Expected behavior

![image](https://user-images.githubusercontent.com/1700111/134834575-53d0d193-d892-4594-8947-8

[2021-09-27 02:11] mikernet commented on #7221
Possibly related to https://github.com/unoplatform/uno/issues/6442

[2021-09-27 02:14] trungnt2910 commented on #7209
@jeromelaban

The **size** of the `ContentDialog` **always** changes properly, resizing when its contents expand.
However, the **events** are not being raised properly.

Replacing the `TextBox` with a `Border`, and resize it using
[code]
gives me this log (on Skia.WPF):
[code]

Again, as you can see in the sample repo, `[Follow up]` means 500ms after the actual event is raised.
When the `LayoutUpd

[2021-09-27 08:27] xperiandri opened #7222 "[macOS][InfoBar] Icons are not displayed"
### Current behavior

Instead of icons `InfoBar` displays a question mark on MacOS

![image](https://user-images.githubusercontent.com/2365592/134870523-3addf902-efe8-452c-8ca6-d2497d1713bc.png)

### Expected behavior

`InfoBar` displays icons the same on all platforms

### How to reproduce it (as minimally and precisely as possible)

1. Create Uno app from template
2. Add to MainPage.xaml
[code]

[2021-09-27 08:40] mikernet opened #7223 "[iOS] Controls set to zero or near zero `Opacity` stop working"
### Current behavior

If you set a control like a button or a slider to `Opactiy=0` (or `0.001`, or `0.01`) they stop working. For example, we have an invisible slider overlaid over another control to allow finger sliding to set the display value of the control under it.

### Expected behavior

The controls should continue to work even though they are invisible. This works on UWP and WASM.

### Ho

[2021-09-27 09:26] mikernet opened #7225 "Platform-Specific Windows XAML only works on built-in controls"
### Current behavior

As far as I can tell, platform-specific XAML that should be included in Windows, i.e. `not_ios`, only works on built in controls. It does not work when I try to apply it to my user controls. Instead, I get errors like the following:
[code]

### Expected behavior

Platform-specific XAML should work on all controls. Not sure if that is possible with the current mechanism that i

[2021-09-27 11:44] jeromelaban commented on #7225
Thanks for the report. XAML conditionals work on all controls. Can you provide a repro that shows the issue in more details ?

[2021-09-27 11:46] jeromelaban commented on #7223
Thanks for the report.

Can you provide a repro sample for the behavior you are seeing ?

[2021-09-27 12:00] #7189 closed

[2021-09-27 12:08] jeromelaban commented on #7209
Thanks for the update

[2021-09-27 12:58] #6948 closed

[2021-09-27 13:07] mikernet commented on #7225
Sure: https://github.com/mikernet/UnoTest/blob/master/iRatio.Client/iRatio.Client.Shared/Roots/TestRoot.xaml

[2021-09-27 13:21] mikernet commented on #7223
Yup: https://github.com/mikernet/UnoTest/blob/40efc1c1874d79b09c1457409ca5ee0bed93443e/iRatio.Client/iRatio.Client.Shared/Roots/LoginRoot.xaml#L49

[2021-09-27 13:28] mikernet commented on #7223
Sorry give me a min, that iOS project has some issues.

[2021-09-27 13:36] mikernet commented on #7223
Do you need a working project or can you paste those few XAML lines and the handler into a test project on your end? There's something weird going on with the iOS project in that solution, it's not building right now.

[2021-09-27 13:43] #1448 closed

[2021-09-27 14:24] davidjohnoliver commented on #7202
This crashes the SamplesApp entirely on UWP, so it's hard to validate what the 'correct' behaviour should be :D

[2021-09-27 14:32] mikernet opened #7226 "`ContentDialog` `Title`/`Content` padding does not match UWP"
### Current behavior

On non-UWP platforms (I've specifically tested iOS and WASM) the content dialogs put way too much padding inside the dialog border and not enough under the title. This what it looks like:

![image](https://user-images.githubusercontent.com/1700111/134928769-cda2b74d-7741-4051-9b45-81aea18df54d.png)

### Expected behavior

It should be padded the same as UWP:

![image](https:/

[2021-09-27 14:45] davidjohnoliver commented on #7225
IIRC the trick here is to specify the root type on which the property is defined. So it would be:

[code]

[2021-09-27 15:26] mikernet commented on #7226
It doesn't look like I can override the padding either for some reason. Whether I put
[code]
Or
[code]
Into `app.xaml`, nothing changes.

[2021-09-27 15:36] mikernet commented on #7225
That does indeed do the trick. Thanks. I think it would make sense to note that in the docs.

[2021-09-27 16:19] mikernet commented on #7225
Now that breaks WASM 😅 `not_ios:UIElement.Opacity="0"` when building WASM results in:
[code]

[2021-09-27 16:23] mikernet commented on #7225
Looks like Uno is trying to set it like an attached property.

[2021-09-27 17:55] sakshi173 commented on #7164
Hi @jeromelaban , I tried with the latest canary and the issue is present in that build too, For Repro please go to multiple converter and tried to changes the converter multiple times. sometime it works and sometime it does not work.
Issue is present mostly for these Converter -- **Temperature**( the down one converter), **Angle** ( the down one converter), **Energy**( The top one converter and i

[2021-09-27 19:22] Youssef1313 commented on #2240
Also Control.FocusStateProperty, Control.IsTabStopProperty, StackLayout.SpacingProperty, StackLayout.DisableVirtualizationProperty

[2021-09-27 19:34] Youssef1313 commented on #1569
@MartinZikmund @jeromelaban Let's get this one closed. Should be already fixed in https://github.com/unoplatform/uno/pull/6807.

[2021-09-27 21:05] #1569 closed

[2021-09-28 02:01] #1929 closed

[2021-09-28 02:48] mikernet opened #7228 "[iOS/Android] Suspending app closes any open `ContentDialog`"
### Current behavior

If a `ContentDialog` is currently open and the app is suspended (i.e. the home button is clicked), the content dialog is closed for some reason, with no way to be notified that it is being closed because:

1) `OnClosing/OnClosed` does not fire on the dialog
2) The following does not work in `Application.OnSuspending` to get the open dialog because it's already closed at this

[2021-09-28 03:47] mikernet commented on #7228
What even happens to the `IAsyncOperation` when you're awaiting an open dialog and the app suspends? It looks to me like it never completes. Does it just get GC'd without ever firing the continuation?

[2021-09-28 04:12] mikernet commented on #7226
P.S. When I look at Uno source it looks like `<Thickness x:Key="ContentDialogPadding">` is set to the same thing as UWP's default so the issue may be a layout bug or something else in the template.

[2021-09-28 06:19] Youssef1313 commented on #2533
![issue2533](https://user-images.githubusercontent.com/31348972/135033349-ed3eca06-072b-4816-9ab1-ba095fbf7c64.gif)

I wasn't able to reproduce. @jeromelaban Is there anything needed more than the sample in SamplesApp to reproduce this?

[2021-09-28 07:48] Youssef1313 commented on #2505
I re-tested and I'm now seeing the correct behavior.

![image](https://user-images.githubusercontent.com/31348972/135045375-8f6e54d9-783c-454f-9ec4-1f0ef2d989e6.png)

@jeromelaban This probably should be closed?

[2021-09-28 07:50] Youssef1313 commented on #6990
@robloo Were you able to re-test?

[2021-09-28 08:34] trungnt2910 commented on #5760
Ok. So the problem is, the thing that holds the `DataGrid`'s cells do not subscribe to `RightTapped` events, and are added **after** the main `DataGrid`. However, they do not subscribe to `RightTapped` themselves, so the [flags](https://github.com/unoplatform/uno/blob/287f9785be664ca577775b1bb6b90fe68bbd26fb/src/Uno.UWP/UI/Input/GestureRecognizer.Gesture.cs#L195) are not set, and [this check](http

[2021-09-28 08:44] Youssef1313 commented on #4863
@mikernet I think it's still a breaking change. Consider:

**Pages/MainPage.xaml**

[code]

And consider the following files in the project (all paths relative to project root):

- Pages/MainPage.xaml (stated above)
- Pages/Dictionaries/Resources.xaml (this is currently resolved)
- Dictionaries/Resources.xaml (this will be resolved after fixing the issue, and if it doesn't exist, the program will

[2021-09-28 08:46] mikernet commented on #4863
No you're right, it's a breaking change, but if someone is using UWP to do most of the development/testing (which to me seems like the only sane approach so I'd be shocked if anyone isn't) then they would get an error on the UWP side (or wrong loaded dictionary).

[2021-09-28 10:14] davidjohnoliver commented on #5734
@robloo I haven't had a chance to look at this yet. This will require a fairly thorough review as there's a lot of scope for hard-to-spot regressions.

There's not really a way to do that. Also I'm not sure why you want to?

[2021-09-28 10:25] Youssef1313 commented on #6283
@MartinZikmund You fixed this in https://github.com/unoplatform/uno/pull/6762. Can you close please?

[2021-09-28 10:26] MartinZikmund commented on #5734
I think the reason would be that v2 styles and V1 styles have different border thickness/corner radii and the icon styling also matches a specific version. Not sure how to go about this, versioned font would be more accurate, but we don't yet have any facility to version it...

One approach would be to provide docs that would instruct users how to downgrade to old UWP/Fluent V1 icon font by manual

[2021-09-28 10:33] Youssef1313 commented on #4863
Related: https://github.com/unoplatform/uno/issues/3361

[2021-09-28 11:40] #6283 closed

[2021-09-28 13:28] ajpinedam commented on #6717
@PhilippeAudet-Stratejia

This issue is related to the order of events:

When using `Frame.GoBack()` navigation we call the Page related callbacks first (NavigatingFrom, NavigatedFrom, etc) and then we initialize the navigation transition.

On the other hand, when the navigation is triggered from the Navigation Back Button, the navigation transition is executed immediately and then the Page events

[2021-09-28 15:26] jeromelaban commented on #2505
Thanks for the testing @Youssef1313.

[2021-09-28 15:26] #2505 closed

[2021-09-28 15:47] #6878 closed

[2021-09-28 15:51] Youssef1313 opened #7233 "Move `ExperimentalAttribute` to non-generated file to mark as implemented"
### Current behavior

`ExperimentalAttribute` is marked as not implemented.

### Expected behavior

It doesn't need any special implementation. It's just recognized by roslyn to emit warnings.

Relevant parts of roslyn implementation:

https://github.com/dotnet/roslyn/blob/285bfef6164a8f051d8ea1e57335508ea84a87dc/src/Compilers/CSharp/Portable/Symbols/Symbol_Attributes.cs#L164-L167

https://github.

[2021-09-28 15:55] davidjohnoliver commented on #5734
Re: icon styling in an aesthetic sense, all the glyphs referred to by the v1 styles are already sourced from Fluent UI System Icons in the current font, so nothing should change there. (Assuming any new font keeps the mappings [here](https://github.com/unoplatform/uno.fonts/blob/dev/djo%2Fdocs-sources/doc/font-mapping.md) for those glyphs.)

Re: pixel-level compatibility with border thickness etc,

[2021-09-28 15:57] jeromelaban commented on #6802
Fixed

[2021-09-28 15:57] #6802 closed

[2021-09-28 16:19] robloo commented on #6990
No, not yet. I probably won't get to it this week either.

[2021-09-28 16:48] SuperJMN commented on #468
I thinks this https://github.com/unoplatform/uno/issues/4023 is related with this issue.

[2021-09-28 16:48] robloo commented on #5734
I don't think a really 'full' review is needed. The font is not created manually. Mapping between icons can be visually compared using the SymbolIconManager itself as well. My thinking here was to check the main ones -- such as CheckBox -- and spot check a few others. Then release only for v2 Styles and let the community spot additional differences. V2 Styles was just released so we wouldn't be br

[2021-09-28 16:52] SuperJMN commented on #4023
I think GridView isn't working for **Skia.Wpf**.

[2021-09-28 17:38] davidjohnoliver commented on #5734
@robloo

Yes, most definitely. But all the glyphs **referred to by the v1 styles** should have been sourced from Fluent UI System Icons.

Yeah fair enough, it's probably doable to restrict it to v2. That doesn't mean it doesn't need to be thoroughly tested though. V2 is the new default, and will be used by existing apps that update to the latest versions of Uno (and WinUI 2 on Windows) that don't

[2021-09-28 17:49] robloo commented on #5734
Ah, ok, I understand what you mean. In that sense they should be equivalent. However, I wasn't able to use the CheckBox custom SVG's because Apache -> MIT isn't doable. I can make custom pixel-perfect replacements though for the problem areas.

Agreed for sure, as much testing as possible. However, again, due to the automated way the font was build I don't think this has to be quite so heavily tes

[2021-09-28 18:09] jeanplevesque commented on #6285
The call stack shows that it's during the `Frame.Navigate` operation.

[code]

[2021-09-28 20:48] dr1rrb commented on #5760
Humm I'm not sure to understand exactly where is made the subscription to the `RightTapped` event, except it's not on cells themselves. Lets assume it's done at the `DataGrid` level.

Then I think that you didn't realized that each `UIElement` has it's own `GestureRecognizer`. So we should not have to "propagate the parent's choice when a new event is added/removed", as each `UIElement` layer is r

[2021-09-29 00:58] trungnt2910 commented on #5760
I know that each element has its own `GestureRecognzier`.

It does. If I long press on a place that doesn't subscribe to the `Tapped` event, such as the headers, things work well (just like in the issue description). After  that, the `RightTapped` event **bubbles** up to the parent, and the original `PointerReleased` event is swallowed and never dispatched.

However, for the cells, the `RightTappe

[2021-09-29 01:04] highspeeder commented on #7121
It works fine since I specify the font.

[2021-09-29 01:24] mikernet opened #7236 "[iOS] Multiline TextBox in ContentDialog breaks layout and crashes app"
### Current behavior

When a multiline textbox is added into a ContentDialog, it rapidly grows in height and pushes down the controls under it with every key that is pressed (i.e it keeps getting bigger even though no more lines are being added), and then crashes the program after some number of keystrokes. Even if `MaxHeight` or `Height` is set it will blow past that height.

### Expected behavio

[2021-09-29 01:26] jeromelaban commented on #7236
Thanks for the report. Make sure to add a buildable repro, so we can take a look and reduce the possibility of side effects.

[2021-09-29 01:28] jeromelaban commented on #6285
Setting the DataContext to null explicitly during the constructor should be enough to prevent the propagation.

[2021-09-29 01:47] mikernet commented on #7236
I have to fix that test iOS project I have - will follow up with a repro after I do that.

[2021-09-29 02:36] mikernet commented on #7236
This might take a bit to narrow down as the code above needs something else,  just not sure what it is yet. The problem doesn't happen on WASM or UWP though. I'll let you know what I figure out.

[2021-09-29 03:41] highspeeder commented on #7121
I faced another problem.

SelectedItem is displayed in Combobox, but text does not appear when Combobox is clicked.
![1](https://user-images.githubusercontent.com/41020549/135199355-bac36523-3f4b-4797-adf4-ed16a20d2d48.PNG)

![2](https://user-images.githubusercontent.com/41020549/135199360-7cc60cff-d9a5-4dfa-8e81-7bea41b4de4b.PNG)

[2021-09-29 07:02] HavenDV opened #7239 "[WASM] MUXC NavigationView Header displays unnecessary indentation"
### Current behavior

![image](https://user-images.githubusercontent.com/3002068/135217936-7360f57c-95d0-40ae-8487-f6af2936e955.png)
I'm not sure what exactly the problem is. The problem is either indentation or default vertical alignment. This showed up after updating to 3.11.0-dev.242 from about 3.10.0-dev.500

### Expected behavior

![image](https://user-images.githubusercontent.com/3002068/135

[2021-09-29 07:05] HavenDV commented on #7239
Also a small question: When will Uno support switching localizations? The default system language is currently used.

[2021-09-29 07:24] Youssef1313 commented on #408
Microsoft's documentation for this says:

Since it's not recommended by Microsoft (as far as I understand), do we need to implement it?

[2021-09-29 08:08] MartinZikmund commented on #7239
@HavenDV multiple localizations should already be supported (we include all string resources available in WinUI). Are you having problems seeing your app localized?

[2021-09-29 08:09] MartinZikmund commented on #57
@Henk7 can we close this one now?

[2021-09-29 08:15] MartinZikmund commented on #408
Microsoft seems to be avoiding reveal for the new styles and the reveal highlight docs were also removed from design docs. As long as we properly use the `FallbackColor`, it should be ok.

[2021-09-29 08:16] HavenDV commented on #7239
@MartinZikmund I mean these apis:
[code]

I am using this code in UWP to dynamic change localization:
[code]

[2021-09-29 08:22] Henk7 commented on #57
@MartinZikmund yes

[2021-09-29 08:22] #57 closed

[2021-09-29 08:28] HavenDV commented on #7239
Note: In the UWP version, I used Microsoft.UI.Xaml 2.6.0-prerelease.210430001. When upgrading to 2.8.0-prerelease.210927001, the problem also appears in UWP.

[2021-09-29 08:38] Youssef1313 commented on #7239
@HavenDV I think this means that the styles has changed in WinUI, and Uno is using the updated styles from WinUI.

Since you're seeing that in WinUI 2.8 with the UWP head, I *think* it's best to open an issue for microsoft/microsoft-ui-xaml repo.

Regarding the not implemented APIs, it's weird that you get "PrimaryLanguageOverride" is not implemented. It's implemented (though isn't implemented cor

[2021-09-29 08:52] HavenDV commented on #7239
I will create an issue in https://github.com/CommunityToolkit/WindowsCommunityToolkit, it has nothing to do with Uno.

[2021-09-29 08:52] #7239 closed

[2021-09-29 09:07] HavenDV opened #7240 "Add support to dynamic change localization without reloading app"
## What would you like to be added:
I am using this code in UWP to dynamic change localization without reloading app:
[code]
these APIs are not implemented to support this in Uno(it works in UWP):
[code]

## Why is this needed:
Many modern applications provide the ability to change the language without restarting the application.

## For which Platform:
All platforms.

[2021-09-29 09:08] HavenDV commented on #7239
@MartinZikmund @Youssef1313 regarding the localization issue, I added a feature issue for discussion/tracking progress:
https://github.com/unoplatform/uno/issues/7240

[2021-09-29 09:11] HavenDV commented on #7239
https://github.com/CommunityToolkit/WindowsCommunityToolkit/issues/4284

[2021-09-29 12:13] jeromelaban opened #7242 "Getting started state ComboBox is not updating"
I faced another problem.

SelectedItem is displayed in Combobox, but text does not appear when Combobox is clicked.
![1](https://user-images.githubusercontent.com/41020549/135199355-bac36523-3f4b-4797-adf4-ed16a20d2d48.PNG)

![2](https://user-images.githubusercontent.com/41020549/135199360-7cc60cff-d9a5-4dfa-8e81-7bea41b4de4b.PNG)

_Originally posted by @highspeeder in https://github.com/unoplatfo

[2021-09-29 12:14] jeromelaban commented on #7242
Thanks for the report.

The issue is actually in the sample itself, where the ComboBox should be:

[code]

with `Mode=TwoWay`.

[2021-09-29 12:50] jeromelaban commented on #7240
Thanks for the report.

We have a sample for this specific scenario: https://github.com/unoplatform/Uno.Samples/tree/master/UI/LocalizationSamples/RuntimeCultureSwitching

[2021-09-29 12:58] HavenDV commented on #7240
It seems that in my implementation the call to Windows.ApplicationModel.Resources.Core.ResourceManager.Current.DefaultContext.Reset () is unnecessary.
Then the main thing is to implement Windows.Globalization.ApplicationLanguages.ManifestLanguages to automatically load supported languages.

[2021-09-29 13:40] HavenDV commented on #7240
Clarification - the solution above works without changing the screen. All views on the screen are simply re-created while maintaining the current view models and state. I am trying to test our project with pre-installed languages and it works rather strangely, updating only some elements(only in WASM, in Skia projects this works very well).

[2021-09-29 13:41] HavenDV commented on #7240
Also, getter Windows.Globalization.ApplicationLanguages.PrimaryLanguageOverride returns null.

[2021-09-29 13:52] jeanplevesque commented on #6285
Do you mean in the constructor of each page? 😕

[2021-09-29 13:54] jeromelaban commented on #6285
Yes, as a workaround. For now it's not something we can fix without major changes.

[2021-09-29 14:50] #6928 closed

[2021-09-29 14:50] #5639 closed

[2021-09-29 15:43] jeromelaban commented on #6572
You can also try by observing the `FocusManager` focus changed event to find which control steals the focus.

[2021-09-29 16:04] sakshi173 commented on #7035
The Issue is fixed , Closing.
![progressring issue resolved](https://user-images.githubusercontent.com/74563602/135306431-f01698da-df90-4295-a80a-7189b05b7c72.png)

[2021-09-29 16:47] jsinsel opened #7244 "[WASM] x:Load does not show the view on subsequent property changes"
### Current behavior

Have a view with an element that uses x:Load bound to a view model property.  It will show/hide the first time the property changes, but subsequent changes to the property will not show the view again.

### Expected behavior

View shows every time the property is set to true.

### How to reproduce it (as minimally and precisely as possible)

Attaching a sample project.  Hit t

[2021-09-29 17:10] sakshi173 commented on #7036
Still Issue is present , Verified for the below Canary build.
Release 315
Version 1.5.0 (400833)
Sept 28, 2021 10:38 PM

https://user-images.githubusercontent.com/74563602/135316660-0bcee476-9cbd-4d6a-bebb-8a536727542b.mp4

[2021-09-29 17:16] vincentcastagna commented on #6572
By looking at the behavior, focus is being done correctly on the `TextBox`. So nothing seems wrong in the `ControlExtensions.IsAutoFocus`. When removing the `DataValidationView `(which is a control) that wraps the `Textbox`, the keyboard appears and focus seems to be managed correctly. Note that `DataValidationView.TabStop` is being set to `false `to prevent this.

Focus Manager logs WITH DataVali

[2021-09-29 18:00] sakshi173 commented on #7050
Verified, Issue is fixed, Closing.

[2021-09-29 18:24] #7242 closed

[2021-09-29 18:29] sakshi173 commented on #7024
Gallery Image issue is fixed but the **corner radius issue is still present.**
Verified for the below version
https://dev.azure.com/uno-platform/Uno%20Platform/_build/results?buildId=34191&view=results

![personpicture issue](https://user-images.githubusercontent.com/74563602/135327670-53e3ff3d-fa34-474b-865a-bea49243f449.png)

[2021-09-29 18:32] sakshi173 commented on #5552
Verfied Issue is fixed, closing.

[2021-09-29 18:32] #5552 closed

[2021-09-29 18:35] sakshi173 commented on #7037
Verified issue is fixed, Closing.

[2021-09-29 18:37] sakshi173 commented on #7025
Verified issue is fixed, Closing.
![Slider correct](https://user-images.githubusercontent.com/74563602/135328703-71df9483-1c78-4dd5-94b7-244e3d6c5e83.png)

[2021-09-29 19:00] carldebilly opened #7246 "[WASM] `MaxHeight` on <StackPanel> is not producing expected results"
### Current behavior

Take following XAML snippet:
[code]
Also available on the playground: <https://playground.platform.uno/#b6e16aea>

... and move the slider.

### Expected behavior

In previous snippet, the black rectangle should stop growing once at 150px and stay there.

To see expected result, put the same code in _XAML Studio_.

### How to reproduce it (as minimally and precisely as possib

[2021-09-29 19:24] sakshi173 commented on #7038
Verified issue is fixed, Closing.
![passwordbox correct](https://user-images.githubusercontent.com/74563602/135335058-dd31550f-7510-44aa-9ab7-e0641a5402aa.png)

[2021-09-29 19:26] sakshi173 commented on #6814
As per Jerome comment, there is not much to do, due to that closing this bug.

[2021-09-29 20:37] sakshi173 commented on #6214
Verify issue is fixed closing.

[2021-09-29 20:39] sakshi173 commented on #6211
Verified issue is fixed, closing

[2021-09-29 20:57] sakshi173 commented on #5166
Verified, issue is fixed, closing

[2021-09-30 04:38] mikernet opened #7247 "[iOS] `TextBox` keyboard "Done" button"
## What would you like to be added:

The ability to add a "Done" button to the toolbar above the keyboard that dismisses the keyboard:

![image](https://user-images.githubusercontent.com/1700111/135388882-bcbf599e-2ec8-45a4-96d7-04f6b3f6aa21.png)

Not sure if this is currently possible but I couldn't find anything on the topic.

## Why is this needed:

A mechanism to easily dismiss the keyboard is

[2021-09-30 05:38] mikernet opened #7248 "[iOS] ContentDialog buttons are hidden behind the keyboard when it is open"
### Current behavior

When a ContentDialog (with a ScrollViewer inside it) is taller than the available screen space and the keyboard is open, you can't scroll down to the dialog buttons.

This is especially problematic when combined with https://github.com/unoplatform/uno/issues/7247 on dialogs where the last textbox is multiline because the user has no easy way to dismiss the keyboard nor any wa

[2021-09-30 06:08] Youssef1313 commented on #7247
It looks like there is an API for iOS in Uno to control that:

https://github.com/unoplatform/uno/blob/45162f3aac50c8a232eaf0f25006f77e95bc6b5e/src/Uno.UI/UI/Xaml/Controls/TextBox/TextBox.iOS.cs#L274

Not sure if this is what you want?

[2021-09-30 07:37] mikernet commented on #7247
That is part of what I want, yes, thank you. The other part is the `Done` button in the toolbar above the keyboard. Is there an API for that as well? Is there a way to discover these features without having to browse the source?

[2021-09-30 08:37] DierkDroth commented on #7008
@jeromelaban have you been to reproduce the issue? Does it persist or should it be resolved?

[2021-09-30 08:38] DierkDroth commented on #6568
@jeromelaban where are we at on that issue?

[2021-09-30 13:44] #7198 closed

[2021-09-30 14:08] kazo0 opened #7251 "Cannot init identically named `ResourceDictionaries` from different namespaces"
### Current behavior

[code]

Results in generated code:
[code]

Notice they are both from the namespace `Uno.Material`

### Expected behavior

Above XAML should result in the proper ResourceDictionary from the corresponding namespace:

[code]

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

Rename `Uno.Toolkit.Material.MaterialResources` to somethi

[2021-09-30 14:35] Youssef1313 commented on #7251
I'm going to take a look.

[2021-09-30 14:35] jeromelaban commented on #7008
We have not been able to identify the cause yet. We'll let you know what we find.

[2021-09-30 15:02] sakshi173 commented on #6802
Verified, Issue is fixed, Closing

[2021-09-30 15:07] Youssef1313 commented on #7251
@kazo0 I was unable to reproduce:

![image](https://user-images.githubusercontent.com/31348972/135481653-dd8e4be0-b25a-40c9-a492-c2b849b70b38.png)

[2021-09-30 17:06] assassin316 opened #7254 "UWP Crash on Release mode (Debug environment works fine)"
### Current behavior

There is an Invalid Cast that occurs in `Release` mode of UWP apps, it seems to be related to cast an `int` to `enum` value.

### Expected behavior

The application should execute normally in both `Debug` and `Release` modes.

### How to reproduce it (as minimally and precisely as possible)

I've attached two projects: `UnoTest` and `UnoTest_Older_Uno`.

`UnoTest` references

[2021-09-30 17:11] assassin316 commented on #7254
[UnoTest.zip](https://github.com/unoplatform/uno/files/7261306/UnoTest.zip)
[UnoTest_Older_Uno.zip](https://github.com/unoplatform/uno/files/7261307/UnoTest_Older_Uno.zip)

[2021-09-30 18:15] jeromelaban commented on #7254
Thanks for the report. This is a .NET native related issue, and is not related to Uno.

Can you try disabling .NET Native ?

[2021-09-30 18:33] jeromelaban commented on #6568
I verified again, this was fixed in Uno 3.10 as part of a larger theming issue.

[2021-09-30 18:33] #6568 closed

[2021-09-30 18:38] assassin316 commented on #7254
Unfortunately the same  😟

![image](https://user-images.githubusercontent.com/17514380/135512082-ac0c88a2-59aa-4179-ba8b-2882173f060f.png)

[2021-09-30 18:42] jeromelaban commented on #7248
Uno does not provide anything specific for this particular scenario, though you can detect if the keyboard is opened:

[code]

There is support for scrolling if the content is in the app layer (not the popup layer):

https://github.com/unoplatform/uno/blob/1f8d45f744a9d253c2fe0ec6b3a8bd683fd56baa/src/Uno.UI/Controls/Window.iOS.cs#L256

[2021-09-30 18:47] jeromelaban commented on #7254
Thanks. Unfortunately, this is not something we can help with as it's UWP related.

From your samples, it seems that there are many differences in package versions there, trying to revert some of those could help.

[2021-09-30 19:17] TopperDEL opened #7255 "[Android] `AcrylicBrush` on top of SkiaSharp content renders incorrectly"
### Current behavior

An AcrylicBrush renderes SkiaSharp-Images wrong on Android (and probably iOs, could not try yet). On UWP it works as expected. I've created a sample repo [here](https://github.com/TopperDEL/UnoAcrylicBrushSkiaError).

If you run the app on UWP, it show three times the similar sample image and a small AcrylicBrush-Bar in the middle. Scrolling the images shows a correct Acrylic

[2021-09-30 20:41] jeromelaban commented on #7255
Thanks for the report.

Does it happen with normal images ?

[2021-09-30 20:47] #7168 closed

[2021-09-30 20:47] #7169 closed

[2021-09-30 20:50] #5695 closed

[2021-10-01 01:57] mikernet commented on #7228
This also happens on Android as well.

[2021-10-01 05:52] Youssef1313 opened #7258 "`FindName` doesn't return things from resources"
### Current behavior

From `PersonPicture` sample:

[code]

Calling `rootGrid.FindName("cvs")` returns null.

### Expected behavior

Shouldn't return null.

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

### Works on UWP/WinUI

_No response_

### Environment

_No response_

### NuGet package version(s)

_No response_

### Affected pl

[2021-10-01 06:03] dragonDScript opened #7259 "UNO platform doesn't look good on Linux/Gtk"
### Current behavior

It looks bad.

### Expected behavior

It should look like UWP on windows. Fluent design. Or at least like the system's gtk theme

### How to reproduce it (as minimally and precisely as possible)

The base template + this XAML
[code]

### Workaround

_No response_

### Works on UWP/WinUI

Yes

### Environment

Uno.UI / Uno.UI.WebAssembly / Uno.UI.Skia

### NuGet package versio

[2021-10-01 06:39] TopperDEL commented on #7255
No, it only happens with the SkiaSharp-Rendered-Images. I think it might be due to different DPI or what on UWP and Android, so my Skia-Image-Control might need to respect that in any way. Not sure where to start here, though, as I do not understand how the AcrylicBrush works under the hood.

Here the extended sample. Left is my control, right is the normal images-control.

https://user-images.git

[2021-10-01 07:00] hawkerm commented on #6135
Yeah, the Uno template asked me to install the Azure workload which seemed a bit odd.

[2021-10-01 11:53] Youssef1313 commented on #265
@davidjohnoliver Looks like it's already fixed:

![image](https://user-images.githubusercontent.com/31348972/135615656-392d5329-3c08-4801-80fd-c12f5255aefa.png)

I think we can close this one.

[2021-10-01 12:18] jeromelaban commented on #6135
@xperiandri it looks good! Indeed there is a bit too much in the config file.

[2021-10-01 12:41] mikernet opened #7261 "[Android] Pivot completely broken on Android"
### Current behavior

1) `Pivot` does not size to `PivotItem` content size correctly. If a pivot is put into an auto height grid column, only the header is shown.
2) If you manually set a `MinHeight` on the `Pivot` to force it to show something and put a `ScrollViewer` inside a `PivotItem` it does not properly size the content inside the scrollviewer that is stretched horizontally - the content st

[2021-10-01 13:01] jeromelaban opened #7262 "[Skia] MenuBar popup continuously resizes"
### Current behavior

https://user-images.githubusercontent.com/46191980/135573177-69d2adfe-f99c-4b7e-86d6-9bdd6eba4f1a.mp4

Observe that the popup is resizing/flickering when opened.

### Expected behavior

The menu bar does not flicker.

### How to reproduce it (as minimally and precisely as possible)

[TestMenuBar.zip](https://github.com/unoplatform/uno/files/7267301/TestMenuBar.zip)

### Worka

[2021-10-01 13:02] jeromelaban commented on #7259
Thanks for the report.

The UI looks like it is supposed to look with Fluent styles v2 (with the missing shadows https://github.com/unoplatform/uno/issues/4309 which you can follow).

I'll create another issue (https://github.com/unoplatform/uno/issues/7262) with the curious resizing of the menu popup that is not supposed to happen.

I'll close this issue for now and the tracking can be done in th

[2021-10-01 13:03] Youssef1313 commented on #6907
Tested on Android and not working as well.

[2021-10-01 13:07] dragonDScript commented on #7262
Thanks @jeromelaban

[2021-10-01 13:23] jeromelaban commented on #7261
Thanks for the report.

The pivot control current implementation has mainly been developed to be stretched in its container, not placed to an auto context.

We have a task to port the WinUI pivot control so that it behaves like the WinUI control, but it was not listed. I'll rename this issue to reflect this.

[2021-10-01 14:26] mikernet commented on #7261
In my app I have the style set to the UWP template though and it still isn't sizing correctly.

[2021-10-01 14:38] jeromelaban commented on #7261
It's not the issue, it's the underlying C# implementation that is not supporting all the features that the UWP template provides.

[2021-10-01 14:53] mikernet commented on #7248
Sorry, I'm not entirely clear on what you're saying or suggesting. On WASM you can scroll down to the buttons even if the keyboard is open. On iOS it doesn't allow that.

[2021-10-01 14:56] mikernet commented on #7248
I kinda worked around it by binding a "Done" button's opacity to the focused state of the last multiline textbox in the ContentDialog so the user can at least scroll down and dismiss the keyboard by clicking the button which then lets them click the ContentDialog buttons but this is a bit hacky and should be unnecessary IMO.

[2021-10-01 16:37] mikernet opened #7264 "[iOS 15/XCode 13/Xamarin preview] App crashes on resume"
### Current behavior

Apps built with XCode 13 + Xamarin.iOS SDK 14.99.0.598 crash when they suspend and then resume. I get the following exception upon the app resuming:

[code]

![image](https://user-images.githubusercontent.com/1700111/135656418-65abb241-5ad2-48dd-be42-b08a0ae76374.png)

Looks like this is coming from [here](https://github.com/unoplatform/uno/blob/master/src/Uno.UWP/System.Runt

[2021-10-01 16:48] kazo0 opened #7265 "Resource resolutions differs from Windows"
### Current behavior

App.xaml
[code]

MainPage.xaml
[code]

MainPage.xaml.cs
[code]
End result:
txtAppBarThemeCompactHeight = 40
txtCustomResource = null

### Expected behavior

On Window:

End result:
txtAppBarThemeCompactHeight = 70
txtCustomResource = null

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

### Works on UWP/WinUI

Ye

[2021-10-01 16:53] mikernet commented on #7264
Nevermind, I fixed the issue, it was related to my code.

[2021-10-01 16:53] #7264 closed

[2021-10-01 17:07] sakshi173 commented on #2182
Verified , Closing

[2021-10-01 17:08] sakshi173 commented on #2166
As per the above comment, its an issue with original calculator as well, closing it.

[2021-10-01 19:48] #6765 closed

[2021-10-01 20:55] #7196 closed

[2021-10-01 21:01] Youssef1313 commented on #6877
@jeromelaban Is there anything left here? It looks like this was fixed in https://github.com/unoplatform/uno/pull/6962, but the PR marked the issue as "related" instead of "closes"

[2021-10-01 21:54] AbdalaMask opened #7266 "[Skia.WPF, Skia.GTK] `RadialGradientBrush` does not work"
### Current behavior

not work RadialGradientBrush to wpf and gtk

### Expected behavior

_No response_

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

### Works on UWP/WinUI

Yes

### Environment

Uno.UI / Uno.UI.WebAssembly / Uno.UI.Skia

### NuGet package version(s)

_No response_

### Affected platforms

_No response_

### IDE

V

[2021-10-01 22:54] xperiandri commented on #6135
I'll do an additional check regarding to VS 2022 list and prepare a PR

[2021-10-02 13:36] jeromelaban commented on #6877
It's not done because it still uses a regex, which is expensive. Parsing using splits or similar is likely to be faster to initialize, and at runtime.

[2021-10-02 13:59] Youssef1313 commented on #6877
@jeromelaban Thanks for clarifying. I'll check how can I write this without regex.

[2021-10-02 16:12] Youssef1313 commented on #6877
@jeromelaban

[code]

Looks like I'm getting a good perf improvement.

|    Method |     Mean |   Error |  StdDev |
|---------- |---------:|--------:|--------:|
| Scenario1 | 908.1 ns | 3.24 ns | 3.03 ns |
| Scenario2 | 363.6 ns | 1.08 ns | 0.96 ns |

However, the older behavior (before introducing the regex - which didn't handle things as UWP), is still MUCH faster (~64ns)

[2021-10-02 17:00] Youssef1313 commented on #6877
[code]

|                 Method |     Mean |   Error |  StdDev |
|----------------------- |---------:|--------:|--------:|
|        OldWithoutRegex | 389.4 ns | 1.91 ns | 1.69 ns |
| CurrentMasterWithRegex | 802.3 ns | 1.78 ns | 1.58 ns |
|        ImproveWithSpan | 305.9 ns | 1.06 ns | 0.99 ns |

It's actually BETTER than before!

Will open a PR soon.

[2021-10-03 05:40] Youssef1313 commented on #7266
@AbdalaMask Can you provide a small sample app demonstrating the issue?

[2021-10-03 20:16] Youssef1313 commented on #6441
I have no idea if it's possible that https://github.com/unoplatform/uno/pull/6975 can fix this. Would be good to re-test when/if it gets merged.

[2021-10-03 23:07] #3256 closed

[2021-10-03 23:08] #6126 closed

[2021-10-04 01:03] jeromelaban opened #7271 "[Skia] Restore Runtime Tests"
### Current behavior

After the introduction of Skia runtime tests, the following runtime tests are failing:

- [ ] `ValidateLayoutRoundingForPixelDimensions`
- [ ] `CanReplaceSingleItem`
- [ ] `When_CloseLast_Then_FileDeleted`
- [ ] `Should_Close_Open_Popups`
- [ ] `When_TransformToVisual_WithMargin`
- [ ] `When_MinWidth_SmallerThan_AvailableSize`
- [ ] `TestVariousArrangedPosition`
- [ ] `When_P

[2021-10-04 06:34] Youssef1313 commented on #7271
`When_Calling_Select_With_Negative_Values` this one is passing for me locally. The code for it is actually not platform-specific.

For other selection tests, `Select` in `TextBoxViewExtension` class seems to be missing `EnsureWidget` call. This was causing us to operate on a null `_currentInputWidget` and just returning without doing anything. BUT, even after adding the `EnsureWidget` call. The na

[2021-10-04 07:55] Youssef1313 commented on #7271
`ValidateLayoutRoundingForPixelDimensions` is passing locally for me.

`Should_Close_Open_Popups` is failing due to `RegisterOpenPopup` being called twice for the same popup. It has an `AddDistinct` method, but to me the `AddDistinct` will never work since we're comparing a newly instantiated `WeakReference`, not the popup itself. I'm not sure if using `WeakReferenceEqualityComparer` is the correc

[2021-10-04 08:20] Youssef1313 commented on #7266
Very likely this will get fixed with https://github.com/unoplatform/uno/pull/7188.
Will confirm for sure if you provide a specific sample.

[2021-10-04 09:05] Youssef1313 commented on #1800
@carldebilly It looks like everything here was fixed. I think this can be closed.

[2021-10-04 12:33] jeromelaban commented on #7271
We can enable those back one we find the proper fixes, the point of the associated PR is to have regression validation.

For the ValidateLayoutRoundingForPixelDimensions is suspect this is related to DPI awareness.

[2021-10-04 12:48] #1800 closed

[2021-10-04 13:02] peternary commented on #6152
We are able to build if we disable AOT for Fluent styles and Skia

[2021-10-04 13:08] peternary commented on #6568
Confirmed fixed in latest

[2021-10-04 14:13] sakshi173 commented on #6998
Verified, Bug is fixed, closing

[2021-10-04 14:14] sakshi173 commented on #5068
Verified, issue is fixed, closing

[2021-10-04 14:15] sakshi173 commented on #2157
Verified issue is fixed, closing.

[2021-10-04 16:42] sakshi173 commented on #5784
Verified, Issue is fixed, Closing

[2021-10-04 16:45] sakshi173 commented on #5178
Verified, Issue is fixed, Closing

[2021-10-04 16:48] sakshi173 commented on #5941
Verified, Issue is fixed, Closing

[2021-10-04 16:52] sakshi173 commented on #5938
Verified, Issue is fixed, closing

[2021-10-04 17:31] #6960 closed

[2021-10-04 17:56] #6877 closed, assigned to nobody

[2021-10-04 17:59] #7070 closed

[2021-10-04 18:19] AbdalaMask commented on #7266
LinearGradientBrush working All projact
not work RadialGradientBrush to wpf and gtk

[2021-10-04 19:03] sakshi173 opened #7274 "[Gallery][macOS] `CalendarDatePicker` - calendar is not opening when clicking on 'Select a Date' option for Material, Fluent and Cupertino."
### Current behavior

https://user-images.githubusercontent.com/74563602/135905909-6e6be6de-27ae-4744-a11e-f434eccbca25.mp4

### Expected behavior

Calendar should open when click on 'Select a Date' Option for all.

### How to reproduce it (as minimally and precisely as possible)

1. Open Uno Gallery APP
2. Click Burger Menu on the left top right.
3. Click "CalendarDatePicker" from the "Component"

[2021-10-04 19:21] sakshi173 opened #7275 "[Gallery][macOS] `CalendarView` - default year and month on the header of the calendar is displaying January 1921, instead of current year and month."
### Current behavior

![macos calendarview](https://user-images.githubusercontent.com/74563602/135910461-aab49ad5-14a1-43ee-8b17-a2ee513e69bc.png)
![macos calendarview fluent](https://user-images.githubusercontent.com/74563602/135911256-00291437-7cd0-456c-934f-0b84e6d0eaf7.png)
![macos calendarview cupertino](https://user-images.githubusercontent.com/74563602/135911267-afc1ef3a-9ec8-48c3-a269-a7b4

[2021-10-04 19:29] Youssef1313 commented on #7266
@AbdalaMask Both `LinearGradientBrush` and `RadialGradientBrush` aren't working currently on Skia for `TextBlock.Foreground` and this is being fixed in #7188

If your problem is different, please be more specific about what your issue is.

[2021-10-04 19:37] AbdalaMask commented on #7266
![image](https://user-images.githubusercontent.com/37013638/135913623-6d8e6f26-460b-4b8e-a6ba-08061b692f30.png)

[2021-10-04 19:43] AbdalaMask commented on #7266
[LButton.zip](https://github.com/unoplatform/uno/files/7280850/LButton.zip)

[2021-10-04 19:47] AbdalaMask commented on #7266
[LButton.zip](https://github.com/unoplatform/uno/files/7280913/LButton.zip)
Full code

[2021-10-04 20:05] Youssef1313 commented on #5340
@vadd98 Can you re-check please?

[2021-10-04 20:57] sakshi173 opened #7276 "[Gallery][MacOS]CalendarDatePicker- Calendar is not working properly to choose the date for Material, Fluent and Cupertino"
### Current behavior

Uploading mm56 (mm56) - VNC Viewer 2021-10-04 16-22-12.mp4…

### Expected behavior

Calendar should open and work properly.

### How to reproduce it (as minimally and precisely as possible)

Open Uno Gallery APP
Click Burger Menu on the left top right.
Click "CalendarView" from the "Component" list.
Click on the Year and month on the Header to choose the date from the calenda

[2021-10-04 21:04] Youssef1313 commented on #3655
This isn't much related to iOS or FontSize specifically.

The fix is most likely to support "Binding" in this code path:

https://github.com/unoplatform/uno/blob/3b086ffd2c105a50816adee60af6cf1b40e88b37/src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs#L4711

[2021-10-04 23:30] seanocali commented on #6065
Just an update, I solved this problem for myself by removing a project reference to a .NET Standard 2.0 library.

[2021-10-05 00:06] kazo0 commented on #7251
Strange, this might be a more complex issue than I thought. My example is coming from an Uno Library that itself contains a different Uno Library and Uno Library A is trying to initialize resource from it's inner Library B. I'll try and make a repro project

[2021-10-05 08:04] Youssef1313 commented on #3241
I'm going to try with this one :)

[2021-10-05 09:38] Youssef1313 commented on #3241
@jeromelaban Actually there is already a dotnet new template:

https://github.com/unoplatform/uno/blob/master/src/SolutionTemplate/Uno.ProjectTemplates.Dotnet/content/unoapp-uitest/.template.config/template.json

Is the needed work to make it available in VSIX? or I'm missing something?

[2021-10-05 09:39] Youssef1313 commented on #3241
For reference, it was added in https://github.com/unoplatform/uno/pull/5058.

[2021-10-05 10:15] Youssef1313 opened #7277 "`dotnet new unoapp` creates two slnf for vs4mac"
### Current behavior

Two solution filters are created.

### Expected behavior

Only one is created.

### How to reproduce it (as minimally and precisely as possible)

- Build the templates and install the locally created nupkg following instructions from [here](https://github.com/unoplatform/uno/blob/master/doc/articles/uno-development/debugging-templates.md).
- Run `dotnet new unoapp`
- See two

[2021-10-05 11:58] Youssef1313 opened #7278 "`dotnet new` don't work in a directory with a global.config"
### Current behavior

The current instructions for the `unoapp-uitest` template is similar to the following:

[code]

The last one will fail complaining that there is no available template. Changing `allowPrerelease` to true in global.config fixes that. It's very likely this is a dotnet/templating issue. I'm opening here to track a workaround so we can have a working UI Test dotnet template.

A qu

[2021-10-05 12:18] dojo90 opened #7279 "error CS0117: "NavigationViewItem" does not contain a definition for "UpdateResourceBindings"."
### Current behavior

I have a `page` with two `DataTemplates`.

However, I get the following error message. If I start the project as an `UWP` app, I don't get any problems.

[code]

### Expected behavior

_No response_

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

### Works on UWP/WinUI

Yes

### Environment

Uno.UI / Uno.UI.WebA

[2021-10-05 12:57] sakshi173 commented on #5903
This issue is fixed and now new issue is happening for checkbox and for that raised new bug.

[2021-10-05 13:48] MartinZikmund commented on #7247
Yes, this specific feature is not supported directly from Uno yet. You may be able to use the approach described in this Stack Overflow answer within `#if __IOS__` block, but it is definitely something worth adding into Uno as an extension/helper

[2021-10-05 15:03] Youssef1313 commented on #3241
@jeromelaban I just noticed the template actually exists in VS.

![image](https://user-images.githubusercontent.com/31348972/136048887-58a6154b-eb40-4592-9b4d-ed4ba8c3dca5.png)

However, I can't see anything related in VSIX2019 or VSIX2022 projects. The only related thing is `vs-2017.3.host.json` in `Uno.ProjectTemplates.Dotnet`.

I had though this project is only for command line.

[2021-10-05 15:37] Youssef1313 commented on #7279
Simpler repro:

[code]

The generated code for that:

[code]

The actual bug here is that we don't generate a backing field for `MyDataTemplate`. This may get fixed with https://github.com/unoplatform/uno/pull/7108, but can't say for sure without testing.

[2021-10-05 15:41] davidjohnoliver commented on #4580
@kazo0 Will this be addressed by your work on NavigationBar? Can you give a brief update?

[2021-10-05 17:20] sakshi173 opened #7282 "[Gallery][macOS] `Checkbox` - for checkbox focus does not goes off from checkbox, and sometime for `Indeterminate` and `Checked`, the only respond to the pointer on the second click."
### Current behavior

https://user-images.githubusercontent.com/74563602/136070475-c11b7e9b-48d0-45d4-8491-125aa54c86c2.mp4

### Expected behavior

The checkbox get click in first click and also focus should goes off once the checkbox is clicked.

### How to reproduce it (as minimally and precisely as possible)

1. Open Uno Gallery APP
2. Click Burger Menu on the left top right.
3. Click "Checkbox

[2021-10-05 17:27] sakshi173 commented on #5839
This issue is fixed and now new issue is happening for checkbox and for that raised new bug and closing this one.

[2021-10-05 17:27] #5839 closed

[2021-10-05 17:40] jeromelaban commented on #7244
Reopening as the issue was incorrectly linked to another PR.

[2021-10-05 18:47] sakshi173 opened #7283 "[Gallery][macOS] `DatePicker` - the application is very slow, calendar opening taking around 17 seconds"
### Current behavior

https://user-images.githubusercontent.com/74563602/136083626-d7eb17a5-11ad-4de0-9529-3a362d90b3b4.mp4

### Expected behavior

The calendar should open as click on the 'Set Date' Option.

### How to reproduce it (as minimally and precisely as possible)

1. Open Uno Gallery APP
2. Click Burger Menu on the left top right.
3. Click "DatePicker" from the "Component" list.
4. Click

[2021-10-05 18:57] sakshi173 opened #7284 "[Gallery][macOS] `DatePicker` - for Cupertino 'Cancel' and 'Done' button is not working in calendar"
### Current behavior

Uploading mm56 (mm56) - VNC Viewer 2021-10-05 14-52-12.mp4…

### Expected behavior

The cancel and done button should work.

### How to reproduce it (as minimally and precisely as possible)

1. Open Uno Gallery APP
2. Click Burger Menu on the left top right.
3. Click "DatePicker" from the "Component" list.
4. Go to "Cupertino" section.
5. Click  "Set Date" option and see the

[2021-10-05 19:06] mikernet opened #7285 "[Android] ComboBox does not work inside ContentDialogs"
### Current behavior

Clicking on the `ComboBox` to bring up the popup with the list of items does not work when it is inside a `ContentDialog`.

### Expected behavior

_No response_

### How to reproduce it (as minimally and precisely as possible)

Put a `ComboBox` inside a `ContentDialog` and notice it does not work.

### Workaround

_No response_

### Works on UWP/WinUI

Yes

### Environment

_

[2021-10-05 19:37] sakshi173 opened #7286 "[Gallery][MacOS] `DatePicker` - the selected Date, Month and year on the calendar is not displaying at the right position"
### Current behavior

https://user-images.githubusercontent.com/74563602/136091103-048f9f07-df72-4b12-98a2-527600222425.mp4

### Expected behavior

The Calendar should work properly.

### How to reproduce it (as minimally and precisely as possible)

1. Open Uno Gallery APP
2. Click Burger Menu on the left top right.
3. Click "DatePicker" from the "Component" list.
4. Go to "Fluent" or 'Cupertino'

[2021-10-05 19:49] mikernet opened #7287 "[Android] ContentDialog sizes and positions incorrectly when keyboard is open"
### Current behavior

Both these issues occur with `Uno.UI.FeatureConfiguration.Popup.UseNativePopup = false`.

**Issue 1:**

Most of the time when the keyboard opens, the dialogs that contain a stackpanel in a scrollviewer with alternating textblocks/textboxes do not size correctly, instead they cram into a tiny space at the top of the screen. This is what the dialog looks like with the keyboard

[2021-10-05 19:51] queequac opened #7288 "[Android] Update/Binding on BitmapImage does not update parent ImageBrush"
### Current behavior

When using a BitmapImage as ImageSource for a ImageBrush, updates on the BitmapImage are not triggering updates on the brush.

Sample:
[code]

In the sample above, the UriSource is bound against a property of type Uri. Whenever the uri changes, the new image shall be loaded and the content of the ImageBrush should change.

While this works as expected under Windows, on Androi

[2021-10-05 20:01] mikernet opened #7289 "[Android/WASM] "Touch and drag" instantly focuses TextBox under the initial touch location"
### Current behavior

If there is a `TextBox` under the initial touch location where you "touch and drag" (i.e. to scroll the view), the text box is focused right away even though the user is just trying to scroll and not actually focus the text box.

### Expected behavior

Focus should only be given to the textbox if it is tapped, not if the user is just trying to scroll down the page but happens

[2021-10-05 20:18] Jalroka opened #7290 "Memory Leaks when using Frame navigation in WPF"
This was done using Visual Studio 2022 Preview 4.1 and Uno 3.10.11

The issue can be observed by running the performance profiler and navigation back and forth between the pages.  After about 40 navigations memory usage starts to go up by about 1mb per transition.  This bug seems to require the DataContext to be set like this.

    <Page.DataContext>
        <vm:MainPageViewModel x:Name="VmContext

[2021-10-05 20:58] jeromelaban commented on #7244
This issue also contains an additional problem, where two or more x:Load on the same property don't update the visibility properly. It'll be fixed as part of the opened PR.

[2021-10-05 21:05] mikernet opened #7292 "`TextBox` default Enter key behavior"
### Current behavior

When the on-screen keyboard's enter key is pressed on a (non-multiline) `TextBox` in iOS, it dismisses the keyboard, but on Android it doesn't do anything.,

### Expected behavior

Consistent behavior across iOS and Android, i.e. the keyboard gets dismissed.

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

### Wo

[2021-10-06 12:37] jeromelaban commented on #7290
Thanks for the report. Does the page leak if the DataContext is set through the codebehind ?

[2021-10-06 12:41] jeromelaban commented on #7285
Thanks for the report this is a duplicate of #2533. Can you validate that the workaround provided there works for you ?

[2021-10-06 12:41] #7285 closed

[2021-10-06 12:43] jeromelaban commented on #3241
It exists because it's present in the dotnet new templates if installed by the user.

[2021-10-06 12:49] dr1rrb commented on #5760
@trungnt2910

This should never happen, even if an event has been handled by a control, pointers (`Pointer<Pressed|Released|...>`), gesture (`Tapped`, `RightTapped`, etc.) and manipulation (`Manipulation<Started|Delta|...>`)  events are expected to [**always** bubble](https://github.com/unoplatform/uno/blob/81644b962497fd05e3ec8d0d766295c7b2d7e7d4/src/Uno.UI/UI/Xaml/UIElement.RoutedEvents.cs#L891)

[2021-10-06 12:53] #2391 closed

[2021-10-06 12:53] #4796 closed

[2021-10-06 13:00] jeromelaban commented on #7279
Thanks @Youssef1313 for the validation. @dojo90 you may work around the issue by using `x:Key` instead of `x:Name` (unless you actually need to use the `x:Name` from the code behind).

[2021-10-06 14:57] mikernet commented on #7285
@jeromelaban That does not appear to have any effect. I did:

[code]

Is that correct?

[2021-10-06 15:07] mikernet commented on #7285
Alright, seems to be good now :)

[2021-10-06 15:09] Youssef1313 opened #7296 "TextBox.Text should trim the text to single line when AcceptsReturn is false"
### Current behavior

Text isn't trimmed.

### Expected behavior

Should be trimmed.

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

### Works on UWP/WinUI

Yes

### Environment

_No response_

### NuGet package version(s)

_No response_

### Affected platforms

_No response_

### IDE

_No response_

### IDE version

_No response_

#

[2021-10-06 15:38] jeromelaban commented on #7130
@PhilippeAudet-Stratejia have you had the chance to validate ?

[2021-10-06 16:02] jeromelaban commented on #6572
One thing to experiment with is to place (or remove) the IsTabStop somewhere in the parents of the TextBox. As it is the only textbox in the page, the behavior defined in https://github.com/unoplatform/uno/pull/6651.

@MartinZikmund would you have some more insights? Also, we should be added some additional documentation to describe this behavior.

[2021-10-06 16:17] #7244 closed

[2021-10-06 18:50] nor0x commented on #6152
i'm curious @peternary - which assemblies did you have to add include with `<MonoRuntimeMixedModeExcludedAssembly>` - i'm having the same issue in an Uno WebAssembly project referencing `SkiaSharp`, currently i have these entries in my csproj but i'm still having the issue.

[code]

@jeromelaban building via WSL is unfortunately not an option in my case.

[2021-10-06 19:02] XiaotianNetlift commented on #2796
The PR looks good. Did you validate the behavior against the sample?

[2021-10-06 19:06] peternary commented on #6152
@nor0x, I've got even fewer excluded assemblies than you.  Here they are.

<ItemGroup>
	<MonoRuntimeMixedModeExcludedAssembly Include="Uno.UI.FluentTheme.v1" />
	<MonoRuntimeMixedModeExcludedAssembly Include="Uno.UI.FluentTheme.v2" />
	<MonoRuntimeMixedModeExcludedAssembly Include="SkiaSharp" />
</ItemGroup>

[2021-10-06 19:13] mikernet commented on #7292
@jeromelaban Am I missing something or do `KeyDown` and `PreviewKeyDown` events never fire on Android TextBoxes?

[2021-10-06 19:13] jeromelaban commented on #6152
@nor0x you may be having a different issue then. Can you post your msbuild.binlog file ?

[2021-10-06 19:45] jeromelaban opened #7299 "[Wasm] Build fails with "The command line is too long""
Building on windows with a large set of assemblies and AOT enabled fails with the following message:

[code]

yes, seems to be a different error on my end  @jeromelaban - here is my most recent binlog
[log.zip](https://github.com/unoplatform/uno/files/7296671/log.zip)

_Originally posted by @nor0x in https://github.com/unoplatform/uno/issues/6152#issuecomment-936974987_

[2021-10-06 19:49] jeromelaban commented on #7299
@nor0x There's no immediate workaround for this, aside from _maybe_ reducing the number of package dependencies, or using WSL.

[2021-10-06 19:54] nor0x commented on #7299
thanks for the fast response @jeromelaban. Pushing the limits of the command line here 😂
Could i use `<MonoRuntimeMixedModeExcludedAssembly` in the csproj to exclude some of my assemblies from being AOT compiled? Unfortunately WSL is currently not an option but i will do some investigations on it. Out of curiosity is WSL1, WSL2 or Windows faster for AOT builds?

[2021-10-06 20:14] mikernet commented on #7292
Browsed the Uno source and figured it out, looks like only the `KeyUp` even fires and only for the Enter key on Android.

[2021-10-06 20:14] jeromelaban commented on #7299
You may try removing additional assemblies from the list to make the command line shorter, yes.

As for WSL1/2 and Windows, there aren't not many improvements in build performance. Most of the time is spent in LLVM's linker, and you can try out [these options](https://github.com/unoplatform/Uno.Wasm.Bootstrap#emscripten-linker-optimizations-flags) as a tradeoff.

[2021-10-06 23:19] mikernet commented on #7292
This seems to work but there may be a better way:

[code]

[2021-10-07 00:48] iosub opened #7300 "WASM Setting Running on WSL Error 'ECall methods must be packaged into a system module.'"
### Current behavior

Running WASM Setting Running on WSL Error 'ECall methods must be packaged into a system module.'

I get the error on;
Windows.UI.Xaml.Application.Start(_ => _app = new App());
Stack
Exception thrown: 'System.Security.SecurityException' in Uno.Foundation.Runtime.WebAssembly.dll
An unhandled exception of type 'System.Security.SecurityException' occurred in Uno.Foundation.Runtim

[2021-10-07 09:04] Youssef1313 commented on #2796
@XiaotianNetlift This sample is actually a bad one. The sample sets the `Text` when `AcceptsReturn` is false, then it changes `AcceptsReturn` to true. Meaning the `Text` property will no longer be multi-line. Hence, `AcceptsReturn` will have no effect at all for this sample after the fix from #7297. What we likely want to do is to have multi-line text. ie, we want to first set `AcceptsReturn` befo

[2021-10-07 15:21] #7095 closed

[2021-10-07 20:42] dr1rrb commented on #7130
@PhilippeAudet-Stratejia you mean the duration threshold? The issue here is that it's really subjective, last time that I've checked, I was found that it was easier to trigger the holding on uno than on UWP (both on touch devices obviously). If you were able to give me any measurable data/comparison it would be nice.

[2021-10-07 21:52] mikernet commented on #7289
https://user-images.githubusercontent.com/1700111/136467219-fb7215dc-9714-43f5-84bd-2f77437f2855.mp4

[2021-10-08 03:25] jeromelaban opened #7305 "[Android] `x:Load` may not remove nested items properly"
### Current behavior

The runtime tests `When_Binding_xLoad_Nested_With_ElementStub_LoadCount` and `When_Binding_xLoad_Nested` indicate a incorrect removal of materialized ElementStub content from their parent.

### Expected behavior

Both `When_Binding_xLoad_Nested_With_ElementStub_LoadCount` and `When_Binding_xLoad_Nested` tests pass, leaving all `x:Load=false` items collected.

### How to repro

[2021-10-08 12:35] MartinZikmund opened #7306 "Add support for `EasClientDeviceInformation`"
## What would you like to be added:

Add support for `EasClientDeviceInformation`.

## Why is this needed:

WCT compatibility.

## For which Platform:

All

[2021-10-08 12:38] MartinZikmund opened #7307 "`AnalyticsVersionInfo.DeviceFamilyVersion` must be a parsable long number"
### Current behavior

WCT `SystemInformation` API crashes on initialization due to the fact that `DeviceFamilyVersion` cannot be parsed.

### Expected behavior

Based on WCT use, the `DeviceFamilyVersion` property must be a parsable long number (encoded version number x.y.z.w).

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

### Work

[2021-10-08 22:57] #7101 closed

[2021-10-09 04:04] Jalroka commented on #7290
Yes it still leaks, though the memory consumption appears to increase at a slower pace.  I had to perform closer to 80 navigations before I started to see significant increases in memory consumption.  I think it also may require navigation more than 1 page deep.  When I set the data context in the code behind and then filtered to look specifically for view models I was only seeing viewmodels for p