[2021-07-27 20:57] jeromelaban commented on #6524
if @MaximeDion-Work is ok with the workaround, let's close this issue and keep the original one (#3443)

[2021-07-27 21:00] MaximeDion-Work opened #6572 "[Android] Textbox - AutoFocus doesn't work when Textbox is inside ValidationView"
## Current behavior

Entering a page with a TextBox with Autofocus set to true, doesn't give focus on android (unlike ios and uwp)

## Expected behavior

When entering the page focus should be given to Textbox and Keyboard should open.

## How to reproduce it (as minimally and precisely as possible)

In TradeZero application
Select burger menu
Click create button
Notice Bug

## Workaround

None. A

[2021-07-27 21:02] MaximeDion-Work commented on #6524
Yeah it work! Thank you guys!

[2021-07-27 21:03] #6524 closed

[2021-07-28 01:15] easy28 opened #6577 "Uno.Wasm.Bootstrap 3.0.0-dev.115 and later is slower 20% than 3.0.0-dev.101"
## What would you like to be added:
Restore the performance of 3.0.0-dev.101

## Why is this needed:
My project load in 5 seconds  when using Uno.Wasm.Bootstrap 3.0.0-dev.101 ,  but 6.3s when using Uno.Wasm.Bootstrap 3.0.0-dev.115

Tested many times, and same result , so I think dev.115 have some code caused the bad performance.

## For which Platform:

- [ ] iOS
- [ ] Android
- [x] WebAssembly
-

[2021-07-28 06:45] mterwoord commented on #6569
I'll see what I can do to fix these cases. For other events, I suggest we'll tackle them when we find them.

[2021-07-28 09:08] davidjohnoliver commented on #265
Great! The first step would be to verify that the bug still occurs, some of the relevant code has changed since it was reported and it may have been fixed already.

[2021-07-28 12:21] jeanplevesque commented on #6524
@jeromelaban the "original one" (#3443) is currently documented as if it were specific to WASM.

[2021-07-28 12:55] #6394 closed

[2021-07-28 13:01] jeromelaban commented on #6577
Thanks for the report! Can you detail what your application uses ? It is using AOT or the interpreter ?

We're tracking these issues in the .NET runtime: https://github.com/unoplatform/uno/issues/4613, which have important performance implications using AOT.

[2021-07-28 13:23] #6565 closed

[2021-07-28 14:38] #5979 closed

[2021-07-28 14:38] #6330 closed

[2021-07-28 14:49] Xiaoy312 opened #6581 "[UWP] ElevatedView is missing the default style"
## Current behavior

The default style for `{Uno.UI.Toolkit}ElevatedView` is missing on UWP.

## How to reproduce it (as minimally and precisely as possible)

[UwpEvNotWorkingAgain.zip](https://github.com/unoplatform/uno/files/6893973/UwpEvNotWorkingAgain.zip)
[code]

## Workaround

Define a default or keyed style for the control.

## Works on UWP/WinUI
No

## Environment
Nuget Package:
- [x] Uno.

[2021-07-28 15:37] jeanplevesque commented on #6572
@MaximeDion-Work Can you create a repro sample?

[2021-07-28 15:47] MaximeDion-Work commented on #6572
I tried making a sample but it would not reproduce the issue, but I've tried a bunch of different version of Uno.UI and the bug is always there.

[2021-07-28 16:00] jeromelaban commented on #6572
If you're making a sample, keep it even if it does not work and post it here.

[2021-07-28 18:16] PhilippeAudet-Stratejia commented on #6186
After testing this feature, I ran into a problem on iOS.

When activating the inertia, the Translation Delta doesn't go down, but instead goes exponentially up, and eventualy 0.

Android and UWP are not impacted by this problem.

[2021-07-28 19:28] jeanplevesque commented on #6285
I realize that the default `x:Bind` mode (`OneTime`) cannot currently work on Android because of this 😕

[2021-07-28 19:56] AugustinBo opened #6583 "PointerPressed Event takes a second to be called on iOS"
## Current behavior

PointerPressed Event takes a second to be called on iOS. Thus, it is possible to manipulate an element without having its PointerPressed Event called.

## Expected behavior

PointerPressed Event should be called instantly on touch or mouse down on iOS as it is with UWP and Android.

## How to reproduce it (as minimally and precisely as possible)

1. Press and hold on the green

[2021-07-28 20:31] jeromelaban commented on #6285
We will not be able to change this behavior for a while (it touches the objects lifecycle in a big way). If you don't want to have the DataContext propagated to a undesired value, you can set `DataContext="{x:Null}"` on the `Frame` so it will always keep null for its descendants until overridden locally on a page.

You'll still need to have `OneWay` binding, but it'll be changed only once.

[2021-07-28 20:35] jeromelaban commented on #6583
/cc @dr1rrb

[2021-07-28 22:22] agneszitte-nventive commented on #5810
@jeromelaban / @MartinZikmund
I just noticed that the focus states are not applied for the ComboBox not only on WASM but also on Android, iOS, Skia, ...
Should we have separated issues for buttons, combobox (and maybe others)? Or it's related and can be fixed at once ?

[2021-07-28 22:24] DualBrain commented on #108
Is there an example somewhere demonstrating this?

Thanks.

[2021-07-29 00:06] MartinZikmund commented on #5810
@agneszitte-nventive it is related, and I will try to fix all together, but if you come across another control which has issues, let me know, so I don't miss something 👍

[2021-07-29 11:52] MaximeDion-Work commented on #6572
[ReproAndroidAutoFocus.zip](https://github.com/unoplatform/uno/files/6900249/ReproAndroidAutoFocus.zip)

[2021-07-29 13:11] iosub opened #6586 "UWP ElevatedView does not show on Uno 3.9.1"
## Current behavior

UWP ElevatedView does not show on Uno 3.9.1

## Expected behavior

It should show

## How to reproduce it (as minimally and precisely as possible)

Create a New Uno App
Add to MainPage
`
 <toolkit:ElevatedView  Elevation="10">
                <Button>Elevated Button NOT Working on UWP</Button>
  </toolkit:ElevatedView>
`
On iOS, Wasm, Android the Button is Show it as expected

[2021-07-29 13:18] iosub commented on #6586
Sorry Already reported
https://github.com/unoplatform/uno/issues/6581

[2021-07-29 13:18] #6586 closed

[2021-07-29 15:44] jeromelaban commented on #6186
/cc @dr1rrb

[2021-07-29 18:01] jeromelaban opened #6592 "[templates] Add support for net5.0+ in the Skia.WPF project"
## What would you like to be added:

The ability to use `net5.0` or later in the `*.Skia.WPF` project from the templates.

## Why is this needed:

Use the latest C# features.

## Workaround

As of Uno 3.9, because of the current structure of WinUI support in Uno, `netX.0-windows` is not including any of the source generators, which prevents the `*.Skia.WPF` project to be upgraded from its current

[2021-07-29 19:36] #5274 closed

[2021-07-29 20:09] jeromelaban opened #6595 "[WASM] `Canvas` incorrectly clips its children"
## Current behavior

For the following XAML:
[code]

Uno 3.9 shows the following:

![image](https://user-images.githubusercontent.com/5839577/127558897-9ec3fcb1-fd3e-49e3-90f3-512ad7944cb7.png)

## Expected behavior

UWP shows the following:

![image](https://user-images.githubusercontent.com/5839577/127558930-84422da4-fb23-463b-84ef-713f49ecbd8f.png)

## How to reproduce it (as minimally and prec

[2021-07-29 20:48] #5115 closed

[2021-07-29 20:51] xperiandri opened #6596 "Uno.UI.MSAL miss non .NET 6 targets"
## Current behavior

### Compare [Uno.UI](https://www.nuget.org/packages/Uno.UI/3.9.1) target frameworks
<img src="https://user-images.githubusercontent.com/2365592/127562792-1dbc520d-0189-4f8c-b2b9-77d16a2d404a.png" alt="image" width="400" style="max-width:50%;">

### and [Uno.UI.MSAL](https://www.nuget.org/packages/Uno.UI.MSAL/3.9.1)
<img src="https://user-images.githubusercontent.com/2365592/12

[2021-07-30 01:27] #6549 closed

[2021-07-30 12:15] mikernet commented on #6284
Note this also affects checkbox checkmarks: https://playground.platform.uno/#7538a1cc

[2021-07-30 13:01] jeromelaban opened #6602 "[Wasm] ElementName in not working in CommandBar inside a NavigationView"
## Current behavior

`AppBarButton` commands when hosted in a `CommandBar` inside a `NavigationView` fails to bind on `ElementName`.

## Expected behavior

Bindings work.

## How to reproduce it (as minimally and precisely as possible)

TBD

## Workaround

## Works on UWP/WinUI

Yes

## Environment

Nuget Package:

- [x] Uno.UI / Uno.UI.WebAssembly / Uno.UI.Skia
- [ ] Uno.WinUI / Uno.WinUI.WebAsse

[2021-07-30 13:08] mikernet commented on #4868
Haha...whatever I was doing before I could swear there was a behavioral difference between UWP and Uno because I only needed the workaround code on Uno platform builds. Looking back through source control it might have actually been a UWP bug allowing multiple radio buttons in the same group to be checked if they are all disabled because you're right, it does group them together across controls.

[2021-07-30 13:08] #4868 closed

[2021-07-30 13:33] sakshi173 opened #6603 "[Gallery][Android/iOS] CalendarDatePicker-Wrong year display on Header for the selected year from the decade calendar and after that monthly and decade calendar does not work properly"
## Current behavior

https://user-images.githubusercontent.com/74563602/127659956-d4f996de-07b1-43ae-9ebb-040e00179251.mp4

## Expected behavior
The calendar should work properly.

## How to reproduce it (as minimally and precisely as possible)
Open Uno Gallery APP
Click Burger Menu on the left top right.
Click "CalendarView" from the "Component" list.
Click on Select a Date button.
Go to Monthly

[2021-07-30 13:51] #6142 closed

[2021-07-30 13:52] #6581 closed

[2021-07-30 16:37] mterwoord commented on #6569
I got the Sync exceptions working. (Just for pointer related events for now, but that at least already is an improvement).
See https://github.com/terwoord/uno/tree/bugs/6569-exception-handling-inconsistencies

How do we get from the `CoreDispatcher` back to the application? From what I gather, in `CoreDispatcher.DispatchItems`, we need to forward the exception to `Application.RaiseRecoverableUnhan

[2021-07-30 16:43] mterwoord commented on #6569
Did some more digging. Maybe we can make optional event on `CoreDispatcher` and `CoreDispatcherSynchronizationContext`, which we hook from the application (StartPartial, for example)?

[2021-07-30 18:39] duke7553 commented on #6543
@jeromelaban Potential fix submitted upstream: https://github.com/CommunityToolkit/WindowsCommunityToolkit/pull/4148

[2021-07-30 20:38] jeromelaban commented on #6569
Adding events would make it only compatible with Uno, and not WinUI, requiring conditional code. Which additional exceptions  do you see not going through `Application` ?

[2021-07-31 02:16] #6439 closed

[2021-07-31 07:19] mterwoord commented on #6569
Async stuff. For example, have a button with onclick:

[code]

The code after await will be called on main thread, using the synchronization context. In Uwp, that error is handled via `Application.UnhandledException`.

[2021-07-31 07:46] mterwoord commented on #6569
Also, see sample project, it demonstrates that Uwp does that perfectly, but the others don't.

[2021-07-31 10:04] xperiandri commented on #5249
@jeromelaban any plans about that?

[2021-07-31 10:07] MartinZikmund commented on #5249
@xperiandri unfortunately this control is not yet open source, but we can see if we could replicate it somehow.

[2021-07-31 13:08] #6553 closed

[2021-07-31 15:18] MartinZikmund commented on #6513
Update - this feature is now actually available in the native picker as well - https://wicg.github.io/file-system-access/#api-showsavefilepicker , I'm on it 👍

[2021-07-31 16:27] MartinZikmund opened #6612 "Add `SettingsIdentifier` and `SuggestedStartLocation` support for WASM native pickers"
## What would you like to be added:

Support for `SettingsIdentifier` and `SuggestedStartLocation` for WASM native pickers.

## Why is this needed:

UWP parity

## For which Platform:

- [ ] iOS
- [ ] Android
- [x] WebAssembly
- [x] WebAssembly renderers for Xamarin.Forms
- [ ] macOS
- [ ] Skia
  - [ ] WPF
  - [ ] GTK (Linux)
  - [ ] Tizen
- [ ] Windows
- [ ] Build tasks
- [ ] Solution Templates

[2021-07-31 17:20] Youssef1313 commented on #5081
Should `*` be an exception?

[2021-08-01 06:41] easy28 commented on #6577
here is my chrome console output:

Setting UNO_BOOTSTRAP_MONO_RUNTIME_MODE=Interpreter
Setting UNO_BOOTSTRAP_MONO_PROFILED_AOT=False
Setting UNO_BOOTSTRAP_LINKER_ENABLED=True
Setting UNO_BOOTSTRAP_DEBUGGER_ENABLED=True
Setting UNO_BOOTSTRAP_MONO_RUNTIME_CONFIGURATION=release

[2021-08-01 11:01] MartinZikmund commented on #3302
When this is implemented, the related Uno-specific TODO in `BackdropMaterial.cs` needs to be removed (and replaced with the original WinUI implementation)

[2021-08-01 11:10] MartinZikmund opened #6614 "Fallback support for `BackdropMaterial`"
## What would you like to be added:

Fallback support for `BackdropMaterial` from WinUI

## Why is this needed:

WinUI parity

## For which Platform:

All

[2021-08-01 11:52] queequac opened #6617 "[Android] BackButton no longer working"
After upgrading from 3.8.13 to 3.91, the back button is no longer working under Android.

## Current behavior

The event does no longer get fired.

## Expected behavior

Event fires as it did all the previous versions. ;)

## How to reproduce it (as minimally and precisely as possible)

`SystemNavigationManager.GetForCurrentView().BackRequested += OnBackRequested
`

After updating to 3.9.1, the ev

[2021-08-01 13:29] MartinZikmund commented on #6617
@queequac Can you please create some small repro so we can compare the behavior? Thanks!

[2021-08-01 13:43] queequac commented on #6617
@MartinZikmund The sample is already in the comment above. It's as easy as that. Create a new Uno multi-platform app (which results already in Uno 3.9.1 on my machine).
Add the following lines:
[code]
Start the app, press the back-button... nothing happens...
Downgrade Uno to 3.8.13, the backbutton shows the message.

The event handler is actually never called with 3.9.1. Tested with debug and rel

[2021-08-01 14:29] jeromelaban commented on #6577
Thanks. If you have `UNO_BOOTSTRAP_DEBUGGER_ENABLED` many optimizations are disabled. Make sure that you only set `MonoRuntimeDebuggerEnabled ` in `Debug` configuration.

Also, can you upgrade to a more recent bootstrapper version? The .NET team may have made some additional improvements in the runtime.

[2021-08-01 14:31] jeromelaban commented on #6581
@mergifyio backport release/stable/3.9

[2021-08-01 19:09] MartinZikmund opened #6620 "Support for `ActualTheme` and `ActualThemeChanged`"
## What would you like to be added:

Support for `ActualTheme` and `ActualThemeChanged`

## Why is this needed:

To properly respond to theme changes, used for example by `BackdropMaterial`

## For which Platform:

All

[2021-08-01 19:32] #3412 closed

[2021-08-02 00:55] #6596 closed

[2021-08-02 07:54] Youssef1313 commented on #4591
I'm not able to reproduce. @MartinZikmund Can you please check if this has been already fixed or attach a zipped repro? Thanks.

[2021-08-02 08:33] Youssef1313 commented on #4584
@MartinZikmund Sorry, just noticed you self-assigned this issue after I opened a PR.

[2021-08-02 08:43] Youssef1313 commented on #1447
@MartinZikmund Would you be able to clarify how code generation is involved here?

[2021-08-02 09:28] davidjohnoliver commented on #6569
I think you're just talking about an _internal_ event, to deal with the problem of crossing the assembly boundary between `Uno.dll` and `Uno.UI.dll`, right? The error would still be handled publicly by `Application.UnhandledException`?

If that's so, I don't think there should be a problem. It's only modifying the public contract that would be a concern.

[2021-08-02 09:32] mterwoord commented on #6569
Correct, all internal here.

[2021-08-02 09:57] Youssef1313 commented on #5984
Banned API analyzer can be used for that if the usage of `PropertyMetadata` is *mostly* always incorrect.

[2021-08-02 11:03] Youssef1313 opened #6631 "`dotnet new unolib-crossruntime` crashes"
## Current behavior

Running `dotnet new unolib-crossruntime` crashes

## Expected behavior

No crash

## How to reproduce it (as minimally and precisely as possible)

Install the templates with `dotnet new -i Uno.ProjectTemplates.Dotnet`, output shows as follows:

[code]

Then, run `dotnet new unolib-crossruntime`. It shows:

[code]

## Workaround

## Works on UWP/WinUI

## Environment

Nuget Pac

[2021-08-02 11:09] Youssef1313 commented on #5207
Possibly duplicate of https://github.com/unoplatform/uno/issues/2557

[2021-08-02 11:11] Youssef1313 commented on #4564
@jeromelaban Should using mixed-separators (e.g `1.1048446 0 0, 1.1959561, -67.035883 -96.098854`) be supported as well?

[2021-08-02 11:45] jeromelaban commented on #6631
Thanks for the report. Can you try with a `-o MyLibraryName` ?

[2021-08-02 11:56] Youssef1313 commented on #6631
@jeromelaban I get the same crash.

![image](https://user-images.githubusercontent.com/31348972/127858195-5ab05ff1-a9e9-4293-ba48-a28276ebebc7.png)

[2021-08-02 12:02] Youssef1313 commented on #6631
It feels like `#if` has special meaning for templates and isn't emitted as is. See https://github.com/dotnet/templating/blob/main/test/Microsoft.TemplateEngine.Core.UnitTests/ConditionalTests.CStyleEvaluator.cs

[2021-08-02 12:14] jeromelaban commented on #4564
@Youssef1313 only if UWP does support it as well.

[2021-08-02 12:25] #5411 closed

[2021-08-02 12:27] jeromelaban commented on #6631
Thanks! Looks like we'll need to add the validation for this template in there: https://github.com/unoplatform/uno/blob/master/build/run-template-tests-linux.ps1

[2021-08-02 13:54] #4584 closed

[2021-08-02 15:46] jeromelaban commented on #995
Why was this item reopened? Is there something missing ?

[2021-08-02 15:50] jeanplevesque commented on #995
I just spent 1h of screen sharing with @davidjohnoliver testing this. It's not working.

[2021-08-02 15:55] easy28 commented on #6577
Upgraded to 3.0.0-dev.125, still slower than 3.0.0-dev.101 about 20% .   I am comparing the "release"  build.   Above chrome console output is under "debug" build for check setting purpose.

[2021-08-02 16:02] jeromelaban commented on #6577
Thanks. Can you indicate what is slower ? Do you have any specific part of the code that has regressed ?

[2021-08-02 16:37] MartinZikmund commented on #6617
For a temporary workaround you can override `OnKeyDown` in the `MainActivity` and respond to `KeyCode` of Back button by navigating back or finishing the activity. PR with fix should be merged soon.

[2021-08-02 16:58] #6467 closed

[2021-08-02 18:31] jeromelaban commented on #6581
@mergifyio backport release/stable/3.9

[2021-08-02 19:15] robloo opened #6636 "WinUI Expander Doesn't Clip During Expand/Collapse"
## Current behavior

When the Microsoft.UI.Xaml Expander expands/collapses the animation isn't clipped to the content area. This means it appears overtop of the header.

![fassse](https://user-images.githubusercontent.com/17993847/127911708-53c4381c-a7d6-47ca-8e26-87687bb46da6.gif)

The expander code that should clip this is here. There is an error or something isn't implemented in Uno (likely com

[2021-08-02 19:20] robloo commented on #6309
@MartinZikmund How much of this was implemented? I was expecting it to work with Expander now with the 3.9.x release. However, expander still isn't animating the chevron.

https://github.com/unoplatform/uno/blob/e70c72425f5bc73cca71dee880e7a61d40b21e50/src/Uno.UI/Microsoft/UI/Xaml/Controls/Expander/Expander_themeresources.xaml#L365

![fassse](https://user-images.githubusercontent.com/17993847/1279

[2021-08-02 19:21] queequac commented on #6617
@MartinZikmund Thanks for the upcoming fix! I will simply stick to 3.8.13 in the meanwhile, since a temporary workaround is not worth to be included in my app's release version on Playstore. :)

[2021-08-02 19:25] robloo opened #6637 "Android Button Size Changed with Uno 3.9.x"
## Current behavior

Android Button size with borders seems to be incorrect now. There is an added margin. This was not an issue before the 3.9.x release so seems to be a regression.

![image](https://user-images.githubusercontent.com/17993847/127912914-aa6aff71-46cb-474e-a048-54a7022bbb79.png)

## Expected behavior

As in UWP and Uno Versions before 3.9:
![image](https://user-images.githubusercon

[2021-08-02 19:32] robloo opened #6638 "MUX DropDownButton/SplitButton/ToggleSplitButton Don't Show Chevron Glyph"
## Current behavior

The Microsoft.UI.Xaml DropDownButton, SplitButton and ToggleSplitButton don't show the down chevron glyph. ~It instead falls back to a font besides Segoe MDL2 Assets (the Uno Equivalent).~

![image](https://user-images.githubusercontent.com/17993847/127913574-e9f7516c-6e7e-488c-bc6c-fc5e99d496a4.png)

I'm not sure where this issue happens as the code seems to be correct. This

[2021-08-02 19:34] robloo commented on #4795
So this issue no longer crashes the app. However, it is impossible to light dismiss a MenuFlyoutSubItem. The menu flyout simply will not close if you click outside of the menu. The only way to close the menu once the MenuFlyoutSubItem is opened is to make a selection.

Note that this issue doesn't happen for MenuFlyoutItem which works correctly. It is only in nested menus.

[2021-08-02 19:41] robloo opened #6639 "XamlReader.Load(string) Doesn't Resolve ThemeResource"
## Current behavior

XamlReader.Load will not resolve ThemeResources inside the passed XAML string. Code such as below will not find the desired font family or font size.

[code]

## Expected behavior

ThemeResource resolution should work.

## How to reproduce it (as minimally and precisely as possible)

## Workaround

You can resolve the theme resources in C# directly using:

[code]

Then convert

[2021-08-02 19:45] robloo opened #6640 "`MenuFlyout` with many items won't open"
## Current behavior

MenuFlyout with many MenuFlyoutItems won't open. In the tested cases there are more items than can be shown on the screen.

## Expected behavior

UWP shows the flyout items outside the app window. For Uno we may need scrolling which is a modification to the control template. However, I'm not sure how Windows Mobile solved this issue.

## How to reproduce it (as minimally and p

[2021-08-02 19:53] robloo opened #6641 "ListView Inside Flyout Doesn't Display Properly or Fire the ItemClick Event"
## Current behavior

There are two issues here which are likely inter-related so they are listed together:

 1. A ListView within a Flyout will not properly display ListViewItems. ListViewItems are in some cases stacked directly on top of one another.
 2. The ItemClick event is never raised

![image](https://user-images.githubusercontent.com/17993847/127915939-e5352a36-e869-4c04-b49d-67d35fc8b342.

[2021-08-02 22:06] AbdalaMask opened #6642 "RadialGradientBrush erorr to Binding from GradientStop Color"
## Current behavior

## Expected behavior

## How to reproduce it (as minimally and precisely as possible)

## Workaround

## Works on UWP/WinUI

## Environment

Nuget Package:

- [x] Uno.UI / Uno.UI.WebAssembly / Uno.UI.Skia
- [ ] Uno.WinUI / Uno.WinUI.WebAssembly / Uno.WinUI.Skia
- [ ] Uno.SourceGenerationTasks
- [ ] Uno.UI.RemoteControl / Uno.WinUI.RemoteControl
- [ ] Other:

Nuget Package Vers

[2021-08-03 00:36] easy28 commented on #6577
Here is a quick test ,  just Create 1000 Canvases,   The average result is (omit the first two runs) :

3.0.0-dev.125   Create Canvas:0.939s
3.0.0-dev.101   Create Canvas:0.803s

Below is my test code :

<Canvas Width="300" Height="300" Background="Green" Name="cLast">
</Canvas>
<Button Name="btnTest" Content="Test" FontSize="30" Click="btnTest_Click" ></Button>

private void btnTest_Click(object

[2021-08-03 01:44] robloo opened #6644 "Windows.System.Launcher.LaunchUriAsync() Throws an Exception"
## Current behavior

The following code will crash an Android Uno App ~with a null reference exception~ after calling into the framework implementation of LaunchUriAsync(). This previously worked.

This may be related to older HTTP URLs.

[code]

## Expected behavior

No crash

## How to reproduce it (as minimally and precisely as possible)

## Workaround

## Works on UWP/WinUI

Yes

## Environmen

[2021-08-03 03:05] jeromelaban commented on #6638
Adding the missing glyph in https://github.com/unoplatform/uno.fonts is likely the way to fix this.

[2021-08-03 03:07] jeromelaban commented on #6641
Thanks for the report.

Are you able to provide a sample for this? It's not clear how the content can be overlayed this way.

[2021-08-03 03:09] jeromelaban commented on #4795
Have you tried disabling native popups? This is likely related.

[2021-08-03 03:13] jeromelaban commented on #6644
Thanks for the report.

Can you provide the stack trace of the exception?

[2021-08-03 03:14] jeromelaban commented on #6637
/cc @kazo0

[2021-08-03 03:14] jeromelaban commented on #6637
@robloo thanks for the report. Can you provide a repro XAML for this ?

[2021-08-03 03:16] jeromelaban commented on #6636
Thanks for the report. Fixing this requires to implement this without the composition API, replacing it with the `UIElement.Clip` property.

[2021-08-03 03:37] robloo commented on #6637
@jeromelaban Yes, added the XAML in the issue description.

[2021-08-03 03:40] robloo commented on #6636
@jeromelaban Ok, easy enough. I guess I wasn't sure if standard clipping was really working yet for animations like this.

If/when I get Uno building again I'll fix this one.

[2021-08-03 03:45] robloo commented on #6638
My assumption was the glyph was the same as is used in the ComboBox. However, I couldn't find the ComboBox style when I first looked (very quickly).

For my own custom controls, I use the newer 0xE70D Unicode point which Uno includes in the default symbol font. The easiest would be to switch to this newer Unicode point as nearly all chevrons are the same. That would make it a XAML-only change but

[2021-08-03 03:54] robloo commented on #6641
In XAML there is nothing special. It is all ListViewItems within a ListView defined entirely within XAML. Each ListViewItem is as below. There must be a somewhat fundamental bug in the measure/arrange passes for this to happen.

[code]

[2021-08-03 04:03] robloo commented on #6644
@jeromelaban Is this enough?

[code]

System.InvalidOperationException
  Message=The application called an interface that was marshalled for a different thread.

[2021-08-03 04:16] robloo commented on #6644
Note that the URI navigation is actually successful. The link is passed to Chrom and opened after the app crashes.

[2021-08-03 06:10] Youssef1313 opened #6646 "Have a good way to test source generators in error scenarios"
## What would you like to be added:

A way to test source generators in error scenarios

## Why is this needed:

It may be beneficial to have some test cases where the generated code is expected to have an error.

## For which Platform:

- [ ] iOS
- [ ] Android
- [ ] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms
- [ ] macOS
- [ ] Skia
  - [ ] WPF
  - [ ] GTK (Linux)
  - [ ] Tizen
- [ ]

[2021-08-03 06:12] AlcidzTV commented on #6646
Windows
On Tue, Aug 3, 2021 at 2:10 AM Youssef Victor ***@***.***>
wrote:

--
null

[2021-08-03 07:52] rettelex3515 commented on #6639
#ios <# null + there should be a bill zero and stc code

[2021-08-03 11:03] Youssef1313 opened #6647 "Enhance Visual Studio extension templates"
## What would you like to be added:

Adhere to `NetAnalyzers` rules.

## Why is this needed:

Better code-quality, less noise if a user wants to enable `NetAnalyzers`.

## For which Platform:

- [ ] iOS
- [ ] Android
- [ ] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms
- [ ] macOS
- [ ] Skia
  - [ ] WPF
  - [ ] GTK (Linux)
  - [ ] Tizen
- [ ] Windows
- [ ] Build tasks
- [x] Solution Tem

[2021-08-03 11:03] Youssef1313 commented on #6647
I'll look into this.

[2021-08-03 11:56] #6200 closed

[2021-08-03 12:16] #3171 closed

[2021-08-03 12:28] #6418 closed

[2021-08-03 12:31] robloo commented on #6639
@rettelex3515 Can you clarify? I'm not sure what your comment means.

[2021-08-03 12:38] jeromelaban commented on #6639
## Note for contributors

This feature support should be added through here: https://github.com/unoplatform/uno/blob/f56230cea1e55d5c4f723b845e835f69d8535997/src/Uno.UI/UI/Xaml/Markup/Reader/XamlObjectBuilder.cs#L450-L460

[2021-08-03 14:12] Youssef1313 commented on #5054
I think the issue happens at the following line:

https://github.com/unoplatform/uno/blob/513f1f1f8904b86355f23d6d22e08bbf44faf493/src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileGenerator.cs#L714

`sanitizedFieldName` (`Content` in this case) shadows `ContentControl.Content`. There can be different solutions to this:

- Use `base.` in generated code when accessing `Content` (or

[2021-08-03 14:14] jeromelaban commented on #5054
What does UWP do in that context ?

[2021-08-03 14:21] Youssef1313 commented on #5054
The code generation doesn't look anywhere near what UWP does. So I thought it's an implementation detail of Uno. Anything I'm misunderstanding?

Here is the generated files I found on UWP:

[code]

[code]

[2021-08-03 14:38] jeromelaban commented on #5054
So this would mean that the fact that we're using a property instead of a field is the issue?

[2021-08-03 14:38] #6617 closed

[2021-08-03 14:46] Youssef1313 commented on #5054
@jeromelaban I don't think. The problem is that the code generated in Uno in this case wants to use the generated property (doesn't matter if it's a field) and also shadowed property defined in `ContentControl`. The following is part of the Uno generated code when I renamed `Content` in XAML to `Content222` (I'm adding comments on the relevant lines):

[code]

[2021-08-03 15:08] MartinZikmund opened #6650 "Initial focus on page load opens software keyboard"
## Current behavior

Software keyboard is opened.

## Expected behavior

Software keyboard is not opened.

## Workaround

Set `IsTabStop = true` on the Page.

## Works on UWP/WinUI

Yes

## Environment

Nuget Package:

- [x] Uno.UI / Uno.UI.WebAssembly / Uno.UI.Skia
- [x] Uno.WinUI / Uno.WinUI.WebAssembly / Uno.WinUI.Skia
- [ ] Uno.SourceGenerationTasks
- [ ] Uno.UI.RemoteControl / Uno.WinUI.Remot

[2021-08-03 15:10] jeromelaban commented on #5054
Got it. So aside from using `base.` for most properties, there's not much we can do, aside from failing at compile time if we detect a shadowing.

[2021-08-03 15:24] Youssef1313 commented on #5054
@jeromelaban Does this suggest that using `base.` is the appropriate solution?

[2021-08-03 18:02] seanbeanland commented on #5701
I wanted to leave a note that, when having some performance issues with `ItemsControl` in WASM, switching to an `ItemsRepeater` also cleared up the issues completely.

[2021-08-03 18:24] jeromelaban commented on #6536
Fixed by https://github.com/unoplatform/uno/pull/6599

[2021-08-03 18:25] jeromelaban commented on #6528
Thanks for the repro. I was not able to reproduce the issue visually, the content is appearing properly. Which device are you using to run this repro ?

[2021-08-03 18:34] Youssef1313 commented on #767
Looks like this was fixed in https://github.com/unoplatform/uno/pull/6184.
@jeromelaban Should it get closed?

[2021-08-03 18:36] Youssef1313 commented on #1411
This was supposed to be fixed in https://github.com/unoplatform/uno/pull/1392.

@jeromelaban Should this get closed?

[2021-08-03 19:02] Youssef1313 commented on #1448
I'm seeing a different bad behavior locally:

![image](https://user-images.githubusercontent.com/31348972/128071411-944c7e02-453e-4b65-b9d1-a5ab9321a65d.png)

Not sure what's going on.

[2021-08-03 19:18] Youssef1313 commented on #1988
I'd suggest using Microsoft CodeAnalysis testing packages. It provides more functionality than what we have now:

- Ability to test intentional error scenarios, and seems like it also includes DocumentationMode.Diagnose by default:
    https://github.com/dotnet/roslyn-sdk/blob/c17587bec0ec9c21936e9a9bbef2693208b1b596/src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.CSharp.SourceGenerators

[2021-08-03 20:07] ajpinedam commented on #6146
@MartinZikmund  I can confirm this issue was also fixed by PR https://github.com/unoplatform/uno/pull/6645

[2021-08-03 22:19] #5081 closed

[2021-08-04 00:43] dr1rrb commented on #5638
This is actually not linked to #3592 (which seems to be fixed), but is instead a bug in the `ComboBox` which is does not handles the `PointerPressed` event, driving the parent element to capture it (fixed by https://github.com/unoplatform/uno/pull/6653).

In the repro, on UWP the `SomePointerEvent` is actually never invoked (registered only on pointer pressed on the `testGrid`). But if we register

[2021-08-04 09:13] Youssef1313 commented on #2352
I can't reproduce. @jeromelaban @MartinZikmund Was this fixed in past? or it's something wrong on my side?

[2021-08-04 09:20] MartinZikmund commented on #2352
@Youssef1313 not sure, @JanKleprlik is currently looking into text wrapping related issues on Android, maybe he will know 🙂

[2021-08-04 11:23] Youssef1313 commented on #2352
@JanKleprlik Still didn't reproduce for me 😕

![image](https://user-images.githubusercontent.com/31348972/128172579-aab0b4b2-62df-4320-af69-e763e072620d.png)

[2021-08-04 11:37] #1411 closed

[2021-08-04 11:39] jeromelaban commented on #1448
@Youssef1313 is the code generated properly for this XAML ?

[2021-08-04 11:40] jeromelaban commented on #2352
@Youssef1313 @JanKleprlik which versions of Android are testing with ?

[2021-08-04 11:42] Youssef1313 commented on #2352
Android 9.0 (API 28)

[2021-08-04 11:43] JanKleprlik commented on #2352
Hm, I am unable to reproduce it in emulator with Android version 9.0. But on a physical device with Android 6.0 the problem occurs as described in the original post.

[2021-08-04 11:44] #6146 closed

[2021-08-04 11:46] jeromelaban commented on #2352
It could be because of a missing support from Android 6.0. Does it happen with a 6.0 emulator as well ?

[2021-08-04 11:51] jeromelaban commented on #6641
Thanks. To be sure we're looking at the same issue, can you add a small repro sample that uses that code ?

[2021-08-04 11:52] #767 closed

[2021-08-04 11:53] jeromelaban commented on #5054
This is likely, though it may require many small changes. Let's try this :)

[2021-08-04 11:55] JanKleprlik commented on #2352
Yes, it does happen with the Android 6.0 emulator as well. I will try to find the API that might cause this.

[2021-08-04 11:57] jeromelaban commented on #6638
Here's the glyph used for combobox:

https://github.com/unoplatform/uno/blob/3bff3470b445c91dd2a1150a7b90d218cc7a878b/src/Uno.UI/UI/Xaml/Style/Generic/Generic.xaml#L731

It's probably already modified somehow from the original version. We'll certainly need to readjust for the new WinUI 2.6 styles in https://github.com/unoplatform/uno/pull/6374.

[2021-08-04 12:06] jeromelaban commented on #1988
Many of the generators now need some complex msbuild properties/items setup to run properly, and we'll have to emulate that behavior as well.

[2021-08-04 12:12] Youssef1313 commented on #1988
I'm not aware of how much complexity is involved, but in general setting MSBuild properties can be done as follows:

https://github.com/dotnet/roslyn-analyzers/blob/87c20b98866d61c1bbc574ec95da07babc1eb15a/src/NetAnalyzers/UnitTests/Microsoft.CodeQuality.Analyzers/QualityGuidelines/MarkMembersAsStaticTests.cs#L903-L908

[2021-08-04 12:33] dr1rrb commented on #3592
This seems to be fixed in recent versions of uno.

[2021-08-04 12:33] #3592 closed

[2021-08-04 12:35] jeromelaban commented on #2352
I would not be surprised if it were a missing feature in previous android builds: https://github.com/unoplatform/uno/blob/3bff3470b445c91dd2a1150a7b90d218cc7a878b/src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.Android.cs#L699

[2021-08-04 12:50] rob-v opened #6656 "[WASM] DataGrid RowDetailsTemplate working only 1st time for each row"
## Current behavior

In DataGrid RowDetailsTemplate is displayed for a row first time you select that row. Next time it isn't displayed.

## Expected behavior

To display RowDetailsTemplate each time a row is selected like in UWP.

## How to reproduce it (as minimally and precisely as possible)

Run Uno.Samples\UI\WCTDataTreeTabSample\WCTDataTreeTabSample\WCTDataTreeTabSample.Wasm\WCTDataTreeTabSa

[2021-08-04 12:58] jeromelaban commented on #6656
Thanks for the report! Can you try with an updated build of uno ? Preferably 3.10-dev ? This looks like a focus issue and we're made many changes around this recently.

[2021-08-04 13:06] rob-v commented on #6656
I updated all Uno.* packages to 3.10.0-dev.156. It didn't help. btw I had to comment out this App.xaml.cs 215 after update:
The type or namespace name 'MaterialColorPalette' does not exist in the namespace 'Uno.Material'

[2021-08-04 13:11] Jaiganeshkumaran opened #6657 "Can't use Uno Platform with Visual Studio for Mac"
## Current behavior
When trying to use Uno Platform and create a new project, it doesn't work and I get this error while restoring NuGet packages:
[code]

And when trying to build the Mac project, I get this:
[code]
## Expected behavior
It should build and work a file

## How to reproduce it (as minimally and precisely as possible)

Create a new solution using the cross-platform app template and t

[2021-08-04 13:15] Youssef1313 commented on #1448
@jeromelaban Here is the generated code

[code]

[2021-08-04 13:47] jsinsel opened #6658 "[WASM] TimePicker flyout does not open"
## Current behavior

Add a TimePicker control to a view.  Clicking on the control does not open the flyout.

## Expected behavior

Flyout opens as it does in UWP.

## How to reproduce it (as minimally and precisely as possible)

Attaching a sample project.
[App1.Shared.zip](https://github.com/unoplatform/uno/files/6931714/App1.Shared.zip)

## Workaround

## Works on UWP/WinUI
Yes

## Environment

[2021-08-04 13:48] jeromelaban commented on #6658
Thanks for the report! This is a duplicate of https://github.com/unoplatform/uno/issues/5553

[2021-08-04 13:48] #6658 closed

[2021-08-04 14:01] jeromelaban commented on #6657
Thanks for the report.

Unfortunately, this is a visual studio issue we have no control over. You'll need to remove the `WPF.Host` project as it fails the nuget restore process, and prevents all the other projects from building.

[2021-08-04 14:02] jeromelaban commented on #6657
## Note for contributors

A possible fix for this issue would be to use the new support for solution filters. We'll need to add that filter to the template, and update the documentation to specify this change.

[2021-08-04 15:58] AC-ACL3 commented on #6260
Update: looks like the issue is related somehow to the tabs displayed on the Homepage. Here are a few findings from our investigation:
- Issue is only reproducible when navigating from the Homepage (with the tabs on it) to the flight search and results page.
- It also seems that the number of tabs displayed on the Homepage is determining the number of flight options impacted by this issue on the f

[2021-08-04 16:01] jeromelaban commented on #6572
@MartinZikmund is this related to what you're currently looking at ?

[2021-08-04 16:18] philipe-roberge commented on #739
I am facing this issue on Android right now. Here is the code I've written that should trigger the delete animation.

[code]
The `Messages` are used in a `ListView` and everything works well on iOS and UWP, but our client is expecting the animation to work on Android as well, so this is a blocker for us.

[2021-08-04 17:27] MartinZikmund commented on #6572
It could be related, but my current changes don't fix it yet. I will look further into it

[2021-08-04 17:48] hlewin opened #6666 "Windows Wasm Bootstrap fails if user-home contains whitespaces"
In a test-project the Wasm Bootstrapper fails. The error-message seems to indicate there is a problem with whitespaces in the user-dir:
[code]

Note the `C:\Users\Heiko` - the right directory would be `C:\Users\Heiko L...`

[2021-08-04 17:56] Youssef1313 commented on #6666
@jeromelaban Should this be moved to Uno.Wasm.Bootstrap repo?

[2021-08-04 18:26] Youssef1313 commented on #4332
I can't reproduce any error here. Both 24HourClock and 12HourClock works fine for me.

[2021-08-04 21:22] jeromelaban opened #6667 "NRE in GetNextTabStopInternal"
## Current behavior

[code]

## How to reproduce it (as minimally and precisely as possible)

Latest commit of https://github.com/unoplatform/Uno.WindowsCommunityToolkit/pull/146, click on a top menu item sample.

## Workaround

## Works on UWP/WinUI

## Environment

Nuget Package:

- [ ] Uno.UI / Uno.UI.WebAssembly / Uno.UI.Skia
- [ ] Uno.WinUI / Uno.WinUI.WebAssembly / Uno.WinUI.Skia
- [ ] Uno.S

[2021-08-04 22:35] #6092 closed

[2021-08-04 23:56] robloo commented on #4455
I don't see this one anymore so am closing it. It's possible it was due to nuances with a Pivot control parent as well.

[2021-08-04 23:56] #4455 closed

[2021-08-05 00:15] robloo commented on #6638
I reproduced this issue with a brand-new, empty app so it's isn't something caused as a secondary issue. It really confuses me:

 1. Both DropDownButton and ComboBox are using the exact same Unicode point 0xE0E5 so it isn't a font issue
 1. The correct font family is specified: SymbolThemeFontFamily and I double checked spelling
 2. ComboBox is switching to a TextBlock ONLY for Android. This is su

[2021-08-05 00:20] robloo commented on #6641
I was unable to reproduce this with a simple app -- of course that is usually my luck. The area of code where it is occurring is not very simple. There are many custom controls in the visual tree and I'm not sure how to extract all the code while preserving the issue. It will take quite a long time of trial-and-error.

That said, the XAML that is actually making the list of items in a button's fly

[2021-08-05 02:07] Jaiganeshkumaran commented on #6657
That works. Can you add this note in the documentation?

[2021-08-05 02:11] jeromelaban commented on #6577
The source of this issue is https://github.com/dotnet/runtime/issues/56884. A fix will be available uno bootstrapper until an official fix can be provided by the .NET team.

[2021-08-05 03:39] dr1rrb opened #6668 "Tests of TimePicker are failing on CI"
## Current behavior
"Works on my computer"

## Expected behavior
Works also on CI

## How to reproduce it (as minimally and precisely as possible)
in `src\SamplesApp\SamplesApp.UITests\Windows_UI_Xaml_Controls\TimePickerTests\UnoSamples_Tests.TimePicker.cs` remove the `[Ignore]` attribute on the class

## More info
The tests are actually passing on CI, but they are leaving the picker flyout open,

[2021-08-05 05:42] ahmed-abdelrazek opened #6669 "separate templates for desktop and mobile for visual studio"
## What would you like to be added:
i would like for the "Uno Platform Solution Templates" for visual studio to separate the desktop stuff from the mobile stuff
i only want to use blazor and the desktop technology to build the app for windows and linux and don't need xamarin android or ios

## Why is this needed:
to save bandwidth and space by not installing unwanted visual studio workloads

## Fo

[2021-08-05 07:52] #5638 closed

[2021-08-05 08:51] Youssef1313 opened #6670 "Cleanup CI warnings"
## What would you like to be added:

Cleaning up CI warnings. There are lots of CI warnings, from the SDK, NuGet, and the compiler.

## Why is this needed:

Just a cleanup

## For which Platform:

- [ ] iOS
- [ ] Android
- [ ] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms
- [ ] macOS
- [ ] Skia
  - [ ] WPF
  - [ ] GTK (Linux)
  - [ ] Tizen
- [ ] Windows
- [ ] Build tasks
- [ ] Solution

[2021-08-05 08:51] Youssef1313 commented on #6670
I fixed very few in https://github.com/unoplatform/uno/pull/6664

[2021-08-05 09:34] davidjohnoliver commented on #739
@philipe-roberge Does setting the flag mentioned in the issue help?

Ie if you add the following to your app startup (eg ctor of `App.xaml.cs`):

[code]

do you get item animations?

[2021-08-05 11:46] MartinZikmund commented on #3302
While initial support for `ActualTheme` and `ActualThemeChanged` is added in #6655, it will need further improvements when this is implemented. Specifically consider the following scenario:

1. OS theme is set to light and App does not explicitly set `RequestedTheme`
2. On `MainPage.Loaded` a `Border` is created. Its `ActualTheme` should match application theme
3. We store the border instance in a

[2021-08-05 12:04] Youssef1313 commented on #4718
https://user-images.githubusercontent.com/31348972/128346777-1a2910ea-0a3a-4a3f-8a24-304fc81b3083.mp4

I can't reproduce. @MartinZikmund Are you still able to reproduce?

[2021-08-05 14:02] Youssef1313 commented on #4286
This was fixed in https://github.com/unoplatform/uno/pull/5591. I believe it can be closed.

[2021-08-05 14:12] #4286 closed

[2021-08-05 15:02] jeromelaban commented on #6577
Fixed in latest bootstrapper build.

[2021-08-05 15:02] #6577 closed

[2021-08-05 15:42] ajpinedam commented on #6328
Hi @BaseHead

This issue is not an actual bug but a misunderstanding on how Custom Fonts works for macOS application.

in an iOS app we use "Fonts Provided by application" entry to tell the list (this is an Array) of Custom Fonts our application will handle.

For macOS  "Applications fonts resource path" represents the Path where the fonts are located. Instead of a list (Arrays) this field represe

[2021-08-05 16:58] Youssef1313 commented on #2934
@MartinZikmund Is this fixed now?

![image](https://user-images.githubusercontent.com/31348972/128390719-475060ba-f101-46b1-9897-5ac095119fe9.png)

[2021-08-05 17:20] jeromelaban commented on #4718
@Youssef1313 thanks for trying to repro. Can you attach the repro you created for future reference ?

[2021-08-05 17:29] jeromelaban commented on #6638
@davidjohnoliver does this sound familiar ?

[2021-08-05 17:41] davidjohnoliver commented on #6638
Not really... I'm not sure what would be going wrong here.

[2021-08-05 17:47] jeromelaban commented on #6641
It can still help if you include your tentative sample app in this issue, even if it does not repro your specific case, it'll give a better idea of the context.

[2021-08-05 18:03] jeromelaban commented on #6644
Interesting that the crash is happening this way. This specific message is raised when invoking this:

https://github.com/unoplatform/uno/blob/56d3ba98ee6cab055dc8d7c4941ce4494e20e946/src/Uno.UWP/UI/Core/CoreDispatcher.cs#L66

Which means that the original source for this is somewhere else. Can try getting the actual call site for this ? (by breaking on all exceptions)

[2021-08-05 18:14] jeromelaban commented on #6569
If they're internal, then yes, it makes sense. Also note that for the `SynchronizationContext`, events raised from some controls, like `Button` for instance, depending on the platform, the `CoreDispatcher` is not involved and it becomes the platform's context for which don't have control over.

[2021-08-05 18:24] mterwoord commented on #6569
I'll start working on this, and see what I end up with. :-)

[2021-08-05 18:51] ac2021-June commented on #6260
Even after attaching .Unloaded method, the method is not getting called. This happens only on iOS devices. On Android devices, we are able to hit the .Unloaded method. Please help us as what needs to be done in this situation.

[2021-08-05 19:06] robloo commented on #6644
I now realize that this is likely crashing as the app goes into suspended state. It may have nothing to do with opening a URL other than doing so causes the app to go to the background.

I'll hopefully provide more details soon. The suspending crash is a hard one for me to understand but will likely file a separate issue for it (likely related to deferral usage).

[2021-08-05 19:20] #5792 closed

[2021-08-05 19:20] #6496 closed

[2021-08-05 21:28] ac2021-June commented on #6264
When we assign value to SourceHtml, in the previous version of AsynWebView i.e. on umbrella ()
CompletionCommandArgs arg.Uri was getting assigned some value. But now in the upgraded version of the AsynWebview, the Uri is coming as null on Android and about:blank on iOS devices. So thats the reason we are able to proceed on iOS devices, but getting an error on Android device. Please suggest as what

[2021-08-05 21:43] ac2021-June commented on #6264
Working nuget packages list in the project file:
  <PackageReference Include="Umbrella.Analytics.AppCenter">
      <Version>3.6.0</Version>
    </PackageReference>
    <PackageReference Include="Umbrella.App.Modules.AppCenter">
      <Version>3.8.2</Version>
    </PackageReference>
    <PackageReference Include="Umbrella.View">
      <Version>3.7.0</Version>
    </PackageReference>
    <PackageRef

[2021-08-06 04:06] dr1rrb commented on #6583
This is actually the expected behavior. On iOS, for performance consideration, the [`UIScrollView` defers the pointers until it has determined if “scrolling is the intent”](https://developer.apple.com/documentation/uikit/uiscrollview/1619398-delayscontenttouches).

Unfortunately we didn’t exposed that property on the `ScrollViewer` yet, but you can somehow configure it by setting a `ManipulationMo

[2021-08-06 07:14] Youssef1313 commented on #4718
[Repro4718.zip](https://github.com/unoplatform/uno/files/6943764/Repro4718.zip)

[2021-08-06 11:50] xperiandri commented on #6596
Tizen is missing. Must it be available?

[2021-08-06 11:51] xperiandri commented on #6596
@carldebilly is it supported?

[2021-08-06 11:52] xperiandri commented on #6384
The issue is no longer reproducible with Uno.UI.MSAL 3.9.7 on .NET 5

[2021-08-06 11:52] #6384 closed

[2021-08-06 11:58] xperiandri commented on #6647
Do you want some specific .editorconfig setup?

[2021-08-06 12:08] Youssef1313 commented on #6647
Nope. I just enabled all rules from NetAnalyzers and fixed what seems reasonable (the template itself won't have NetAnalyzers enabled).

[2021-08-06 12:31] jeromelaban commented on #6596
Tizen is not supported, no.

[2021-08-06 12:38] Youssef1313 commented on #5581
@MartinZikmund I've added the extra test

[2021-08-06 12:45] MartinZikmund commented on #2934
@Youssef1313 no, unfortunately not - while the template itself has an icon in the VS dialog, this issue is to track a default icon for the generated apps themselves (e.g. Android app icon, iOS app icon, etc.). I have asked @sasakrsmanovic to check whether the graphics could provide us some nice icons for this purpose 🙂

[2021-08-06 13:06] jeromelaban commented on #6264
Thanks for the update. Are you able to reproduce this using an Uno WebView directly?

[2021-08-06 13:39] Youssef1313 commented on #21
@jeromelaban @MartinZikmund Any pointers on how to start working on this? Thanks!

[2021-08-06 13:50] jeromelaban commented on #21
@Youssef1313 identifying where the RTL support is lacking would be a great start. Some of the controls do support it, either because the platform provides it by default, or because we imported code that supports it, but we're not tracking it yet.

[2021-08-06 14:01] MartinZikmund commented on #21
It should also somehow tie in with the localization infrastructure - e.g. the RTL should be enabled automatically when the current culture has `CultureInfo.TextInfo.IsRightToLeft = true`

[2021-08-06 14:10] ac2021-June commented on #6264
As we are using SourceHtml here with AsyncWebView, please guide as how we would convert this control to WebView?

<uw:AsyncWebView x:Name="ETSWebView"
                         SourceMessage="{Binding [NavigationRequest]}"
                         SourceHtml="{Binding [SourceHtml]}"
                         CompletionCommand="{Binding [NavigationCompleted]}"
                         IsClearingOnUnl

[2021-08-06 14:24] jeromelaban commented on #6264
We only provide the support from the Uno controls in this repository, and AsyncWebView is not an Uno control, so if you can reproduce it with an Uno WebView, we'll be able to help.

[2021-08-06 15:41] jeromelaban commented on #5807
This issue may have been fixed by #6618. Could you validate if this helped for your scenario ?

[2021-08-06 15:49] jeromelaban commented on #3609
Fixed in recent VS builds

[2021-08-06 15:49] #3609 closed

[2021-08-06 15:51] jeromelaban commented on #3480
Fixed in recent builds.

[2021-08-06 15:51] #3480 closed

[2021-08-06 15:53] jeromelaban commented on #3016
Fixed in recent builds

[2021-08-06 15:53] #3016 closed

[2021-08-06 16:44] ajpinedam commented on #6328
@jeromelaban I believe this issue can be marked as close.

[2021-08-06 17:01] robloo commented on #4795
I made sure to disable native popups using:

[code]

and also in the App constructor just in case:

[code]

Functionality was not changed:

![asdfasdf](https://user-images.githubusercontent.com/17993847/128546235-966d04b2-1a3e-424c-81da-550454e44ddb.gif)

[2021-08-06 17:03] BaseHead commented on #6328
probably but make sure to add to your documentation how to properly do this
in macOS as last I looked it only had an iOS example  ;-)

Goodluck!
s.

On Fri, Aug 6, 2021 at 11:45 PM Andres Pineda ***@***.***>
wrote:

--
www.baseheadinc.com

[2021-08-06 17:37] robloo commented on #6644
It was confirmed this is not an issue with launching the URL; therefore, I'm closing this issue. Apologies for misunderstanding where the real issue was happening.

The exception is occurring when SuspendingDeferral.Complete() is called. OnSuspending is run when the app goes to the background after it launches the URL. I'll open a separate issue for that as it does work on UWP.

[2021-08-06 17:37] #6644 closed

[2021-08-06 18:31] ajpinedam opened #6678 "[Docs] [macOS] Working with Custom Fonts"
## What would you like clarification on:

## Concern?
Documentation and Samples of how to properly work with Custom Fonts on the macOS Target.

## For which Platform:

- [ ] iOS
- [ ] Android
- [ ] WebAssembly
- [x] macOS
- [ ] Skia
  - [ ] WPF
  - [ ] GTK (Linux)
  - [ ] Tizen
- [ ] Windows

## Anything else we need to know?

[2021-08-06 18:35] ajpinedam commented on #6328
@BaseHead  I just opened an issue that you can use to track the progress of the documentation you suggested (https://github.com/unoplatform/uno/issues/6678).

Regards,

[2021-08-06 18:43] Youssef1313 commented on #21
I've tried setting `FlowDirection="RightToLeft"` on `TextBlock` and `StackPanel`, `Grid`, and it seems to work correctly. Are there known specific controls that doesn't support RTL?

[2021-08-06 19:11] Youssef1313 commented on #57
I've tried to reproduce this as follows:

[code]

But it works without the parenthesis. Anything I'm missing?

cc @jeromelaban @MartinZikmund

[2021-08-06 19:27] davidbuckleyni opened #6679 "Application File New will not run in VS2022 OR VS2019 same issues"
I have created a very simple application and it will not compile i created and installed all the nessary resources that the system complained about and yet I have errors saying widnows runtime does not exist windows name space cannot be found. And yes am running it on the latest fresh install of windows 10 a few weeks ago.

Repo
https://github.com/davidbuckleyni/CovidCertUnoTest

![image](https://

[2021-08-06 20:00] MaximeDion-Work opened #6680 "[ValidationView? Textbox][Android] Binding to Text of Textbox is not properly updated"
## Current behavior

We have a textblock that displays the length of text entered in a textbox wrapped inside a validation view. On android the value displayed is not properly updated, (get stuck at 1 or 3 depending on how fast you type).

![image](https://user-images.githubusercontent.com/64613932/128564549-90640e06-1c83-4a3b-91af-c4243bbf902f.png)

## Expected behavior

Any changes in the text o

[2021-08-06 20:13] jeromelaban commented on #6679
Thanks for the report.

Note that in VS 2022, the template is built for .NET 6 which is still in preview. Projects created in VS 2019 or `dotnet new` are build using stable Xamarin and similar other targets.

Can you try creating a project from either VS 2019 or [`dotnet new unoapp`](https://platform.uno/docs/articles/get-started-dotnet-new.html#uno-platform-blank-application) and let us know ?

[2021-08-06 20:15] jeromelaban commented on #21
@Youssef1313 on which platforms have you tried ? Can you post screenshots of the results as well ?

[2021-08-06 20:25] jeromelaban commented on #6680
Thanks for the report.

I cannot reproduce your issue, see this screen capture:

![6680-repro](https://user-images.githubusercontent.com/5839577/128567387-2b799691-b655-4985-bcb0-2a4cc12ad2b9.gif)

[2021-08-06 20:27] jeromelaban commented on #57
There were some improvements with this issue, the parser now reports more detailed errors.

[2021-08-06 21:09] Youssef1313 commented on #21
Oh I was trying on the UWP project. I should have tried on another platform. Will re-take a look.

[2021-08-06 21:12] #5581 closed

[2021-08-07 06:18] Youssef1313 opened #6682 "ScrollViewerViewChangedEventArgs doesn't match UWP"
## Current behavior

`IsIntermediate` has a public setter.

## Expected behavior

`IsIntermediate` shouldn't have a public setter

## How to reproduce it (as minimally and precisely as possible)

## Workaround

## Works on UWP/WinUI

## Environment

Nuget Package:

- [ ] Uno.UI / Uno.UI.WebAssembly / Uno.UI.Skia
- [ ] Uno.WinUI / Uno.WinUI.WebAssembly / Uno.WinUI.Skia
- [ ] Uno.SourceGenerationTas

[2021-08-07 12:50] Youssef1313 commented on #3777
@jeromelaban @MartinZikmund I wasn't able to reproduce this. Can you please check if this was already fixed or attach a repro? Thanks!

[2021-08-07 14:10] Youssef1313 commented on #4718
Sorry, I think it's reproducible. My bad!

[2021-08-07 16:21] Youssef1313 opened #6686 "Fix broken links"
The repository have few broken links in markdown files. I'm going to fix them soon.

[2021-08-08 10:44] DierkDroth commented on #6152
@jeromelaban where are we at on that issue? Is it still pending?

[2021-08-08 18:55] HavenDV opened #6688 "[Skia.WPF] XamlExtensions are not supported"
[code]

## Current behavior
[code]

## Expected behavior

It should work.

## How to reproduce it (as minimally and precisely as possible)
https://github.com/HavenDV/Bugs.Uno.Skia.WPF.XamlExtensionBug
[Bugs.Uno.Skia.WPF.XamlExtensionBug-main.zip](https://github.com/unoplatform/uno/files/6951315/Bugs.Uno.Skia.WPF.XamlExtensionBug-main.zip)

## Works on UWP/WinUI
Yes

## Environment

Nuget Package:

[2021-08-09 07:05] Youssef1313 commented on #6688
Looking into this.

[2021-08-09 08:19] Youssef1313 commented on #5829
Looks like a duplicate of https://github.com/unoplatform/uno/issues/6688.

[2021-08-09 08:25] Youssef1313 opened #6692 "Improve detection of controls supporting direct content"
I'm feeling this is more of a workaround. This may fail, for example, if there is a user-defined control that inherits `Span`:

[code]

Anyone knows of a more elegant way?

Would it be incorrect to remove this check entirely?

_Originally posted by @Youssef1313 in https://github.com/unoplatform/uno/pull/6672#r684079743_

[2021-08-09 08:26] Youssef1313 commented on #6692
Implementation should look at [ContentPropertyAttribute](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.markup.contentpropertyattribute?view=winrt-20348).

[2021-08-09 08:50] Youssef1313 commented on #2919
@MartinZikmund Can you attached a zipped repro please?

The source generator generated the following for me:

[code]

It's a compile-time error since return type `FontIcon` doesn't match the type of `AppBarButton.Icon` (`
Windows.UI.Xaml.Controls.IconElement`) which I assume is expected.

[2021-08-09 10:28] #6686 closed

[2021-08-09 11:07] Youssef1313 commented on #1992
@carldebilly Was this already fixed?

https://github.com/unoplatform/uno/blob/4984da284be0b245b1268d0375a85d7bc2b32408/src/Uno.UI/UI/Xaml/Shapes/Shape.wasm.cs#L94-L102

[2021-08-09 11:34] MartinZikmund commented on #2919
@Youssef1313 updated description with the actual bug issue 👍

[2021-08-09 11:37] MartinZikmund commented on #6121
Don't know by what, but fixed 😀

[2021-08-09 11:37] #6121 closed

[2021-08-09 11:40] Youssef1313 commented on #2919
Thanks. Will work on it now :)

[2021-08-09 12:08] Youssef1313 commented on #2919
Fixing in #6695. Thanks again for the clarification @MartinZikmund

[2021-08-09 12:12] jeromelaban commented on #6692
Some of the top-level type checking was based on the lack of `ContentProperty` in the first iterations of Uno. It may not be needed anymore.

[2021-08-09 12:24] jeromelaban commented on #6152
@DierkDroth none of the recent runtime fixes are addressing this issue, we'll follow up with the runtime team.

[2021-08-09 12:25] DierkDroth commented on #6152
That's odd :-( Thanks for following up @jeromelaban

[2021-08-09 13:06] jeanplevesque commented on #6680
@MaximeDion-Work Uno.UI 2.4.0 is way too old. That's probably the reason the bug isn't reproduced.

[2021-08-09 13:08] jeanplevesque commented on #6680
@MaximeDion-Work Make sure you use the latest version of the UnoAppTemplate or the Uno Visual Studio Extension to generate the base of your sample.

[2021-08-09 13:29] peternary commented on #5638
Appears resolved in latest

[2021-08-09 13:52] peternary commented on #6092
Appears fixed in latest.

[2021-08-09 14:41] dr1rrb commented on #6522
This has been fixed by https://github.com/unoplatform/uno/pull/6575

BTW I don't argue that it has to work, but as long as you have a `SwipeControl` having a nested button looks like a bad design to me: `SwipeControl` is a way to have "quick actions" on items in a list, if you mix multiple designs for the same kind of thing, it's most probably a wrong idea.

[2021-08-09 14:41] #6522 closed

[2021-08-09 14:49] jeromelaban opened #6698 "Uno.UI.MSAL fails to find Uno.UI.MSAL.targets on UWP"
## Current behavior

Building with Uno.UI.MSAL on UWP fails with `Uno.UI.MSAL.targets` missing.

## Expected behavior

No error.

## How to reproduce it (as minimally and precisely as possible)

## Workaround

## Works on UWP/WinUI

## Environment

Nuget Package:

- [ ] Uno.UI / Uno.UI.WebAssembly / Uno.UI.Skia
- [ ] Uno.WinUI / Uno.WinUI.WebAssembly / Uno.WinUI.Skia
- [ ] Uno.SourceGenerationTask

[2021-08-09 14:56] Youssef1313 commented on #5369
In case this wasn't fixed soon in Visual Studio, we could try writing a `DiagnosticSuppressor` or see if there is a way to write our own language service that provides IntelliSense errors. Not sure if any of those will be possible or work great, but just sharing my thoughts.

[2021-08-09 15:12] Youssef1313 commented on #5263
I cannot reproduce.

[2021-08-09 15:24] jeromelaban opened #6700 "Load time bound `StaticResources` are not resolved when using `x:Load` in a `DataTemplate`"
## Current behavior

[code]

The following code will not update the foreground for the `x:Load` marked control and its children.

## Expected behavior

## Workaround

Use file defined static resources, or place the content being marked `x:Load` in a `UserControl`.

## Works on UWP/WinUI
Yes

## Environment

Nuget Package:

- [ ] Uno.UI / Uno.UI.WebAssembly / Uno.UI.Skia
- [ ] Uno.WinUI / Uno.WinUI

[2021-08-09 15:59] davidjohnoliver opened #6703 "[Android] [iOS] EvenOdd fill rule is not respected in Path.Data"
## What would you like to be added:

Support for Path fill rule, as in following XAML:

[code]

On Windows and WASM, the central square of the figure will be unfilled (beige) according to even-odd filling (as specified by `F0` prefix in Data). On Android and iOS it will be filled (green).

## Why is this needed:

This was noticed in the course of fixing a related regression on WASM. When it's impl

[2021-08-09 17:29] MatFillion commented on #6522
Swipe actions are also never discoverable so there's always an alternative way to do those actions because half the people won't know you can swipe things. Odds are the alternative way is via a details page or something and not directly as a button.

[2021-08-09 17:53] Youssef1313 commented on #6052
Was it implemented in https://github.com/unoplatform/uno/commit/e6dfb039b045ddf17caa571ff06a0d6bfeb24084?

cc @carldebilly

[2021-08-09 18:00] sakshi173 commented on #5191
Still the hyperlink is not working for **official Documentation**

![Hyperlink issue](https://user-images.githubusercontent.com/74563602/128752004-8e157fc0-4c17-4a72-b179-2aadf4011e7b.png)

[2021-08-09 18:14] Youssef1313 commented on #5114
I think fixing https://github.com/unoplatform/uno/issues/1950 (being done in #6654) will also fix this issue. Can you confirm @jeromelaban ?

[2021-08-09 18:16] Youssef1313 commented on #4591
I don't know why I'm not able to reproduce, but the bug seems to indeed exist and being fixed in https://github.com/unoplatform/uno/pull/6691.

[2021-08-09 18:27] sakshi173 commented on #6070
Issue is fixed, verified for the version https://dev.azure.com/uno-platform/Uno%20Platform/_build/results?buildId=31729&view=results.

[2021-08-09 18:46] sakshi173 commented on #6073
Verified, Issue Is fixed, closing.

[2021-08-09 18:47] sakshi173 commented on #5754
Issue is fixed, closing.

[2021-08-09 18:49] sakshi173 commented on #5510
The issue is no more valid, as there is no default date should be present, due to that closing this bug.

[2021-08-09 19:01] jeanplevesque commented on #6522
Great! @dr1rrb is there a published Uno.UI version with the fix available?
(I know sometimes it takes a while before pipelines complete.)

[2021-08-09 19:44] jeromelaban commented on #6522
The fix is available in 3.10.0-dev.183 or later

[2021-08-09 19:45] Youssef1313 commented on #5029
There is a good chance this is fixed in https://github.com/unoplatform/uno/pull/6550. Will add a test and fix if it's not already.

[2021-08-09 20:03] jeromelaban commented on #5114
@Youssef1313 it may, let's retry with the sample once merged.

[2021-08-09 20:17] jeanplevesque commented on #6583
@AugustinBo Can you try David's proposition?

[2021-08-09 22:21] robloo commented on #6637
This seems like it's an issue with corner radius calculation.

![image](https://user-images.githubusercontent.com/17993847/128781667-3f04fb46-c852-4ba1-8992-ab26b71f39b4.png)

[2021-08-09 23:56] robloo commented on #6638
This affects MUX SplitButton and ToggleSplitButton as well, added to the description and title

[2021-08-10 06:18] Youssef1313 commented on #4303
@jeromelaban This was fixed in https://github.com/unoplatform/uno/pull/4400.

[2021-08-10 12:55] AugustinBo commented on #6583
It would have been a good solution but I need to be able to manipulate this Rectangle as I wish without affecting the scrollviewer. `ManipulationMode="None"` prevents any ManipulationDeltaEvents.

[2021-08-10 13:02] AugustinBo commented on #6583
A solution I found to prevent scrolls on the scrollviewer is to change its ManipulationMode as described in this page https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.scrollviewer?view=winrt-20348 in the Remark section. However this solution only works on UWP and does not work with android and iOS.

[2021-08-10 13:42] sakshi173 commented on #6277
Verified, Issue is fixed, closing

[2021-08-10 13:43] sakshi173 commented on #6217
Verified, Issue is fixed, closing

[2021-08-10 13:48] jeromelaban opened #6714 "Move UI Tests runners to `dotnet test`"
## What would you like to be added:

Move test runners to `dotnet test` to avoid thread cancellation issues in mono.

## Anything else we need to know?

This needs the changes done in https://github.com/unoplatform/uno/pull/6605 because `dotnet test` filters don't support the current iOS tests list filter conditions.

[2021-08-10 17:12] PhilippeAudet-Stratejia opened #6717 "[iOS] The commandbar doesn't handle the notch when navigating back from a page displayed in landscape."
## Current behavior
On iOS, When navigating from a page displayed in landscape mode to a page that is displayed in portrait mode, the commandbar doesn't handle the notch on the phone anymore. This bug only happens when using the back button from the commandbar. Navigating from a button in the page will not cause this issue.

## Expected behavior
When navigating from a page displayed in landscape m

[2021-08-10 17:13] sakshi173 commented on #5654
Verified the issue is fixed, Closing.

[2021-08-10 19:21] Youssef1313 commented on #5723
My observation:

The following image shows the following style:

![image](https://user-images.githubusercontent.com/31348972/128921859-f4cb7cb1-3dbf-47d0-97a3-469208e4c216.png)

[code]

I think the top and left values come from here:

https://github.com/unoplatform/uno/blob/e0b80489d13ea5d07f0fa5b22646a7946144e688/src/Uno.UI/Microsoft/UI/Xaml/Controls/Repeater/ItemsRepeater.cs#L309-L313

Not sure

[2021-08-10 21:16] ac2021-June commented on #6264
We figured out a workaround, hence closing the issue.

[2021-08-10 21:16] #6264 closed

[2021-08-11 02:42] jeromelaban commented on #5150
This test has been pretty stable for the path month or so, closing.

[2021-08-11 02:42] #5150 closed

[2021-08-11 02:47] #6560 closed

[2021-08-11 02:58] #2919 closed

[2021-08-11 03:04] #5054 closed

[2021-08-11 03:08] #4564 closed

[2021-08-11 09:35] fangeles02 commented on #3954
Hi, I've found a free font similar to Segoe UI from other forums, if you could consider it.
WeblySleek UI [http://fontpro.com/weblysleek-ui-font-9838](url)

![image](https://user-images.githubusercontent.com/26376969/129006168-c58a0046-38b2-4f10-a1c9-8466b2b943f8.png)

[2021-08-11 10:09] MartinZikmund opened #6722 "`CookieManager` cannot be used"
## Current behavior

Cannot be used, as it is not part of reference API.

## Expected behavior

Should be usable.

## How to reproduce it (as minimally and precisely as possible)

## Environment

Nuget Package:

- [x] Uno.UI / Uno.UI.WebAssembly / Uno.UI.Skia
- [x] Uno.WinUI / Uno.WinUI.WebAssembly / Uno.WinUI.Skia
- [ ] Uno.SourceGenerationTasks
- [ ] Uno.UI.RemoteControl / Uno.WinUI.RemoteContro

[2021-08-11 12:24] Youssef1313 commented on #6642
Hi @AbdalaMask 👋

I downloaded the repro project you attached, but it's not clear what the issue is. You had a few compile-time errors due to undeclared members and missing using. After I fixed that, it compiled successfully with the following appearance on Wasm:

![image](https://user-images.githubusercontent.com/31348972/129028038-fe0a1cf1-4ace-4103-aa32-f4afb8a064a8.png)

Can you please add mor

[2021-08-11 12:37] #6678 closed

[2021-08-11 12:38] #5029 closed

[2021-08-11 12:41] jeromelaban commented on #6717
I don't know if this is something that the native appbar is able to do. Do you have examples of other applications that do the same thing? Also can you past a screenshot of the issue?

[2021-08-11 12:45] #4303 closed

[2021-08-11 13:01] jeromelaban commented on #556
@davidjohnoliver did we have some update there, can changing the panel improve the situation ?

[2021-08-11 13:39] davidjohnoliver commented on #556
One thing to consider would be using the 'managed' ListView implementation for the ComboBox ItemsPanel, since it works on Android and iOS, and many of the features it lacks (grid layout, inline header/footer, grouping etc) aren't applicable to ComboBox anyway.

[2021-08-11 13:54] davidjohnoliver commented on #556
@yowl No, it should be fine. :) The approach I floated would only be used for the default ComboBox behaviour, ie when ItemsPanel is a CarouselPanel. If you're overriding the ItemsPanel then you won't be affected. (By 'grid layout' I meant the ItemsWrapGrid panel, that wasn't very clear.)

[2021-08-11 13:56] ajpinedam commented on #6328
Closing as proper documentation was added under PR# https://github.com/unoplatform/uno/pull/6708

[2021-08-11 14:32] Youssef1313 commented on #4473
The cause of this bug looks like the following:

https://github.com/unoplatform/uno/blob/0e5c530bac6f7d4964a4bda918b87748de1b8001/src/Uno.UI/UI/Xaml/Controls/BitmapIcon.cs#L73-L76

I don't understand what's the purpose of a force reload here.

[2021-08-11 15:43] jeromelaban commented on #6680
Make sure to retry with a latest build of Uno, ElementName bindings (particularly in templates) have been adjusted.

[2021-08-11 16:27] jsinsel opened #6727 "[WASM] ComboBox is setting null value for SelectedItem when DataContext is setting to null"
## Current behavior

I have a ComboBox inside a DataTemplate that uses x:Bind for ItemsSource and SelectedItem.  The DataTemplate is added to the visual tree by calling LoadContent, setting the DataContext on the root element and adding it to a parent.  When we want to unload that control for our caching mechanism, we set the DataContext on that control to null.  This is calling a set on the previ

[2021-08-11 18:00] sakshi173 commented on #5690
The issue is fixed but the new issue is started when change the day/ night theme the scrollbar gets disappear.

[2021-08-11 18:10] jeromelaban commented on #5690
@sakshi173 can you open another issue for this ? It's not the same in that case because it's related to theme changing. Thanks!

[2021-08-11 18:12] sakshi173 commented on #5690
@jeromelaban sure I do that, Thanks for the feedback.

[2021-08-11 18:14] sakshi173 commented on #5690
Closing this bug as this issue is fixed and opening another one for the Theme changing problem.

[2021-08-11 18:14] #5690 closed

[2021-08-11 18:31] robloo commented on #5992
@Xiaoy312

 1. I've noticed some regressions in sliders in newer versions of Uno, they don't seem to work at all if you derive from them new controls.
 2. Image invalidation is still an issue and WASM may still not fully support WriteableBitmap. This affects the Spectrum and Sliders both.
 3. On other platforms, such as Android, interaction with the spectrum has also regressed. It is usually not p

[2021-08-11 18:34] sakshi173 opened #6728 "[Gallery][WASM] Scrollbar disappear when changing theme"
## Current behavior

https://user-images.githubusercontent.com/74563602/129083637-377a7117-1335-4dbe-a21b-4e966a9fb69d.mp4

## Expected behavior
The Scrollbar should work properly.

## How to reproduce it (as minimally and precisely as possible)

1. Open the link https://unogallerycanary.z27.web.core.windows.net/
2. Click the Burgrer menu and check Scrollbar for NavigationViewItem selection.
3. No

[2021-08-11 18:52] robloo opened #6730 "Convert String Format in ColorPicker"
## Current behavior

The ColorPicker (and other WinUI sourced controls) currently uses strings copied verbatim from WinUI. This is a problem as discussed here https://github.com/unoplatform/uno/pull/3955#issuecomment-687243929:

https://github.com/unoplatform/uno/blob/938e88637a5b140b647eb688445eb255a4d786ef/src/Uno.UI/Microsoft/UI/Xaml/Controls/ColorPicker/Strings/en-us/Resources.resw#L216-L219

[2021-08-11 18:53] robloo commented on #6730
This one can be assigned to me. However, it will take a bit before I get to it.

@Xiaoy312  FYI

[2021-08-11 19:13] sakshi173 commented on #6229
Verified, Issue is fixed, Closing.

[2021-08-11 22:54] PhilippeAudet-Stratejia opened #6732 "[iOS][Android] Cannot change the color of the AppBarButtons on a native commandbar."
## Current behavior
Using the NativeCommandBar, the color defined in the `Foreground` Property of a BitmapIcon, nested inside an `AppBarButton`, doesn't appear on iOS and Android.

The documention mentions that only a `SolidColorBrush` is supported for the color of the button, which is what I used in the sample below.

## Expected behavior
Defining a color for an `AppBarButton`, the color should b

[2021-08-11 23:14] PhilippeAudet-Stratejia commented on #6717
Absolutely, I have updated the issue with screenshots and a video. You can see that navigating back with a button on the page (using `Frame.GoBack` doesn't cause the issue.

[2021-08-12 03:49] brendanalexdr commented on #1848
Getting this too.  Using Uno Platform

[2021-08-12 04:28] AbdalaMask commented on #6642
https://stackoverflow.com/questions/67405178/how-can-i-dynamically-change-gradientstop-color-for-radialgradientbrush-in-uwp

[2021-08-12 04:31] AbdalaMask commented on #6642
When you change colors, they don't change
does not accept change

[2021-08-12 04:37] AbdalaMask commented on #6642
<GradientStop Color="{Binding OffColor, RelativeSource={RelativeSource Mode=TemplatedParent}}" Offset="0.5"/>
not link GradientStop Color to proprty  OffColor
![image](https://user-images.githubusercontent.com/37013638/129138918-a08d48cf-7491-4747-9491-81dfccf9bfd2.png)

[2021-08-12 04:38] AbdalaMask commented on #6642
![)6X1C5EN6J{QB)2F_Z29S}D](https://user-images.githubusercontent.com/37013638/129138970-08cb9b99-179f-4f77-aff1-34295c292a15.png)

[2021-08-12 04:52] AbdalaMask commented on #6642
![A1K_R8O5(HSZT3~)PC 17N4](https://user-images.githubusercontent.com/37013638/129139976-a9977de0-a9df-426e-a378-f6a35036ee2a.png)

[2021-08-12 04:53] AbdalaMask commented on #6642
You have to look like that

[2021-08-12 06:33] Youssef1313 commented on #6730
Does it worth writing an analyzer to detect these?

[2021-08-12 08:47] Youssef1313 commented on #6642
@AbdalaMask Is your problem Uno-specific or in UWP as well?

[2021-08-12 09:48] Youssef1313 commented on #6637
The issue only occurs when the toggle button is selected

![image](https://user-images.githubusercontent.com/31348972/129176004-07269fa8-d2ec-4636-b7c4-bab3fe330e6c.png)

![image](https://user-images.githubusercontent.com/31348972/129176141-8b907fdd-58bc-4ca8-b026-b73aa26cfbfd.png)

[2021-08-12 11:42] #6722 closed

[2021-08-12 11:43] #3041 closed

[2021-08-12 11:45] jeromelaban commented on #6730
@Youssef1313 not necessarily. We don't want to change the strings, only make sure that we're converting them properly.

[2021-08-12 11:52] Youssef1313 commented on #6730
Yeah that's what I meant. The analyzer would flag calls to `string.Format` where the passed parameter contains a match to this regex: `\%(\d+)!.*?!`

[2021-08-12 12:08] jeromelaban commented on #6730
It's unlikely that such a pattern will happen statically, as the string will always come from resources strings.

[2021-08-12 12:40] jeanplevesque commented on #6732
@renecnventive Should we change the design?

[2021-08-12 12:52] jeromelaban opened #6733 "Invalid comment source generation in WCT"
## Current behavior

The compilation fails with the following errors (formatting breaks because of backquotes):

D:\a\1\s\Microsoft.Toolkit.Uwp.UI.Controls.Layout\obj\Release\xamarinmac20\g\NativeCtorsGenerator\Microsoft_Toolkit_Uwp_UI_Controls_PropertyChangeEventSource_TPropertyType__fca3e7386d803e365f0d121b8533af45.g.cs(18,52): error CS1584: XML comment has syntactically incorrect cref attribute

[2021-08-12 12:52] jeromelaban commented on #6733
@Youssef1313 Can you take a look at this one?

[2021-08-12 13:15] Youssef1313 commented on #6733
Likely a roslyn bug. Will check and open a roslyn issue, and find a workaround for it for the source generator.

[2021-08-12 13:20] jeromelaban commented on #6733
It's a new regression from a recent PR, we're likely using the metadata name instead of something XML-comment friendly.

[2021-08-12 13:23] Youssef1313 commented on #6733
I'm using DocumentationCommentId class for this. Opened https://github.com/dotnet/roslyn/issues/55572, and will manually handle generics. Or probably not bother at all and don't mention the class name in the comment?

[2021-08-12 13:26] jeromelaban commented on #6733
Right, removing the name is probably best.

[2021-08-12 13:40] oscarjaergren commented on #6560
The link in here is still broken

https://platform.uno/docs/articles/roadmap.html

[2021-08-12 13:56] davidjohnoliver commented on #6560
@oscarjaergren The changes have not yet been pushed live, it should be updated soon.

[2021-08-12 14:01] sakshi173 opened #6735 "[Gallery][Wasm/iOS/Android] Textbox, DatePicker, Combobox, PasswordBox- For Cupertino when theme change from day to Night, outline or Text does not change with theme switch.."
## Current behavior
**TextBox**
![outlined issue](https://user-images.githubusercontent.com/74563602/129207826-49fa96f1-5bdc-4bd8-a40e-cd9ff9b2564d.png)
**DatePicker**
![datepicker cupertino](https://user-images.githubusercontent.com/74563602/130116161-77498d2f-dbe6-46e6-a582-4155c4f57f05.png)
**Combobox**
![combobox cupertino](https://user-images.githubusercontent.com/74563602/130116219-47540c27-

[2021-08-12 14:05] #6667 closed

[2021-08-12 14:49] AbdalaMask commented on #6642
All
Web
Uwp
Andrid

في الخميس، ١٢ أغسطس ٢٠٢١ ١٠:٤٧ ص Youssef Victor ***@***.***>
كتب:

[2021-08-12 14:55] Youssef1313 commented on #6642
In a pure UWP app, if you get the same behavior, then Uno is behaving as expected.

[2021-08-12 14:58] AbdalaMask commented on #6642
Using wpf good

في الخميس، ١٢ أغسطس ٢٠٢١ ٤:٥٥ م Youssef Victor ***@***.***>
كتب:

[2021-08-12 15:00] AbdalaMask commented on #6642
Works well to wpf

في الخميس، ١٢ أغسطس ٢٠٢١ ٤:٥٨ م abdala Mask ***@***.***> كتب:

[2021-08-12 15:02] Youssef1313 commented on #3177
@MartinZikmund Was that implemented with #3589?

[2021-08-12 15:11] Youssef1313 commented on #6642
WPF seems unrelated here. If UWP and WPF has different behaviors, then Uno must match UWP.

[2021-08-12 17:20] peternary opened #6739 "[WASM] Using Insert to add items to ComboBox results in issues with IsSelected"
## Current behavior

In WASM, adding items to a ComboBox using the ComboBox.Items.Insert method results in IsSelected property of a combobox item being ignored in the dropdown.  ComboBox.Items.Add works correctly.

## Expected behavior

Insert and Add should have identical behavior (matching UWP) as regards item selection.

## How to reproduce it (as minimally and precisely as possible)
Open the a

[2021-08-12 17:26] #6620 closed

[2021-08-12 17:49] Youssef1313 commented on #6739
I'm not able to reproduce. Here is what I get on Wasm.

![image](https://user-images.githubusercontent.com/31348972/129244444-b7d7a7d3-22a6-4b7c-afc2-d1ec758a01ba.png)

[2021-08-12 18:50] Youssef1313 commented on #6739
Thanks for your report @peternary. I opened #6742 to fix that.

[2021-08-12 18:52] TopperDEL opened #6743 "[WCT] Loading-Control not showing on Android"
## Describe the bug
I have a Loading-Control within a Grid that is bound to a IsLoading-Property. It is shown on UWP, but not visible on Android. Something is enabled, though, as I cannot click/touch into and textbox or on any button if "IsLoading" is true. Not sure if I need any additional Styles added or of the control has problems with the AcrylicBrush on Android.

- [ ] Is this bug a regressio

[2021-08-12 18:58] jeromelaban commented on #6732
@ajpinedam do you know something about this behavior?

[2021-08-12 19:00] TopperDEL commented on #6743
Unfortunately it's also not working with the latest 7.1.0-builds.

[2021-08-12 19:14] jeromelaban opened #6744 "[Wasm][ComboBox] ScrollBar disappears on second popup opening when last item is selected"
## Current behavior

For the following XAML:

https://playgroundcanary.z19.web.core.windows.net/#56777c37

the ScrollBar for the ComboBox disapears when opening the popup a second time, when the last item is selected.

Here's a video repro:

![combobox-scrollbar-issue](https://user-images.githubusercontent.com/5839577/129255162-3c2a26e9-8842-48a9-98bc-e458497fd9db.gif)

## Workaround

## Works on

[2021-08-12 19:35] davidjohnoliver commented on #6732
for iOS this property looks worth testing: https://developer.apple.com/documentation/uikit/uibarbuttonitem/1617135-tintcolor

[2021-08-13 04:56] ajpinedam opened #6746 "[WASM][WinUI3] ScrollViewer.ViewChanging is not implemented in Uno"
## Current behavior
Using DatePicker on a WASM / unoapp-winui app throws the following exception

![image](https://user-images.githubusercontent.com/1900897/129306350-e8c76f0f-12a8-404b-914b-e187f615e85c.png)

## Expected behavior

## How to reproduce it (as minimally and precisely as possible)
Install one of the latest Uno dotnet templates (for this example I used 3.10.0-dev.305)
Create a new app

[2021-08-13 04:58] ajpinedam commented on #6052
Closing this ticket since I am unable to reproduce the specified error.

`DispatchQueue.TryEnqueue()` method  for WASM.WinUI was implemented and merged into main branch. Seeing a different error though for which I created a new issue https://github.com/unoplatform/uno/issues/6746

cc: @jeromelaban

[2021-08-13 04:58] #6052 closed

[2021-08-13 05:14] #6733 closed

[2021-08-13 06:43] Youssef1313 commented on #6746
Is that a duplicate of https://github.com/unoplatform/uno/issues/78?

[2021-08-13 09:49] #5984 closed

[2021-08-13 10:57] #6739 closed

[2021-08-13 11:44] MartinZikmund opened #6747 "[Epic] WinUI 2.6"
Tracking support for WinUI 2.6 and related.

**Required**

- [x] Linker support to allow removing unused styles (V1 vs V2)
- [x] #6748
- [x] #6749
- [x] #6750
- [x] #6751
- [x] #5734  (discussion #6493)
- [x] #6614
- [ ] #7021
- [x] Verify the new control styles on all targets
   - `MonochromaticOverlayPresenter` workaround

**Nice to have**

- [ ] Support for `BreadcrumbBar` (#6344)
- [ ] Support

[2021-08-13 12:17] MartinZikmund opened #6748 "Support for `LinearGradientBrush` on borders on Android"
## What would you like to be added:
Support for LinearGradientBrush on borders on Android
## Why is this needed:

## For which Platform:

- [ ] iOS
- [x] Android
- [ ] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms
- [ ] macOS
- [ ] Skia
  - [ ] WPF
  - [ ] GTK (Linux)
  - [ ] Tizen
- [ ] Windows
- [ ] Build tasks
- [ ] Solution Templates

## Anything else we need to know?

[2021-08-13 12:17] MartinZikmund opened #6749 "Support for `LinearGradientBrush` on borders on iOS"
## What would you like to be added:
Support for LinearGradientBrush on borders on iOS
## Why is this needed:

## For which Platform:

- [x] iOS
- [ ] Android
- [ ] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms
- [ ] macOS
- [ ] Skia
  - [ ] WPF
  - [ ] GTK (Linux)
  - [ ] Tizen
- [ ] Windows
- [ ] Build tasks
- [ ] Solution Templates

## Anything else we need to know?

[2021-08-13 12:17] MartinZikmund opened #6750 "Support for `LinearGradientBrush` on borders on macOS"
## What would you like to be added:
Support for LinearGradientBrush on borders on macOS
## Why is this needed:

## For which Platform:

- [ ] iOS
- [ ] Android
- [ ] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms
- [x] macOS
- [ ] Skia
  - [ ] WPF
  - [ ] GTK (Linux)
  - [ ] Tizen
- [ ] Windows
- [ ] Build tasks
- [ ] Solution Templates

## Anything else we need to know?

[2021-08-13 12:17] MartinZikmund opened #6751 "Support for `LinearGradientBrush` on borders on WASM"
## What would you like to be added:

Support for LinearGradientBrush on borders on WASM

## Why is this needed:

WinUI 2.6

## For which Platform:

- [ ] iOS
- [ ] Android
- [x] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms
- [ ] macOS
- [ ] Skia
  - [ ] WPF
  - [ ] GTK (Linux)
  - [ ] Tizen
- [ ] Windows
- [ ] Build tasks
- [ ] Solution Templates

## Anything else we need to know?

CS

[2021-08-13 12:32] jeromelaban opened #6752 "[Android] DisplayInformation should cache its native DisplayMetrics"
## Current behavior

Using any member of `DisplayInformation` is slow because it creates a releases a `DisplayMetrics` native type on every call. DisplayInformation is used during Grid measure and UIElement.GetScaleFactorForLayoutRounding, making it particularly impactful for general measure performance.

## Expected behavior

The `DisplayInformation` class should cache `DisplayMetrics` and update

[2021-08-13 12:46] jeromelaban opened #6754 "[Perf][Android] VirtualizingPanelLayout measures and layouts all children even when not requested"
## Current behavior

Given a ListView with a large list of databound items, with property changed bindings inside the items, when an individual item invalidates its content (say a TextBlock), then all the items of the `ListView` are going to be re-measured and re-layouted unconditionally.

This is likely caused by this block:
https://github.com/unoplatform/uno/blob/3d38fb65885111b3bdf1d52a92958c44

[2021-08-13 12:49] Youssef1313 commented on #3777
Pinging @jeromelaban

[2021-08-13 13:00] Youssef1313 commented on #3463
I cannot reproduce with the attached repro after upgrading all packages for solution.

The code is generated properly:

![image](https://user-images.githubusercontent.com/31348972/129360729-079564b3-4dc4-4f44-8612-4f03c73e66cb.png)

This is likely a duplciate of #3261 which was fixed as @MartinZikmund in https://github.com/unoplatform/uno/issues/3261#issuecomment-852941591.

[2021-08-13 13:52] philipe-roberge commented on #739
Yes, this did enable the animations for us. Was wondering if there was a reason this flag would be set to true by default?

[2021-08-13 14:57] davidjohnoliver commented on #995
This is still pending on #6725 and #6756

[2021-08-13 15:08] davidjohnoliver opened #6758 "Inheriting from UIView and implementing DependencyObject fails"
## How to reproduce it (as minimally and precisely as possible)

[code]

## Current behavior

Compilation fails with:

## Expected behavior

Compiles

## Workaround

## Works on UWP/WinUI

## Environment

Nuget Package:

- [ ] Uno.UI / Uno.UI.WebAssembly / Uno.UI.Skia
- [ ] Uno.WinUI / Uno.WinUI.WebAssembly / Uno.WinUI.Skia
- [ ] Uno.SourceGenerationTasks
- [ ] Uno.UI.RemoteControl / Uno.WinUI.Rem

[2021-08-13 15:30] jeromelaban commented on #6758
## Note for contributors

We don't want developers from `UIView`-inheriting classes to implement `DependencyObject` through the generators. `UIView` instances need special care with regards to children and dispose management, which are better handled through `FrameworkElement`.

We should modify the `DependencyObject` generator to fail on generation if a `UIView`/`ViewGroup` tries to implement `De

[2021-08-13 15:38] davidjohnoliver commented on #739
It was disabled as a workaround for a crash that was occurring under particular circumstances: https://github.com/unoplatform/uno/pull/702

@Xiaoy312 may have more details.

[2021-08-13 16:09] Youssef1313 commented on #6758
@jeromelaban Does this suggest that the error should be changed to be more clear?

[2021-08-13 16:11] #6614 closed

[2021-08-13 16:11] jeromelaban commented on #6758
yes, the current error is a type not being accessible, but we need to be more clear about the original error.

[2021-08-13 16:11] Youssef1313 commented on #6758
Thanks. Will work on that.

[2021-08-13 16:59] jeromelaban commented on #3777
The original repro was along those lines:

[code]

But it looks like we've fixed it somehow. Let's close it then.

[2021-08-13 16:59] #3777 closed

[2021-08-13 17:41] sakshi173 opened #6761 "[Gallery][iOS] Material and Fluent Palette-The text is invisible for some option of "Material and Fluent Palette" after changing theme."
## Current behavior
![material palette](https://user-images.githubusercontent.com/74563602/129396684-8c4854b9-097f-48ba-9162-2edcb5fd9ad1.png)
![fluent palette](https://user-images.githubusercontent.com/74563602/129396698-cbc9f6c6-edfc-4861-917f-292110db2c44.png)

## Expected behavior
The Text should display properly while changing theme.

## How to reproduce it (as minimally and precisely as poss

[2021-08-13 18:54] #6743 closed

[2021-08-13 20:25] sakshi173 opened #6763 "Gallery[iOS] Navigationview for Features is not displaying properly while scroll up and down."
## Current behavior

https://user-images.githubusercontent.com/74563602/129414671-b900ba7a-870e-4c28-b91e-d4aaf246db1f.MOV

## Expected behavior
The Navigation view work properly.

## How to reproduce it (as minimally and precisely as possible)

1. Open the link https://unogallerycanary.z27.web.core.windows.net/
2. Click the Burgrer menu and go to "Feature" section
3. Click on the Up arrow sign on

[2021-08-13 20:30] xperiandri commented on #6384
@jeromelaban I've figured out the root cause
`<PackageReference Include="Uno.Microsoft.Xaml.Behaviors.Uwp.Managed" Version="2.0.2-uno.*" />` - crashes
`<PackageReference Include="Uno.Microsoft.Xaml.Behaviors.Uwp.Managed" Version="2.0.3-uno.*" />` - works

[2021-08-13 20:38] sakshi173 opened #6764 "[Gallery][iOS] Combobox-Material and Cupertino- when theme change, comboBox is not displaying correctly."
## Current behavior

![combobox issue](https://user-images.githubusercontent.com/74563602/129415754-853134f4-5448-4c3f-8731-405c3f7f0bf7.png)
![combobox material](https://user-images.githubusercontent.com/74563602/133641778-64d42810-0e94-4d22-8728-f5123d793077.png)
![combobox cupertino](https://user-images.githubusercontent.com/74563602/133641793-4f08622e-392a-40b8-b3be-b479f2c32dd8.png)

## Expec

[2021-08-13 20:46] yowl opened #6765 "WinUI Material crashes app when applied to NavigationView"
## Current behavior

With the unoapp-winui template.  Add  Uno.Material.WinUI package and add the resource dictionaries.  Add a NavigationView to MainPage.xaml:
[code]
Run app - it throws an exception (Xaml Parse  failed) and crashes

## Expected behavior

NavigationView displays with Material theme

## How to reproduce it (as minimally and precisely as possible)
As per Current Behaviour

## Worka

[2021-08-13 21:00] #5385 closed

[2021-08-13 21:00] #6186 closed

[2021-08-13 21:00] #6583 closed

[2021-08-13 23:33] Xiaoy312 commented on #5992
![20210813 wasm color picker](https://user-images.githubusercontent.com/2359550/129427068-ecc1fe00-311f-4259-adce-1b8dc9ead090.gif)

[2021-08-14 01:28] robloo commented on #5992
@Xiaoy312 Awesome!

Note that there is a bug in the gradient (you might have fixed that already in the PR as you were adjusting code in that area). However, that is the same bug that existed in iOS.

https://github.com/unoplatform/uno/pull/3955#issuecomment-699069631

[2021-08-14 07:19] Jaiganeshkumaran opened #6767 "Uno Platform doesn't follow accent colour on macOS"
## Current behavior
On macOS, SystemAccentColor is set to the hard-coded value - blue instead of using the user's accent colour selected in System Preferences.

## Expected behavior
SystemAccentColor should be set to the user's accent colour by default.

<img width="1741" alt="Screenshot 2021-08-14 at 12 48 12" src="https://user-images.githubusercontent.com/45227503/129438530-bed717dd-d231-47d0-bf

[2021-08-14 11:58] Youssef1313 commented on #6751
I'm taking a look at this.

[2021-08-14 14:29] mterwoord opened #6834 "`ColorPicker` not working"
## Describe the bug
I'm trying to use the toolkit's ColorPicker. On some platforms it works partially, but on some, not at all.

## Steps to Reproduce

- [ ] Can this be reproduced in the Sample App?

Steps to reproduce the behavior:
1. Use following xaml:

[code]
## Expected behavior
![image](https://user-images.githubusercontent.com/114143/129449525-0077bb7e-1ef5-4657-b854-db87cbffb5d9.png)

##

[2021-08-14 17:15] robloo opened #6771 "ColorPicker: Update to Support Orientation Property"
## What would you like to be added:

Upstream WinUI is working on adding an Orientation property to the ColorPicker. This needs to be ported over to Uno when complete.

 * Spec: https://github.com/microsoft/microsoft-ui-xaml/pull/5453/files
 * PR : https://github.com/microsoft/microsoft-ui-xaml/pull/5602

## Why is this needed:

Sync with upstream WinUI source.

## For which Platform:

- [ ] iOS
-

[2021-08-14 19:43] Youssef1313 commented on #6657
@jeromelaban Would it be easier to have some `PropertyGroup`s and `ItemGroup`s in the csproj based on OS condition (ie `'$(OS)'=='Windows_NT'`)? I don't have a Mac to be able to test. But I think this provides a more consistent building approach and developer experience for both Windows and Mac. What do you think?

[2021-08-15 00:45] yowl opened #6773 "Winui iPhone head crashes on startup using NavigationView ... sometimes"
## Current behavior

When starting the iphone head in the simulator it crashes with
[code]
and this stack:

[code]

## Expected behavior

It doesn't crash.

## How to reproduce it (as minimally and precisely as possible)

I'm still trying to get a repo as starting from the template, it works ok.   Culture in working and non working on the current thread is en-US.

## Workaround

## Works on UWP/Wi

[2021-08-15 05:33] Youssef1313 commented on #4893
@jeromelaban @MartinZikmund Was this fixed in #6118?

[2021-08-15 05:40] Youssef1313 commented on #5893
Looks like it's now implemented with https://github.com/unoplatform/uno/pull/5237/files#diff-25a01b26e1efd8cc1cee15bdfaad01d041a59fd807e03467780df92da8076bbeR27-R30.

[2021-08-15 06:06] pkar70 commented on #5893
Yes, SettingsIdentifier for Android is already implemented - this Issue was created just before I extracted SettingsIdentifier from my old FileOpenPicker PR #2896,
SuggestedStartLocation is harder to implement now, as Android changed API.

[2021-08-15 06:08] Youssef1313 commented on #5989
This doesn't seem specific to `TargetNullValue`. The following code works only on UWP:

[code]

It doesn't generate any compilation error. But the generated code just does `new ImageSource()` without setting an actual image.

[2021-08-15 06:11] Youssef1313 commented on #5893
@pkar70 I thought both are now implemented?

[2021-08-15 06:44] pkar70 commented on #5893
It is only marked as implemented. Android code doesn't use this value at all.
Code in #2896 implements `SuggestedStartLocation`, by using `Android.OS.Environment.GetExternalStoragePublicDirectory`. But `This method was deprecated in API level 29`, and (worse) newer Android claims that apps can have only own files, not files shared with other apps. Probably some SuggestedStartLocation can work, but

[2021-08-15 10:38] Youssef1313 commented on #4686
Taking a look at this one.

[2021-08-15 17:15] Youssef1313 commented on #6751
From https://css-tricks.com/almanac/properties/b/border-image/:

I couldn't find a workaround to support border radius for LinearGradientBrush

[2021-08-15 17:40] AbdalaMask commented on #6642
fix erorr
` RadialGradientBrush brush1 = new RadialGradientBrush()
                {
                    RadiusX = 0.67,
                    RadiusY = 0.67,
                    GradientOrigin = new Windows.Foundation.Point(0.6, 0.35),
                    Center = new Windows.Foundation.Point(0.6, 0.35),

                };
                brush1.GradientStops.Add(new GradientStop { Color = (Color)

[2021-08-15 17:41] #6642 closed

[2021-08-16 06:33] MartinZikmund commented on #6773
This is very odd. The line this fails on is trying to lowercase `ResourceLoader.DefaultLanguage`, which should always be non-null, as it is set as part of `InitializeComponent()` of the application. Do you have some specific code in the `App` constructor?

[2021-08-16 06:34] MartinZikmund commented on #6773
Also - please try to add `Debug.WriteLine(ResourceLoader.DefaultLanguage)` at the beginning of `OnLaunched` method, just to check what is its value when the app crashes.

[2021-08-16 06:40] MartinZikmund commented on #5082
Closing in favor of #6747

[2021-08-16 06:40] #5082 closed

[2021-08-16 07:27] MartinZikmund opened #6780 "Uno does not properly handle screen resolution on Android"
## Current behavior

When screen resolution is increased in Android settings, Uno app's content becomes more crowded and smaller, while other apps remain unchanged.

## Expected behavior

The app should render at higher fidelity, but the effective sizing should remain unchanged.

## How to reproduce it (as minimally and precisely as possible)

## Workaround

## Works on UWP/WinUI

## Environment

[2021-08-16 09:14] Youssef1313 commented on #6256
@MartinZikmund Is this something that going to be fixed with your rewrite and removal of mixins?

[2021-08-16 09:28] MartinZikmund commented on #6780
The problem is most likely that `ViewHelper.Android.cs` does not update its `_cachedDensity` and `_cachedScaledXDpi` when configuration changes. Updating it however does not immediately fix the problem - for example in Samples app there remains a lot of weird glitches - font size does not change, some lines remain wrong size, etc.

[2021-08-16 13:43] Mohsens22 opened #6781 "Globalization not working"
## Current behavior

When using `Windows.Globalization.ApplicationLanguages.PrimaryLanguageOverride = "fa";`  in Uno Platform's application code, the UWP head works fine, but others won't even work.
Also intelisense gives a warning:

![Screenshot 2021-08-16 180733](https://user-images.githubusercontent.com/22152065/129572615-c9bbc8a4-f4d9-472f-abb9-a135c5a1df29.jpg)

## Expected behavior

I expect

[2021-08-16 13:54] MartinZikmund commented on #6780
Here is the additional info for the scaling issue. By default I use FHD+ (2316 x 1080) on my phone. When I launch the Samples app, it looks as follows:

![image](https://user-images.githubusercontent.com/1075116/129574736-f64e6a2f-463f-49bb-94a5-3ab16539bc6a.png)

When I now go to Settings and bump the resolution to WQHD+ (3088x1440), and return to the app, everything is now scaled incorrectly:

!

[2021-08-16 14:02] carldebilly opened #6782 "[WASM] Fillrule not applied properly when there's geometries in a <Path />"
(more details to come from internal issue)

## Current behavior

## Expected behavior

## How to reproduce it (as minimally and precisely as possible)

## Workaround

## Works on UWP/WinUI

## Environment

Nuget Package:

- [ ] Uno.UI / Uno.UI.WebAssembly / Uno.UI.Skia
- [ ] Uno.WinUI / Uno.WinUI.WebAssembly / Uno.WinUI.Skia
- [ ] Uno.SourceGenerationTasks
- [ ] Uno.UI.RemoteControl / Uno.WinUI.Re

[2021-08-16 14:09] Mohsens22 opened #6783 "[SKIA] RTL Language support on WPF SKIA (Persian, Arabic etc.)"
## Current behavior and Expected behavior

In UWP when we type something in an RTL language, it shows as expected, with correct typing and flow direction and everything. But in SKIA head it does not render the text as expected. It doesn't follow the correct flow direction and it renders characters discreetly and not in a correct form. Please investigate the issue and fix it.

![Screenshot 2021-08-

[2021-08-16 14:36] jeanplevesque commented on #6522
The fix works, thanks! :)

[2021-08-16 14:55] Youssef1313 commented on #6783
I'm looking into this.

[2021-08-16 15:25] jeanplevesque commented on #6522
@jeromelaban @dr1rrb I just realized that ListViews containing SwipeControls don't scroll following the update. Is there something else I need to do? (I'm on 3.10.0-dev.376)

[2021-08-16 17:32] dr1rrb commented on #6522
@jeanplevesque did you tried with the version just before (i.e. 3.10.0-dev.366), version 376 contains [some other manipulations fixes](https://github.com/unoplatform/uno/pull/6725) which might have an impact here.

[2021-08-16 17:34] #6136 closed

[2021-08-16 17:50] jeanplevesque commented on #6522
@dr1rrb The `ListView` containing `SwipeControls` properly scrolls on version 3.10.0-dev.**366** on both iOS and Android.
Thanks for that! I'll use that version for now.

[2021-08-16 18:49] carldebilly commented on #6637
This bug has been introduced in PR #6367:

- Present in Uno.UI `3.9.0-dev.163` -- PR #6367 @MartinZikmund
- Not present in Uno.UI `3.9.0-dev.149` -- PR #6128
  Note: _this package has NOT been published on nuget.org but can be downloaded directly from the CI server_

[2021-08-16 19:31] robloo commented on #6637
The second example I gave with the zoom buttons are RepeatButtons and none are selected. It appears to be the same issue but selection doesn't apply.

[2021-08-16 19:34] yowl commented on #6773
This is a pre WinUI project that I am attempting to convert to WinUI.  I dont believe I have anything special in the App constructor:
[code]

Good guess on the `ResourceLoader.DefaultLanguage`.  I added :
[code]
And it prints
[code]

[2021-08-16 19:38] yowl commented on #6773
The complete generated code for App is below, it does set the DefaultLanguage so something must be nulling it I guess.

[code]

[2021-08-16 19:40] carldebilly commented on #6781
I just cloned you solution and tested it on both Visual Studio 2019 16.11 Preview2 and Visual Studio 2022 Preview 1 and on both I'm not getting any Uno0001 errors and the applications changes dynamically at runtime for all 3 configured languages (exception the unsupported RTL, obviously).

![Bug 6781](https://user-images.githubusercontent.com/4174207/129620205-fd3f1cd1-d31c-4da1-bf0d-603bce1f860b.

[2021-08-16 19:46] yowl commented on #6773
Ok, sorry, in attempting to follow the migration steps, I've misread the diff from https://platform.uno/docs/articles/updating-to-winui3.html and  deleted the call to InitializeComponent.  Oops.

[2021-08-16 19:46] #6773 closed

[2021-08-16 20:02] Youssef1313 commented on #6748
@MartinZikmund Can you elaborate on what's missing here?

![image](https://user-images.githubusercontent.com/31348972/129622727-5669f910-8e56-47b7-a9fe-659e279bda66.png)

[2021-08-16 20:03] MartinZikmund commented on #6748
I'm already working on this one, the current implementation does not work with `RenderTransform`

[2021-08-16 20:11] MartinZikmund commented on #6773
Happens 🙂! Happy it works now

[2021-08-16 20:26] Youssef1313 commented on #6490
@MartinZikmund I can't reproduce this on emulator using Samples App:

![image](https://user-images.githubusercontent.com/31348972/129625177-9dce0783-9bbc-48a2-a6f1-0a950025e6b2.png)

![image](https://user-images.githubusercontent.com/31348972/129625206-b39af98a-5dde-4c0f-ba4b-c6b34d267655.png)

(Emulator running Android 9 (API 28))

[2021-08-16 20:31] MartinZikmund commented on #6490
@Youssef1313 It happens only on high density devices (most visible on device itself)

[2021-08-16 21:32] yowl commented on #6765
https://github.com/unoplatform/Uno.Themes/blob/f4a683b2776fee457b977113dbc7c75077f855e5/src/library/Uno.Material/Uno.Material.csproj#L49-L59 could be related.  ProgressRing also fails with the same message.

[2021-08-17 06:17] Youssef1313 commented on #3648
The code seems to unconditionally set layout parameters to wrap content:

https://github.com/unoplatform/uno/blob/ee021917bc51f5c5b243389166386efc836875a7/src/Uno.UI/UI/Xaml/Controls/TextBox/TextBoxView.Android.cs#L59-L63

Surprised that this doesn't work 😕

[2021-08-17 09:15] Mohsens22 commented on #6781
![image](https://user-images.githubusercontent.com/22152065/129698580-897b4fba-4336-4357-9842-ca70da636f10.png)
That's highly unusual because I get blank screen while testing in two different machines!

[2021-08-17 09:43] #5767 closed

[2021-08-17 09:43] #6396 closed

[2021-08-17 13:00] mmarinchenko commented on #4319
@jeromelaban, do you have plans to support .NET Framework targets for WPF head? I tried TextBox on `net472` (supposed to be [fully compatible](https://docs.microsoft.com/en-us/dotnet/standard/net-standard#net-implementation-support) with `netstandard2.0`) and found that key input doesn't work (it works on `netcoreapp3.1`, though).

.NET Core runtimes is still not a part of typical Windows installa

[2021-08-17 16:13] sasakrsmanovic commented on #473
Hello @abrull . I heard from your team that this issue may no longer be needed. Could you please confirm, and if so, close the issue please. Thanks in advance.

[2021-08-17 16:13] sasakrsmanovic commented on #1313
Hello @abrull . I heard from your team that this issue may no longer be needed. Could you please confirm, and if so, close the issue please. Thanks in advance.

[2021-08-17 18:54] Youssef1313 commented on #5487
@MartinZikmund I can see the same behavior on UWP. So probably this is okay?

[2021-08-17 20:24] Xiaoy312 commented on #739
The original crash was pretty elusive, I am having trouble reproducing it now.

We can restore flag for now, and see if the problem resurges somehow. It should be a safe bet.
If it comes back, we will have a repro and existing workaround. If not that will be perfect.

[2021-08-17 21:05] LeftTwixWand commented on #4319
@mmarinchenko I think, that is no sense, to do it.
Due to this article: [.NET Framework 4.5.2, 4.6, 4.6.1 will reach End of Support on April 26, 2022](https://devblogs.microsoft.com/dotnet/net-framework-4-5-2-4-6-4-6-1-will-reach-end-of-support-on-april-26-2022/), most of .NET Framework versions will be dead less, than in one year. Release of .NET Framework 4.8 also was the latest release of .NET

[2021-08-17 21:10] Youssef1313 commented on #5147
Possibly related issue: https://github.com/unoplatform/uno/issues/4686,

[2021-08-17 21:24] Youssef1313 commented on #5126
Removing `overflow: hidden` make this case matches UWP. But it seems `overflow: hidden` is required (see https://github.com/unoplatform/uno/pull/4283)

[2021-08-18 01:18] MarkBrainfire opened #6797 "CS1061 'MainPage' does not contain a definition for 'InitializeComponent' (like closed issue #4867)"
After setting up the minimal "Hello, world" project from the "dotnet new unoapp-winui" CLI template (which was then reduced to only WinUI, Wasm, and Droid), the MainPage.xaml.cs file flags error CS1061 (repeated as 4 identical errors for the same line?) which says:

_'MainPage' does not contain a definition for 'InitializeComponent' and no accessible extension method 'InitializeComponent' acceptin

[2021-08-18 03:52] abrull commented on #473
@sasakrsmanovic hey! We found a way to work around this issue for now. I'm not saying that I wouldn't like to see this feature added but it's not blocking our project for now. Do you want me to close it or should I leave it open so it gets addressed in the future?

[2021-08-18 03:54] abrull commented on #1313
@sasakrsmanovic This issue is no longer blocking us. I'm not saying that the issue resolved. Should I leave it open so it gets addressed in the future?

[2021-08-18 06:35] mterwoord commented on #4319
I hope .NET (core) won't be part of default Windows installation. I can't find the source of it but I read somewhere by MS that's what was the main cause of the standstill of .NET framework. It being part of the OS means very strict rules for compatibility, whereas with .NET (core), they said there will be incompatible changes allowed between LTS and GA releases (ie, going from 6.0 to 7.0 could me

[2021-08-18 06:53] qq407479752 opened #6798 "Please help me with the problems encountered in developing desktop programs"
## Please help me with the problems encountered in developing desktop programs
1：How to fix the width and height of the startup form？
2：How to disable window maximization？

Nuget Package Version(s):

Affected platform(s):
- [ ] macOS
- [X ] Skia
  - [ ] WPF
  - [ X] GTK (Linux)
  - [ ] Tizen

IDE:
-  Visual Studio 2019 (version: )
-  Visual Studio for Mac (version: )

## Anything else we need to k

[2021-08-18 07:27] mmarinchenko commented on #4319
@LeftTwixWand, I'm not sure that I got it right... If I understand correctly the main reason why WPF is supported by UNO is Windows 7. So there are my points.

1. Both Win32 and UWP applications for Windows 10+ can be developed using WinUI3/WinAppSDK. So WPF support is not required for current (officially supported) platforms in UNO.

2. The end-of-support logic cannot be applied here because I'm

[2021-08-18 08:08] LeftTwixWand commented on #4319
@mmarinchenko I'm perfectly understanding you about users on the Windows 7.
We also have about 9% of users on this OS. And it's sad(

[2021-08-18 09:54] #995 closed

[2021-08-18 11:19] MartinZikmund opened #6799 "WASM `CornerRadius` has different sizing than WinUI"
## Current behavior

WASM `CornerRadius` has different sizing than WinUI

WinUI on the left, Uno WASM on the right.

![image](https://user-images.githubusercontent.com/1075116/129889231-b3baf728-e751-4c97-ae79-709605ea1535.png)

`Rectangle.RadiusX` and `RadiusY` works properly:

![image](https://user-images.githubusercontent.com/1075116/129889425-58f9f8bf-4c45-477b-b0ad-800492bca235.png)

## Expec

[2021-08-18 11:53] Youssef1313 commented on #2172
Indeed this reproduces on old versions of Android. I could reproduce on Android 5 but not Android 9. Most likely things go wrong here:

https://github.com/unoplatform/uno/blob/f5de894460964aab3619beebb840ea5cc7d18b31/src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlock.Android.cs#L699-L724

[2021-08-18 12:54] Youssef1313 commented on #2172
As a workaround, you can specify `TextWrapping="Wrap"`.

[2021-08-18 12:55] mmarinchenko commented on #4319
@mterwoord I guess the original source is this blog post:

https://devblogs.microsoft.com/dotnet/update-on-net-core-3-0-and-net-framework-4-8/

[2021-08-18 12:57] mterwoord commented on #4319
If size is of concern, I'd suggest having a look at single file deployment, and linking. Both should be possible with .net 5, and also I think Uno project is also working on getting this working..

[2021-08-18 14:25] Youssef1313 commented on #2157
@MartinZikmund Should this get closed based on @sakshi173 comment?

[2021-08-18 15:59] #2157 closed

[2021-08-18 17:05] #6752 closed

[2021-08-18 17:27] Youssef1313 commented on #1800
I can't reproduce this. Probably it was fixed? @carldebilly @MartinZikmund Can you confirm and close, or if it's still reproducible please provide more information.

[2021-08-18 17:41] MartinZikmund commented on #1800
@Youssef1313 have you tested Android? I can check iOS later

[2021-08-18 18:05] Youssef1313 commented on #1800
Yeah I tested Android and seems to work. My best guess is that it was fixed in https://github.com/unoplatform/uno/commit/1b5b8c6a225aa5f5ab315ae00f1a0683a151c454

Specifically this line: https://github.com/unoplatform/uno/blame/26cdaeb7cf49d06d792f5cd3dbab3d9120295585/src/Uno.UI/UI/Xaml/FrameworkElement.cs#L654

[2021-08-18 18:23] sakshi173 opened #6801 "[Calculator][Wasm][Chrome]Calculator is displaying overlapped when changing calculator option from one to other, for example from Scientific to Standard option or vice versa."
## Current behavior
![calculator issue new](https://user-images.githubusercontent.com/74563602/129951565-2220086e-7971-4112-a512-a07ce818734d.png)

## Expected behavior
The calculator should display correctly for all the options.

## How to reproduce it (as minimally and precisely as possible)

1. Visit https://calculatorcanary.z27.web.core.windows.net/
2. Open the burger menu and change the calcu

[2021-08-18 18:40] sakshi173 opened #6802 "[Calculator][Wasm][Chrome]Clicking on any key is not responding for any calculator option."
## Current behavior

https://user-images.githubusercontent.com/74563602/129953580-3b5a0a00-9709-463c-b97e-49758579d324.mp4

## Expected behavior
The key should be pressed and the pressed Numeric key should be display on the top.

## How to reproduce it (as minimally and precisely as possible)
Visit https://calculatorcanary.z27.web.core.windows.net/
Click on any Numeric key or calculation key for t

[2021-08-18 18:44] nathanAjacobs commented on #4449
This would be a very useful feature. Some apps don't need a window to be shown at all times.

[2021-08-18 19:40] carldebilly commented on #6637
After many iterations, the actual inner cause of this problem has been identified: the `BackgroundSizing` is not supported yet on Uno.

[2021-08-18 20:09] Youssef1313 commented on #1800
btw, it got a wrong appearance on Wasm:

![image](https://user-images.githubusercontent.com/31348972/129965110-3226f984-8ab8-4214-a23b-22af4feaa9fd.png)

Here is what it looks in UWP:
![image](https://user-images.githubusercontent.com/31348972/129965196-801e03c0-1b04-42bf-89c0-596354e096c8.png)

[2021-08-18 20:52] robloo commented on #6637
Wow, thats must have taken a while to track down. It's not a property anyone usually considers.

[2021-08-18 21:06] ajpinedam commented on #6746
@Youssef1313  yes, it seems to be a duplicate. Please mark this issue to close in your PR. Thanks

[2021-08-18 22:07] Youssef1313 commented on #6218
My best guess is that what stated in this comment isn't actually working:

https://github.com/unoplatform/uno/blob/0c075f5f053b4ced918da339e74ad94bf5147f88/src/Uno.UI/UI/Xaml/Window.Android.cs#L91-L92

Nothing gets subtracted when `android:windowTranslucentStatus` is false.

@davidjohnoliver Since you worked on a similar issue in https://github.com/unoplatform/uno/pull/4352, would you be able to h

[2021-08-19 01:19] carldebilly commented on #6637
Yep...  I'm about to push a PR to fix it...

[2021-08-19 12:19] Youssef1313 opened #6805 "[Gtk] ScrollBar isn't dragged when mouse goes out of its bounds"
## Current behavior

Hold and drag the scrollbar. While holding, move the mouse away. Currently scrolling stops.

## Expected behavior

On UWP, scrolling won't stop.

## How to reproduce it (as minimally and precisely as possible)

## Workaround

## Works on UWP/WinUI

Yes

## Environment

Nuget Package:

- [ ] Uno.UI / Uno.UI.WebAssembly / Uno.UI.Skia
- [ ] Uno.WinUI / Uno.WinUI.WebAssembly / Uno

[2021-08-19 12:34] MaximeDion-Work commented on #6680
The issue is gone from the app, we are on Uno.UI 3.10.0-dev.366.

[2021-08-19 12:34] #6680 closed

[2021-08-19 12:41] jeanplevesque commented on #995
@davidjohnoliver Which version should I use to test the fixes?

[2021-08-19 13:25] Youssef1313 commented on #5487
Hmm.. In an Uno app, using UWP head, the appearance changes on hover/press. However, in a pure UWP, this is not the case. Overall, there is a difference in appearance regarding the thickness and rounded corners in both cases.

@MartinZikmund Does that sound related to https://github.com/unoplatform/uno/blob/master/src/Uno.UI/UI/Xaml/Controls/ScrollBar/ScrollBar.xaml ?

[2021-08-19 13:56] YGuerin commented on #6603
This issue also occurs on iOS

[2021-08-19 14:08] YGuerin opened #6806 "[Android/iOS] `CalendarDatePicker` view is cut at the bottom on small devices"
## Current behavior

The Calendar view is cut at the bottom
![MicrosoftTeams-image (5)](https://user-images.githubusercontent.com/11750340/130083186-19a9ba46-fc34-438b-bec0-16b5bacd1091.png)

## Expected behavior
The Calendar view adapts to the screen

## How to reproduce it (as minimally and precisely as possible)
See sample and execute it on a small device.
Reproduced on:
Sony Xperia X Compact
i

[2021-08-19 15:11] Youssef1313 commented on #4036
I see the dependency was removed in https://github.com/unoplatform/uno/pull/6102. Is there anything else to do?

[2021-08-19 15:25] davidjohnoliver commented on #995
3.10.0-dev.399 should have the fix

[2021-08-19 15:42] easy28 opened #6811 "FindElementsInHostCoordinates behaves different between uwp and wasm"
## Current behavior
wasm did not return correct element lists.

![image](https://user-images.githubusercontent.com/24854737/130096156-d118f9bb-8da2-4823-8211-c47f4c11cee5.png)

when click green area,  redCanvas shows in the element lists

## Expected behavior
![image](https://user-images.githubusercontent.com/24854737/130099039-b8c492d6-1055-4efd-a4fd-5296035c7cb0.png)

uwp will not return redCanv

[2021-08-19 16:12] Youssef1313 commented on #6806
I couldn't reproduce

![no-repro](https://user-images.githubusercontent.com/31348972/130104247-9f990d3f-28a6-43d0-912b-b87fb1de1946.gif)

[2021-08-19 17:10] sakshi173 commented on #6764
@davidjohnoliver, Theme issue is happening for WASM as well but  not similar as above one.
Below are the screenshot for the WASM issue.
![combobox material](https://user-images.githubusercontent.com/74563602/130113096-247f8d3e-86eb-4fa7-8b9a-2d749308e2c8.png)
![combobox cupertino](https://user-images.githubusercontent.com/74563602/130113113-4b65d800-2ee3-4ded-b837-03b658816a02.png)

[2021-08-19 17:16] sakshi173 commented on #6764
@davidjohnoliver and similar type of issue is happening for Datepicker - Cupertino as well, below is the screenshot.
![datepicker cupertino](https://user-images.githubusercontent.com/74563602/130114066-e9c85dc3-8c35-4541-b210-b997ef690440.png)

[2021-08-19 17:37] chingucoding commented on #363
Is this issue still accurate? All controls use the `DataTemplateHelper` except the `ItemTemplateWrapper`. Should we update the ItemTemplateWrapper to also use the `DataTemplateHelper`?

[2021-08-19 17:41] MartinZikmund commented on #5487
@Youssef1313 the appearance should not be affected by Uno - I think the difference you may see in UWP is that it does not use WinUI (does not have `XamlControlsResources` in `Application.xaml`) - can you check if that is the case please?

[2021-08-19 17:45] davidjohnoliver commented on #363
This is an older issue and it's possible it was fixed already, have you done some testing that indicates so?

As for `ItemTemplateWrapper`, that code has been imported directly from the WinUI source for ItemsRepeater, so it should stay as it is.

[2021-08-19 17:47] chingucoding commented on #363
I just searched for the SelectTemplate functions in code and found that there are only two occurences for it, i.e. `DataTemplateHelper` and `ItemTemplateWrapper`. That's why I concluded that the behavior should be the same since the controls reference the `DataTemplateHelper`.

[2021-08-19 17:53] Youssef1313 commented on #5487
@MartinZikmund Both have:

[code]

[2021-08-19 17:53] chingucoding commented on #5987
I would like to work on this.

[2021-08-19 17:59] MartinZikmund commented on #5487
That is odd, Uno should not affect UWP styles at all. Can you post screenshot of the difference you see please?

[2021-08-19 17:59] MartinZikmund commented on #5487
Oh, and is the version of the Microsoft.UI.Xaml.Controls package the same for both cases?

[2021-08-19 18:09] Youssef1313 commented on #5487
@MartinZikmund That was it! So back to the original issue, the more recent version on a pure UWP doesn't change color on hover/press. Should we just port the xaml file from mux repo just to match the rest of the appearance (it won't have color changes matching WinUI)?

[2021-08-19 18:46] #6744 closed

[2021-08-19 18:47] davidjohnoliver commented on #5987
Nice! I've assigned you to the issue.

There's some basic docs here on modifying the Uno VSIX package: https://platform.uno/docs/articles/uno-development/debugging-templates.html

Don't hesitate to reach out if you have any questions :)

[2021-08-19 18:59] chingucoding commented on #5987
Thank you for the pointers @davidjohnoliver !

[2021-08-19 21:25] sakshi173 opened #6814 "[Gallery][Android] WebView- Application crashes when inside the Webview, click Burger menu and choose the 'Gallery' option to open."
## Current behavior

https://user-images.githubusercontent.com/74563602/130145843-96ea378b-244e-4ae5-a366-2ae216c636cd.mp4

## Expected behavior
The application should not crash and the Gallery app should open in the Webview.

## How to reproduce it (as minimally and precisely as possible)

1. Open Uno Gallery APP
2. Click Burger Menu on the left top right .
3. Click on “WebView” from the "Feature

[2021-08-19 21:43] sakshi173 opened #6815 "[Gallery][iOS] CalendarDatePicker- when go to Decade view second time for 2110-2119 period, the up arrow to change decade does not work."
## Current behavior

https://user-images.githubusercontent.com/74563602/130147486-346b2bf4-1dbe-4f01-8442-eed202e3fbb7.MOV

## Expected behavior
The up and down should work.

## How to reproduce it (as minimally and precisely as possible)

1. Open Uno Gallery APP
2. Click Burger Menu on the left top right.
3. Click "CalendarDatePicker" from the "Component" list.
4. Go to Decade view (2110-2119) of

[2021-08-19 23:29] Youssef1313 commented on #1630
I gave a look at this one.

Using the following code:

[code]

The test still fails, and logs shows the following:

![image](https://user-images.githubusercontent.com/31348972/130156573-a5429a3c-8e5e-4cae-af8e-7f5ced665596.png)

This suggests that the commented out condition is always false and is redundant, right?

Hmmm... Uncomment it, now the test passes. @MartinZikmund Any guess on what can be

[2021-08-20 08:00] DierkDroth commented on #5713
@jeromelaban when could we expect this being resolved? Thx

[2021-08-20 08:23] Youssef1313 commented on #1631
This is not a test-only issue. It's an actual product bug. Following is the relevant portion of code:

[code]

Here, clicking the toggle button opens the popup. Attempting to click it again should close it, but it doesn't. For some reason the button isn't actually clickable.

I tried to play around this portion of code:

https://github.com/unoplatform/uno/blob/4fc3cb1db4644af1ecf6dbfdda1b6a0066836

[2021-08-20 09:59] davidjohnoliver commented on #6218
@Youssef1313 This is the 'where', indeed. :)

The point of the comment, IIRC, is that the native metrics returned by Android are different depending if the status bar is opaque or translucent. Accordingly we don't to 'double dip' in certain parts of the math by subtracting it twice. But clearly if the VisibleBounds is not taking the translucent status bar into account then the logic is faulty some

[2021-08-20 13:29] #6754 closed

[2021-08-20 14:18] andreaSflores18 commented on #6806
Expected release date: Mid september

[2021-08-20 14:18] andreaSflores18 commented on #6603
Expected release date: Mid september

[2021-08-20 17:17] MartinZikmund commented on #5487
The more recent version is WinUI 2.6 which we don't support yet, so this fix would be specifically for the "old one" for now.

[2021-08-20 21:01] Youssef1313 commented on #6805
Note: This only happens with the library sidebar in Samples App, but not for example on ScrollBar_Simple sample.

[2021-08-21 08:37] Youssef1313 commented on #1313
I took a look and it seems this is not natively supported in Android and iOS.

[2021-08-21 08:59] Youssef1313 commented on #1535
@carldebilly I couldn't reproduce. Can you please upload a repro or close this one if it was already fixed?

[2021-08-21 09:06] Youssef1313 commented on #1516
@dr1rrb On UWP, it looks like this doesn't compile at all. I suppose Uno should produce an error for that too. Anything I'm missing?

[2021-08-21 10:15] Youssef1313 commented on #1830
`private void uiDay_Changed(DatePicker sender, DatePickerValueChangedEventArgs args)` fails on UWP for me. The `DateChanged` event is defined as `EventHandler<DatePickerValueChangedEventArgs>`. [The first parameter for it is indeed an object](https://docs.microsoft.com/en-us/dotnet/api/system.eventhandler-1?view=net-5.0). Is there anything I'm missing?

@MartinZikmund @davidjohnoliver Do you see a

[2021-08-21 13:03] Youssef1313 commented on #3710
@MartinZikmund Here is the current behavior on Android:

![image](https://user-images.githubusercontent.com/31348972/130322669-756f8f0b-6afd-4b1e-9c31-816fabaa2c56.png)

Can you elaborate more? Isn't it currently correct?

[2021-08-21 14:05] Youssef1313 opened #6821 "`TextBox.HorizontalTextAlignment` not implemented for all platforms"
## What would you like to be added:

Support for `HorizontalTextAlignment`.

## Why is this needed:

## For which Platform:

- [x] iOS
- [x] Android
- [x] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms
- [x] macOS
- [x] Skia
  - [x] WPF
  - [x] GTK (Linux)
  - [x] Tizen
- [ ] Windows
- [ ] Build tasks
- [ ] Solution Templates

## Anything else we need to know?

[2021-08-21 14:07] Youssef1313 commented on #6821
Not actually needed. TextAlignment works alone perfectly.

[2021-08-21 14:07] #6821 closed

[2021-08-21 14:25] Youssef1313 opened #6822 "Implement `TextBox.Select` and `TextBox.SelectAll`"
## What would you like to be added:

Support for Select and SelectAll methods

## Why is this needed:

To match WinUI `NumberBox` behavior where the text is selected on focus:

https://github.com/unoplatform/uno/blob/60d4a342c250521e791786e2c1e56b4873ec3ac2/src/Uno.UI/Microsoft/UI/Xaml/Controls/NumberBox/NumberBox.cs#L306-L312

## For which Platform:

- [x] iOS
- [x] Android
- [x] WebAssembly
- [

[2021-08-21 14:25] Youssef1313 commented on #6822
I'm looking at this.

[2021-08-21 16:02] Youssef1313 commented on #6805
I couldn't reproduce again for some reason 😕 Closing as not actionable.

[2021-08-21 16:02] #6805 closed

[2021-08-21 17:46] MartinZikmund commented on #3710
That seems OK, let's close then

[2021-08-21 17:46] #3710 closed

[2021-08-21 20:26] Youssef1313 commented on #6732
@davidjohnoliver Looks like the property you refer to is already used:

https://github.com/unoplatform/uno/blob/60d4a342c250521e791786e2c1e56b4873ec3ac2/src/Uno.UI/Controls/AppBarButtonRenderer.iOS.cs#L152

Similar thing on Android:

https://github.com/unoplatform/uno/blob/60d4a342c250521e791786e2c1e56b4873ec3ac2/src/Uno.UI/Controls/AppBarButtonRenderer.Android.cs#L162

[2021-08-22 06:58] Youssef1313 commented on #2664
It looks like those tests were never merged. Per https://github.com/unoplatform/uno/pull/2553#issuecomment-768258708, these behaviors are already tested. I'll add them locally and see if they passes.

[2021-08-22 07:08] Youssef1313 commented on #2664
I confirmed they're passing locally on Wasm. @MartinZikmund @davidjohnoliver Can we close this one?

[2021-08-22 09:01] e066377 opened #6824 "How to consume ODataV4 web Api"
## What would you like clarification on:
Hello,
I want to use Microsoft.OData.Client for UWP and WASM platforms to generate models from ODatV4 web Api with INotifyPropertyChanged interface implemented. It works without problem for UWP platfrom but for WASM it is not very clear how to introduce httpclient to the container. Setting
 Default.Container HttpRequestTransportMode = HttpRequestTransportMo

[2021-08-22 09:08] Youssef1313 commented on #2391
I looked into this. At a first glance, I thought the issue is in the definition of HeaderProperty since it's missing `FrameworkPropertyMetadataOptions`

But changing the definition to:

[code]

Causes a crash (testing on Wasm):

[code]

[2021-08-22 12:22] Youssef1313 commented on #2203
It doesn't reproduce for me. https://playground.platform.uno/#33304d65

[2021-08-22 18:13] Youssef1313 commented on #4796
Note: `SelectedIndex` has the same issue (I presume it's the same root cause, but just noting to test both when fixing this)

[2021-08-22 18:36] robloo commented on #4796
Pivot was causing a few different issues including this one. Additonally, it is being removed from WinUI3. Therefore, my codebase moved to a TabView variant that functions more like a TabControl instead. This means this issue is no longer a concern on my end so I won't be following it closely. I'm not even sure if it has since been fixed.

[2021-08-22 19:16] darkdragon-001 opened #6827 "[Linux] Flatpak export"
## What would you like to be added:

Add [Flatpak](https://www.flatpak.org/) export in addition to Snap export.

## Why is this needed:

With many Linux distributions and users preferring Flatpak over Snap ([Fedora](https://flatpak.org/setup/Fedora/), [Red Hat Enterprise Linux (RHEL)](https://developers.redhat.com/blog/2020/08/12/introducing-the-red-hat-flatpak-runtime-for-desktop-containers#flatp

[2021-08-22 23:12] keozx commented on #5590
This just happened to me, but using the rd.xml didn't help, got another error:
System.MissingMethodException: 'Constructor on type 'Microsoft.Extensions.Logging.Console' not found.'

Downgrading extensions is the only solution for me as of now, considering I'm using Splat extensions as well

[2021-08-23 00:03] robloo commented on #626
Is there any need to re-evaluats this considering where macCatalyst support is today? On my end I'm going to prototype using an iOS app directly in macOS using the new Catalyst support. I expect functionality, performance and feature completeness is superior this way.

[2021-08-23 08:22] Youssef1313 commented on #2682
The sample looks different from the image in issue and I couldn't reproduce.

https://user-images.githubusercontent.com/31348972/130414709-07832fc9-ddac-4b6e-af8e-fa1f9f059532.mp4

Was this already fixed?

[2021-08-23 08:41] Youssef1313 commented on #1815
I couldn't reproduce.

https://user-images.githubusercontent.com/31348972/130417424-cbd0e18b-1fa7-4b41-a4d4-f7d2f2d9783e.mp4

Probably this was fixed already.

[2021-08-23 10:10] xperiandri commented on #5590
@keozx this is my setup that works
https://github.com/xperiandri/Elmish.Uno/blob/develop/src/Templates/SolutionTemplate/SolutionTemplate.UWP/Properties/Default.rd.xml

You must not reference `Microsoft.Extensions.Logging.Console`
https://github.com/xperiandri/Elmish.Uno/blob/977f19020188545863b38f02ca4cdcb974586b44/src/Templates/SolutionTemplate/SolutionTemplate.UWP/SolutionTemplate.UWP.csproj#L16

[2021-08-23 10:13] xperiandri opened #6833 "Switch issue template from using check boxes to tables the same as in microsoft-ui-xaml repository"
## What would you like to be added:
See https://github.com/microsoft/microsoft-ui-xaml/issues/5402 as example

## Why is this needed:
Checkboxes were designed to track work progress. So they make visual noise on the issue list.

[2021-08-23 11:33] Youssef1313 commented on #6833
Actually GitHub recently introduced a new feature for issue templates known as **[issue forms](https://docs.github.com/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository#creating-issue-forms)** (currently in beta). We might use that as well. See [example](https://github.com/dotnet/docs/issues/new?assignees=gewarren&labels=breaki

[2021-08-23 11:45] mterwoord commented on #6569
See my workbranch: https://github.com/terwoord/uno/tree/bugs/6569-exception-handling-inconsistencies
I improved things for Gtk, WebAssembler, and probably WPF, but I'm unable to get the development building of WPF stuff working.

Regarding Android: Is there a reason why Uno doesn't register its own Sync context?

[2021-08-23 12:28] jeromelaban commented on #6657
We have not raised an issue on the nuget side, but we could try making some parts of that project conditional, or add a visual studio macos-specific filter which excludes unsupported projects by default.

[2021-08-23 13:19] #6513 closed

[2021-08-23 13:19] #6612 closed

[2021-08-23 13:31] #5992 closed

[2021-08-23 14:35] jeromelaban commented on #6827
Thanks for the suggestion! Supporting flatpak is a mix of support for .NET in general, and support for Skia/Gtk more specifically.

It's not documented yet, but here's the start of the [support for appimage](https://github.com/unoplatform/calculator/blob/uno/build/appimage/AppImageBuilder.x64.yaml) for the Uno Calculator, and support for flatpak could be derived from it.

[2021-08-23 14:45] jeromelaban commented on #6569
What kind of errors are you getting for WPF?

Regarding the sync context, it was not needed until now (for any platform) but it would make sense to override the default one with Uno's, if it's possible. I'm not sure it monoandroid lets us override it completely.

[2021-08-23 14:45] jeromelaban commented on #1815
Let's close then, thanks!

[2021-08-23 14:45] #1815 closed

[2021-08-23 14:48] jeromelaban commented on #626
`net6.0-maccatalyst` is not a complete replacement for `Xamarin.Mac`/`net6.0-macos`, because there are missing desktop-related APIs provided by AppKit, and the sandboxing works differently, iirc. That being said, Uno's Skia/GTK head works properly on macOS, so this is a head worth considering.

[2021-08-23 14:50] jeromelaban commented on #6824
Thanks for the report.

The best way for us to help you there is to create a sample app with the Uno template, and make it work for UWP. From that point, we'll look at the working solution and try to apply it to Wasm.

[2021-08-23 14:50] #6824 closed

[2021-08-23 14:51] jeromelaban commented on #6732
Could it be that we're not refreshing the "tint" color on ForegroundColor change?

[2021-08-23 15:03] #4036 closed

[2021-08-23 15:10] #1359 closed

[2021-08-23 15:10] #6748 closed

[2021-08-23 15:12] jeromelaban commented on #4449
Thanks for the report!

This is uncharted territory for Uno, really, because WinRT/UWP does not support being placed in the system tray. For WinUI/WinRT unpackaged, there's a [proposal opened here](https://github.com/microsoft/microsoft-ui-xaml/issues/2020) and it looks controversial :)

One way to do this would be to have Uno provide its own implementation of a System Tray support for macOS, Wind

[2021-08-23 15:13] jeromelaban commented on #6802
Looks like this could be related to some .NET runtime updates, will investigate.

[2021-08-23 15:14] jeromelaban commented on #6799
/cc @kazo0

[2021-08-23 15:17] jeromelaban commented on #6781
@Mohsens22 the last screenshot looks like a theming issue. Can you force `RequestedTheme="Light"` in your `App.xaml` ?

For the PrimaryLanguageOverride, the warning is likely to be wrong (the NotImplemented attribute may need to be removed), but for the language resolution, #6469 may be related.

[2021-08-23 15:24] jeromelaban commented on #4319
We don't have plans to explicitly support net48 or earlier in the templates because net5 is supported in Win7, but [WPF support nuget packages](https://nuget.info/packages/Uno.UI.Runtime.Skia.Wpf/3.9.7) do have `net47` available. You'll need to adjust the templates created by Uno to to so and use net47 or later to get your app running.

As for the size of the app with net5/net6, you can enable IL

[2021-08-23 15:47] jeromelaban commented on #1630
This feels like the even is raised incorrectly, indeed. What does lead to that event being raised in the wrong conditions?

[2021-08-23 15:47] mmarinchenko commented on #4319
@jeromelaban

The app runs on `TargetFramework` >= `net472`. The problem is key input in TextBox doesn't work :)

Ok I see. Thank you all, guys, for your attention!

[2021-08-23 15:48] #6798 closed

[2021-08-23 16:02] jeromelaban commented on #4319
Can you open an issue on for particular issue with a repro app that shows it? There should not be any different with the behavior from the netcore one.

[2021-08-23 16:04] jeromelaban commented on #6833
Yes forms are going to be a better use of this. Tables need a bit too much editing work, and check boxes are not tasks indeed. We'll investigate forms now that it's available.

[2021-08-23 16:19] jeromelaban commented on #1830
This was probably fixed since the issue was opened.

[2021-08-23 16:24] Youssef1313 commented on #1830
@jeromelaban The behavior stated in the issue still persists, **but** it's the same for UWP. The claim that UWP allows `DatePicker sender` looks incorrect.

[2021-08-23 16:27] #5590 closed

[2021-08-23 16:30] jeromelaban commented on #4893
#6118 was specific to SymbolIcon, there a larger case for determining the platform list to include the fact that any of the members have been implemented.

[2021-08-23 16:35] jeromelaban commented on #5989
Interesting. A unit test would be interesting to validate that scenario. The generator is likely not drilling into `ImageSource` default content. It's likely that there's either a implicit converter, or a Content attribute that's missing.

[2021-08-23 16:42] YGuerin opened #6840 "[iOS][CalendarDatePicker] Weird animation is happening when changing year/month from the year view/month view"
## Current behavior
Weird animation is happening when selecting year/month from year and month views. It also translate the day view to the bottom right corner making the CalendarView unusable

## Expected behavior
Everything is normal or at least not that disturbing for the user.

## How to reproduce it (as minimally and precisely as possible)

Use the following sample: [CalendarDatePickerSample.

[2021-08-23 16:43] YGuerin commented on #6840
@jeromelaban
Expected release date: Mid september

[2021-08-23 16:45] YGuerin commented on #6806
Hi @Youssef1313,
Did you you try on:
- a physical device ?
- a really small screen (see devices list) ?

[2021-08-23 16:59] mterwoord commented on #6569
See the exception I get below.

For Sync context, the way I see it:
- Skia Gtk uses `Uno.CoreDispatcherSynchronisationContext`
- Wasm same
- Skia Wpf uses wpf's Dispatcher sync context.

Exception:
[code]

[2021-08-23 17:21] robloo commented on #626
I'm glad Skia is working nicely on macOS now. My concern with Skia is the high number of unimplemented features compared to Android/iOS, not to mention the added difficulty embedding native controls. Performance was wonderful last I tried it though (which can't be said about macOS at this point).

I expect macCatalyst to have no more restrictions than iOS (so sandboxing and desktop-related APIs ar

[2021-08-23 18:19] #6782 closed

[2021-08-23 19:01] mmarinchenko opened #6842 "[Skia.Wpf] .NET Framework 4.7.2+ issues"
This issue continues discussion started at https://github.com/unoplatform/uno/issues/4319#issuecomment-900277156

## How to reproduce it (as minimally and precisely as possible)

1. Create new project in PowerShell:
[code]

2. Open solution in Visual Studio and agree to convert UWP head to Windows 10 2004 SDK (10.0.19041.0).

3. Remove `Program.cs` from `Skia.Wpf` container project (contains empty

[2021-08-23 19:02] mmarinchenko commented on #4319
Yup. #6842

[2021-08-23 19:09] Youssef1313 commented on #6732
I think I see where the problem is now :)

But I'm having an issue testing. I modified an existing sample as follows:

![image](https://user-images.githubusercontent.com/31348972/130502057-d9842b50-725b-4f65-ba64-7d3fa9a41eed.png)

The build failed requesting me to add a package reference to `Xamarin.AndroidX.AppCompat.Resources` (which is deprecated), I followed that:

![image](https://user-image

[2021-08-23 20:36] Youssef1313 commented on #4893
@jeromelaban I'm unable to run UWPSyncGenerator locally to be able to test and debug this. Here is the output:

[code]

Any idea what's going wrong?

[2021-08-23 20:47] Youssef1313 commented on #4893
I'm also suspecting the generator was fixed in dbf8aa8ad5caa78382d83fd1757788bb2cf55696, but was never re-run.

Specifically:

![image](https://user-images.githubusercontent.com/31348972/130516900-419a1d28-48b0-48d9-aa0f-e6890d4fd0b2.png)

Note that the generator will always generate a `(` after `NotImplemented`. Which means the issue existed for SymbolIcon would have resolved itself if the genera

[2021-08-23 20:48] darkdragon-001 commented on #6827
.NET is well supported in Flatpak. I am maintaining the [Pinta package](https://github.com/flathub/com.github.PintaProject.Pinta) for example. While the Uno Calculator is a nice example, it would be awesome if the Flatpak (along a snap or AppImage) manifest could be automatically generated from a Uno project.

[2021-08-23 21:06] jeromelaban commented on #6827
Indeed it would. The appimage sample I pointed to is still not complete, I tried making https://github.com/AppImage/appimage.github.io/pull/2398 to get it listed, but some dependencies are missing, and I did not dive much more into it. I'm guessing the issues would be the same.

It'd be interesting to have a simple flatpak configuration file for a sample app, then generalize from there.

[2021-08-23 21:27] jeromelaban opened #6846 "[Shape] Setting `Path.Data` to null fails with NRE"
## Current behavior

This line fails when setting `Data` to null:
https://github.com/unoplatform/uno/blob/61a247e280105ec58c24103eb8fbbb67655d47e2/src/Uno.UI/UI/Xaml/Shapes/Path.wasm.cs#L40

[code]

## Expected behavior

No NRE

[2021-08-23 21:27] jeromelaban commented on #6801
Related to https://github.com/unoplatform/uno/issues/6846

[2021-08-23 21:33] sasakrsmanovic commented on #2934
Here it is attached @MartinZikmund
[Uno_App_Icon.zip](https://github.com/unoplatform/uno/files/7035014/Uno_App_Icon.zip)

[2021-08-23 22:27] darkdragon-001 commented on #6827
The [docs](https://docs.flatpak.org/en/latest/manifests.html) are pretty good to start with (e.g. following the sample app tutorial).

[2021-08-24 00:23] jeromelaban commented on #6827
Thanks for the pointers. If someone's interested in taking a look at this, it'll be useful.

[2021-08-24 14:17] carldebilly opened #6849 "Support for `EllipseGeometry`"
# Ellipse Geometry

Following PR https://github.com/unoplatform/uno/pull/6841, the support for both `<RectangleGeometry />` and `<LineGeometry />` has been implemented.  But `<EllipseGeometry />` still missing.

## For which Platform:

- [X] iOS
- [X] Android
- [ ] WebAssembly
- [X] macOS
- [X] Skia

[2021-08-24 15:32] MartinZikmund commented on #5713
@peternary @DierkDroth It seems there are two different issues in this one - which is higher priority - `ButtonFocus.zip` or `EventOrder.zip`? I would split the issue in two and address the two problems separately.

For `EventOrder.zip` the problem points to `AllowFocusOnInteraction` as the cause of the problem - the property not being supported properly on WASM is the cause.

In case of `ButtonFo

[2021-08-24 15:39] SuperJMN commented on #2642
My team at Fluendo would absolutely need video playing capabilities to consider Uno Platform to make the new version of our product.

[2021-08-24 15:48] peternary commented on #5713
@MartinZikmund I believe the EventOrder issue is the higher priority of the two.

[2021-08-24 16:06] jeromelaban opened #6851 "Add support for `UISettings.AnimationsEnabled`"
## What would you like to be added:

Support for `UISettings.AnimationsEnabled` automatically when available (linked with system settings), or through a `FeatureConfiguration` flag when not available.

## Why is this needed:

Many control implementatons rely on `UISettings.AnimationsEnabled` to enhance accessibility, and this feature is also useful when buildind automation testing.

## For which P

[2021-08-24 16:07] MartinZikmund opened #6852 "[WASM] `Flyout` not returning focus to previously focused element"
## Current behavior

Moved from #5713

Sample issue in attached project: mouse over on either grid will cause a button to appear, and clicking the button will produce a flyout.  If you click to dismiss the flyout in UWP then the button will be hidden; if you click to dismiss the flyout in WASM then the button remains visible until the PointerExit event fires for the grid again.

## Expected behavi

[2021-08-24 16:08] MartinZikmund commented on #5713
Created #6852 for the button focus issue, will look into this one first

[2021-08-24 18:59] carldebilly commented on #1535
@Youssef1313 do you realize this is a 2 years old bug ? ;-) I'm pretty sure it's irrelevant now: I'll close it :-).

[2021-08-24 18:59] #1535 closed

[2021-08-24 19:01] carldebilly commented on #5126
This should be fixed by PR #6803 :-)

[2021-08-24 19:03] carldebilly commented on #1992
Yep that's a very old bug and not relevant anymore: I'll close it.

[2021-08-24 19:03] #1992 closed

[2021-08-24 20:34] #4722 closed

[2021-08-24 20:55] #4591 closed

[2021-08-24 20:55] #5829 closed

[2021-08-24 20:55] #6688 closed

[2021-08-25 04:47] DierkDroth commented on #5713
Thanks @MartinZikmund. Could you please add #6852 to our private Kanban as well? Thx

[2021-08-25 12:19] Youssef1313 commented on #3409
This should be closed per https://github.com/unoplatform/uno/pull/6828#issuecomment-905432230.

[2021-08-25 12:30] jeromelaban commented on #2682
Looks like it's been addressed by a popup-related PR. Let's close this then, Thanks for validating!

[2021-08-25 12:30] #2682 closed

[2021-08-25 13:19] #3409 closed

[2021-08-25 13:22] #6703 closed

[2021-08-25 13:22] #2171 closed

[2021-08-25 14:14] dr1rrb commented on #1516
Hey @Youssef1313, I might have been a bit to generic in my bug report then. The issue was when template binding to ScrollViewer's properties like `{TemplateBinding HorizontalScrollBarVisibility}` and `{TemplateBinding VerticalScrollBarVisibility}` on a control which does not explicitly have those properties.

The particularity of those properties is that [they are on `ScrollViewer`](https://github

[2021-08-25 14:58] jeromelaban commented on #4893
@Youssef1313 you may find those here: https://github.com/unoplatform/uno/pull/6856 (there's a small fix to get the generator running on VS2022 as well)

[2021-08-25 20:56] SuperJMN opened #6862 "Give the possibility to embed Uno Platform inside other frameworks"
## What would you like to be added:

Ability to embed Uno Platform inside other frameworks, like GTK.

## Why is this needed:

There are cross-platform projects that cannot be migrated all at once due to their size. The only viable way to migrate to Uno would be step by step, mixing it with the existing UI. For instance, we have a C# application using GTK can be run in Windows, Linux and OSX. We w

[2021-08-26 08:45] TopperDEL opened #6867 "Using `XamlControlsResources.MergedDictionaries` is ignored by the resource resolver"
## What would you like to be added:
I would love to see ItemsControl.ItemTemplateProperty being implemented.

## Why is this needed:
If not implemented I cannot extract a DataTemplate into a ResourceDictionary - I have to place it at the location where it will be used.

## For which Platform:

- [X] iOS
- [X] Android
- [ ] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms
- [ ] macOS
- [ ]

[2021-08-26 13:34] Youssef1313 opened #6870 "Document `XamlGeneratorAnalyzerSuppressions`"
This is currently not documented anywhere, and probably not very trivial to discover it and knowing the correct way to use it. See https://github.com/unoplatform/uno/issues/6134#issuecomment-906403209

[2021-08-26 15:06] jeromelaban opened #6871 "[Perf] Improve BaseActivity.NotifyCreatingInstance startup time"
### Current behavior

During a performance profiling, the following trace is showing that NotifyCreatingInstance is costly:

![image](https://user-images.githubusercontent.com/5839577/130987603-63c13179-9734-41d3-830e-9355bdac8d0b.png)

### Expected behavior

_No response_

### How to reproduce it (as minimally and precisely as possible)

Create a net6 sample app, profile it using AOT.

### Workar

[2021-08-26 15:08] jeromelaban opened #6872 "[Perf] Improve IsNullableCached initialization performance"
### Current behavior

The initialization of `DependencyProperty` is using IsNullableCached, and uses generics which may be optimized

![image](https://user-images.githubusercontent.com/5839577/130988100-14e881c7-ff81-4941-ba17-ba03e77bbfda.png)

### Expected behavior

_No response_

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

###

[2021-08-26 15:10] jeromelaban opened #6873 "[Perf][Android] Improve SimpleOrientation sensor startup time"
### Current behavior

Android SimpleOrientationSensor is impacting the startup performance:

![image](https://user-images.githubusercontent.com/5839577/130988399-30fb9bfd-1e5d-4dd6-8ae9-0638b1533d86.png)

### Expected behavior

_No response_

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

### Works on UWP/WinUI

_No response_

### En

[2021-08-26 15:13] jeromelaban opened #6874 "[Perf][Android] Improve Empty or one element Canvas measure"
### Current behavior

The following Measure implementation:

https://github.com/unoplatform/uno/blob/52d23a3f97b91b8fab7edd2ac2fb316b37a577ee/src/Uno.UI/UI/Xaml/Controls/Canvas/Canvas.Android.cs#L22-L38

Uses unconditional LINQ sorting, which can be optimized for 0-1 cases.

Additionally, the Canvas.ZIndex property could be optimized for UIElement and use a cached member instead of the dependency

[2021-08-26 15:16] jeromelaban opened #6875 "[Perf][Android] Improve `BorderLayerRenderer` performance"
### Current behavior

In multiple instances, the BorderLayerRenderer re-creates native instances for similar values, where caching/reuse could be done:

![image](https://user-images.githubusercontent.com/5839577/130989285-17cc6405-7e6e-4e36-96d4-6b5a80eeaff4.png)

![image](https://user-images.githubusercontent.com/5839577/130989308-f551a3e8-d1b1-4292-a63c-ee92ac3f2a7f.png)

![image](https://user-i

[2021-08-26 15:18] jeromelaban opened #6876 "[Perf][Android] Android arrange pass does not cache empty clip invocations"
### Current behavior

The following stack can be found when profiling an app:
![image](https://user-images.githubusercontent.com/5839577/130989687-0f7ccd7c-b09c-447a-b244-f86cad5b67f6.png)

Where if the clipping is already empty, the native method is call unconditionally.

https://github.com/unoplatform/uno/blob/a04bed22c5086c439e4538b7500a01d5dbd12ea8/src/Uno.UI/UI/Xaml/UIElement.Android.cs#L78

[2021-08-26 15:20] jeromelaban opened #6877 "[Perf] BindingPropertyHelper uses a non-lazy Regex"
### Current behavior

The following regex:

https://github.com/unoplatform/uno/blob/8f4cc8e0490c50d7346489d308a945951db9485b/src/Uno.UI/DataBinding/BindingPropertyHelper.FastConvert.cs#L999

Should be initialized lazily

### Expected behavior

_No response_

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

### Works on UWP/WinUI

_No r

[2021-08-26 15:24] jeromelaban opened #6878 "[Perf] TextCommandBarFlyout-based resource is initialized during startup"
### Current behavior

The following resource is initialized eagerly during startup:

https://github.com/unoplatform/uno/blob/56d3ba98ee6cab055dc8d7c4941ce4494e20e946/src/Uno.UI.FluentTheme/Resources/Priority01/TextControlsCommon_themeresources.xaml#L3

The resources dictionary should be marking as lazy additional types likes these ones.

### Expected behavior

The TextCommandBarFlyout is not initi

[2021-08-26 15:30] jeromelaban opened #6879 "[Perf] GetImplementedRoutedEvents should use a generated implementation"
### Current behavior

The following method should be generated for types in Uno:

https://github.com/unoplatform/uno/blob/b7f19b08fd276155868e9a95c29714af80402945/src/Uno.UI/UI/Xaml/Controls/Control/Control.cs#L995

Types outside of Uno will likely still need to use reflection for types defined outside of Uno

### Expected behavior

_No response_

### How to reproduce it (as minimally and precisel

[2021-08-26 15:42] Mohsens22 opened #6880 "Globalization: Uno doesn't save application language for the next application startup"
### Current behavior

After setting the new language via `Windows.Globalization.ApplicationLanguages.PrimaryLanguageOverride = "fa` application just does it in the runtime and doesn't persist when app is restarted.

### Expected behavior

As it is in UWP, application should persist the language after application does a restart.

Even if there's a workaround to fix the issue, still Uno team needs t

[2021-08-26 15:42] jeromelaban opened #6881 "[Perf][Android] Improve BindableMetadataProvider initialization"
### Current behavior

The BindableMetadataProvider is still using JIT calls when running in Android AOT (not Full AOT):

![image](https://user-images.githubusercontent.com/5839577/130992030-87974ec2-0f74-4584-bd42-79eced5988d7.png)

Optimizing the generation of the BindableMetadataProvider initializer will remove a lot of the initialization time.

### Expected behavior

_No response_

### How to r

[2021-08-26 15:44] Youssef1313 opened #6882 "Enable performance analyzers from NetAnalyzers package"
## What would you like to be added:

Enable [performance analyzers](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/performance-warnings). It may or may not catch violations. But should be good to have.

## Why is this needed:

Performance.

## For which Platform:

- [ ] iOS
- [ ] Android
- [ ] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms
- [ ] macOS
- [ ] S

[2021-08-26 17:19] Youssef1313 opened #6883 "UWPSyncGenerator should mark files as generated"
## What would you like to be added:

Either produce the file names as `.g.cs`, or add `// <auto-generated>` at the top.

## Why is this needed:

Many analyzers excludes generated files. This is desired in this case. For example CA1822 can now report violations in these files, and actually fixing them is breaking.

## For which Platform:

- [ ] iOS
- [ ] Android
- [ ] WebAssembly
- [ ] WebAssembly

[2021-08-26 20:28] Youssef1313 opened #6885 "`FilePickerSelectedFilesArray.Count` shouldn't have a throwing setter"
### Current behavior

FilePickerSelectedFilesArray.Count has a setter that always throws

### Expected behavior

It shouldn't have a setter to align with UWP.

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

### Works on UWP/WinUI

Yes

### Environment

_No response_

### NuGet package version(s)

_No response_

### Affected platforms

[2021-08-27 08:59] Youssef1313 opened #6888 "UWPSyncGenerator doesn't correctly add static modifier for classes"
### Current behavior

`Windows.ApplicationModel.Appointments.AppointmentProperties` is not declared static.

### Expected behavior

It should be static, as in UWP.

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

### Works on UWP/WinUI

_No response_

### Environment

_No response_

### NuGet package version(s)

_No response_

### Aff

[2021-08-27 09:02] Youssef1313 opened #6889 "UWPSyncGenerator shouldn't skip properties/method when there are signature differences"
### Current behavior

In `src/Uno.UWP/Generated/3.0.0.0/Windows.ApplicationModel.Appointments/AppointmentProperties.cs`:

[code]

In `src/Uno.UWP/ApplicationModel/Appointments/AppointmentProperties.cs`:

The property not declared static.

### Expected behavior

Don't consider both properties equivalent, and probably produce an error?

### How to reproduce it (as minimally and precisely as possible

[2021-08-27 12:58] jeromelaban opened #6890 "PackageDiff step is only validating Uno.UI package"
## What would you like to be added:

Additional validation for packages like GTK/WPF/Wasm runtime support.

## Why is this needed:

Avoid breaking changes.

[2021-08-27 13:08] agneszitte-nventive opened #6891 "[All Platforms][CornerRadius] Edge case where Inner Radius doesn't match UWP when BorderThickness >= CornerRadius"
### Current behavior

Edge case to fix on all platforms where Inner Radius doesn't match UWP when BorderThickness >= CornerRadius

![image](https://user-images.githubusercontent.com/16295702/131129906-f5d59954-3775-4f51-ab4f-62b489c63130.png)
![image](https://user-images.githubusercontent.com/16295702/131129985-2646db67-8a7b-401f-a4d9-d69e81abde2f.png)
![image](https://user-images.githubuserconten

[2021-08-27 14:02] agneszitte opened #6893 "[Android][BorderLayerRenderer] Handle case when `BorderBrush` is an `ImageBrush`"
## What would you like to be added:

Handle case when BorderBrush is an ImageBrush for BorderLayerRenderer.Android.cs

## Why is this needed:

To support all BorderBrush possibilities

## For which Platform:

- [ ] iOS
- [X] Android
- [ ] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms
- [ ] macOS
- [ ] Skia
  - [ ] WPF
  - [ ] GTK (Linux)
  - [ ] Tizen
- [ ] Windows
- [ ] Build tasks
-

[2021-08-27 14:36] lukeblevins opened #6894 "[Uno.Gallery] Add SwipeControl samples"
## What would you like to be added:
Samples for SwipeControl

## Why is this needed:
Testing and demonstration of framework capabilities

## For which Platform:

- [x] iOS
- [x] Android
- [x] WebAssembly
- [x] macOS
- [x] Skia
  - [x] WPF
  - [x] GTK (Linux)
  - [x] Tizen
- [x] Windows

## Anything else we need to know?
I will work on this

[2021-08-27 16:46] Youssef1313 opened #6895 "UWPSyncGenerator should generate private constructor when appropriate"
### Current behavior

If the type doesn't have a public constructor, UWPSyncGenerator doesn't generate a private constructor, causing API to diverge from UWP if the developer wasn't careful enough and added the private ctor in the non-generated partial.

### Expected behavior

UWPSyncGenerator should take care of that and generate private (or internal) constructor when there is no public construct

[2021-08-27 17:31] jeromelaban opened #6896 "[Perf][Android] Rectangle Arrange should not always recreate a shape"
### Current behavior

The following method:

https://github.com/unoplatform/uno/blob/006bff6b4f68e8a0754c186f08391d53403a7603/src/Uno.UI/UI/Xaml/Shapes/Rectangle.Android.cs#L28

Is recreating the shape on every arrange, even if the size has not changed.

### Expected behavior

Reuse the native path instance as needed.

### How to reproduce it (as minimally and precisely as possible)

_No response_

[2021-08-27 18:05] sakshi173 opened #6897 "[NPE]- File - when clicking the File, the menu is not displaying correctly."
### Current behavior

![2021-08-27 13_18_27-AutoMapper 10 1 1 _ NuGet Package Explorer](https://user-images.githubusercontent.com/74563602/131169417-c1a89a20-8114-4f6d-824c-9b4521f44d51.png)

### Expected behavior

![correct-AutoMapper 10 1 1 _ NuGet Package Explorer](https://user-images.githubusercontent.com/74563602/131169521-f16c8634-3b76-49e3-a4d6-a487916edeb4.png)

### How to reproduce it (as

[2021-08-27 20:51] jeromelaban opened #6899 "[Perf][Android] `VirtualizingPanelLayout` invokes `TryCreateLine` on non-modified layout"
### Current behavior

After the changes done for https://github.com/unoplatform/uno/issues/6754, the measure pass was improved and done only once when a single item requests a measure, but invocations to TryCreateLine are still invoked for all items:

https://github.com/unoplatform/uno/blob/6471ab2b4691e81a2261309f83721a3df2b34728/src/Uno.UI/UI/Xaml/Controls/ListViewBase/VirtualizingPanelLayout.An

[2021-08-28 03:41] AghaKhan opened #6901 "Adding RadialGradientBrush in uno library"
### Current behavior

My Uno library works fine until I add RadialGradientBrush to my project. To resolve this problem, I installed Microsoft.UI.Xaml package, which broke all the packages monoandroid10.0, MonoAndroid11.0, xamarinios10, and xamarinmac20. What is the solution to add RadialGradientBrush, and should it work on all platforms?
I am Microsoft Visual Studio Professional 2019 Version 16.11

[2021-08-28 03:42] AghaKhan commented on #6901
[SimpleExample](https://1drv.ms/u/s!AuknqQF1kFXvmjb6rfL9wmrXwD61?e=8A4Exv)

[2021-08-28 10:11] Youssef1313 commented on #6890
@jeromelaban Does PackageDiff catches changes like sealing a class or changing the static-ness of a class?
If not, that would be a good addition as well.

[2021-08-28 16:49] jeromelaban commented on #6890
I don't think it does: https://github.com/unoplatform/Uno.PackageDiff

[2021-08-28 17:04] #6901 closed

[2021-08-28 21:04] Youssef1313 commented on #6890
@jeromelaban Do you think it's worth opening an issue to track that? If yes, would it be preferred to track it in this repo or in Uno.PackageDiff repo?

[2021-08-29 07:11] Youssef1313 commented on #6895
@ebariche Can you please let me know when you're done with updating the sync generator?

[2021-08-29 17:20] Youssef1313 commented on #6638
@robloo Which platform are you testing against?

The glyph shows correctly for me (at least for `[Toggle]SplitButton`) in SamplesApp on Android.

![image](https://user-images.githubusercontent.com/31348972/131259368-7a190e13-32a4-410b-be5d-4571d9e9beeb.png)

[2021-08-29 17:32] Youssef1313 commented on #6072
I couldn't reproduce this:

![image](https://user-images.githubusercontent.com/31348972/131259748-c917cd4c-131d-4744-ab58-92dd8b753b67.png)

[2021-08-29 17:41] Youssef1313 commented on #6072
I'm giving a look

[2021-08-29 18:42] Youssef1313 commented on #6072
I wasn't able to make a minimal repro 😕

[2021-08-29 19:58] robloo commented on #6638
@Youssef1313 Thanks for taking a look. I've updated the environment section of the issue description adding more details. This is reproducible in a blank app. I never noticed this in the SamplesApp.

![image](https://user-images.githubusercontent.com/17993847/131263719-43a71171-a746-44f9-a73d-0921ccb13fbe.png)

[2021-08-29 20:10] robloo commented on #6641
I added a test application showing the last part of what is happening in XAML. As mentioned, this still does not reproduce the issue.

[2021-08-29 20:22] robloo commented on #6638
@Youssef1313 I added a test application for this as well. See the issue description for the link.

[2021-08-30 07:10] Youssef1313 commented on #5543
I'm on this one.

[2021-08-30 10:31] SuperJMN commented on #1821
This would be awesome for the new tool we're going to implement at my company. They want to draw free shapes.

[2021-08-30 10:33] SuperJMN commented on #1821
I think a simple drawing canvas could be added using Skia to provide basic functionality (free drawing, for instance).

[2021-08-30 10:48] Youssef1313 commented on #6179
I couldn't find any native clipboard APIs for Tizen. :(

[2021-08-30 11:31] Youssef1313 commented on #6028
I'm seeing the same behavior in UWP and Wasm. @stevozilik  Can you elaborate more please?

![issue6028](https://user-images.githubusercontent.com/31348972/131332745-c724132c-7da9-444c-8e53-2224a23eb19a.gif)

[2021-08-30 11:36] trungnt2910 commented on #6179
For anyone interested in Tizen:
- The `TizenFX` (the official Tizen API for .NET) simply calls [DllImported](https://github.com/Samsung/TizenFX/blob/a444cb53725a48739d745ecda0f42ce931131e8b/src/Tizen.Network.Bluetooth/Interop/Interop.Bluetooth.cs#L110) functions from [native libraries](https://docs.tizen.org/application/native/api/iot-headless/5.0/group__CAPI__NETWORK__BLUETOOTH__MODULE.html).
- T

[2021-08-30 12:12] wuweisin opened #6907 "[WASM] Animation of `LinearGradientBrush` `GradientStop.Offset` with `Storyboard` does not work"
### Current behavior

## What would you like to be added:
Dear Sir,
I want to change the Offset of LinearGradientBrush with Storyboard,

But I found  it will not work in WASM mode,

but with the same code it work perfectly in UWP mode.

.xaml :

`
<Rectangle  HorizontalAlignment="Left" Height="110" Margin="225,40,0,0" Stroke="Black" VerticalAlignment="Top" Width="210">
 <Rectangle.Fill>

[2021-08-30 12:45] MartinZikmund opened #6908 "Add support for `Windows.Globalization.NumberFormatting`"
## What would you like to be added:

Support for functionality under `Windows.Globalization.NumberFormatting`.

## Why is this needed:

For many scenarios of `NumberBox`, this namespace is crucial.

## For which Platform:

All

[2021-08-30 12:47] #5575 closed

[2021-08-30 13:09] jeromelaban commented on #6072
@sakshi173 I'm not seeing this issue as well. Could you validate it again ?

[2021-08-30 13:10] jeromelaban commented on #6890
@Youssef1313 the other repository is fine, and yes we should track it. Thanks!

[2021-08-30 13:15] Youssef1313 commented on #6890
Thanks. ▶️  https://github.com/unoplatform/Uno.PackageDiff/issues/14

[2021-08-30 13:51] MartinZikmund commented on #6562
Merged :-)

[2021-08-30 13:51] #6562 closed

[2021-08-30 14:02] sakshi173 commented on #6072
Hi @Youssef1313 and @jeromelaban - I am able to reproduce it. The issue is happening for Cupertino only.
I am adding the video for reference.

https://user-images.githubusercontent.com/74563602/131351318-91dc2571-6c58-44f7-bebb-28fb2a4fe75b.mp4

[2021-08-30 14:06] carldebilly commented on #6072
Looks like a text measure caching issue.  Could be related to font-loading stuff.

[2021-08-30 14:12] jeromelaban commented on #473
Let's keep this issue opened for now, but I'll rename the issue to match the actual content. Thanks!

[2021-08-30 14:19] Youssef1313 commented on #6072
@carldebilly Exactly what I was suspecting, especially that removing the custom font doesn't trim the text.

But I'm not able to reproduce outside of the gallery app. So debugging is somewhat hard for me :)

The cache *should* be handling font correctly.

https://github.com/unoplatform/uno/blob/f9fa20de665c0c5d6e6ffe8c3b5177b0a615f191/src/Uno.UI/UI/Xaml/Controls/TextBlock/TextBlockMeasureCache.Mea

[2021-08-30 14:19] davidjohnoliver commented on #6867
btw `ItemTemplateProperty` is incorrectly marked NotImplemented because it's currently a field, not a property, which is tripping up the documentation generator. This will be fixed in a [future breaking changes roll-up](https://github.com/unoplatform/uno/tree/feature/api-alignments).

[2021-08-30 14:20] jeromelaban commented on #6072
@carldebilly  Could it be that the font is not preloaded properly in the css file ?

[2021-08-30 14:27] carldebilly commented on #6072
@jeromelaban Yep...  that's a known problem since the first days of Uno on Wasm... Referencing the font in the browser is not enough, it needs to be USED or the text won't be measured properly.  If the result is cached, you're stuck with that wrong measure forever.

A workaround would be easy to build: make sure all fonts are not only loaded, but actually used for rendering at least once before th

[2021-08-30 14:57] #6293 closed

[2021-08-30 15:52] jeromelaban opened #6910 "[Perf][Layout] Root element OnMeasure override should not be called on constrained ListViewItem content changes"
### Current behavior

When a stretched ListView has a visible item content changing (e.g. a TextBlock through a INPC), the top level element (e.g. the Page) `MeasureOverride` is not called, but is called on Uno, causing performance issues.

We can work around this by using [FrameworkElement.AreDimensionsConstrained](https://github.com/unoplatform/uno/blob/7355d66f77777b57c660133d5ec011caaa810e29/s

[2021-08-30 15:56] Youssef1313 commented on #6072
@carldebilly When I tried to reproduce in a new Uno app, the measurement was done correctly. Does this mean for the gallery app case the measurement is done before the font is loaded, and for the new uno app case the measurement is done after the font is loaded? Why does this happen? ie, what's the real difference between both cases?

---

I'm not sure I understand how this would work. Would you p

[2021-08-30 16:32] davidjohnoliver commented on #2664
Yes, let's close this.

[2021-08-30 16:32] #2664 closed

[2021-08-30 17:17] brinko99 commented on #6592
With the workaround applied to the Skia.WPF project directly, I'm continuing to see error CS1061: 'App' does not contain a definition for 'InitializeComponent' and related build errors (not just Intellisense). I understand that this suggests that the source generators aren't running properly.

The workaround mentions, adding a reference to the Uno.UI package instead of the Uno.UI.Skia.Wpf package.

[2021-08-30 17:42] Youssef1313 commented on #6692
@jeromelaban To get the attribute, I'll need to know the type of the property. However, we detect this part while parsing, at that point we don't have access to `FindType` method and *maybe* we don't have all the information needed.

Would it be appropriate to do the parsing in two passes? or am I missing an easier solution?

[2021-08-30 18:03] Youssef1313 commented on #6027
AutoReverse is not yet implemented:

https://github.com/unoplatform/uno/blob/a2347991a4b874da01830306677fd3e5270c1901/src/Uno.UI/Generated/3.0.0.0/Windows.UI.Xaml.Media.Animation/Timeline.cs#L28-L41

[2021-08-30 18:12] Youssef1313 commented on #6879
Does this issue suggests writing a source generator where the generated code will look something like the following?

[code]

[2021-08-30 18:12] jeromelaban commented on #6879
/cc @carldebilly

[2021-08-30 18:55] Jadhielv opened #6913 "[Gallery] [Firefox] Uno logo and icons is not displaying correctly"
## Current behavior:
![New Issue](https://user-images.githubusercontent.com/24376900/131387334-694e8dd4-4e31-435b-8310-ff1183540bbd.gif)

## Expected behavior:
![imagen](https://user-images.githubusercontent.com/24376900/131389835-43b49109-fefb-4c32-93c6-1f6fe80996ea.png)

## For which Platform:

- [ ] iOS
- [ ] Android
- [ ] WebAssembly
- [ ] WebAssembly renderers for Xamarin.Forms
- [ ] macOS
-

[2021-08-30 19:57] Youssef1313 commented on #6913
I'm not able to reproduce:

![image](https://user-images.githubusercontent.com/31348972/131397561-9418e78a-6b57-4ad7-8297-f94464b62f7f.png)

[2021-08-30 20:22] jeromelaban commented on #6692
To which location are you referring to?

[2021-08-30 20:25] jeromelaban commented on #6913
@Jadhielv it would look like the resource path is incorrect. Is there a 404 or similar error in your network tab in the browser ?

[2021-08-30 20:27] Youssef1313 commented on #6692
https://github.com/unoplatform/uno/blob/a2347991a4b874da01830306677fd3e5270c1901/src/SourceGenerators/Uno.UI.SourceGenerators/XamlGenerator/XamlFileParser.cs#L462-L467

Here, there didn't seem to be a way to get the actual type (as an `INamedTypeSymbol`)

[2021-08-30 20:54] Jadhielv commented on #6913
yep @jeromelaban

![image](https://user-images.githubusercontent.com/24376900/131403823-5c3b47bc-4a70-42f9-bf29-95067b6ab5ce.png)

![image](https://user-images.githubusercontent.com/24376900/131404028-bc9290f2-724a-4ad7-8ec3-a986be3ca0fb.png)

![image](https://user-images.githubusercontent.com/24376900/131404062-24870c63-034a-4507-bca4-5f023d1b0922.png)

[2021-08-30 20:58] Jadhielv commented on #6913
That's **Microsoft Edge** not **Firefox** @Youssef1313

![image](https://user-images.githubusercontent.com/24376900/131404430-60574872-6a20-4cbe-8b20-385d5eb75e84.png)

[2021-08-30 21:58] Youssef1313 commented on #6913
@Jadhielv Yeah sorry :) However, I wasn't also able to reproduce on Firefox (same version as yours):

![image](https://user-images.githubusercontent.com/31348972/131411198-21655313-9ddc-4c19-94d7-3d9e035d7989.png)

[2021-08-31 06:48] Youssef1313 commented on #4866
@MartinZikmund I confirmed this is still an issue on Android:

![image](https://user-images.githubusercontent.com/31348972/131455637-1a11c9b4-048c-45ed-9eef-b0bb96e4f383.png)

[2021-08-31 07:03] TopperDEL opened #6919 "[Droid] AcrylicBrush not working - improve doc?"
## What would you like clarification on:
The [docs](https://platform.uno/docs/articles/features/shapes-and-brushes.html#implemented-brushes--properties) state, that AcrylicBrush should work on Android if set on Elements without children. For me it is not working but I'm not sure, if I just misunderstand the docs.

This is what I wan to achieve:

[code]

This is what I tried according to the docs:

[2021-08-31 11:33] jeromelaban commented on #6732
Note that the issue was validated for Android, but not yet for iOS in #6844.

[2021-08-31 11:34] jeromelaban commented on #6919
/cc @MartinZikmund

[2021-08-31 11:35] MartinZikmund commented on #6919
This might be a bug, I will verify

[2021-08-31 11:40] jeromelaban commented on #6913
@Jadhielv Thanks for the update! This would look like a scaling issue. What's the windows display scaling configuration for the screen you're displaying firefox on ?

[2021-08-31 11:55] jeromelaban commented on #6692
I see. Making two passes is not particularly interesting here, considering the low possibility of encountering the original scenario. Let's revalidate once we have more evidence that this is the case.

[2021-08-31 12:05] MartinZikmund commented on #5713
Fix merged

[2021-08-31 12:05] #5713 closed

[2021-08-31 12:10] Youssef1313 commented on #6913
Indeed. I could reproduce as follows:

- Open the gallery app as normal -> works correctly.
- Set zoom level in browser to (for example) 80% and refresh. Images don't show.

[2021-08-31 12:16] Youssef1313 commented on #6913
@jeromelaban Please assign me :)

[2021-08-31 13:26] Jadhielv commented on #6913
@jeromelaban **90%**

[2021-08-31 13:54] Jadhielv commented on #6913
@Youssef1313 Exactly. Btw, it's the same in other **browsers**:

**Microsoft Edge**

![image](https://user-images.githubusercontent.com/24376900/131514875-2fb14416-0668-4108-8796-af6b28e84591.png)

**Google Chrome**

![image](https://user-images.githubusercontent.com/24376900/131514802-9416a62f-87f7-4f7d-ba16-b66af3869a8c.png)

**Opera**

![image](https://user-images.githubusercontent.com/24376900

[2021-08-31 14:08] Youssef1313 commented on #6913
@Jadhielv Yes. It affects all browsers. In case you're hitting this outside the gallery app, you can duplicate the `.scale-100` asset without the qualifier. i.e, if you have a bunch of `MyImage.scale-XXX.extentsion`, just add `MyImage.extension`. It should fix it until #6921 goes in.

[2021-08-31 17:09] sakshi173 commented on #6155
@MartinZikmund , could you please let me know is this issue is fixed, as I am not able to reproduce it.
If the issue is fixed, please close it and let me know.

[2021-08-31 17:24] Youssef1313 commented on #6638
After spending the last 3 hours on this. I think I (*partially*) figured out things. (Looks a bit embarrassing to take that too much time for the small finding 😄 ):

- The MUX DropDownButton doesn't seem to be implemented in Uno.
- The sample I'm referring to in https://github.com/unoplatform/uno/issues/6638#issuecomment-907831292 is using WUXC.DropDownButton (while the sample name says MUX, which

[2021-08-31 17:28] jeromelaban commented on #6638
The MUX `DropDownButton` is implemented in Uno https://github.com/unoplatform/uno/blob/master/src/Uno.UI/UI/Xaml/Controls/DropDownButton/DropDownButton.cs (from @MartinZikmund), it is the one you're referring to?

And no worries about the time ;)

[2021-08-31 17:32] Youssef1313 commented on #6638
@jeromelaban Then there is some gap I'm not understanding here. I thought it should be in `Microsoft.UI.Xaml.Controls` namespace as opposed to `Windows.UI.Xaml.Controls`?

[2021-08-31 17:38] Youssef1313 commented on #6638
By the way, here is a workaround (and weird behavior at the same time):

![image](https://user-images.githubusercontent.com/31348972/131549984-718db12e-117a-4573-8b11-1d2925f89655.png)

@jeromelaban Does the behavior described in the above image points to any possibilities?

[2021-08-31 17:45] jeromelaban commented on #6543
Updated PR : https://github.com/CommunityToolkit/WindowsCommunityToolkit/pull/4206

[2021-08-31 17:51] robloo commented on #6638
Yea, it's always something seemingly simple that takes the most time. This one is really strange to me and it's entirely possible I'm overlooking something simple myself.

Apologies for confusion about Windows.UI.Xaml vs Microsoft.UI.Xaml namespaces. (I had momentarily forgotten these were implemented in both). In this issue I am always referring to `Microsoft.UI.Xaml.Controls` which includes the

[2021-08-31 17:54] robloo commented on #6638
After looking at the code I agree this is very strange that it works anyway. DropDownButton is missing from the MUX controls. I thought for sure Martin ported this though. Perhaps he used the MUX source but put it in the WUX namespace?

https://github.com/unoplatform/uno/tree/master/src/Uno.UI/Microsoft/UI/Xaml/Controls

How does this work at all? Is code generation automatically adding it to the

[2021-08-31 17:55] Youssef1313 commented on #6638
@robloo The repro app **is** and **is not** using `Microsoft.UI.Xaml.Controls`. You specifiy Microsoft in XAML, the source generator generates Windows, which seems like a separate bug (probably it just incorrectly falls back to any control with the name if it's not found in the given namespace).

Using Windows instead of Microsoft still reproduces the issue (which is expected since the generated c

[2021-08-31 17:58] robloo commented on #6638
Ok, that answers the big question of how this even works to begin with. DropDownButton is not implemented in Microsoft.UI.Xaml.Controls as we both noted. My guess is this is an intentional fallback though -- however unexpected it might be. I certainly think this needs to change long term: we should do what was finally decided for NavigationView and put it in the MUX directory (even though those sa

[2021-08-31 18:04] Youssef1313 commented on #6638
Yes it's very unexpected. At minimum, I think the generator should produce a warning. So the compilation doesn't fail but the developer is informed that the control doesn't exist in namespace X and we'll use namespace Y.

This is, however, a little bit separate from the issue here.

I think the questions are:

- How does this work correctly in SamplesApp, but not outside of it.
- How does adding a

[2021-08-31 18:42] Youssef1313 commented on #6638
I'm very suspicious about this:

https://github.com/unoplatform/uno/blob/39e38367b7aa63e42b5acbd2af38ab23bd00350e/src/Uno.UI.FluentTheme/Resources/PriorityDefault/DropDownButton.xaml#L107-L116

[2021-08-31 18:43] robloo commented on #6638
I haven't been able to build Uno for quite some time for some reason. So I won't be able to test this locally and step into Uno source. I've had the setup working in the past on some other issues though. When I finish work on performance and work-arounds I'll have bugs like this to address. So eventually I will circle back to issues I file and spend more time on them. I decided just to file them s

[2021-08-31 18:47] robloo commented on #6638
@Youssef1313 That's almost certainly it! I was never sure about those styles and they are organized strangely to me.

https://github.com/unoplatform/uno/issues/4435
https://github.com/unoplatform/uno/pull/6374#issuecomment-882010481

Note that all occurrences of `FontFamily="Segoe MDL2 Assets"` were fixed upstream.

https://github.com/microsoft/microsoft-ui-xaml/issues/3745
https://github.com/micr

[2021-08-31 19:10] robloo commented on #6919
I never got this working on Android myself and always use the fallback color. I assumed I was using it incorrectly.

Somewhat related discussion: https://github.com/unoplatform/uno/issues/5819.

[2021-08-31 20:13] sakshi173 commented on #5570
@agneszitte-nventive - The issue is again showing with the latest canary version.
https://dev.azure.com/uno-platform/Uno%20Platform/_build/results?buildId=32606&view=results

Build 1.5.0-canaries-dev.774

![reveal issue](https://user-images.githubusercontent.com/74563602/131569562-1e9d5197-0d22-4bde-8173-4dafe168764d.png)

[2021-08-31 20:55] peternary commented on #5713
Confirmed fixed

[2021-09-01 11:25] Youssef1313 commented on #6640
@robloo I wasn't able to reproduce this :(

![6640](https://user-images.githubusercontent.com/31348972/131663151-d1e811be-729c-4dc1-83e8-358623466399.gif)

Code I used:

[code]

[2021-09-01 11:46] Youssef1313 commented on #6640
I see there is an issue when *nesting* items, e.g:

[code]

@robloo Is that what you were seeing or this is a separate issue?

[2021-09-01 12:10] Youssef1313 opened #6928 "[Wasm]: `MenuFlyoutSubItem` opens in the wrong direction for the second and subsequent opens"
### Current behavior

For the first time the items are opened, it behaves correctly:

![image](https://user-images.githubusercontent.com/31348972/131668690-73bc056b-2a86-44be-9488-9de4c0100230.png)

For the second and subsequent opens, it overflows:

![image](https://user-images.githubusercontent.com/31348972/131668833-d88f6e70-5747-4c7b-8f9a-28dfb4b8e12f.png)

### Expected behavior

Subsequent op

[2021-09-01 12:42] jeromelaban commented on #6919
I can confirm that :

https://github.com/unoplatform/uno/blob/56d3ba98ee6cab055dc8d7c4941ce4494e20e946/src/SamplesApp/UITests.Shared/Windows_UI_Xaml_Media/AcrylicBrushTests/BasicAcrylicBrushTest.xaml

does not currently work on android.

[2021-09-01 13:08] Youssef1313 opened #6929 "[Android]: `MenuFlyoutSubItem` is not light-dismissible"
### Current behavior

Dismissing `MenuFlyoutSubItem` by clicking outside of its bounds in Android doesn't work.

### Expected behavior

It should be dismissible.

### How to reproduce it (as minimally and precisely as possible)

Same code from https://github.com/unoplatform/uno/issues/6928 will reproduce this issue on Android.

NOTE: This reproduces ONLY for the nested `MenuFlyoutSubItem`s, not fo

[2021-09-01 13:22] sakshi173 commented on #5570
Now this issue is resolved with new build of canaries.
https://dev.azure.com/uno-platform/Uno%20Platform/_build/results?buildId=32757&view=results.
1.5.0-canaries-dev.774

[2021-09-01 13:22] #5570 closed

[2021-09-01 13:29] jeromelaban opened #6930 "Add support for ThemeResource in XamlReader inside Binding markup"
https://github.com/unoplatform/uno/blob/d97a9b606a201857bd514fdacd1bc95fb70604a7/src/Uno.UI/UI/Xaml/Markup/Reader/XamlObjectBuilder.cs#L634

_Originally posted by @jeromelaban in https://github.com/unoplatform/uno/issues/6923#issuecomment-910286255_

[2021-09-01 13:41] Youssef1313 commented on #6929
https://github.com/unoplatform/uno/blob/d97a9b606a201857bd514fdacd1bc95fb70604a7/src/Uno.UI/UI/Xaml/UIElement.Pointers.Android.cs#L57

This doesn't get called for the buggy case. @jeromelaban @davidjohnoliver  Any idea where to look next?

[2021-09-01 14:08] MartinZikmund commented on #6155
@sakshi173 will check

[2021-09-01 14:11] jeromelaban commented on #6929
@dr1rrb may know.

[2021-09-01 14:13] jeromelaban commented on #6638
@robloo take a look at this video I made yesterday for building uno: https://www.twitch.tv/videos/1135290868

[2021-09-01 14:45] Youssef1313 commented on #6636
@jeromelaban The not implemented analyzer doesn't seem to be referenced/enabled for Uno.UI, and I feel it can be super powerful to detect these kind of bugs. What do you think about enabling it, figure out what bugs will exist in places where the diagnostic is produced, and then suppress the diagnostic with a link to an issue.

[2021-09-01 14:57] carldebilly commented on #6636
Inside Uno there's an interface named `ICustomClippingElement` that can be used to force the clipping mode on a specific control.

[2021-09-01 14:59] jeromelaban commented on #6797
Thanks for the report. You can find some documentation here about this issue: https://platform.uno/docs/articles/get-started-wizard.html

[2021-09-01 15:04] robloo commented on #6638
@jeromelaban Thanks, I did have the full setup working last year -- including debugging an app with Uno source. However, every few months the build breaks and I have to spend a lot of time figuring out what went wrong. Last time it broke I wasn't able to fix it within a few hours. It was at the time related to the VS issue you filed that would just silently refuse to build some projects. I'm not s

[2021-09-01 15:05] jeromelaban commented on #6638
If you encounter this again, open an issue with the build errors, we can certainly enhance the build validations for the errors to be more explicit.

[2021-09-01 15:07] Xiaoy312 commented on #739
Currently removing this workaround causes a weird bug where
a ListView inside a StackPanel would not re-measure properly when new item(s) are added,
causing a ScrollViewer to appears instead of the ListView resizing when there is enough space to use.

This issue can be easily reproduced with `ListView_ObservableCollection_Unused_Space`, by adding this line to its .ctor:
[code]

[2021-09-01 15:13] robloo commented on #6638
Will do. In the issue I'm thinking of it was Visual Studio and there was nothing you could do. You filed an issue for it but I can't find it at the moment to see if it was closed.

[2021-09-01 15:20] carldebilly commented on #6879
@Youssef1313 I think it could be an overridable virtual property returning a nullable value that would be called first and run existing reflection code only when not overriden for a specific class.

That way the generator usage won't be required, but using it will increase performance.

[2021-09-01 15:57] robloo commented on #6930
Should the title be StaticResource? I think #6923 is fixing ThemeResource.

[2021-09-01 16:02] robloo commented on #6640
@Youssef1313 Thanks a lot for taking a look! The app does indeed nest the menu flyout with lots of MenuFlyoutSubItems as well. If in this case the whole menu isn't appearing, I think we are seeing the same thing.

[2021-09-01 16:05] robloo commented on #6929
This is a duplicate of https://github.com/unoplatform/uno/issues/4795. Should we continue the discussion in the original issue?

[2021-09-01 16:30] robloo commented on #6640
I suspect you were referring to the light dismiss issue with MenuFlyoutSubItems. Therefore, we might not be seeing the same thing after all. I'll try to put together a repro when I have a chance. Otherwise, I'll step through app code more carefully in this area.

[2021-09-01 16:35] Youssef1313 commented on #6640
@robloo What I was referring to here is neither light dismiss nor the menu isn't appearing. It's that menus going out of bounds of the screen, which I gave a look and it seems a bit challenging to a relatively newcomer like me :)

[2021-09-01 16:38] Youssef1313 commented on #6929
Yes it's indeed a duplicate. I'm going to close and comment on the other issue with a small pointer I found.

[2021-09-01 16:38] #6929 closed

[2021-09-01 16:39] Youssef1313 commented on #4795
https://github.com/unoplatform/uno/blob/d97a9b606a201857bd514fdacd1bc95fb70604a7/src/Uno.UI/UI/Xaml/Controls/MenuFlyout/MenuFlyoutSubItem.cs#L274

Changing this to `true` causes the item to be light dismissed correctly. But light dismiss doesn't delegate to parents (ie, you'll have to do multiple clicks to completely dismiss the whole menu. Every click dismisses the inner-most open child)

[2021-09-01 17:34] AbdalaMask opened #6932 "how fix Microsoft.Toolkit.Uwp.UI.Controls"
### Current behavior

not work WebAssembly and uses only XAML
https://playground.platform.uno/#4edc3703

### Expected behavior

_No response_

### How to reproduce it (as minimally and precisely as possible)

https://playground.platform.uno/#4edc3703

### Workaround

_No response_

### Works on UWP/WinUI

Yes

### Environment

Uno.UI / Uno.UI.WebAssembly / Uno.UI.Skia

### NuGet package version(s)

[2021-09-01 17:44] jeromelaban commented on #5182
The issue happens on all platforms, additionally, it is showing up differently than UWP as well.  UWP puts the top left of the flyout at the mouse cursor position, whereas Uno puts it bottom middle at the mouse cursor.

[2021-09-01 17:45] jeromelaban commented on #6932
Thanks for the report. WCT controls are not available in the playground yet.

[2021-09-01 17:49] jeromelaban commented on #6930
@robloo this issue is for a different scenario, let adjust this in the description.

[2021-09-01 17:54] sakshi173 commented on #5182
@jeromelaban there is another bug for Nested MenuFlyout. Do you think these are same.
https://github.com/unoplatform/uno/issues/5639

[2021-09-01 17:56] jeromelaban commented on #5182
I think they are! Let's close this one then, and use #5639.

[2021-09-01 17:57] jeromelaban commented on #5639
The issue happens on all platforms, additionally, it is showing up differently than UWP as well. UWP puts the top left of the flyout at the mouse cursor position, whereas Uno puts it bottom middle at the mouse cursor.

[2021-09-01 17:57] #5182 closed

[2021-09-01 18:09] sakshi173 commented on #5639
@jeromelaban, for Android with the current canaries build I am seeing the application gets freeze when pressing the "Settings" button on Nested Flyout. **Shall I raise a separate bug for this issue?**

https://user-images.githubusercontent.com/74563602/131721881-7a9c9fe4-ff51-400e-a2ca-07fe65bc7f2e.mp4

[2021-09-01 18:21] jeromelaban commented on #5639
@sakshi173 yes, this would be a different one.

[2021-09-01 18:25] jeromelaban opened #6933 "[Wasm] The keyboard navigation buttons do not work in a TextBox"
### Current behavior

The Home, End and arrow keyboard keys don't have an effect in a `TextBox`.

See https://playgroundcanary.z19.web.core.windows.net/#textbox in Uno 3.10-dev.

### Expected behavior

Home and End, or other navigation keys move the cursor,

### How to reproduce it (as minimally and precisely as possible)

Go to https://playgroundcanary.z19.web.core.windows.net/#textbox, enter som

[2021-09-01 19:21] sakshi173 opened #6934 "[Gallery][Android]Flyout(Material) For "Help" section when choose the Nested Flyout for "Settings" the gallery app gets freeze."
### Current behavior

https://user-images.githubusercontent.com/74563602/131730684-4f3f78f7-5da4-4ed9-ad41-9984fc7d76da.mp4

### Expected behavior

The Nested flyout for Settings should open properly and app should not get freeze.

### How to reproduce it (as minimally and precisely as possible)

1. Open Uno Gallery APP for canary.
2. Click "Flyout" option from Burger Menu.
3. Click “Help” Button

[2021-09-01 19:25] #6469 closed

[2021-09-01 20:09] AbdalaMask commented on #6932
fix uno.Microsoft.Toolkit.Uwp.UI.Controls

[2021-09-01 20:10] AbdalaMask commented on #6932
how add icon to TreeView

[2021-09-01 20:54] Youssef1313 commented on #6749
Disabled test added in https://github.com/unoplatform/uno/pull/6769 should be enabled when this gets fixed.

[2021-09-01 21:20] Youssef1313 opened #6936 "[iOS]: Enable `When_Click_Outside_Dialog_Expect_No_Dismiss` test"
### Current behavior

The test added in https://github.com/unoplatform/uno/pull/6654 is disabled for iOS.

### Expected behavior

Enabled.

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

### Works on UWP/WinUI

_No response_

### Environment

_No response_

### NuGet package version(s)

_No response_

### Affected platforms

iOS

###

[2021-09-01 21:56] Youssef1313 commented on #6933
It looks like the keydown event is registered with `HtmlEventDispatchResult.StopPropagation`. That's what prevents the browser from doing the navigation. I'll try to dig more.

[2021-09-01 22:07] Youssef1313 commented on #6933
Maybe it's arround https://github.com/unoplatform/uno/blob/9efab96fd59e28c68fa1430f7cbc74353ebc22bf/src/Uno.UI/UI/Xaml/UIElement.EventRegistration.wasm.cs#L108 ?

[2021-09-02 11:45] jeromelaban commented on #6933
/cc @dr1rrb

[2021-09-02 12:50] jeromelaban commented on #739
@Xiaoy312 Is it something you can show in a video/screenshot ?

[2021-09-02 12:56] jeromelaban commented on #6569
This generally happens when the application head uses an invalid target framework, like `netstandard2.0`. What did you use in the nuget override ?

[2021-09-02 13:04] jeromelaban commented on #6885
This is generally the kind of breaking change that is acceptable, because the current behavior cannot work so apps are not using it, and uwp does not provide it.

[2021-09-02 13:59] dr1rrb commented on #6929
This is usually just because there is another element above which handles the pointer events ... which seems to be the case according to https://github.com/unoplatform/uno/issues/4795#issuecomment-910459152

[2021-09-02 14:10] dr1rrb commented on #4795
The dismiss-layer is handle directly `Popup` level (https://github.com/unoplatform/uno/blob/master/src/Uno.UI/UI/Xaml/Controls/Popup/Popup.cs#L78) while it should be handled `PopupRoot` and/or `PopupPanel`, and clicking out of popups should dismiss all of them at once. Wondering however what is the behavior if a open a dismissable and a non dismissable popup and the same time.

[2021-09-02 15:22] vincentcastagna commented on #6732
This issue is back on **3.10.0-dev.570**

[2021-09-02 15:24] Youssef1313 commented on #6732
@vincentcastagna Can you try the latest dev? currently 591. Are you seeing it on Android?

[2021-09-02 18:04] Youssef1313 commented on #6933
@dr1rrb So basically replacing this line:

https://github.com/unoplatform/uno/blob/9efab96fd59e28c68fa1430f7cbc74353ebc22bf/src/Uno.UI/UI/Xaml/UIElement.EventRegistration.wasm.cs#L155

with `HtmlEventDispatchResult.Ok`, will fix the mentioned issue. But it's very likely it will regress something else. Do you know what this may regress so that I've a better idea into why this is needed and try to a

[2021-09-02 18:24] albertoha94 opened #6942 "Adding WASM to existing Xamarin.Forms project throws multiple errors in different scenarios."
### Current behavior

I recenlty tried Uno and decided to add it to an existing project I have using the information from [Uno Platform for Xamarin.Forms Developers](https://platform.uno/xamarin-forms/), at first I was getting issues regarding the version of the app but thankfully that was solved with the information provided with this [Other issue](https://github.com/unoplatform/uno/issues/5854).

[2021-09-02 19:07] sakshi173 opened #6944 "[NPE]- License- View License Terms is displaying two times for the packages."
### Current behavior

_No response_

### Expected behavior

_No response_

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

### Works on UWP/WinUI

_No response_

### Environment

_No response_

### NuGet package version(s)

_No response_

### Affected platforms

_No response_

### IDE

_No response_

### IDE version

_No response_

##

[2021-09-02 19:08] #6944 closed

[2021-09-02 19:17] sakshi173 opened #6945 "[NPE]- License- View License Terms is displaying two times for xunit.core and for all AWSSDK packages."
### Current behavior

![license issue](https://user-images.githubusercontent.com/74563602/131902860-3cbb57c8-8012-48f7-8d15-b8179e81beb4.png)

### Expected behavior

![license correct](https://user-images.githubusercontent.com/74563602/131902868-cdf98f3a-28ed-465e-b9e6-6cdfd090000e.png)

### How to reproduce it (as minimally and precisely as possible)

Open NPE https://purple-pond-0688d230f.azures

[2021-09-02 19:50] vincentcastagna commented on #6732
@Youssef1313 just tried, and the issue is also still there on 591. And yes always on Android

[2021-09-02 20:51] dr1rrb commented on #6933
Well the issue is that if you do that here, it would mean that an event handler which flags the routed args as handled (like  [`KeyRoutedEventArgs.Handled`](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.input.keyroutedeventargs.handled?view=winrt-20348) ) would not prevent the native bulling nor the native default behavior. For instance is would mean that is you subscribe to `KeyDown` a

[2021-09-02 22:06] darenm opened #6948 "[WASM] ListView drag to reorder displays invalid target icon"
### Current behavior

Reordering items in a `ListView` on WASM does not behave the same as UWP:

- Whenever dragging an item, the 'invalid target' icon is always displayed
![image](https://user-images.githubusercontent.com/1674843/131921605-8557a829-1ccc-4d4e-9e09-e3150c923ac8.png)
- No preview of the item being dragged is attached to the mouse - discussed as likely impossible #4316
- Upon release

[2021-09-02 23:07] vincentcastagna commented on #6732
Not that on iOS there's no issue. iOS 14 iphone 12

[2021-09-03 07:09] MartinZikmund commented on #6852
Focus part of this issue is now open as PR, but it also requires additional pointer fix.

[2021-09-03 09:07] MartinZikmund opened #6950 "`LinearGradientBrush` angle is not reflected in `EndPoint`"
### Current behavior

When non-default constructor of `LinearGradientBrush` is used, its `angle` parameter is not reflected in `EndPoint` property.

### Expected behavior

Should be reflected.

### How to reproduce it (as minimally and precisely as possible)

Use the non-default constructor and compare behavior to UWP.

### Workaround

Manually edit `EndPoint`

### Works on UWP/WinUI

Yes

### Env

[2021-09-03 10:37] Youssef1313 commented on #6732
@vincentcastagna I'm not seeing this issue on dev591. Can you please open a new issue and upload a minimal solution where you can encounter this issue? Thanks.

[2021-09-03 11:51] MartinZikmund opened #6952 "Support for WinUI `InfoBadge`"
## What would you like to be added:

Support for `InfoBadge` control.

## Why is this needed:

WinUI parity

## For which Platform:

All

[2021-09-03 12:29] #6639 closed

[2021-09-03 12:30] jeromelaban commented on #6732
Let's keep this issue opened, if it's not fixed.

@vincentcastagna the issue is still present in your sample app, right?

[2021-09-03 12:45] #6638 closed

[2021-09-03 12:51] vincentcastagna commented on #6732
I'll update the sample right away in order to confirm the issue.

[2021-09-03 12:55] jeromelaban commented on #6945
This looks like an upstream issue as https://ci.nuget.info/packages/AWSSDK.Core/3.7.3 also shows this.

Will open an issue in the original repo :)

[2021-09-03 13:02] jeromelaban commented on #6945
/cc @XiaotianNetlift

[2021-09-03 13:02] #6945 closed

[2021-09-03 13:12] #6942 closed

[2021-09-03 13:15] AbdalaMask opened #6954 "how add SKPicture to ImageSource in uwp"
### Current behavior

how add SKPicture to ImageSource in uwp

### Expected behavior

_No response_

### How to reproduce it (as minimally and precisely as possible)

_No response_

### Workaround

_No response_

### Works on UWP/WinUI

_No response_

### Environment

_No response_

### NuGet package version(s)

_No response_

### Affected platforms

Windows

### IDE

_No response_

### IDE versio